<!--INICIO MODAL 1-->
    <div class="remodal dimen_modal_fichas" data-remodal-id="Modal_1" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">   
        <button class="remodal-close" data-remodal-action="close" aria-label="Close">  </button>
        <div class="c-modal__wrap pading_modal">
          
          <div class="row">
              <div class="col-lg-12">
                  <div class="o-features__featTitle">
                       <h2 >Asistencia Hogar Urgencia</h2>
                       <p>Atención las 24 horas, todos los días del año. El objetivo principal es dar servicios de urgencia al domicilio asegurado brindando protección ante eventos que requieran reparaciones inmediatas, que no puedan esperar más de 48 horas en ser reparados. Incluye protección ante accidentes cotidianos. Desperfectos accidentales en el hogar, que originen la necesidad de reparación en:</p>
                        <ul>
                           <li>Plomería: Se entiende por las instalaciones fijas de la red de Agua, cañerías, estanques, entre otras instalaciones fijas de agua. </li>
                           <li>Vidriería: Reemplazo de cristales exteriores en caso de rotura accidental. </li>
                           <li>Cerrajería: En caso de pérdida, extravío o inutilización de chapas o cerraduras que haga imposible el ingreso o salida del inmueble. </li>
                           <li>Electricidad: En caso de ausencia o interrupción del suministro de energía al inmueble o parte de èste.</li>
                        </ul>
                              
                              
                     </div>
                 </div>
          </div>
        </div>
      </div>
    <!--FIN MODAL--> 
    
    <!--INICIO MODAL 2-->
    <div class="remodal dimen_modal_fichas" data-remodal-id="Modal_2" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">   
        <button class="remodal-close" data-remodal-action="close" aria-label="Close">  </button>
        <div class="c-modal__wrap pading_modal">
          
          <div class="row">
              <div class="col-lg-12">
                  <div class="o-features__featTitle">
                       <h2 >Orientación legal Telefónica (general)</h2>
                       <p>Servicio de Orientación Legal que cubre el 100% de honorarios de abogados de Legal Chile en un número ilimitado de consultas telefónica, vía fax o e-mail en las siguientes materias:</p>
                        <ul>
                           <li>Orientación en los trámites a realizar en caso de hurto, robo o asalto en el inmueble protegido: Con daños en los bienes, con daños en las personas, etc. </li>
                           <li>Orientación en materias de Derecho de Familia y Sucesorio, como: posesión efectiva, testamento, herencias, adopción, autorizaciones judiciales, reconocimiento de hijos, etc. </li>
                           <li>Orientación en materias legales asociadas al Personal de Hogar como: contrato de trabajo, finiquito de contrato de trabajo y otros bajo las normas laborales y previsiones del personal que trabaja en el hogar. </li>
                           <li>Orientación en materias asociadas al inmueble asegurado, como: Ley de urbanismo y construcción, conflictos vecinales, gastos comunes, etc.</li>
                        </ul>
                              
                     </div>
                 </div>
          </div>
        </div>
      </div>
    <!--FIN MODAL--> 