<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<div class="row">
	<div class="col-md-12 col-xs-12">
		<div>
			<h4 class="title">
				<p align="justify">
					<strong>1. </strong>Vamos a buscar tu auto y lo llevamos donde tu
					necesites e incluso al taller donde repararas tu auto. Podrás usar
					este servicio hasta 3 eventos al año sin tope en UF.
				</p>
			</h4>
		</div>
		<div>
			<p align="justify">
				<strong>Remolque o transporte del vehículo por accidente o
					avería de cualquier naturaleza, que cause la inmovilización del
					vehículo:</strong>
			</p>
			<p align="justify">En caso que el vehículo asegurado no pudiera
				circular por accidente o avería de cualquier naturaleza, la compañía
				se hará cargo del remolque o transporte hasta el taller que elija el
				asegurado. El límite máximo de esta prestación será de 3 eventos
				anuales sin tope de UF. Si la reparación del vehículo asegurado
				requiere un tiempo de inmovilización superior a 72 horas o, en caso
				de robo, si el vehículo es recuperado después que el asegurado se
				haya ausentado del lugar de ocurrencia del mismo, la compañía
				sufragará los siguientes gastos:</p>
			<p align="justify">a. El depósito y custodia del vehículo
				reparado o recuperado hasta un máximo de UF 9 por evento.</p>
			<p align="justify">b. El desplazamiento del asegurado o de la
				persona habilitada que éste designe, hasta el lugar donde el
				vehículo haya sido reparado o donde el vehículo sustraído haya sido
				recuperado. La compañía determinará el medio idóneo de
				desplazamiento de los asegurados.</p>
		</div>
	</div>
</div>

