<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<div class="row">
	<div class="col-md-12 col-xs-12">
		<div>
			<h4 class="title">
				<p align="justify">
					<strong>10. </strong>Revisamos tu auto antes de realizar un viaje.
					Chequeamos el estado de: frenos, neumáticos, luces, líquidos, entre
					otros.
				</p>
			</h4>
		</div>
		<div>
			<p align="justify">
				<strong>Inspección vehículo por vacaciones</strong>
			</p>
			<p align="justify">El objetivo es brindar un servicio de
				inspección del vehículo asegurado previo a iniciar las vacaciones.
				El servicio brindará una revisión general del estado del vehículo,
				en los siguientes ámbitos: Frenos, Neumáticos, Luces, Líquidos,
				entre otros. El Servicio indicará al asegurado si el vehículo se
				encuentra en condiciones de realizar el viaje y cuáles son los
				elementos que debe el cliente mejorar para que el vehículo cuente
				con las condiciones. El cliente deberá coordinar el servicio con una
				semana de anticipación. El servicio tiene un tope de 2 eventos
				anuales. En caso de detectar fallas se orientará al cliente sobre
				las reparaciones a realizar a su vehículo sin embargo estas
				reparaciones serán de responsabilidad y costo del cliente. Este
				servicio es de inspección al vehículo.</p>
		</div>
	</div>
</div>
