<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<div class="row">
	<div class="col-md-12 col-xs-12">
		<div>
			<h4 class="title">
				<p align="justify">
					<strong>14.</strong> Vamos hasta donde estés para reparar tu auto.
					Te asistimos en caso de avería o accidente realizando: cambio de
					neumáticos, abastecimiento de combustible por panne, apertura de
					vehículo por pérdida de llaves, entre otros.
				</p>
			</h4>
		</div>
		<div>
			<p align="justify">
				<strong>Servicios de mecánica ligera</strong>
			</p>
			<p align="justify">Si una avería o accidente impidiera que el
				vehículo asegurado circule por sus propios medios, el servicio de
				asistencia proporcionará la ayuda técnica necesaria para intentar
				reparación de emergencia, a fin de que este pueda continuar su
				viaje. Su alcance no superará el correspondiente a media hora de
				mano de obra, en el lugar donde se haya producido el hecho, quedando
				excluido de esta prestación el costo de las piezas de recambio que
				fuera necesario sustituir. En caso de que el vehículo no pudiera ser
				reparado en el tiempo indicado, entrará en vigor la prestación de
				remolque.</p>
			<p align="justify">Los servicios de mecánica ligera incluidos
				son:</p>
			<p align="justify">a) Cambio de neumáticos: Servicio destinado a
				asistir físicamente al beneficiario en el cambio del neumático. El
				neumático debe ser provisto por el dueño del vehículo a la hora de
				entregar el servicio. Cobertura ilimitada en cuanto a número de
				eventos.</p>
			<p align="justify">b) Asistencia por panne de batería: El
				servicio consiste en realizar un puente eléctrico con el vehículo
				inmovilizado para activar su batería. No incluye la batería.
				Cobertura ilimitada en cuanto a número de eventos.</p>
			<p align="justify">c) Abastecimiento de combustible por panne: Se
				entregarán 5 litros, sin costo para el cliente, si el vehículo se
				encuentra a más de 20 Km. del hogar, contada dicha distancia desde
				el domicilio del asegurado que figure en la póliza. Cubre 3 eventos
				al año.</p>
			<p align="justify">d) Apertura del vehículo por pérdida de
				llaves: la entrega de este servicio es a responsabilidad del
				beneficiario, dado los posibles daños que pudiese ocurrirle al
				cierre centralizado del auto o a los vidrios del mismo. Cobertura
				ilimitada en cuanto a número de eventos.</p>
		</div>
	</div>
</div>
