<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<div class="row">
	<div class="col-md-12 col-xs-12">
		<div>
			<h4 class="title">
				<p align="justify">
					<strong>15.</strong> Si necesitas trasladarte de un lugar a otro,
					te ofrecemos un taxi gratis con 6 eventos gratis al año. Puedes
					desplazarte desde 1 punto de origen a 1 destino, con tope de 60 min
					o 20 km con cobertura territorial limitada a zonas urbanas.
				</p>
			</h4>
		</div>
		<div>
			<p align="justify">
				<strong>Taxi de reemplazo</strong>
			</p>
			<p align="justify">En caso de que el Asegurado solicite este
				servicio debido a que ha ingerido alcohol o básicamente se encuentre
				incapacitado para poder manejar, MOK pondrá a disposición un taxi
				que lo irá a buscar al destino programado, donde el traslado es de
				(1) origen a (1) destino.</p>
			<p align="justify">
				<strong><h5>Limites</h5>
				</strong>
			</p>
			<p align="justify">- El tiempo límite de conducción es de 60
				minutos, en caso de exceder este tope se cobrara un adicional.</p>
			<p align="justify">- Límite de eventos: 6 eventos por año de
				vigencia sin costo para el asegurado. Desde el 7º evento tendrán un
				valor adicional.</p>
			<p align="justify">- En caso de exceder los 20 Km. de límite como
				traslado se cobrará un adicional.</p>
			<p align="justify">
				<strong><h5>Exclusiones</h5>
				</strong>
			</p>
			<p align="justify">- Sin perjuicio de las exclusiones
				particulares señaladas para alguna de las coberturas contenidas en
				este adicional, quedan excluidos los siguientes daños y
				contingencias.</p>
			<p align="justify">- Los provocados intencionalmente por el
				asegurado.</p>
			<p align="justify">- Los que tuvieren su origen o fueran una
				consecuencia directa o indirecta de guerra, guerra civil, conflictos
				armados, insurrección, sublevación, rebelión, sedición, motín,
				huelga, desorden popular u otros hechos que alteren la seguridad
				interior del estado o el orden público.</p>
			<p align="justify">- Los que tuvieren su origen o fueren
				consecuencia de terremoto o temblor de tierra, erupción volcánica,
				inundación u otros fenómenos similares de la naturaleza.</p>
			<p align="justify">- Los relacionados con reparaciones mayores
				que los clientes se encuentran realizando en su hogar.</p>
			<p align="justify">- Los concertados directamente por el
				asegurado, sin la autorización previa de la compañía Adicionalmente
				están excluidos de estas coberturas, las prestaciones y hechos
				siguientes:</p>
			<p align="justify">- Los servicios que el asegurado haya
				concertado por su cuenta, sin previo consentimiento de la Compañía,
				salvo que la comunicación haya sido imposible por fuerza mayor.</p>
			<p align="justify">- Cobertura territorial: Arica - Iquique –
				Antofagasta Calama - Copiapó - La Serena - Valparaíso - San Antonio
				- Viña del Mar - Rancagua - Talca - Curicó - Concepción - Chillán -
				Los Angeles - Temuco - Valdivia - Osorno - Puerto Montt - Puerto
				Varas - Punta Arenas - Región Metropolitana</p>
		</div>
	</div>
</div>
