<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<div class="row">
	<div class="col-md-12 col-xs-12">
		<div>
			<h4 class="title">
				<p align="justify">
					<strong>2. </strong>En caso de avería o accidente, cubrimos tu
					estadía y la de tus acompañantes en un hotel. También, podemos
					trasladarte junto a los pasajeros donde sea necesario. Tope de 3 UF
					por día, con un tope máximo de 9 UF, siempre que la reparación del
					vehículo no pueda ser efectuada en el mismo día de su
					inmovilización.
				</p>
			</h4>
		</div>
		<div>
			<p align="justify">
				<strong>Estancia y desplazamiento del Asegurado por
					inmovilización del Vehículo:</strong>
			</p>
			<p align="justify">En caso de avería o accidente del vehículo que
				cause su inmovilidad, la compañía sufragará los siguientes gastos:</p>
			<p align="justify">- Respecto a cada asegurado la estancia en
				hotel es de máx. UF 3 por día, con un tope máximo para estancia de
				UF 9, siempre que la reparación del vehículo no pueda ser efectuada
				en el mismo día de su inmovilización y requiera para ser hecha de un
				tiempo superior a 2 horas, según el criterio del responsable del
				taller elegido.</p>
			<p align="justify">- El desplazamiento para el traslado de los
				asegurados hasta su domicilio habitual, siempre que la reparación
				del vehículo no pueda ser efectuada en las 48 horas siguientes a la
				inmovilización y requiera para ser hecha de un tiempo superior a 6
				horas, según el criterio del responsable del taller elegido. La
				compañía determinará el medio idóneo de desplazamiento de los
				asegurados.</p>
			<p align="justify">- Si los asegurados optan por la continuación
				del viaje, la compañía sufragará los gastos de desplazamiento hasta
				el lugar de destino previsto, siempre que el costo no supere la
				prestación a que se refiere el párrafo anterior.</p>
		</div>
	</div>
</div>
