<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<div class="row">
	<div class="col-md-12 col-xs-12">
		<div>
			<h4 class="title">
				<p align="justify">
					<strong>4. </strong>Cuando tu auto este en el taller, hasta 45 días
					a precio preferencial.
				</p>
			</h4>
		</div>
		<div>
			<p align="justify">
				<strong>Auto de reemplazo: </strong>
			</p>
			<p align="justify">Vehículo de sustitución en caso de accidente o
				avería del vehículo asegurado por los días que implique ingreso a
				taller y a un precio preferencial.</p>
			<p align="justify">
				<strong><h5>Condiciones del beneficio:</h5> </strong>
			</p>
			<p align="justify">- Avería del vehículo asegurado: Tope máximo
				de uso 7 días. (No aplica solo para Seguros contratados con
				Aseguradora Magallanes)</p>
			<p align="justify">
				- Siniestro con pérdida parcial o total por accidente del vehículo
				asegurado: Tope máximo de uso 45 días.<br /> - Siniestro con
				pérdida total por robo del vehículo asegurado: Tope máximo de uso 45
				días.
			</p>
			<p align="justify">Por cada día de uso del beneficio el co-pago
				es de $ 4.000 + IVA y $8.000 + IVA desde los 30 a los 45 días
				diarios de cargo del asegurado (no incluye TAG ni otro tipo de
				peajes). La entidad arrendataria exigirá al asegurado una garantía
				consistente en un voucher de tarjeta de crédito o cheque por la
				entrega del vehículo en arriendo. En caso de no ser posible arrendar
				un vehículo, se facilitará un medio alternativo de transporte
				convencional con un límite del costo económico de la prestación del
				vehículo de reemplazo.</p>
			<p align="justify">
				<strong><h5>En caso de siniestro:</h5> </strong>
			</p>
			<p align="justify">Para solicitar el auto de reemplazo, el
				arreglo DEBE realizarse en el taller regulador de la Compañía de
				Seguros.</p>
			<p align="justify">
				<strong><h5>En caso de desperfecto:</h5> </strong>
			</p>
			<p align="justify">No se exige que sea el taller indicado por la
				Compañía de Seguros.</p>
			<p align="justify">- El vehículo de reemplazo corresponderá a un
				vehículo de categoría económica, de transmisión mecánica,
				equipamiento simple según nomenclatura empresa de arriendo, a modo
				de ejemplo vehículos como: Toyota Yaris, Hyundai Accent, Nissan V16.</p>
			<p align="justify">- MOK confirmará los días de reparación con el
				taller respectivo. Este servicio tiene una carencia de 24 horas
				desde la contratación.</p>
			<p align="justify">- MOK se reserva el derecho de confirmar con
				el taller responsable de la reparación del vehículo, la fecha de
				ingreso y el tiempo de reparación del mismo.</p>
			<p align="justify">- El vehículo de reemplazo se entregará contra
				ingreso a taller independiente de la cantidad de siniestros o
				averías que se pudiesen haber presentado.</p>
			<p align="justify">- Esta prestación no será acumulable con la
				prestación "Estancia y desplazamiento por inmovilización del
				vehículo".</p>
			<p align="justify">- El asegurado responderá por cualquier
				infracción, falta, multas, delito o similares que pueda ocasionar
				por motivos del uso del vehículo de reemplazo en comento.</p>
			<p align="justify">- Condiciones de uso serán entregadas a
				solicitud del asegurado al momento de retiro del vehículo de
				reemplazo.</p>
		</div>
	</div>
</div>
