<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<div class="row">
	<div class="col-md-12 col-xs-12">
		<div>
			<h4 class="title">
				<p align="justify">
					<strong>6. </strong>Vamos a buscar tu auto, lo llevamos a la
					revisión técnica y te devolvemos tu auto al lugar que indiques, sin
					costo adicional. Aplicable para zonas urbanas.
				</p>
			</h4>
		</div>
		<div>
			<p align="justify">
				<strong>Traslados y revisión técnica</strong>
			</p>
			<p align="justify">El objetivo es facilitar el trámite de
				renovación de la revisión técnica anual a través del pago de la
				revisión técnica en el mes que corresponde, para el vehículo
				asegurado con tope de UF 1.</p>
			<p align="justify">El beneficio aplicará por solo una vez en el
				mes correspondiente por placa patente e incluirá traslado y
				realización de la revisión técnica obligatoria Clase B, en plantas
				de revisión técnica autorizadas. El servicio se encuentra disponible
				para el vehículo asegurado de 15 o menos años de antigüedad, en el
				mes que le corresponde realizar su revisión técnica según placa
				patente. En caso de estar vencida, cualquier infracción es de cargo
				del asegurado. La realización es de lunes a viernes. El asegurado
				deberá llamar con un tiempo mínimo de 7 días corridos para coordinar
				el servicio. Ahí se coordinará según los horarios disponibles para
				que éste sea retirado de su oficina o vivienda y devuelto el mismo
				día, antes de las 19 Hrs. MOK determinará la planta de revisión
				técnica a la cual será llevado el vehículo. El solicitante del
				servicio deberá proveer de las condiciones y documentación
				necesarias para la óptima realización de este. (Permiso de
				circulación, Revisión técnica vigente, Seguro obligatorio, y
				Registro de inscripción) El servicio incluye previa revisión visual
				del vehículo para detección de desperfectos menores antes de
				realizarse la revisión técnica. Esta revisión visual revisa: estado
				de los neumáticos, luces, vidrios y limpiaparabrisas, cinturones de
				seguridad.</p>
			<p align="justify">Si visualmente presenta desperfectos causales
				de rechazo, se orientará al cliente en la solución del problema. Se
				ofrecerá llevar el vehículo a realizar un presupuesto de reparación,
				por un precio preferencial que es de cargo del asegurado, de manera
				de llevar el vehículo a revisión idealmente el mismo día. De
				rechazar el presupuesto, el asegurado deberá reparar los
				desperfectos hasta en 8 días corridos para solicitar gratuitamente
				un 2º traslado a la planta de revisión técnica.</p>
			<p align="justify">En el caso de que el cliente requiera utilizar
				la Asistencia de Revisión Técnica por una segunda ocasión (por
				rechazo de revisión técnica en primera instancia) o fuera del mes
				correspondiente a placa patente este tendrá un copago de $10.000 +
				IVA y el costo de la revisión técnica será de cargo del cliente.</p>
		</div>
	</div>
</div>
