<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<div class="row">
	<div class="col-md-12 col-xs-12">
		<div>
			<h4 class="title">
				<p align="justify">
					<strong>7. </strong>Si no puedes conducir, enviaremos un conductor
					que manejara tu auto y te llevará donde necesites. Gratis hasta 6
					veces al año y con un límite de 20 Km o 60 minutos de viaje.
				</p>
			</h4>
		</div>
		<div>
			<p align="justify">
				<strong> Conductor de reemplazo</strong>
			</p>
			<p align="justify">
				<strong><h5>Se brindará este servicio de traslado en
						vehículo asegurado, en caso de que el titular o persona asegurada
						haya ingerido alcohol.</h5>
				</strong>
			</p>
			<p align="justify">- Puede ser solicitado el servicio por el
				asegurado o familiar directo (hijos y/o cónyuge) que haya ingerido
				alcohol.</p>
			<p align="justify">- El servicio es brindado al vehículo
				asegurado.</p>
			<p align="justify">- MOK pondrá a su disposición el servicio de
				chofer para llevarlo hasta donde éste indique dentro de un radio de
				20 KM y un máximo de 60 minutos de viaje. El servicio contempla un
				(1) origen y un (1) destino.</p>
			<p align="justify">- El servicio estará disponible en horario
				continuado y debe ser solicitado con 2 horas de anticipación.</p>
			<p align="justify">- El servicio esperará al cliente un máximo de
				15 minutos desde la hora de llegada acordada.</p>
			<p align="justify">- MOK se hará responsable de daños en el
				vehículo, siempre y cuando éstos hayan sido provocados por
				responsabilidad del chofer asignado, además el asegurado deberá
				firmar un inventario del vehículo previo al servicio, en caso de que
				esto no suceda, MOK tomará fotografías del vehículo.</p>
			<p align="justify">- En caso de solicitar un destino adicional se
				cobrará adicionalmente la suma de $20.000</p>
			<p align="justify">- En caso de exceder los 20 Km. de límite como
				traslado se cobrará un adicional de $900 por kilómetro que exceda el
				límite mencionado.</p>
			<p align="justify">- El tiempo límite de conducción es de 60
				minutos, en caso de exceder este tope se cobrará $ 5.000 extras por
				cada 15 minutos o fracción de minutos adicionales.</p>
			<p align="justify">- Cobertura territorial: Arica - Iquique –
				Antofagasta Calama - Copiapó - La Serena - Valparaíso - San Antonio
				- Viña del Mar - Rancagua - Talca - Curicó - Concepción - Chillán -
				Los Angeles - Temuco - Valdivia - Osorno - Puerto Montt - Puerto
				Varas - Punta Arenas - Región Metropolitana</p>
			<p align="justify">
				<strong><h5>Límite de eventos</h5> </strong>
			</p>
			<p align="justify">6 eventos por año de vigencia sin costo para
				el asegurado. Desde el 7º evento tendrán un copago $ 10.000 para el
				asegurado sin límite de eventos.</p>
			<p align="justify">
				<strong><h5>Exclusiones</h5> </strong>
			</p>
			<p align="justify">Se excluye de este servicio las siguientes
				fechas:</p>
			<p align="justify">- Año nuevo: 31 de diciembre y 1 de enero</p>
			<p align="justify">- Fiestas Patrias: 18 y 19 de Septiembre,
				incluido los días feriados asociados a dicha celebración</p>
			<p align="justify">- Navidad: 24 y 25 de diciembre</p>
		</div>
	</div>
</div>
