<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<div class="row">
	<div class="col-md-12 col-xs-12">
		<div>
			<h4 class="title">
				<p align="justify">
					<strong>9. </strong>Reparamos: filtración de llave y sifón,
					destapes de WC, reparación de enchufe, entre otros servicios. 4
					eventos gratis al año, con tope de hasta 2 UF dependiendo el
					siniestro.
				</p>
			</h4>
		</div>
		<div>
			<p align="justify">
				<strong>Reparaciones Básicas Hogar</strong>
			</p>
			<p align="justify">El objetivo es brindar un servicio de urgencia
				de reparaciones básicas, en el hogar del asegurado, con un tope de 4
				eventos anuales.</p>
			<p align="justify">El Servicio consistirá en evaluar y rearar los
				siguientes desperfectos con los siguientes límites:</p>
			<p align="justify">- Filtración de llave: Cambio de gomas de las
				llaves o cambio de la llave hasta un tope de UF 2.</p>
			<p align="justify">- Filtración de Sifón: Mantención del sifón,
				destaparlo, cambio de pieza y soldadura con un tope de UF1.</p>
			<p align="justify">- Filtración WC: cambio de flaper hasta un
				tope de UF 1.</p>
			<p align="justify">- Destape de WC, Lavamanos, Lavaplatos, Tina:
				Introducir máquina para liberar la descarga hacia el alcantarillado.</p>
			<p align="justify">- Filtración de Cañería a la vista: Reparación
				de cañería, cambio de pieza y soldadura hasta un tope de UF 2.</p>
			<p align="justify">- Reparación de enchufe: Revisión de
				electricidad en enchufe y reposición o cambio de enchufe hasta tope
				de UF 1.</p>
			<p align="justify">- Reparación de soquete: Revisión de
				electricidad en interruptor y reposición o cambio de enchufe hasta
				tope de UF 1.</p>
			<p align="justify">- Cambio de vidrio: Se reemplaza vidrio
				quebrado hasta tope de UF 2.</p>
			<p align="justify">
				<strong><h5>Exclusiones</h5>
				</strong>
			</p>
			<p align="justify">Quedan excluidas de la presente cobertura:</p>
			<p align="justify">- Vidriería: Todos los vidrios de separaciones
				o puertas interiores. Rotura y fizuras de mobiliario, espejos,
				adornos, loza u otros que sean de vidrio o cristal.</p>
			<p align="justify">- Electricidad: La reparación propia de
				elementos de iluminación, tales como lámparas, ampolletas o
				fluorescentes. La reparación de averías propias de aparatos de
				calefacción, electrodomésticos y, en general, cualquier avería
				propia de un aparato que funcione por suministro eléctrico.</p>
			<p align="justify">- Plomería: La reparación de averías o fallas
				de cañería, estanques, llaves u otras instalaciones fijas de agua
				que no se encuentren dentro o no pertenezcan a la vivienda o
				inmueble asegurado. La reparación de averías o fallas de cualquier
				elemento ajeno a las cañerías, estanques, llaves u otras
				instalaciones fijas de agua de la vivienda o inmueble asegurado. La
				reparación de calderas, calefactores, equipos de aire acondicionado
				o de calefacción central y, en general, de cualquier artefacto
				electrodoméstico que opere conectado a las cañerías de agua.</p>
		</div>
	</div>
</div>