body {
	/*background-image: url("img/background-body.gif");*/
	background-repeat: repeat-x;
}

#p7PMMcontenedorMenu {
	height: 30px;
    left: 140px;
    /*position: absolute;*/
    top: 135px;
    width: 700px;
   /* z-index: 90;*/
    .left: -300px;
    .top: 128px;
    *top: 170px;
    *left: 136px;
}


.p7PMMh02 {
    
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: normal;
    margin: 0 auto;
    text-align: center;
    width: auto;
    
}
.p7PMMh02 ul div {
    display: none;
    margin-left: -10px !important;
    font-size: 11px;
    text-align: left;
    
}
.p7PMMh02 ul ul div {
    margin-left: 175px !important;
    text-indent: 10px;
}
.p7PMMh02 ul {
    margin: 0;
    overflow: hidden;
    padding: 0;
}
.p7PMMh02 li {
    background-image: url("img/pmm_topaz_left.png");
    background-position: left top;
    background-repeat: no-repeat;
    float: left;
    list-style-type: none;
    margin: 0 1px 0 0;
    padding: 0 0 0 10px;
    
}
.p7PMMh02 li {
    width: 102.5px;
    
    
}
.p7PMMh02 li:hover {
    background-position: 0 -240px;
}
.p7PMMh02 li:hover a {
    background-position: 100% -240px !important;
    color: #fff !important;
}
.p7PMMh02 a {
    background-image: url("img/pmm_topaz_right.png");
    background-position: 100% 0;
    background-repeat: no-repeat;
    border-right: 0 none;
    color: #fff !important;
    display: block;
    padding: 5px 10px 6px 0px;
    text-align: center;
    text-decoration: none;
    
}
.p7PMMh02 ul a.pmmfirst { 
}
.p7PMMh02 ul a.pmmlast { 
}
.p7PMMh02 ul li.pmmfirst { 
}
.p7PMMh02 ul li.pmmlast { 
	background-image: url("img/pmm_topaz_left2.png");
}
.p7PMMh02 ul li a.pmmlast { 
	background-image: url("img/pmm_topaz_right2.png");
}
.p7PMMh02 ul li ul li.pmmlast { 	
	background-image: none;
	margin-left: 0px;
	*margin-left: 0px;
}
.p7PMMh02 ul li ul li a.pmmlast { 	
	background-image: none;
}


.p7PMMh02 ul ul {
    
    background-image: url("img/fondoMenuSombra.png");
    background-position:right bottom;
    /* background-repeat: repeat-x;
    border-bottom: 1px solid #000000;
     border-left: 1px solid #666666;
    border-right: 1px solid #000000; */
    width: 170px;
    padding-top: 5px;
    padding-bottom: 20px;
    line-height: 20px;
    
}
.p7PMMh02 ul ul li {
    background-image: none;
    float: none;
    margin: 0;
    padding: 0;
    position: static;
    width: 172px;
    
}
.p7PMMh02 ul ul a {
    
    background-image: none;
    border-right: 0 none;
    color: #fff !important;
    overflow: hidden;
    padding: 4px 6px;
    text-align: left;
    font-weight: normal;
}
.p7PMMh02 ul ul a:hover {
    /* background-color: #424242 !important; */
    background-image: none;
    color: #17597f !important;
    /* text-decoration: underline; */
    
}
.p7PMMh02 ul ul ul {
    /* border-color: #555555 #000000 #000000 #555555;
    border-style: solid;
    border-width: 1px; */
    padding-top: 5px;    
    padding-bottom: 0px;
    width: 80px;
    background-image: url("img/submenuSombra.png");
    background-position:right bottom;
    padding-bottom: 8px;
    
}
.p7PMMh02 img {
    border: 0 none;
}

.p7PMMh02 .p7PMM_img {
    background-color: transparent;
    background-image: none;
    border: 0 none;
    padding: 0;
}
.p7PMMh02 ul a.trig_closed {
    background-position: 100% -80px;
    
}
.p7PMMh02 ul a.trig_closed_up {
    background-position: 100% -160px;
}
.p7PMMh02 ul li.trig_open {
    background-position: 0 -240px;
    color: #fff !important;
}
.p7PMMh02 ul a.trig_open {
    background-position: 100% -240px;
    color: #fff !important;
}
.p7PMMh02 ul ul a.trig_closed {
    background-image: url("img/pmm_east_medium.gif");
    background-position: right center !important;
    background-repeat: no-repeat;
}
.p7PMMh02 ul ul a.trig_closed_left {
    background-image: url("img/pmm_west_medium.gif");
    background-position: left center !important;
    background-repeat: no-repeat;
}
.p7PMMh02 ul ul a.trig_open {
    /* background-color: #424242 !important; 
    color: #FFFFFF !important; */
}
.p7PMMh02 .current_mark {
      background-position: 100% -160px !important;
    color: #119ad1 !important;
    font-weight: bold; 

}
.p7PMMh02 .li_current_mark {
    background-position: 0 -160px;
}
.p7pmmclearfloat {
    clear: both;
    display: none;
    font-size: 0;
    height: 0;
    line-height: 0;
}
.p7PMMh02.p7PMMnoscript {
    /*position: relative;*/
}
.p7PMMh02.p7PMMnoscript ul div {
    display: block;
    left: -9999px;
    position: absolute;
    top: 98%;
}
.p7PMMh02.p7PMMnoscript ul ul div {
    left: -9999px;
    margin-left: 0 !important;
    top: 0;
}
.p7PMMh02.p7PMMnoscript li:hover div {
    display: block;
    left: auto;
}
.p7PMMh02.p7PMMnoscript li:hover ul div, .p7PMMh02.p7PMMnoscript li:hover ul ul div, .p7PMMh02.p7PMMnoscript li:hover ul ul ul div, .p7PMMh02.p7PMMnoscript li:hover ul ul ul ul div, .p7PMMh02.p7PMMnoscript li:hover ul ul ul ul ul div {
    left: -9999px;
}
.p7PMMh02.p7PMMnoscript li li:hover div, .p7PMMh02.p7PMMnoscript li li li:hover div, .p7PMMh02.p7PMMnoscript li li li li:hover div, .p7PMMh02.p7PMMnoscript li li li li li:hover div, .p7PMMh02.p7PMMnoscript li li li li li li:hover div {
    left: 190px;
    top: 1em;
}
