#verBases-promociones{


	width: 184px;
	height: 10px;
	
}

#verBases-promociones a:link {

	font-family: Arial,Helvetica,sans-serif;
    font-size: 9px;
	text-decoration: none;
	color: #666666;
	padding-left: 142px;
	
	
	
}

#verBases-promociones  a:active {

	font-family: Arial,Helvetica,sans-serif;
    font-size: 9px;
	text-decoration: none;
	color: #666666;
	padding-left: 142px;
	
	
	
}

#verBases-promociones a:hover {

	font-family: Arial,Helvetica,sans-serif;
    font-size: 9px;
	text-decoration: none;
	color: #3988b1;
	padding-left: 142px;
	
	
	
}

#verBases-promociones a {

	font-family: Arial,Helvetica,sans-serif;
    font-size: 9px;
	text-decoration: none;
	color: #999999;
	padding-left: 142px;
	
	
	
}


#todasPromociones {

	width: 300px;
	height: 50px;
	/*position:absolute;*/
	left: 300px;
	top: 144px;
	/*z-index: 80;*/
	
	

}

#todasPromociones  p{

	font-family: Arial,Helvetica,sans-serif;
    font-size: 24px;
	/* font-weight: bold; */
	color: #49AADD;
	padding: 20px 0 0 30px;
	margin-bottom: 10px;
	cursor: default;

}


#contenedorPromociones {
	
	width: 798px;
	height: 276px;
	position:absolute;
	left: 337px;
	top: 246px;
	z-index: 80;
	
	
}
#contenedorPromociones_rama {
	
	width: 798px;
	height: 276px;
	
	
	
}

#carruselPromociones {
	
	margin-left:12px;
	margin-top: 20px;
	width: 798px;
	height: 276px;
	border: 1px solid #E2E2E2;
	
}

#PromocionCentralAuto {
	
	margin-left:0px;
	
	width: 798px;
	height: 276px;
	border: 1px solid #E2E2E2;
	
}

#lineaCeleste{

	width: 821px;
	height: 9px;
	background-image: url("../img/lineaCeleste.jpg");
	margin-top: 15px;
	margin-left: 10px;
}
	
	
#tablaPromociones {

	width: 780px;
	height: auto;
	/* border: 1px solid #E2E2E2; */
	margin-left:0px;
	margin-top: 0px;
	padding: 10px 20px 20px;
	margin-bottom: 20px;
	/* background-image: url("../img/fondoTabla.jpg"); */

}

#tablaPromociones_rama{

	width: 780px;
	
	/* border: 1px solid #E2E2E2; */
	margin-left:0px;
	margin-top: 0px;
	padding: 10px 14px 20px;
	margin-bottom: 20px;
	/* background-image: url("../img/fondoTabla.jpg"); */

}

#columnaPromociones {

		float: left;
		border-right: 1px solid #E2E2E2;
		
}

#columnaPromociones_auto {

		float: left;
		width: 800px;
		
}

#columnaPromocionesDer {

		float: left;
}

#tituloPromociones {

	width: 212px;
	padding: 10px;
	/* border: 1px solid #E2E2E2; */
	font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
	font-weight: bold;
	color: #49AADD;
	padding: 10px 0px 0px 35px;
	margin-bottom: 5px;
	
}

#tituloPromociones a {

	color: #49AADD;
    text-decoration: none;

}
#tituloPromociones a:hover {

	color: #3988b1;
}

#calugaPromociones {

	width: 212px;
	height: 190px;
	padding: 10px 10px 0 35px;
	/* border: 1px solid #E2E2E2; */
	padding-left: 35px;
	margin-bottom: 15px;
	
	
}

#calugaPromociones_rama {

	width: 212px;
	height: 190px;
	padding: 20px 10px 0 35px;
	/* border: 1px solid #E2E2E2; */
	padding-left: 35px;
	margin-bottom: 15px;
	float: left;
	
	
}

#imgCaluga {

	width: 178px;
	height: 133px;
	border: 1px solid #E2E2E2;	
	margin-top: 4px;
	*margin-top: 6px;
	padding-top: 6px;
	padding-left: 6px;
	
	
}

#botonesCaluga {
	
	width: 184px;
	height: 24px;
	
	padding-top: 10px;
	padding-left: 1px;
}

#conocerMas {
	width: 91px;
	height: 25px;
	background-image: url("../img/btn-conocer-mas.png");
	float:left;
}

#conocerMas:hover {

	background-image: url("../img/btn-conocer-mas_hover.png");
}

#contratar {
	width: 92px;
	height: 25px;
	background-image: url("../img/btn-contratar.png");
	float:left;

}

#contratar:hover   {

	background-image: url("../img/btn-contratar_hover.png");

}


#verMasPromociones a {
	text-decoration: none;
	padding-top: 0px;
	width: 212px;
	padding: 10px;
	padding-left: 35px;
	/* border: 1px solid #E2E2E2; */
	font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
	
	color: #49AADD;
	
}

#verMasPromociones a:hover {

	color: #3988b1;
}
	
	
	
#fondoSlide1 { background-image: url("../banner/banner_promociones.jpg"); width: 798px; height: 276px; }
#fondoSlide2 { background-image: url("../banner/banner_promociones2.jpg"); width: 798px; height: 276px; }
#fondoSlide3 { background-image: url("/vseg-paris/images/promociones/promocionesPrincipalVida.jpg"); width: 798px; height: 276px; }
#fondoSlide4 { background-image: url("/images/promociones/banner_promociones2.jpg"); width: 798px; height: 276px; }


	#aLink2 { 
		
		width: 210px;
		height: 170px;
		position:absolute;
		left: 25px;
		bottom: 30px;
		z-index: 2;
		
		}
		
	#aLink2_1 { 
		
		width: 150px;
		height: 108px;
		position:absolute;
		left: 195px;
		bottom: 14px;
		z-index: 3;
		/* background-color: red; */
		
		}
	
	#aLink2_2 { 
		
		width: 155px;
		height: 120px;
		position:absolute;
		left: 360px;
		bottom: 11px;
		z-index: 2;
		/* background-color: red; */
		
		}

	#aLink2_3 { 
		
		width: 152px;
		height: 111px;
		position:absolute;
		left: 536px;
		bottom: 14px;
		z-index: 3;
		/* background-color: red; */
		
		}


	#aLink3_1 { 
		
		width: 157px;
		height: 101px;
		position:absolute;
		left: 72px;
		bottom: 40px;
		z-index: 4;
		/* background-color: red; */
		
		}

	#aLink3_2 { 
		
		width: 46px;
		height: 15px;
		position:absolute;
		left: 182px;
		bottom: 22px;
		z-index: 4;
		/* background-color: red; */
		
		}
	
	#aLink3_3 { 
		
		width: 157px;
		height: 101px;
		position:absolute;
		left: 234px;
		bottom: 40px;
		z-index: 4;
		/* background-color: red; */
		
		}
		
	#aLink3_4 { 
		
		width: 46px;
		height: 15px;
		position:absolute;
		left: 336px;
		bottom: 22px;
		z-index: 4;
		/* background-color: red; */
		
		}

	#aLink3_5 { 
		
		width: 157px;
		height: 101px;
		position:absolute;
		left: 392px;
		bottom: 40px;
		z-index: 4;
		/* background-color: red; */
		
		}
	
	#aLink3_6 { 
		
		width: 46px;
		height: 15px;
		position:absolute;
		left: 493px;
		bottom: 22px;
		z-index: 4;
		/* background-color: red; */
		
		}
	
.menu
{
	margin-bottom: 40px;
	text-align: center;
	color: #999;
}

	.menu a
	{
		color: #999;
	}
	
	.menu a.active
	{
		font-weight: bold;
	}


/* Showcase
-------------*/

#awOnePageButton .view-slide
{
	display: none;
}

/* This class is removed after the showcase is loaded */
/* Assign the correct showcase height to prevent loading jumps in IE */
.showcase-load
{
	height: 470px; /* Same as showcase javascript option */
	overflow: hidden;
}

/* Container when content is shown as one page */
.showcase-onepage
{
	/**/
}

/* Container when content is shown in slider */
.showcase
{
	position: relative;
	margin: auto;
}

	.showcase-content-container
	{
		background-color: #fff;
	}
	
	/* Navigation arrows */
	.showcase-arrow-previous, .showcase-arrow-next
	{
		position: absolute;
		background: url('../images/arrows.png');
		width: 16px;
		height: 58px;
		top: 0px;
		cursor: pointer;
		z-index: 55;
	}
	
	.showcase-arrow-previous
	{
		left: -25px;
		margin-top: 25px;
	}
	
	.showcase-arrow-previous:hover
	{
		background-position: 0px -58px;
	}
	
	.showcase-arrow-next
	{
		right: -25px;
		background-position: -16px 0;
		margin-top: 25px;
	}
	
	.showcase-arrow-next:hover
	{
		background-position: -16px -58px;
	}
	
	/* Content */
	.showcase-content
	{
		background-color: #fff;
		text-align: center;
	}
		
		.showcase-content-wrapper
		{
			text-align: center;
			height: 370px;
			width: 700px;
			display: table-cell;
			vertical-align: middle;
		}
		
		/* Styling the tooltips */
		.showcase-plus-anchor
		{
			background-image: url('../images/plus.png');
			background-repeat: no-repeat;
		}
		
		.showcase-plus-anchor:hover
		{
			background-position: -32px 0;
		}
		
		div.showcase-tooltip
		{
			background-color: #fff;
			color: #000;
			text-align: left;
			padding: 5px 8px;
		
		}
		
		/* Styling the caption */
		.showcase-caption
		{
			color: #000;
			padding: 8px 15px;
			text-align: left;
			position: absolute;
			bottom: 10px; left: 10px; right: 10px;
			display: none;
			
		}
		
	.showcase-onepage .showcase-content
	{
		margin-bottom: 10px;
	}
	
	/* Button Wrapper */
	.showcase-button-wrapper
	{
		clear: both;
		top: 256px;
		right: -2px;
		text-align: center;
		width: 100px;
		height:20px;
		
		position: absolute;
		z-index: 55;
	}
	
		.showcase-button-wrapper span
		{
			margin-right: 3px;
			padding: 2px 5px 0px 5px;
			cursor: pointer;
			font-family: Arial,Helvetica,sans-serif;
    		font-size: 12px;
			color: #888;
			width: 14px;
			height: 14px;
			background-color: #fff;
			border:1px solid #888;
			
		}
	
		.showcase-button-wrapper span.active
		{
			color: #119ad1;
			border:1px solid #119ad1;
		}
	
	/* Thumbnails */
	.showcase-thumbnail-container /* Used for backgrounds, no other styling!!! */
	{
		background-color: #000;
	}
	
	.showcase-thumbnail-wrapper
	{
		overflow: hidden;
	}
		
		.showcase-thumbnail
		{
			width: 120px;
			height: 90px;
			cursor: pointer;
			border: solid 1px #333;
			position: relative;
		}
		
			.showcase-thumbnail-caption
			{
				position: absolute;
				bottom: 2px;
				padding-left: 10px;
				padding-bottom: 5px;
			}
			
			.showcase-thumbnail-content
			{
				padding: 10px;
				text-align: center;
				padding-top: 25px;
			}
			
			.showcase-thumbnail-cover
			{
				background-color: transparent;
				position: absolute;
				top: 0; bottom: 0; left: 0; right: 0;
			}
		
		.showcase-thumbnail:hover
		{
			border: solid 1px #999;
		}
		
			.showcase-thumbnail:hover .showcase-thumbnail-cover
			{
				display: none;
			}
		
		.showcase-thumbnail.active
		{
			border: solid 1px #999;
		}
		
			.showcase-thumbnail.active .showcase-thumbnail-cover
			{
				display: none;
			}
	
	.showcase-thumbnail-wrapper-horizontal
	{
		padding: 10px;
	}
	
		.showcase-thumbnail-wrapper-horizontal .showcase-thumbnail
		{
			margin-right: 10px;
			width: 116px;
		}
	
	.showcase-thumbnail-wrapper-vertical
	{
		padding: 10px;
	}
	
		.showcase-thumbnail-wrapper-vertical .showcase-thumbnail
		{
			margin-bottom: 10px;
		}
		
	.showcase-thumbnail-button-backward,
	.showcase-thumbnail-button-forward
	{
		padding: 7px;
		cursor: pointer;
	}
	
	.showcase-thumbnail-button-backward
	{
		padding-bottom: 0px;
		padding-right: 0px;
	}
	
		.showcase-thumbnail-button-backward .showcase-thumbnail-vertical,
		.showcase-thumbnail-button-forward .showcase-thumbnail-vertical,
		.showcase-thumbnail-button-forward .showcase-thumbnail-horizontal,
		.showcase-thumbnail-button-backward .showcase-thumbnail-horizontal
		{
			background-image: url(../images/arrows-small.png);
			background-repeat: no-repeat;
			display: block;
			width: 17px;
			height: 17px;
		}
		
		.showcase-thumbnail-button-backward .showcase-thumbnail-vertical
		{
			background-position: 0 -51px;
			margin-left: 55px;
		}
		.showcase-thumbnail-button-backward:hover .showcase-thumbnail-vertical
		{
			background-position: -17px -51px;
		}
		
		.showcase-thumbnail-button-forward .showcase-thumbnail-vertical
		{
			background-position: 0 -34px;
			margin-left: 55px;
		}
		.showcase-thumbnail-button-forward:hover .showcase-thumbnail-vertical
		{
			background-position: -17px -34px;
		}
		
		.showcase-thumbnail-button-backward .showcase-thumbnail-horizontal
		{
			background-position: 0 -17px;
			margin-top: 40px;
			margin-bottom: 40px;
		}
		.showcase-thumbnail-button-backward:hover .showcase-thumbnail-horizontal
		{
			background-position: -17px -17px;
		}
		
		.showcase-thumbnail-button-forward .showcase-thumbnail-horizontal
		{
			background-position: 0 0;
			margin-top: 40px;
			margin-bottom: 40px;
		}
		.showcase-thumbnail-button-forward:hover .showcase-thumbnail-horizontal
		{
			background-position: -17px 0;
		}
		
		/* Hide button text */
		.showcase-thumbnail-button-forward span span,
		.showcase-thumbnail-button-backward span span
		{
			display: none;
		}
	


/* Clear (used for horizontal thumbnails)
-------------------------------------------*/

.clear
{
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
	float: none;
}

