
#pestana {
	
	 background-image: url("../images/maqueta_pestana.png");
    cursor: pointer;
    display: table-cell;
    font-family: Arial,verdana;
    font-size: 15px;
    height: 20px;
    left: 880px;
    padding-top: 6px;
    position: absolute;
    text-indent: 60px;
    top: 138.5px;
    width: 276px;
    z-index: 99;
	
}

#pestana a {

	text-decoration: none;
	color: #56a9d5;
	font-weight: bold;
	
	
}


.form-bubble-form {

	width: 277px;
	height: 53px;	
	background-image:url('../imagenes/fondoPestana.jpg');  
	background-repeat:no-repeat;
	padding-top: 8px;
	margin-top: -10px;
	font-family: Arial, verdana;
	font-size: 11px;
}


#linksPestana {
	
	width: 284px;
	height: 12px;
	padding-top: 6px;
	


}

#linksPestana a {
	
	text-decoration:none;
	


}

#ir {

	color: #fff; 
	background-image:url('../imagenes/ir.jpg');
	border: none;
	width: 25px;
	height: 15px;
	font-weight: bolder;
	padding-top: 0px;
	font-family: Arial, verdana;
	font-size: 11px;
	cursor: pointer;

}
