<!--INICIO MODAL 1-->
    <div class="remodal dimen_modal_fichas" data-remodal-id="Modal_1" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">   
        <button class="remodal-close" data-remodal-action="close" aria-label="Close">  </button>
        <div class="c-modal__wrap pading_modal">
          
          <div class="row">
              <div class="col-lg-12">
                  <div class="o-features__featTitle">
                       <h2 >Vamos a buscar tu auto y lo llevamos donde tu necesites e incluso al taller donde repararas tu auto. Podrás usar este servicio hasta 3 eventos al año sin tope en UF.</h2>
                       <h3>Remolque o transporte del vehículo por accidente o avería de cualquier naturaleza, que cause la inmovilización del vehículo:</h3>
                       <p>En caso que el vehículo asegurado no pudiera circular por accidente o avería de cualquier naturaleza, la compañía se hará cargo del remolque o transporte hasta el taller que elija el asegurado. El límite máximo de esta prestación será de 3 eventos anuales sin tope de UF. Si la reparación del vehículo asegurado requiere un tiempo de inmovilización superior a 72 horas o, en caso de robo, si el vehículo es recuperado después que el asegurado se haya ausentado del lugar de ocurrencia del mismo, la compañía sufragará los siguientes gastos:</p>
                        <ul>
                           <li>El depósito y custodia del vehículo reparado o recuperado hasta un máximo de UF 9 por evento.</li>
                           <li>El desplazamiento del asegurado o de la persona habilitada que éste designe, hasta el lugar donde el vehículo haya sido reparado o donde el vehículo sustraído haya sido recuperado. La compañía determinará el medio idóneo de desplazamiento de los asegurados.</li>
                        </ul>
                              
                              
                     </div>
                 </div>
          </div>
        </div>
      </div>
    <!--FIN MODAL-->  
    
    <!--INICIO MODAL 2-->
    <div class="remodal dimen_modal_fichas" data-remodal-id="Modal_2" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">   
        <button class="remodal-close" data-remodal-action="close" aria-label="Close">  </button>
        <div class="c-modal__wrap pading_modal">
          
          <div class="row">
              <div class="col-lg-12">
                  <div class="o-features__featTitle">
                       <h2 >En caso de avería o accidente, cubrimos tu estadía y la de tus acompañantes en un hotel. También, podemos trasladarte junto a los pasajeros donde sea necesario. Tope de 3 UF por día, con un tope máximo de 9 UF, siempre que la reparación del vehículo no pueda ser efectuada en el mismo día de su inmovilización.</h2>
                       <h3>Estancia y desplazamiento del Asegurado por inmovilización del Vehículo:</h3>
                       <p>En caso de avería o accidente del vehículo que cause su inmovilidad, la compañía sufragará los siguientes gastos:</p>
                        <ul>
                           <li>Respecto a cada asegurado la estancia en hotel es de máx. UF 3 por día, con un tope máximo para estancia de UF 9, siempre que la reparación del vehículo no pueda ser efectuada en el mismo día de su inmovilización y requiera para ser hecha de un tiempo superior a 2 horas, según el criterio del responsable del taller elegido</li>
                           <li>El desplazamiento para el traslado de los asegurados hasta su domicilio habitual, siempre que la reparación del vehículo no pueda ser efectuada en las 48 horas siguientes a la inmovilización y requiera para ser hecha de un tiempo superior a 6 horas, según el criterio del responsable del taller elegido. La compañía determinará el medio idóneo de desplazamiento de los asegurados.</li>
                           <li>Si los asegurados optan por la continuación del viaje, la compañía sufragará los gastos de desplazamiento hasta el lugar de destino previsto, siempre que el costo no supere la prestación a que se refiere el párrafo anterior.</li>
                        </ul>
                              
                              
                     </div>
                 </div>
          </div>
        </div>
      </div>
    <!--FIN MODAL-->  
    
    <!--INICIO MODAL 3-->
    <div class="remodal dimen_modal_fichas" data-remodal-id="Modal_3" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">   
        <button class="remodal-close" data-remodal-action="close" aria-label="Close">  </button>
        <div class="c-modal__wrap pading_modal">
          
          <div class="row">
              <div class="col-lg-12">
                  <div class="o-features__featTitle">
                       <h2 >Si te han robado el auto, cubriremos la estadía en un hotel o el traslado de pasajeros. Tope de 3 UF por día, con un tope máximo de 9 UF.</h2>
                       <h3>Estancia y desplazamiento de los asegurados por robo del vehículo: </h3>
                       <p>En caso de robo del vehículo, y una vez cumplidos los trámites de denuncia a las autoridades competentes.<br>
En caso de avería o accidente del vehículo que cause su inmovilidad, la compañía sufragará los siguientes gastos:</p>
                        <ul>
                           <li>Respecto a cada asegurado la estancia en hotel es de máx. UF 3 por día, con un tope máximo para estancia de UF 9, siempre que la reparación del vehículo no pueda ser efectuada en el mismo día de su inmovilización y requiera para ser hecha de un tiempo superior a 2 horas, según el criterio del responsable del taller elegido.</li>
                           <li>El desplazamiento para el traslado de los asegurados hasta su domicilio habitual, siempre que la reparación del vehículo no pueda ser efectuada en las 48 horas siguientes a la inmovilización y requiera para ser hecha de un tiempo superior a 6 horas, según el criterio del responsable del taller elegido. La compañía determinará el medio idóneo de desplazamiento de los asegurados.</li>
                           <li>Si los asegurados optan por la continuación del viaje, la compañía sufragará los gastos de desplazamiento hasta el lugar de destino previsto, siempre que el costo no supere la prestación a que se refiere el párrafo anterior.</li>
                        </ul>
                              
                              
                     </div>
                 </div>
          </div>
        </div>
      </div>
    <!--FIN MODAL--> 
    
      <!--INICIO MODAL 4-->
    <div class="remodal dimen_modal_fichas" data-remodal-id="Modal_4" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">   
        <button class="remodal-close" data-remodal-action="close" aria-label="Close">  </button>
        <div class="c-modal__wrap pading_modal">
          
          <div class="row">
              <div class="col-lg-12">
                  <div class="o-features__featTitle">
                       <h2 >Auto de reemplazo hasta 45 días</h2>
                       <h3>Auto de reemplazo:</h3>
                       <p>Vehículo de sustitución en caso de accidente o avería del vehículo asegurado por los días que implique ingreso a taller y a un precio preferencial.</p>
                       <h4>Condiciones del beneficio:</h4>
                        <ul>
                           <li>Avería del vehículo asegurado: Tope máximo de uso 7 días. (No aplica solo para Seguros contratados con Aseguradora Magallanes)</li>
                           <li>Siniestro con pérdida parcial o total por accidente del vehículo asegurado: Tope máximo de uso 45 días.</li>
                           <li>Siniestro con pérdida total por robo del vehículo asegurado: Tope máximo de uso 45 días.</li>
                        </ul>
                        <p>Por cada día de uso del beneficio el co-pago es de $ 4.000 + IVA diarios de cargo del asegurado (no incluye TAG ni otro tipo de peajes). La entidad arrendataria exigirá al asegurado una garantía consistente en un voucher de tarjeta de crédito o cheque por la entrega del vehículo en arriendo. En caso de no ser posible arrendar un vehículo, se facilitará un medio alternativo de transporte convencional con un límite del costo económico de la prestación del vehículo de reemplazo.</p> 
                        
                          
                        <h4>En caso de siniestro:</h4>      
                        <p>Para solicitar el auto de reemplazo, el arreglo DEBE realizarse en el taller regulador de la Compañía de Seguros.</p>
                        <h4>En caso de desperfecto:</h4>
                        <p>No se exige que sea el taller indicado por la Compañía de Seguros.</p>
                        <ul>
                        	<li>El vehículo de reemplazo corresponderá a un vehículo de categoría económica, de transmisión mecánica, equipamiento simple según nomenclatura empresa de arriendo, a modo de ejemplo vehículos como: Toyota Yaris, Hyundai Accent, Nissan V16.</li>
                        	<li>MOK confirmará los días de reparación con el taller respectivo. Este servicio tiene una carencia de 24 horas desde la contratación.</li>
                        	<li>MOK se reserva el derecho de confirmar con el taller responsable de la reparación del vehículo, la fecha de ingreso y el tiempo de reparación del mismo.</li>
                        	<li>El vehículo de reemplazo se entregará contra ingreso a taller independiente de la cantidad de siniestros o averías que se pudiesen haber presentado.</li>
                        	<li>Esta prestación no será acumulable con la prestación "Estancia y desplazamiento por inmovilización del vehículo".</li>
                        	<li>El asegurado responderá por cualquier infracción, falta, multas, delito o similares que pueda ocasionar por motivos del uso del vehículo de reemplazo en comento.</li>
                        	<li>Condiciones de uso serán entregadas a solicitud del asegurado al momento de retiro del vehículo de reemplazo.</li>
                        </ul>
                                                      
                     </div>
                 </div>
          </div>
        </div>
      </div>
    <!--FIN MODAL-->  
     
    <!--INICIO MODAL 5-->
    <div class="remodal dimen_modal_fichas" data-remodal-id="Modal_5" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">   
        <button class="remodal-close" data-remodal-action="close" aria-label="Close">  </button>
        <div class="c-modal__wrap pading_modal">
          
          <div class="row">
              <div class="col-lg-12">
                  <div class="o-features__featTitle">
                       <h2 >Vehículo de Reemplazo o taxi ida y vuelta en caso de Restricción Vehicular</h2>
                       
                       <p>Por motivo de pre- emergencia o emergencia ambiental declarada por las entidades de gobierno pertinentes, el titular del vehículo asegurado tendrá derecho a un vehículo de reemplazo por el día o un servicio de taxi ida y vuelta, después de haber sido verificada la situación ambiental. Tope 1 evento anual. El asegurado deberá contactar a MOK (600 500 5000 op 2) antes de la media noche (00:00) previa al comienzo de dicha restricción</p>
                       <h4>Condiciones particulares.</h4>
                       
                        <p>Los clientes que hayan coordinado el vehículo de reemplazo en dicho momento serán contactados a la mañana siguiente para retirar su vehículo en el lugar especificado por la compañía antes de las 10 hrs de la mañana. El vehículo será de tipo Básico. Este servicio sólo aplica a vehículos de uso particular. El vehículo tendrá un copago de $ 4.000 más IVA diario (no incluye peajes, bencina ni TAG). Éstos son a cargo del cliente. El cliente deberá dejar en el Rent a Car la garantía por el vehículo.</p>
                        <p>Los clientes que hayan coordinado el servicio de taxi el evento corresponden a un taxi ida/vuelta al destino. Con un tope de hasta $13.000.- por cada trayecto. Todo excedente lo paga el cliente al conductor o previa transferencia bancaria al solicitar la asistencia. Así mismo los TAG, estacionamientos, peajes etc. El servicio esperará al cliente un máximo de 15 minutos desde la hora de llegada acordada. El cliente tiene 24 hrs para programar la vuelta y no necesariamente es origen – destino</p>               
                     	
                     	<h4>Cobertura</h4>
                     	<p>Ciudades Principales que se indican a continuación: Arica – Iquique – Antofagasta – Calama – Copiapó – La Serena– Valparaíso – San Antonio – Viña del Mar – Rancagua – Talca – Curicó – Concepción – Chillán – Los Ángeles – Temuco – Valdivia – Osorno - Puerto Montt – Puerto Varas – Punta Arenas – Región Metropolitana</p>
                     
                     </div>
                 </div>
          </div>
        </div>
      </div>
    <!--FIN MODAL--> 
    
     <!--INICIO MODAL 6-->
    <div class="remodal dimen_modal_fichas" data-remodal-id="Modal_6" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">   
        <button class="remodal-close" data-remodal-action="close" aria-label="Close">  </button>
        <div class="c-modal__wrap pading_modal">
          
          <div class="row">
              <div class="col-lg-12">
                  <div class="o-features__featTitle">
                       <h2 >Revisión Técnica Gratis</h2>
                       
                       <p>El objetivo es facilitar el trámite de renovación de la revisión técnica anual a través del pago de la revisión técnica en el mes que corresponde, para el vehículo asegurado con tope de UF 1. El beneficio aplicará por solo una vez en el mes correspondiente por placa patente e incluirá traslado y realización de la revisión técnica obligatoria CLASE B, en plantas de revisión técnica autorizadas. El servicio se encuentra disponible para el vehículo asegurado de 15 o menos años de antigüedad, en el mes que le corresponde realizar su revisión técnica según placa patente. En caso de estar vencida, cualquier infracción es de cargo del asegurado.</p>
                       <p>La realización es de lunes a viernes. El asegurado deberá llamar con un tiempo mínimo de 7 días corridos para coordinar el servicio. Ahí se coordinará según los horarios disponibles para que éste sea retirado de su oficina o vivienda y devuelto el mismo día, antes de las 19 Hrs. MOK determinará la planta de revisión técnica a la cual será llevado el vehículo. El solicitante del servicio deberá proveer de las condiciones y documentación necesarias para la óptima realización de este. (Permiso de circulación, Revisión técnica vigente, Seguro obligatorio, y Registro de inscripción)</p>
                         
                       <h4>Revisión Visual del vehículo</h4>
                       <p>El servicio incluye una revisión previa de desperfectos menores; estado de los neumáticos, luces, vidrios y limpiaparabrisas, cinturones de seguridad. Si visualmente presenta desperfectos causales de rechazo, se orientará al cliente en la solución del problema.</p>
                       <p>En caso de rechazo en primera instancia, el asegurado tiene 8 días corridos para reparar el vehículo y solicitar un 2º traslado gratuito a la planta.</p>
                       <p>En la eventualidad que el asegurado requiera de la Asistencia de Revisión Técnica, fuera del mes correspondiente a su placa patente, ya no tendrá el derecho de traslado; sin embargo puede solicitar el reembolso del costo de la Revisión Técnica con un cargo de $10.000 + IVA, . Para solicitar dicho reembolso siempre el cliente debe haberse comunicado con la empresa de asistencia.</p>  
                               
                                       
                     </div>
                 </div>
          </div>
        </div>
      </div>
    <!--FIN MODAL-->
    
    <!--INICIO MODAL 7-->
    <div class="remodal dimen_modal_fichas" data-remodal-id="Modal_7" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">   
        <button class="remodal-close" data-remodal-action="close" aria-label="Close">  </button>
        <div class="c-modal__wrap pading_modal">
          
          <div class="row">
              <div class="col-lg-12">
                  <div class="o-features__featTitle">
                       <h2 >Conductor de reemplazo</h2>
                       <h3>En caso de que el Asegurado o su grupo familiar directo (cónyuges e hijos), solicite este servicio debido a que ha ingerido alcohol, MOK pondrá a su disposición el servicio de chofer para llevarlo hasta donde éste indique dentro de un radio de urbano de 20 Km. y un máximo de 60 minutos de viaje.</h3>
                       <ul>
                       	<li>Se brindará este servicio de traslado en vehículo asegurado, en caso de que se  haya ingerido alcohol</li>
                       	<li>El servicio es brindado al vehículo asegurado</li>
                       	<li>El servicio puede ser solicitado por el titular del seguro o familiar directo (hijos y/o cónyuge), por la ingesta de alcohol.</li>
                       	<li>El servicio contempla un (1) origen y un (1) destino.</li>
                       </ul>
                       <p>MOK se hará responsable de daños en el vehículo, siempre y cuando éstos hayan sido provocados por responsabilidad del chofer asignado, además el asegurado deberá firmar un inventario del vehículo previo al servicio, en caso de que esto no suceda, MOK tomará fotografías del vehículo.</p>  
                       <h3>Condiciones Particulares</h3>        
                       <ul>
                       	<li>El servicio estará disponible en horario continuado y debe ser solicitado con 2 horas de anticipación.</li>
                       	<li>Para el servicio en las zonas interurbanas indicadas, se debe solicitar con 5 horas de antelación.</li>
                       	<li>El servicio esperará al cliente un máximo de 15 minutos desde la hora de llegada acordada.</li>
                       	<li>En caso de exceder los 20 Km. de límite como traslado se cobrará un adicional de $900 por kilómetro que exceda el limite mencionad</li>
                       	<li>En caso de solicitar un destino adicional se cobrará adicionalmente la suma de $20.000.</li>
                       	<li>El tiempo límite de conducción es de 60 minutos, en caso de exceder este tope se cobrará $ 5.000 extras por cada 15 minutos o fracción de minutos adicionales.</li>
                       </ul> 
                       
                       <h3>Límite de eventos</h3>  
                       <p>6 eventos por año de vigencia sin costo para el asegurado. Desde el 7º evento tendrán un copago $ 10.000 para el asegurado sin límite de eventos.</p>
                       
                       <h3>Cobertura:</h3>
                       <p>Ciudades Principales que se indican a continuación: Arica – Iquique – Antofagasta – Calama – Copiapó – La Serena– Valparaíso – San Antonio – Viña del Mar – Rancagua – Talca – Curicó – Concepción – Chillán – Los Ángeles – Temuco – Valdivia – Osorno - Puerto Montt – Puerto Varas – Punta Arenas – Región Metropolitana y las siguientes zonas interurbanas: Las Vizcachas, Isla de Maipo, Colina, Cajón de Maipo , Pirque, Buin.</p>
                       <h3>Exclusiones</h3>
					  <p>Se excluye de este servicio, las siguientes fechas:</p>
                   	
                   		<ul>
                   			<li>Año nuevo: 31 de diciembre y 1º de enero.</li>
                   			<li>Fiestas Patrias: 18 y 19 de septiembre, incluido los días feriados asociados a dicha celebraci</li>
                   			<li>Navidad: 24 y 25 de diciembre</li>
                   		</ul>
                    
                    
                    
                     </div>
                 </div>
          </div>
        </div>
      </div>
    <!--FIN MODAL--> 
   
   <!--INICIO MODAL 8-->
    <div class="remodal dimen_modal_fichas" data-remodal-id="Modal_8" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">   
        <button class="remodal-close" data-remodal-action="close" aria-label="Close">  </button>
        <div class="c-modal__wrap pading_modal">
          
          <div class="row">
              <div class="col-lg-12">
                  <div class="o-features__featTitle">
                       <h2 >Traslado gratuito a la mantención</h2>
                       <p>El objetivo es brindar un servicio de traslado del vehículo asegurado al taller, en caso de que el titular de la póliza requiera realizar la mantención de kilometraje a su vehículo. El servicio brindará al asegurado un vehículo de reemplazo básico por el tiempo que demore la mantención, un evento anual hasta un máximo de 3 días hábiles corridos sin costo para el asegurado.</p>
                       <ul>
                       	<li>Retiro y devolución del vehículo asegurado desde el domicilio del Cliente.</li>
                       	<li>El servicio tiene un tope de 1 evento anual.</li>
                       	<li>El cliente deberá coordinar el servicio con una semana de anticipación.</li>
                       	<li>En el caso que el cliente haya agendado directamente con el concesionario, deberá indicar a MOK la fecha y hora coordinada con el taller. El tiempo máximo para la entrega de este servicio será de 3 días.</li>	
                       </ul>
                       <p>MOK se hará responsable de daños en el vehículo, siempre y cuando éstos hayan sido provocados por responsabilidad del chofer asignado, además el asegurado deberá firmar un inventario del vehículo previo al servicio.</p>
                    
                    
                     </div>
                 </div>
          </div>
        </div>
      </div>
    <!--FIN MODAL--> 
    
    <!--INICIO MODAL 9-->
    <div class="remodal dimen_modal_fichas" data-remodal-id="Modal_9" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">   
        <button class="remodal-close" data-remodal-action="close" aria-label="Close">  </button>
        <div class="c-modal__wrap pading_modal">
          
          <div class="row">
              <div class="col-lg-12">
                  <div class="o-features__featTitle">
                       <h2 >Reparamos: filtración de llave y sifón, destapes de WC, reparación de enchufe, entre otros servicios. 4 eventos gratis al año, con tope de hasta 2 UF dependiendo el siniestro.</h2>
                       <h3>Reparaciones Básicas Hogar</h3>
                       
                       <p>El objetivo es brindar un servicio de urgencia de reparaciones básicas, en el hogar del asegurado, con un tope de 4 eventos anuales.<br>
						El Servicio consistirá en evaluar y rearar los siguientes desperfectos con los siguientes límites:</p>
                   	
                   	<ul>
                   		<li>Filtración de llave: Cambio de gomas de las llaves o cambio de la llave hasta un tope de UF 2.</li>
                   		<li>Filtración de Sifón: Mantención del sifón, destaparlo, cambio de pieza y soldadura con un tope de UF1.</li>
                   		<li>Filtración WC: cambio de flaper hasta un tope de UF 1.</li>
                   		<li>Destape de WC, Lavamanos, Lavaplatos, Tina: Introducir máquina para liberar la descarga hacia el alcantarillado.</li>
                   		<li>Filtración de Cañería a la vista: Reparación de cañería, cambio de pieza y soldadura hasta un tope de UF 2.</li>
                   		<li>Reparación de enchufe: Revisión de electricidad en enchufe y reposición o cambio de enchufe hasta tope de UF 1.</li>
                   		<li>Reparación de soquete: Revisión de electricidad en interruptor y reposición o cambio de enchufe hasta tope de UF 1.</li>
                   		<li>Cambio de vidrio: Se reemplaza vidrio quebrado hasta tope de UF 2.</li>
                   	</ul>
                   	
                   	<h3>Exclusiones</h3>
                   	<p>Quedan excluidas de la presente cobertura:</p>
                   	<ul>
                   		<li>Vidriería: Todos los vidrios de separaciones o puertas interiores. Rotura y fizuras de mobiliario, espejos, adornos, loza u otros que sean de vidrio o cristal.</li>
                   		<li>Electricidad: La reparación propia de elementos de iluminación, tales como lámparas, ampolletas o fluorescentes. La reparación de averías propias de aparatos de calefacción, electrodomésticos y, en general, cualquier avería propia de un aparato que funcione por suministro eléctrico.</li>
                   		<li>Plomería: La reparación de averías o fallas de cañería, estanques, llaves u otras instalaciones fijas de agua que no se encuentren dentro o no pertenezcan a la vivienda o inmueble asegurado. La reparación de averías o fallas de cualquier elemento ajeno a las cañerías, estanques, llaves u otras instalaciones fijas de agua de la vivienda o inmueble asegurado. La reparación de calderas, calefactores, equipos de aire acondicionado o de calefacción central y, en general, de cualquier artefacto electrodoméstico que opere conectado a las cañerías de agua.</li>
                   	</ul>
                   	
                   	
                    
                     </div>
                 </div>
          </div>
        </div>
      </div>
    <!--FIN MODAL--> 
    
    
    
    <!--INICIO MODAL 10-->
    <div class="remodal dimen_modal_fichas" data-remodal-id="Modal_10" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">   
        <button class="remodal-close" data-remodal-action="close" aria-label="Close">  </button>
        <div class="c-modal__wrap pading_modal">
          
          <div class="row">
              <div class="col-lg-12">
                  <div class="o-features__featTitle">
                       <h2 >Revisión de vehículo por vacaciones</h2>
                       <p>El objetivo es brindar un servicio de inspección del vehículo asegurado previo a iniciar las vacaciones. El servicio brindará al asegurado una revisión general del estado del vehículo, en los siguientes ámbitos: <strong>Frenos, Neumáticos, Luces, Líquidos y Otros</strong></p>
                       <p>El Servicio indicará al asegurado si el vehículo se encuentra en condiciones de realizar el viaje y cuáles son los elementos que debe el cliente mejorar para que el vehículo cuente con las condiciones.</p>
                   		
                   		<ul>
                   			<li>El cliente deberá coordinar el servicio con una semana de anticipación.</li>
                   			<li>El servicio tiene un tope de 2 eventos anuales y se realiza en taller de conveni</li>
                   			<li>En caso de detectar fallas se orientará al cliente sobre las reparaciones a realizar a su vehículo, sin embargo estas reparaciones serán de responsabilidad y costo del cliente.</li>
                   			<li>Este servicio es de inspección al vehículo y no incluye el traslado del mismo.</li>
                   		</ul>
                   	
                    
                     </div>
                 </div>
          </div>
        </div>
      </div>
    <!--FIN MODAL--> 
    
    <!--INICIO MODAL 11-->
    <div class="remodal dimen_modal_fichas" data-remodal-id="Modal_11" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">   
        <button class="remodal-close" data-remodal-action="close" aria-label="Close">  </button>
        <div class="c-modal__wrap pading_modal">
          
          <div class="row">
              <div class="col-lg-12">
                  <div class="o-features__featTitle">
                       <h2 >Orientación legal telefónica en la realización de trámites en registro civil y municipales, dado el uso del vehículo.</h2>
                       <h3>Inspección vehículo por vacaciones</h3>
                       <p>Legal Chile, empresa de ayuda en ámbitos legales entrega orientación, asesorías y representación judicial en distintas materias. Incluye servicio de orientación legal telefónica o vía mail en horario hábil, que cubre el 100% de honorarios de abogados en las siguientes prestaciones:</p>
                   		<ul>
                   			<li>a) Trámites del vehículo que se realizan ante el Registro Civil: Obtención de patente, pérdida y duplicado, inscripción del vehículo en Registro Nacional de Vehículos Motorizados (vehículo nuevo y usado).</li>
                   			<li>b) Trámites y plazos para el cambio de inscripción del vehículo en el Registro Civil : Constitución y alzamiento de prendas sobre el vehículo asegurado, certificado de anotaciones vigentes, transferencias, cambio de domicilio de propietario, cambio de características del vehículo (cambio de color, chasis, etc.),trámites del vehículo que se realizan ante las Municipalidades, permiso de circulación y duplicados, licencias de conducir y duplicados.</li>
                   			<li>c) Orientación legal en otras materias: atenciones de urgencia, tramites a realizar en el Instituto Médico Legal, seguro obligatorio de accidente de tránsito y otros seguros del vehículo y trámites asociados a TAG.</li>
                   			
                   		</ul>
  		                  
                     </div>
                 </div>
          </div>
        </div>
      </div>
    <!--FIN MODAL--> 
    
    <!--INICIO MODAL 12-->
    <div class="remodal dimen_modal_fichas" data-remodal-id="Modal_12" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">   
        <button class="remodal-close" data-remodal-action="close" aria-label="Close">  </button>
        <div class="c-modal__wrap pading_modal">
          
          <div class="row">
              <div class="col-lg-12">
                  <div class="o-features__featTitle">
                       <h2 >Te apoyamos cuando tengas infracciones ante el juzgado de policía local, tramitando el pago y retiro de la licencia de conducir.</h2>
                       <h3>Asesoría legal y tramitación de documentos</h3>
                       <h4>Legal Chile, ofrece asistencia legal que cubre el 100% de honorarios de abogados en la realización de las siguientes gestiones:</h4>
                       
                       <ul>
                       	<li>a) Infracciones a la ley de transito: Recepción del parte, solicitud de formulario de pago al juzgado de policía local correspondiente, pago del parte en tesorería comunal, solicitud de aplicación de rebaja automática del 25% de la multa, acreditación del pago en el juzgado de policía local y solicitud de devolución de documentos cuando corresponda, solicitud de exhorto al juzgado de policía local correspondiente en caso de infracciones cursadas fuera del territorio jurisdiccional del domicilio del cliente o fuera de la Región Metropolitana, presentación de escritos de reconsideración de multa ante el juez de policía local correspondiente.</li>
                       	<li>b) Representación simple: En la solicitud de libertad provisional bajo fianza del asegurado en caso que sea detenido a consecuencia de la participación del automóvil en un accidente de tránsito y en casos de reclamos contra el vendedor o distribuidor de vehículos en relación con aspectos garantizados por la Ley de Protección a los Derechos del Consumidor.</li>
                       	<li>c) Solicitudes de inscripción del vehículo en el Registro Nacional de Vehículos Motorizados: Escrituras de constitución y alzamiento de prendas sobre el vehículo e inscripción de las mismas en los registros correspondientes. Nota: Las asesorías en que se requiera representación formal serán efectuadas por los abogados previa firma de mandato o poder por parte del cliente.</li>
                       	<li>asegurado, juicios civiles, representación del asegurado como solicitante en procesos de regularizaciones de inscripción de vehículos motorizados, representación judicial del asegurado como demandante en juicio de indemnización de perjuicios por daños originados en defectos del vehículo por falta de cumplimiento de garantía, representación judicial del asegurado como demandante o demandado en juicios indemnizatorios por daños en los bienes causados en choque o accidentes de tránsito.</li>
                       	<li>e) Juicios Penales: Representación del conductor del vehículo asegurado como querellante en procesos penales por cuasidelitos de lesiones u homicidio.</li>
                       	<li>f) Juicios de Policía Local: Representación del conductor como demandante o demandado en juicios por daños causados en choque o accidentes de tránsito, representación judicial del conductor en procesos seguidos por infracciones a la ley de tránsito , representación del asegurado como demandante en juicios por Ley de Protección a los Derechos del Consumidor en caso de falta de cumplimiento de la garantía del vehículo.</li>
                       </ul>
                       
                       <h4>Exclusiones del servicio de Orientación Legal No habrá cobertura en los siguientes casos:</h4>
                       
                       <ul>
                       	<li>Atención de asuntos ocurridos antes de la entrada en vigencia del contrato.</li>
                       	<li>Atención de asuntos regidos por una legislación distinta a la chilena.</li>
                       	<li>Acciones contra Bancos e Instituciones Financieras, Compañía de Seguro y Corredoras de Seguros.</li>
                       	<li>Representación simple de Libertad provisional que deban tramitarse fuera de la Región Metropolitana y las ciudades de Valparaíso y Viña del Mar.</li>
                       </ul>
                   	
                   		<p>Nota Legal Chile se reserva el derecho de inhabilitarse en el caso de que ambas partes sean clientes. Además, todas las asesorías se efectuarán por los abogados de Legal Chile en sus oficinas de Santiago, correspondiendo al asegurado las gestiones de suscripción notarial de los instrumentos y sus correspondientes inscripciones y publicaciones, según corresponda.</p>
  		                  
                     </div>
                 </div>
          </div>
        </div>
      </div>
    <!--FIN MODAL--> 
    
    <!--INICIO MODAL 13-->
    <div class="remodal dimen_modal_fichas" data-remodal-id="Modal_13" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">   
        <button class="remodal-close" data-remodal-action="close" aria-label="Close">  </button>
        <div class="c-modal__wrap pading_modal">
          
          <div class="row">
              <div class="col-lg-12">
                  <div class="o-features__featTitle">
                       <h2 >Asistencia médica por Accidente Vehicular</h2>
                       <p>MOK prestará la asistencia y/o reembolsará los gastos médicos cómo tope 40 UF en caso de accidente vehicular efectivamente incurridos por el asegurado a causa de un evento (Quedan sin coberturas lesiones provocadas por riñas) en los siguientes términos y condiciones:</p>
                       <ul>
                       	<li>El límite por evento operará después de la cobertura de Isapre, FONASA u otros seguros complementarios de salud</li>
                       	<li>En el caso de accidente automotriz, debe cubrirse los gastos por el seguro SOAP.</li>
                       	<li>En caso que el beneficiario no posea ninguna cobertura de salud o si no hace uso del sistema previsional de salud, la asistencia y/o reembolso de gastos médicos se limitará a un 50% de los gastos Médicos efectuados hasta el tope de la cobertura</li>
                       	<li>Límite de UF 40 por evento, 2 eventos al año (tope anual UF 80)</li>
                       	<li>Queda expresamente establecido que la asistencia y/o reembolso de gastos médicos será prestada directamente a través de la central de asistencia, siempre que los beneficiarios sigua los procedimientos señalados en la póliza.</li>
                       </ul>
                       
                       <p>El Procedimiento del reembolso de los gastos médicos funciona en caso de que el o los beneficiarios sufran un accidente, se comunican con el Callcenter 24/7 los 365 días del año. Se coordina el traslado que puede ser Ambulancia o medio de transporte más idóneo dependiendo la gravedad. El traslado es a los centros de la Mutual de Seguridad y/o Asociación Chilena de Seguridad (ACHS) y Clínicas en convenio a nivel nacional. En caso que el o los beneficiario opten por atenderse en otro centro médico público o privado, éste podrá solicitar el reembolso de los Gastos Médicos hasta el límite de 40 UF anual. El límite por Evento operará después de la cobertura de ISAPRE, FONASA u otros seguros complementarios de salud. En el caso de accidente automotriz, debe pasar los gastos por el seguro SOAP. En caso que el beneficiario no posea ninguna cobertura de salud o si no hace uso del sistema previsional de salud, la Asistencia y/o reembolso de Gastos Médicos se limitará a un 50% de los Gastos Médicos efectuados hasta el tope de la cobertura.</p>
                       
                       <p><em>* En caso de que se atiendan en forma particular o por sus propios medios, el o los beneficiarios deben entregar los documentos originales al correo: <a href="mailto:atencionclientes@grupomok.com">atencionclientes@grupomok.com</a>, y se gestionará la transferencia dentro de 15 días hábiles.</em></p>
                       
                       
                </div>
                 </div>
          </div>
        </div>
      </div>
    <!--FIN MODAL--> 
    
    <!--INICIO MODAL 14-->
    <div class="remodal dimen_modal_fichas" data-remodal-id="Modal_14" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">   
        <button class="remodal-close" data-remodal-action="close" aria-label="Close">  </button>
        <div class="c-modal__wrap pading_modal">
          
          <div class="row">
              <div class="col-lg-12">
                  <div class="o-features__featTitle">
                       <h2 >Servicios de mecánica ligera</h2>
                    	<p>Si una avería o accidente impidiera que el vehículo asegurado circule por sus propios medios, el servicio de asistencia proporcionará la ayuda técnica necesaria para intentar reparación de emergencia, a fin de que este pueda continuar su viaje.</p>
                       	<p>Los servicios de mecánica ligera incluidos son:</p>
                       	
                       	<ul>
                       		<li><strong>Cambio de neumáticos:</strong> servicio destinado a asistir físicamente al beneficiario en el cambio del neumático. El neumático debe ser provisto por el dueño del vehículo a la hora de entregar el servicio. Cobertura ilimitada en cuanto a número de eventos</li>
                       		<li><strong>Asistencia por panne de batería:</strong> el servicio consiste en realizar un puente eléctrico con el vehículo inmovilizado para activar su batería. No incluye la batería. Cobertura ilimitada en cuanto a número de evento</li>
                       		<li><strong>Abastecimiento de combustible por panne:</strong> se entregarán 5 litros, sin costo para el cliente, si el vehículo se encuentra a más de 10 Km. del hogar, contada dicha distancia desde el domicilio del asegurado que figure en la póliza. Cubre 3 eventos al año.</li>
                       		<li><strong>Apertura del vehículo por pérdida de llaves:</strong> la entrega de este servicio es a responsabilidad del beneficiario, dado los posibles daños que pudiese ocurrirle al cierre centralizado del auto o a los vidrios del mismo. Cobertura ilimitada en cuanto a número de eventos.</li>
                       		<li><strong>Reparación in situ: </strong>Si a causa de una avería, el vehículo asegurado no pudiera seguir circulando por sus propios medios, el servicio de asistencia proporcionará la ayuda técnica necesaria para intentar la reparación de emergencia, a fin de que pueda continuar su viaje. Cobertura comprende 3 eventos al año, considerando las siguientes reparaciones:
                       			
                       			<ul>
                       				<li>Reemplazo de fusibles</li>
                       				<li>Reemplazo de correas (excepto correas de distribución)</li>
                       				<li>Ajuste de piezas menores </li>
                       				<li>Problema en el encendido</li>
                       				<li>Malfuncionamiento de alarmas</li>
                       				<li>Refrigeración</li>
                       				<li>Problemas de embrague</li>
                       				<li>Problemas de transmisión, frenos, dirección</li>
                       				<li>Fallas eléctricas menores</li>
                       			</ul>

                       		</li>
                       	</ul>
                       	
                       	<p>El alcance de esta reparación no superará el correspondiente a media hora de mano de obra, contempla reparaciones susceptibles de ser ejecutadas en el lugar de inmovilización del vehículo y está sujeto a las condiciones y características técnicas del vehículo. Este servicio se otorga bajo exclusiva responsabilidad del asegurado. No incluye costo de los repuestos. En caso de no poder ser realizada la reparación en el lugar de avería en un máximo de 30 minutos, el asegurado deberá hacer uso del servicio de Grúa para trasladar el vehículo al destino que él determine.</p>
                       	
                       	
                </div>
                 </div>
          </div>
        </div>
      </div>
    <!--FIN MODAL--> 
    
    
    <!--INICIO MODAL 15-->
    <div class="remodal dimen_modal_fichas" data-remodal-id="Modal_15" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">   
        <button class="remodal-close" data-remodal-action="close" aria-label="Close">  </button>
        <div class="c-modal__wrap pading_modal">
          
          <div class="row">
              <div class="col-lg-12">
                  <div class="o-features__featTitle">
                       <h2 >Taxi S.O.S ida y vuelta</h2>
                    	<p>En caso de que el Asegurado solicite este servicio debido a que ha ingerido alcohol o básicamente se encuentre incapacitado para poder manejar, MOK pondrá a disposición un Taxi ida y vuelta que lo irá a buscar y a dejar al destino programado. El traslado es de un origen a un destino.</p>
                       	<h3>Limites</h3>
                       	<p>Cada trayecto tiene un Tope máximo 20 km o 60 min, lo primero que ocurra. Los excedentes son de cargo del asegurado, quien debe pagar directamente al chofer o previa transferencia bancaria al solicitar la asistencia.</p>
                       	
                       	<h3>Condiciones Particulares:</h3>
                       	
                       	<ul>
                       		<li>El servicio esperará al cliente un máximo de 15 minutos desde la hora de llegada acordada.</li>
                       		<li>El cliente tiene 24 hrs para programar la vuelta y no necesariamente es origen – destino –origen.</li>
                       		<li>La diferencia que exceda el Tope máximo por trayecto y que marque el taxímetro, es de exclusiva responsabilidad del cliente pagar al conductor.</li>
                       		<li>Límite de eventos: 6 eventos por año de vigencia sin costo para el Asegurado.</li>
                       		<li>El viaje de ida se debe solicitar con 2 hrs de anticipación.</li>
                       		<li> El regreso se debe solicitar dentro del plazo tope de 24 hrs con 2 horas de anticipación.</li>
                       		<li>El costo del TAG, peajes, estacionamiento aeropuerto u otro es de exclusiva responsabilidad del cliente.</li>
                       	</ul>
                       	
                       	
                </div>
                 </div>
          </div>
        </div>
      </div>
    <!--FIN MODAL--> 