.body_header {
	padding: 0;
	margin: 0;
	background: url(../img/fondo_multisitios.jpg) repeat-x;
	background-color: #F5F5F5;

}

.contenido_header {
	width: 987px;
	height: 161px;
	display: block;
	position: relative;
	margin: 0 auto;
	padding: 0;
}

.multisitio_header {
	width: 987px;
	height: 25px;
	display: block;
	float: left;
	position: relative;
	margin: 0;
	padding: 0;
}

.bienvenido_body {
	width: 520px;
	height: 35px;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
}

.bienvenido_contenido {
	width: 520px;
	height: 35px;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
}

.bienvenido_header {
	width: auto;
	height: 16px;
	display: block;
	float: left;
	margin-top: 19px;
	padding-left: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666;
}

.bienvenido_header span {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#019EE3;
}

.cerrar_sesion a {
	width: auto;
	height: 14px;
	display: block;
	float: left;
	margin-left: 10px;
	margin-top: 19px;
	padding-top:2px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666;
}

.cerrar_sesion a:hover {
	text-decoration:underline;
}

.separacion_1_header {
	width: 465px;
	height: 35px;
	display: block;
	float: left;
	position: relative;
	margin: 0;
	padding: 0;
}

.separacion_2_header {
	width: 987px;
	height: 30px;
	display: block;
	float: left;
	position: relative;
	margin: 0;
	padding: 0;
	height: 10px;
}

.separacion_3_header {
	width: 987px;
	height: 8px;
	display: block;
	float: left;
	position: relative;
	margin: 0;
	padding: 0;
}

.logo_header {
	width: 465px;
	height: 90px;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	position: relative;
	background: url(../img/logo.png) no-repeat;
}

.sucursales_header {
	width: 70px;
	height: 33px;
	display: block;
	float: left;
	position: relative;
	margin-top: 20px;
	text-decoration:none;
}

.sucursales_header span {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#666;
	text-decoration:none;
}

.sucursales_header span a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#666;
	text-decoration:none;
}

.sucursales_header span a:hover {
	color:#666;
}

.sac_header {
	height: 33px;
	display: block;
	float: left;
	position: relative;
	margin-top: 15px;
	padding-left: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #019EE3;
	text-align: left;
}

.sac_header a {
	height: 33px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #019EE3;
	text-decoration:none;
}

.sac_header a:hover {
	height: 33px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #ee8600;
}

.sac_header span{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#666;
}

.sac_header span a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#666;
	text-decoration:none;
}

.sac_header span a:hover {
	color:#666;
}

/* MENU */

.body_menu {
	padding: 0;
	margin: 0;
	background-color:#019EE3;
}

.menu_contenido_header {
	width: 987px;
	height: 33px;
	display: block;
	position: relative;
	margin: 0 auto;
	padding: 0;
	z-index: 1000;
}

.menu_header {
	width: 987px;
	height: 33px;
	display: block;
	float: left;
	position: relative;
	margin: 0;
	padding: 0;
}

#menu ul { 
list-style-type: none;
height: 33px;
}

#menu ul li.nivel1 { 
float: left;
width: 123px;
height: 20px;
}

#menu ul li a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	display: block;
	text-decoration: none;
	color: #fff;
	background-color: #019EE3;
	position: relative;
}

#menu ul li:hover {
	position: relative;
}

#menu ul li a:hover, #menu ul li:hover a.nivel1 {
	background-color: #0299db;
	color: #FFF;
	position: relative;
}

#menu ul li a.nivel1 {
display: block!important;
display: none;
position: relative;
height:25px;
padding-top: 8px;
}

#menu ul li ul {display: none;
}

#menu ul li a:hover ul, #menu ul li:hover ul {
display: block;
position: absolute;
left: 0px;
}

#menu ul li ul li a {
height: 16px;
padding: 5px 8px;
}

#menu ul li ul li a:hover {
position: relative;
}

/* HEADER MULTISITIOS */

#visita {
	float: left;
	height: 25px;
	width: 145px;
	margin-left: 40px;
	background: url(https://www.seguroscencosud.cl/vseg-paris/images/header_multisitio_03.jpg) no-repeat center top;
	display: block;
}
#paris a{
	float: left;
	height: 25px;
	width: 79px;
	margin-left: 25px;
	background: url(https://www.seguroscencosud.cl/vseg-paris/images/header_paris.jpg) no-repeat center top;
	display: block;
}
#paris a:hover{
	float: left;
	height: 25px;
	width: 79px;
	margin-left: 25px;
	background: url(https://www.seguroscencosud.cl/vseg-paris/images/header_paris_hover.jpg) no-repeat center top;
	display: block;
}
#paris a.active{
	float: left;
	height: 25px;
	width: 79px;
	margin-left: 25px;
	background: url(https://www.seguroscencosud.cl/vseg-paris/images/header_paris_hover.jpg) no-repeat center top;
	display: block;
}
#jumbo a{
	float: left;
	height: 25px;
	width: 80px;
	background: url(https://www.seguroscencosud.cl/vseg-paris/images/header_jumbo.jpg) no-repeat center top;
	display: block;
}
#jumbo a:hover{
	float: left;
	height: 25px;
	width: 80px;
	background: url(https://www.seguroscencosud.cl/vseg-paris/images/header_jumbo_hover.jpg) no-repeat center top;
	display: block;
}
#jumbo a.active{
	float: left;
	height: 25px;
	width: 80px;
	background: url(https://www.seguroscencosud.cl/vseg-paris/images/header_jumbo_hover.jpg) no-repeat center top;
	display: block;
}
#easy a{
	background: url(https://www.seguroscencosud.cl/vseg-paris/images/header_easy.jpg) no-repeat center top;
	display: block;
	float: left;
	height: 25px;
	width: 79px;
}
#easy a:hover{
	background: url(https://www.seguroscencosud.cl/vseg-paris/images/header_easy_hover.jpg) no-repeat center top;
	display: block;
	float: left;
	height: 25px;
	width: 79px;
}
#easy a.active{
	background: url(https://www.seguroscencosud.cl/vseg-paris/images/header_easy_hover.jpg) no-repeat center top;
	display: block;
	float: left;
	height: 25px;
	width: 79px;
}
#tarjetas a{
	background: url(https://www.seguroscencosud.cl/vseg-paris/images/header_tarjetas.jpg) no-repeat center top;
	display: block;
	float: left;
	height: 25px;
	width: 100px;
}
#tarjetas a:hover{
	background: url(https://www.seguroscencosud.cl/vseg-paris/images/header_tarjetas_hover.jpg) no-repeat center top;
	display: block;
	float: left;
	height: 25px;
	width: 100px;
}
#tarjetas a.active{
	background: url(https://www.seguroscencosud.cl/vseg-paris/images/header_tarjetas_hover.jpg) no-repeat center top;
	display: block;
	float: left;
	height: 25px;
	width: 100px;
}
#seguros a{
	background: url(https://www.seguroscencosud.cl/vseg-paris/images/header_seguros.jpg) no-repeat center top;
	display: block;
	float: left;
	height: 25px;
	width: 100px;
}
#seguros a:hover{
	background: url(https://www.seguroscencosud.cl/vseg-paris/images/header_seguros_hover.jpg) no-repeat center top;
	display: block;
	float: left;
	height: 25px;
	width: 100px;
}
#seguros a.active{
	background: url(https://www.seguroscencosud.cl/vseg-paris/images/header_seguros_hover.jpg) no-repeat center top;
	display: block;
	float: left;
	height: 25px;
	width: 100px;
}

#banco a{
	background: url(https://www.seguroscencosud.cl/vseg-paris/images/header_banco.jpg) no-repeat center top;
	display: block;
	float: left;
	height: 25px;
	width: 100px;
}
#banco a:hover{
	background: url(https://www.seguroscencosud.cl/vseg-paris/images/header_banco_hover.jpg) no-repeat center top;
	display: block;
	float: left;
	height: 25px;
	width: 100px;
}
#banco a.active{
	background: url(https://www.seguroscencosud.cl/vseg-paris/images/header_banco_hover.jpg) no-repeat center top;
	display: block;
	float: left;
	height: 25px;
	width: 100px;
}

#puntos a {
    background: url(https://www.seguroscencosud.cl/vseg-paris/images/header_puntos.jpg) no-repeat scroll center top transparent;
    display: block;
    float: left;
    height: 25px;
    width: 80px;
}

#puntos a:hover{
	background: url(https://www.seguroscencosud.cl/vseg-paris/images/header_puntos_hover.jpg) no-repeat center top;
	display: block;
	float: left;
	height: 25px;
	width: 80px;
}
#puntos a.active{
	background: url(https://www.seguroscencosud.cl/vseg-paris/images/header_puntos_hover.jpg) no-repeat center top;
	display: block;
	float: left;
	height: 25px;
	width: 80px;
}

#venta_empresas a{
	background: url(https://www.seguroscencosud.cl/vseg-paris/images/header_ventaempresas.jpg) no-repeat center top;
	display: block;
	float: left;
	height: 25px;
	width: 100px;
}
#venta_empresas a:hover{
	background: url(https://www.seguroscencosud.cl/vseg-paris/images/header_ventaempresas_hover.jpg) no-repeat center top;
	display: block;
	float: left;
	height: 25px;
	width: 100px;
}
#venta_empresas a.active{
	background: url(https://www.seguroscencosud.cl/vseg-paris/images/header_ventaempresas_hover.jpg) no-repeat center top;
	display: block;
	float: left;
	height: 25px;
	width: 100px;
}
