* { 
margin: 0px;
padding: 0px; 
}

.body_footer {
	padding: 0;
	margin: 0;
	background-color: #F5F5F5;
		display:block;
		float:left;
					width: 100%


}

.contenido_footer {
	width: 987px;
	height: 390px;
	display: block;
	position: relative;
	margin: 0 auto;
	padding: 0;
		background-color:#F5F5F5;
					width: 100%


}

.footer_contenido {
	width: 987px;
	height: 180px;
	display: block;
	margin: 0 auto;
	padding: 8px 0 15px 0;
}

.footer_contenido ul {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #999;
}

.footer_contenido ul li {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFF;
	list-style:none;
	margin:5px 0;
	padding:0;
}

.footer_contenido ul li a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #999;
	list-style: none;
	margin: 5px 0;
	padding: 0;
	text-decoration: none;
}

.footer_contenido ul li a:hover {
	color: #666;
	text-decoration: underline;
}

.columnas_footer {
	height:180px;
	display:block;
	float:left;
	margin:0;
	padding:0;
}

.sep_footer {
	width: 10px;
	height: 180px;
	display: block;
	margin: 0;
	padding: 0;
	float: left;
	background:url(../img/sep_footer.png) no-repeat;
}

.sep_footer_final {
	width: 10px;
	height: 180px;
	display: block;
	margin: 0;
	padding: 0;
	float: left;
	background:url(../img/sep_footer_final.png) no-repeat;
}

#img_preocupadosporti {
	width: 266px;
	height: 60px;
	display: block;
	float: left;
	margin-top: 11px;
	margin-bottom:11px;
	padding: 0;
}

.medio_pago {
	width: 100%;
	height: 95px;
	display: block;
	margin: 0 auto;
	padding: 0;
	background-color: #F5F5F5;
}

.medio_pago_contenido {
	width: 987px;
	height: 85px;
	display: block;
	margin: 0 auto;
	padding: 0;
}

.medio_pago_info {
	width: 95px;
	height: 14px;
	display: block;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #999;
	margin: 0;
	padding: 10px 11px;
}

.medio_pago_esp {
	width: 145px;
	height: 55px;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
}

.medio_pago_sep {
	width: 987px;
	height: 15px;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	background-image: url(../img/line_sep.jpg);
}

.copyright {
	width: 100%;
	height: 60px;
	display: block;
	margin: 0 auto;
	padding: 0;
	background-color: #F5F5F5;
}

.copyright_contenido {
	width: 987px;
	height: 60px;
	display: block;
	margin: 0 auto;
	padding: 0;
}

.copyright_info {
	width: 230px;
	height: 10px;
	display: block;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #999;
	margin-top: 10px;
	padding: 10px;
}

.copy_sep {
	width: 10px;
	height: 30px;
	display: block;
	float: left;
	background: url(../img/copy_sep.png) no-repeat;
	margin-top: 10px;
	padding: 0;
}

.copy_esp {
	width: 50px;
	height: 30px;
	display: block;
	float: left;
	margin-top: 10px;
	padding: 0;
}

.navegador_info {
	width: 455px;
	height: 10px;
	display: block;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #999;
	margin-top: 10px;
	padding: 10px;
}

.secure_info {
	width: 180px;
	height:60px;
	display: block;
	float: left;
	margin:0;
	padding:0;
	background:url(../img/GlobalSign.png) no-repeat;
}
