@charset "UTF-8";
/* CSS Document */

section, article {
	display:block;
	font-weight:300 !important;
	letter-spacing:1px;
}

strong {
	font-weight:500 !important;
}

#intro_autoplay {
	margin-top:150px;
	margin-bottom:30px;
}

#intro_autoplay, #centro_autoplay, desenlace_autoplay {
	width: 100%; /* 960px */
	margin-left:auto;
	margin-right:auto;
}

#contenido_autoplay {
	width:960px;
	margin:0px auto;
	overflow:hidden;
}
.legal {
	
	color:#666;
	font-size:15px!important;
	line-height:15px;
	font-family: Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial," sans-serif";
	text-align: center;
	padding-bottom: 20px;
}

.legal2 {
	color:#666;
	margin-left: auto;
	margin-right: auto;
	font-size:12px!important;
	line-height:14px;
	font-family: Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial," sans-serif";
	width: 80%;
	text-align: justify;
	
}
.titulo_autoplay {
	color:#019ee3;
	font-size:36px;
	line-height:38px;
}

.titulo_autoplay img {
	width:296px !important;
	height: auto;
	display:block;
	margin-bottom:20px;
}

.bajada_autoplay, .app_autoplay, .tit_centro, .res_centro {
	color:#666;
}

.bajada_autoplay {
	/* font-size:16px; */
	margin-top:15px;
	text-transform: uppercase;
}

.bajada_autoplay strong {
	color:#FB802B;
}

.app_autoplay {
	margin-top: 15px;
    font-size: 16px;
    display: inline-block;
    line-height: 26px;
    text-transform: uppercase;
}

.app_autoplay img {
	height:90px;
	float:right;
	display:inline-block;
	vertical-align:middle;
	margin-right:30px;
	margin-left:0px !important;
	margin-top:0px !important;
}

.col_2_autoplay .retail {
	margin-top:2px !important;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.col_2_autoplay {
	width:460px;
	float:left;
	margin-left:10px;
	margin-right:10px;
}
.col_4_autoplay .retail {
	margin-top:2px !important;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.col_2_autoplay .cell_img {
	width:100%;
}

.col_4_autoplay {
	width:220px;
	float:left;
	margin-left:10px;
	margin-right:10px;
}

.col_4_autoplay .cell_img {
	width:100%;
}
#promo_4_autoplay{
	background-color: #f9f9f9;
	}
#centro_autoplay {
	padding-top:50px;
	padding-bottom:50px;
	background-color:#EEE;
}

#centro_autoplay .tit_centro {
	font-size:21px;
	padding-bottom:15px;
}

#centro_autoplay .res_centro {
	font-size:16px;
	float:left;
}

.res_centro .icon_autoplay {
	width:62px;
	float:left;
	margin-top:0px;
	margin-left:0px;
}

#centro_autoplay .img_centro {
	width:400px;
}

.info_icono {
	float:right;
	width:80%;
}

.info_icono ul li {
	font-weight:500;
}

#desenlace_autoplay img {
	width:100%;
}

.text_centro {
	width:960px;
	margin:0px auto;
}

.text_centro p {
	text-align:center;
	font-size:24px;
	margin-top:30px;
	margin-bottom:20px;
}