@charset "UTF-8";

.caja_banner {
	background-color:rgba(0,0,0,.6);
	padding:15px;
	width:60%;
}

.slider_bck {
	background-position: center right;
	background-repeat: no-repeat;
	background-size: cover;
}

.slider_bck:after {
	overflow: hidden;
	width: 100%;
	height: 100px;
	z-index: -1;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
}

@media only screen and (min-width: 993px) {

.banner_interno {
	background-color:rgba(0,0,0,.6);
	padding:15px;
	width:60%;
}

.banner_interno .o-advertising__text--big {
	width:100%;
}

}

@media only screen and (min-width: 0px) and (max-width: 740px) {

.slider .o-advertising {
	height:400px;
}

.slider .o-advertising .u-center {
	padding:0px;
}

.slider .o-advertising .u-center {
	top:150px;
	transform:translateY(0px);
	-webkit-transform:translateY(0px);
}

.caja_banner {
	width:100%;
	padding-left:30px;
	padding-right:30px;
	background-color:rgba(0,0,0,.05);
}

.caja_banner h1 {
	font-size:26px;
	line-height:29px;
	color:#666666;
}

.caja_banner h3 {
	font-size:10px;
	color:#FFF;
}

.caja_banner p {
	font-size:14px;
	color:#666666;
}

.caja_banner small {
	color:#666666;
}

.caja_banner .o-advertising__btn {
	border:none;
	background-color: #FB802F;
    color: #FFF;
    font-weight: 500;
}

.caja_banner .o-advertising__link {
	color:#019EE3;
}

.u-line {
	border-top:1px solid #666;
}

o-advertising__actions {
	padding-top:10px !important;
}

.slick-track {
	height:400px;
}

.slick-track .slider_bck {
	height:150px !important;
}

.o-advertising__actions .o-advertising__btn {
	padding:10px;
}


}