body {
	margin:0;
	padding:0;
}

#contenido_formcot {
	width: 678px;
	height: 350px;
	display: block;
	padding: 0;
	margin: 0;
}

#titulo_formcot {
	width: 658px;
	height: 74px;
	display: block;
	float: left;
	margin: 10px;
	border-bottom:1px solid #CCC;
}

#titulo_formcot p {
	font-family: Century Gothic, Helvetica, Arial, sans-serif;
	font-size: 21px;
	color: #999;
	margin: 0;
	padding: 0;
}

#titulo_formcot p strong{
	font-family: Century Gothic, Helvetica, Arial, sans-serif;
	font-size: 36px;
	color: #06b0e8;
	margin: 0;
	padding: 0;
}

#campo_total {
	width: 658px;
	height: 40px;
	display: block;
	float: left;
	margin:0;
	padding:0;
}

#campos_formcot {
	width: 658px;
	height: 210px;
	display: block;
	float: left;
	margin: 0 10px;
}

#box_formcot {
	height: 30px;
	display: block;
	float: left;
	margin: 5px 0;
	padding: 0;
}

#box_formcot p {
	font-family: Century Gothic, Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: #999;
	margin: 0;
	padding: 0;
}

#box_formcot p input {
	width: 115px;
	height: 20px;
	border: #CCC 1px solid;
	float: left;
	margin: 0 5px;
}

#box_formcot_ver {
	height: 30px;
	display: block;
	float: left;
	margin: 5px 0;
	padding: 0;
}

#box_formcot_ver p {
	font-family: Century Gothic, Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: #999;
	margin: 0;
	padding: 0;
}

#box_formcot_ver p input {
	width: 25px;
	height: 20px;
	border: #CCC 1px solid;
	float: left;
	margin: 0 5px 0 0;
}

#box_formcot_ver p span {
	font-family: Century Gothic, Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-style:italic;
	color: #999;
}


#box_formcot p span {
	font-family: Century Gothic, Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-style:italic;
	color: #999;
}

#box_area_formcot {
	width: 50px;
	height: 30px;
	display: block;
	float: left;
	padding: 0;
}

#box_area_formcot select {
	width: 50px;
	height: 25px;
	float: left;
	border:#CCC 1px solid;
	border-radius: 0;
	font-family: Century Gothic, Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #999;
}

#box_nombre_formcot {
	width: 70px;
	height: 27px;
	display: block;
	float: left;
	margin: 5px 10px;
	padding: 0;
}

#box_nombre_formcot p {
	font-family: Century Gothic, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #999;
	text-align: right;
	margin: 0;
	padding-top: 3px;
}

#bajada_formcot {
	width: 658px;
	height: 21px;
	display: block;
	float: left;
	margin: 10px;
}

#bajada_formcot p {
	font-family: Century Gothic, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #999;
	text-align:center;
	margin: 0;
	padding: 0;
}

#bajada_formcot p strong {
	color: #06b0e8;
}

#box_ejemplo_formcot {
	width: 550px;
	height: 20px;
	display: block;
	float: left;
	font-family: Century Gothic, Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-style: italic;
	color: #999;
	margin: 0 0 0 90px;
}

#btn_enviar_formcot {
	width: 90px;
	height: 27px;
	display: block;
	float: left;
	margin: 10px 10px;
}

#btn_enviar_formcot a {
	width: 90px;
	height: 23px;
	display: block;
	float: left;
	padding-top: 4px;
	font-family: Century Gothic, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #fff;
	text-align:center;
	text-decoration:none;
	background-color:#06b0e8;
}

#btn_enviar_formcot a:hover {
	background-color: #159CDE;
}

#box_gracias_formcot {
	width: 500px;
	height: 27px;
	display: block;
	float: left;
	margin: 5px 10px;
	padding: 0;
}

#box_gracias_formcot p {
	font-family: Century Gothic, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #999;
	text-align: left;
	margin: 0;
	padding-top: 3px;
}

#alerta_formulario {
	width: auto;
	height: 30px;
	display: block;
	float: left;
	margin: 5px 10px;
	padding: 0;
	font-style: italic;
}

.divtexnovalido {
	font-family: Century Gothic, Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #F00;
	margin: 0;
	padding: 0;
}

#box_formcot_ejemplo {
	width: 590px;
	height: 37px;
	display: block;
	float: left;
	margin: 0 25px;
	padding: 0;
	font-family: Century Gothic, Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-style: italic;
	color: #999;
}

#box_ejemplo {
	width: 125px;
	height: 27px;
	display: block;
	float: left;
	margin: 5px 10px;
	padding: 0;
}