body {
	font-weight: normal;
	background-image: url(../imagenes/background-body.gif);
	background-repeat: repeat-x;
	width: 100%;
	height: 100%;
	padding: 0;
	margin-top: 0px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
}
h1 {
	font-size: 20px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-weight: normal;
	margin: 0;
	color: 2d8cc4;
}
h1 span {

}
h2 { color: #4f4c4c; font-size: 16px; font-family: Arial, Verdana, Helvetica, sans-serif; font-weight: normal; text-decoration: none; }
h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
}
h3 {
	color: #2d8cc4;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	text-decoration: none;
}
h3 span {
	color: #999;
	line-height: 0px;
}
h5 {
	color: #b0b0bb;
	font-size: 12px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-weight: normal;
	text-decoration: none;
	text-align: center;
	margin-top: 3;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
}
h6 {
	color: #8c8a8a;
	font-size: 14px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-weight: normal;
	text-decoration: none;
	text-align: right;
	margin: 5px 0 0;
}
p {
	color: #666;
	font-size: 11px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-weight: normal;
	line-height: 120%;
	text-align: left;
	margin: 0 0 0;
	padding: 0;
}
a {
	color: #666;
	text-decoration: none;
}
a:hover {
	color: #7ba7cb;
	text-decoration: none;
	margin-top: 6px;
	text-align: left;
}
/************INICIO CONTENIDO*******/
#content {
	width: 987px;
	clear: both;
	margin: 0 auto;
}
/******Inicio HEADER*******/
#header {
	background-image: url(../imagenes/background-header-trans.png);
	width: 987px;
	clear: both;
}
#menu-top-nuestros { background-image: url(../imagenes/background-menu-top-sucursales.jpg); background-repeat: repeat-x; width: 987px; height: 24px; }
#visita-sitios { height: 24px; float: left; margin-right: 30px; margin-left: 90px; }
#visita-sitios p { padding-top: 6px; }
#visita-sitio-marcas {
	height: 24px;
	float: left;
	width: auto;
}
#inicio-usuario-top { width: 987px; height: 20px; }
#inicio-usuario-top p { padding-top: 6px; }
#usuaruio { height: 20px; float: right; padding-right: 15px; }
#index-house { width: 75px; height: 20px; float: right; }
#logo-logos { width: 987px; height: 82px; }
/******Inncio MENU PRINCIPAL********/
#menu-principal-top { width: 987px; height: 30px; margin: 0; padding: 0; }
#menu-principal {
	width: 688px;
	height: 40px;
	float: left;
	padding-left: 5px;
}
#menu-principal2 {
	width: 692px;
	height: 40px;
	float: left;
}
#btn-numero-top {
	width: 287px;
	height: 40px;
	float: left;
	padding: 0;
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
}
}
#btn-numero-top2 {
	width: 290px;
	height: 40px;
	float: left;
	padding: 0;
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
}
/******FIN MENU PRINCIPAL********/
/******FIN HEADER*******/
/*********CONTENIDO CENTRAL*************/
#cuerpo-central {
	background-image: url(../imagenes/background-cuerpo-central.jpg);
	background-repeat: repeat-x;
	float: left;
	background-color: #EBECE7;
	width: 987px;
	height: auto;
}
#cuerpo-central2 {
	background-image: url(../imagenes/background-cuerpo-central2.jpg);
	background-repeat: repeat-x;
	float: left;
	background-color: #EBECE7;
	width: 987px;
}
#curva-topcont-secciones {
	background-repeat: no-repeat;
	width: 982px;
	height: 12px;
	background-image: url(../imagenes/background-contenido-secciones-trans.png);
}
#curva-bottoncont-secciones {
	background-image: url(../imagenes/curva-botton.jpg);
	background-repeat: no-repeat;
	width: 987px;
	height: 18px;
	float: left;
}
/******CONTENIDO SECCIONES VIDA, VEHICULOS, SALUD, ETC.*****/
#contenido-secciones {
	background-image: url(../imagenes/background-contenido-secciones-trans.png);
	background-repeat: repeat-y;
	width: 983px;
	float: right;
	margin: 0;
	height: auto;
	padding-top: 40px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
}
#seccion-columna-iz {
	width: 375px;
	float: left;
	margin-left: 2px;
	height: 446px;
}
#texto-columna-iz {
	width: 330px;
	margin-right: auto;
	margin-left: auto;
	height: 446px;
}
/**/
#seccion-columna-centro {
	background-repeat: repeat-y;
	width: 370px;
	float: left;
	height: auto;
}
.scroll-contenido-central {
	width: 375px;
	height: 470px;
	overflow: auto;
	margin: 0;
	padding: 0;
}
.scroll-contenido-central2 {
	width: 375px;
	margin: 0;
	padding: 0;
	float: left;
	height: auto;
}
.text-columna-central {
	background-image: url(../imagenes/botton-text-columna-central.jpg);
	background-repeat: no-repeat;
	background-position: 50% bottom;
	width: 330px;
	margin-left: 10px;
	padding-top: 5px;
	padding-bottom: 20px;
	margin-bottom: 5px;
	float: left;
}
.text-columna-central p {
	font-size: 11px;
	padding-left: 12px;
}
.btn-conocer-mas { margin-top: 10px; margin-right: 30px; }
.text-columna-central h3 {
	font-size: 14px;
	margin-top: 0;
	margin-bottom: 5px;
	padding-left: 11px;
	font-weight: bold;
}
.text-columna-central h3 span { color: #ff9e0d; font-weight: bold; }
/***********BOTONES INFERIOR COLUMNA CENTRAL SECCION*******/
#btn-compartir {
	width: 330px;
	height: 20px;
	float: left;
	margin-top: 10px;
}
#btn-compartir a { color: #000; }
#btn-compartir a:hover { color: #7ba7cb; }
/***********FIN BOTONES INFERIOR COLUMNA CENTRAL SECCION*******/
/*****COLUMNA SECCION-DER*******/
#seccion-columna-der {
	width: 190px;
	float: left;
	margin-left: 8px;
	padding-bottom: 25px;
	height: 446px;
}
#login {
	background-image: url(../imagenes/background-caluga-login.jpg);
	width: 172px;
	height: 123px;
	margin-top: 5px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 6px;
	background-repeat: no-repeat;
}
#login_in_ti {
	width: 172px;
	height: 25px;
	margin-top: 3px;
}
#login_in_ti h1 { font-size: 14px; text-align: center; }
#login_dat_in { width: 172px; height: 24px; margin-top: 4px; }
#login_dat_in_per { width: 50px; height: 24px; float: left; }
#login_dat_in_tex {
	height: 24px;
	float: left;
}
#login_dat_in_ir { width: 31px; height: 24px; float: left; margin-left: 4px; }
#login_dat_in_per p { text-align: right; margin-right: 10px; }
#login_dat_in_obten {
	width: 160px;
	height: auto;
	float: left;
}
#login_dat_in_obten p { font-size: 10px; line-height: 150%; margin: 0 0 0 40px; }
#banner-columna-der-01 {
	width: 172px;
	height: auto;
	margin-top: 18px;
	margin-right: auto;
	margin-left: auto;
}
/*****FIN COLUMNA SECCION-DER*******/
/****************CONTENIDO INDEX***********/
#index-content-central { background-color: #e5e5e3; width: 978px; }
#curva-botton-index { background-image: url(../imagenes/curva-botton-index.jpg); background-repeat: no-repeat; width: 985px; height: 8px; float: left; }
#slider-central-index {
	width: 678px;
	height: 394px;
	float: left;
	margin-top: 5px;
	margin-left: 8px;
	background-color: #F00;
}
#columna-der-index { width: 281px; float: right; }
#caluga-mi-seguro-online { background-image: url(../imagenes/fondo-calugas-index-trans.png); background-repeat: no-repeat; width: 281px; height: 128px; margin-bottom: 3px; }
#caluga-banner-index { background-image: url(../imagenes/fondo-caluga-banner-index-trans.png); background-repeat: no-repeat; width: 281px; height: 144px; margin-bottom: 3px; }
#caluga-compra { background-image: url(../imagenes/fondo-comprar-trans.png); background-repeat: no-repeat; width: 281px; height: 120px; }
/******LOGIN MI SEGURO ONLINE ****/
#datos_login {
	width: 281px;
	height: 24px;
	float: left;
	margin-top: 6px;
}
#personal_login { width: 90px; height: 24px; float: left; }
#personal_login p { text-align: right; margin-right: 10px; }
#datos_login h1 { font-size: 16px; text-align: center; margin-top: 5px; }
#datos_login h1 span { color: #8c8a8a; }
#personal_login_campo { height: 24px; float: left; margin-right: 6px; }
.personal_login_rut_a {
	width: 60px;
	height: 24px;
	float: left;
}
.personal_login_rut_b {
	height: 24px;
	float: left;
	padding-left: 3px;
	width: 34px;
}
#btn_ir_home { width: 31px; height: 24px; float: left; }
#btn_ir_home img { border-width: 0; }
#obten_clave {
	width: 270px;
	height: auto;
	float: right;
}
#obten_clave p { font-size: 10px; margin: 1px 0 0 45px; }
/******LOGIN MI SEGURO ONLINE ****/
/*****3 PASOS PARA COMPAR****/
#tres-paso-titulo {
	width: 274px;
	height: 50px;
	margin-right: auto;
	margin-left: auto;
}
#sel_pasos_compara {
	width: 230px;
	height: 16px;
	float: right;
	margin-top: 3px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #2d8cc4;
}
#sel_pasos_compara span { color: #000; }
#sel_pasos_compara p {
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: 2d8cc4;
}
/*****3 PASOS PARA COMPAR****/
/*******SLIDER FOOTER******/
#slider-footer-index { width: 985px; height: 107px; float: left; margin-top: 15px; }
.btn-slider-flecha-iz { width: 15px; height: 107px; float: left; }
.btn-slider-flecha-der { width: 15px; height: 107px; float: right; }
.foto-slider-index { width: 307px; height: 107px; float: left; margin-left: 8px; }
/*******FIN SLIDER FOOTER******/
/****************FIN CONTENIDO INDEX***********/
/*******INICIO EMPRESA*****/
#contenido-empresas {
	background-image: url(../imagenes/background-contenido-secciones-trans.png);
	background-repeat: repeat-y;
	width: 983px;
	float: right;
}
.top-margen-empresa { background-image: url(../imagenes/background-contenido-secciones.jpg); width: 978px; height: 20px; float: left; }
/******menu iz -paginas-interior******/
#menu-iz-teayudamos {
	width: 142px;
	float: left;
	padding-top: 10px;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
}
#titulo-te-ayudamos {
	width: 144px;
	height: 37px;
	float: left;
	margin-bottom: 10px;
	margin-top: 20px;
	text-align: center;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
}
#menu-te-ayudamos {
	width: 138px;
	float: right;
	margin-top: 6px;
}
#menu-te-ayudamos ul { margin: 0 10px 0 25px; padding: 0; list-style-image: none; }
#menu-te-ayudamos ul li { color: #4f4c4c; font-size: 11px; font-family: Arial, Verdana, Helvetica, sans-serif; margin: 0 0 10px; padding: 0; list-style-image: url(../btn-img/flecha-gris.gif); }
#menu-te-ayudamos ul li:hover { list-style-image: url(../btn-img/flecha-gris_hover.gif); }
#menu-te-ayudamos ul li a {
	color: #84848a;
	font-size: 11px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	text-decoration: none;
}
#menu-te-ayudamos ul li a:hover { color: #000; }
.menu-te-ayudamos-separador { margin-top: 10px; margin-bottom: 10px; border-top: 1px solid #e5e5e3; }
.btn-index-teayudamos-botoon { width: 142px; float: left; margin-left: 2px; }
/******menu iz -paginas-interior******/
/*****+EMPRESA TEXTO nuestra-empresa******/
#texto-empresa-central {
	background-image: url(../imagenes/fonfo-empresa-texto.jpg);
	background-repeat: repeat-y;
	width: 623px;
	float: left;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCC;
}
#texto-empresa-central p { font-size: 11px; line-height: 150%; margin-right: 30px; margin-left: 40px; }
#texto-empresa-central h1 { margin-left: 40px; }
#texto-empresa-central h2 { margin-left: 40px; }
#nuestra-empresa { width: 314px; float: left; }
#historia-empresa { width: 300px; float: left; }
#historia-empresa h2 { margin-top: 60px; }
.btn-donde-encontarnos { margin-top: 40px; margin-left: 90px; }
/********GLOSARIO*********/
.top-margen-glosario { width: 144px; height: 40px; border-bottom: 1px solid #efeeea; }
#glosario { width: 580px; float: left; margin-top: 20px; }
#glosario_scroll { width: 510px; height: 400px; overflow: auto; margin-top: 20px; }
#texto-conte-glosario { width: 510px; float: right; }
#texto-conte-glosario img { margin-right: 5px; }
#texto-conte-glosario p { font-size: 12px; margin: 6px 0 0 15px; padding-right: 80px; }
#texto-conte-glosario h3 { margin: 30px 0 0; }
#texto-conte-glosario span { color: #8c8a8a; font-size: 9px; }
#conte-mujer-glosario { width: 239px; float: left; margin-top: 20px; }
.subir-glosario { margin-top: 50px; margin-left: 360px; }
/********FIN GLOSARIO*********/
/*******contenido poliza *******/
#poliza { width: 656px; float: left; margin-top: 20px; margin-left: 66px; padding-bottom: 25px; }
#poliza-titulo { width: 636px; margin-top: 20px; margin-left: 20px; }
#eligue-tu-seguro { width: 636px; margin-top: 20px; margin-left: 20px; }
.elige-tu-poliza { margin-left: 20px; }
/*****menu pdf poliza JQ****/
#munu-polizas-documetos { width: 656px; clear: both; margin-top: 20px; }
.btn-menu-jq {
	background-image: url(../btn-img/fondo-btn-menu-jq.jpg);
	background-repeat: no-repeat;
	width: 656px;
	height: 27px;
	float: left;
	margin-top: 0px;
	margin-bottom: 0px;
}
.btn-menu-jq h3 { margin-top: 7px; margin-right: 0; margin-bottom: 0; }
.flecha-menu-desplegable { margin-right: 10px; margin-left: 15px; }
.info-documentos { background-color: #ecece9; width: 656px; float: left; margin-top: 2px; margin-bottom: 2px; }
.info-documentos a { color: #2d8cc4; text-decoration: underline; }
.info-documentos p { margin: 3px 10px; }
.info-texto { float: left; }
.docomento { float: right; }
/*****FIN menu pdf poliza JQ****/
/*******FIN contenido poliza *******/
/*******PREGUNTA FRECUENTE*********/
#pregunta-frecuetes { background-image: url(../imagenes/fondo-pregutas-frecuetes-mujer.jpg); background-repeat: no-repeat; width: 656px; float: left; margin-top: 20px; margin-left: 66px; }

#caso-siniesro  {
	background-image: url(../imagenes/fondo-pregutas-que-hacer.jpg);
	background-repeat: no-repeat;
	width: 656px;
	float: left;
	margin-top: 20px;
	margin-left: 66px;
}
#munu-pregutas-frecuetas { width: 656px; clear: both; margin: 100px 0 0 0; }
.info-pregunta-frecuetes { width: 656px; float: left; }
.info-pregunta-frecuetes p {
	margin-top: 10px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
}
/*******FIN PREGUNTA FRECUENTE*********/
/******FICHAS VIDA*****+*/
#menu-seguro-vida-iz {
	width: 135px;
	margin-right: auto;
	margin-left: 4px;
	margin-top: 5px;
	float: right;
}
#menu-seguro-vida-iz a:hover {
	color: #000;
	margin-left: 2px;
}
#menu-seguro-vida-iz p {
	font-size: 11px;
	margin-bottom: 3px;
	padding-top: 5px;
}
#btn-desplegable-vida-iz { background-color: #efeeea; width: 138px; height: 23px; margin-bottom: 5px; margin-left: 1px; }
#btn-desplegado-vida-iz {
	width: 135px;
	height: 28px;
}
.btn-desplegado-vida-iz_icono {
	width: 11px;
	height: auto;
	float: left;
	margin-right: 3px;
}
/*****contenido ficha vida*****/
#contenido-chica-vida {
	width: 812px;
	float: left;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #efeeea;
}
#banner-top-fichas {
	background-repeat: no-repeat;
	width: 829px;
	height: 170px;
	float: left;
}
#fichas-vida {
	width: 809px;
	float: left;
	padding-top: 15px;
}
#texto-ficha-vida {
	background-repeat: repeat-y;
	background-position: right 50%;
	width: 604px;
	float: left;
	margin-top: 20px;
}
#bloque-texto-cotizaro {
	width: 560px;
	height: 140px;
	margin-right: auto;
	margin-left: auto;
}
#texto-cotizar {
	width: 402px;
	height: 115px;
	float: left;
	margin-left: 7px;
}
#texto-cotizar h1 { margin-left: 30px; }
#texto-cotizar p {
	font-size: 13px;
	line-height: 150%;
	margin-right: 0px;
	margin-left: 4px;
}
.btn-cotixar-fichas {
	height: 140px;
	float: right;
}
#menu-notas-fichas { width: 540px; height: 25px; margin-right: auto; margin-left: auto; }
#elegir-seguro-fichas {
	width: 540px;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 20px;
}
#elegir-seguro-fichas h3 { margin-top: 50px; margin-left: 30px; }
#elegir-seguro-fichas ul {  }
#elegir-seguro-fichas ul li { color: #6d6f75; font-size: 11px; font-family: Arial, Verdana, Helvetica, sans-serif; font-weight: normal; line-height: 200%; list-style-image: url(../btn-img/btn-vb.jpg); }
#btn-compartir-fichas {
	width: 540px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../imagenes/fondo-fin-bloque.gif);
	background-repeat: no-repeat;
	height: 10px;
}
/*****FIN contenido ficha vida*****/
/**********INICIO cliente vigente1*********/
/**********FIN cliente vigente1*********/
/******FIN FICHAS VIDA*****+*/
#cliente-vigente {
	background-image: url(../imagenes/background-contenido-secciones2-trans.png);
	background-repeat: repeat-y;
	width: 987px;
	float: right;
	height: auto;
}
#contenido-cliente-vigente {
	width: 812px;
	float: left;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCC;
}
#banner-cliente-vigente {
	width: 781px;
	height: 182px;
	float: left;
	background-image: url(../imagenes/fondobanner-trans.png);
	margin-left: 15px;
}
#benner-cliente-vigente-iz {
	width: 157px;
	height: 168px;
	float: left;
	margin-top: 14px;
}
#missegurosonline {
	width: 200px;
	height: auto;
	float: left;
	margin-top: 20px;
}
#missegurosonline h1 {
	margin-top: 20px;
	margin-left: 0px;
}
#bloque-general-datos {
	width: 260px;
	float: left;
	clear: none;
	margin-top: 40px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #999;
	margin-left: 12px;
}
.bloque-datos { width: 300px; height: 20px; float: left; margin-left: 12px; }
.personales { width: 60px; height: 20px; float: left; }
.dos-puntos {
	width: 10px;
	height: 20px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666;
}
.datos-de-la-persona {
	height: 20px;
	float: left;
	width: auto;
}
#actualiza-tus-datos {
	width: 145px;
	height: 182px;
	float: right;
}
#tetxo-actualiza-tus-datos {
	width: 120px;
	height: 100px;
	margin-top: 40px;
	margin-right: auto;
	margin-left: auto;
	color: #56B4EC;
}
.tetxo-actualiza_hola-cliente {
	text-align: center;
	width: 120px;
	height: 15px;
	color: #2d8cc4;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
}
#tetxo-actualiza-tus-datos h4 { color: #6d6f75; font-size: 11px; font-weight: bold; line-height: 150%; text-align: center; margin-top: 0; border-bottom: 2px solid #b0b0bb; }
#tetxo-actualiza-tus-datos h5 { color: #6d6f75; font-size: 9px; font-weight: normal; line-height: 0; margin: 0; }
.cantado_clave {
	width: 113px;
	height: 30px;
	margin-top: 3px;
	float: right;
}
.candado_actualiza_tus_dato {
	width: 30px;
	height: 30px;
	float: left;
}
.cambiar_clave_dato {
	width: 75px;
	height: 30px;
	float: left;
}
.cambiar_clave_dato p { margin-top: 0; padding-top: 7px; }
#tetxo-actualiza-tus-datos a {
	color: #999;
}
#texto-cliente-vigente {
	background-image: url(../imagenes/fonfo-cliente-vigente1.jpg);
	background-repeat: repeat-x;
	width: 600px;
	float: left;
	margin-top: 20px;
}
#texto-cliente-vigente a { color: #2d8cc4; font-weight: bold; text-decoration: underline; }
#texto-cliente-vigente h1 { font-size: 15px; text-align: center; margin-bottom: 10px; }
/*****CLIENTE VIGENTE******/
#bloque-cliente-vigent-uno { width: 550px; height: 460px; margin-right: auto; margin-left: auto; }
#texto-bajada-cliente-vigent-uno { width: 550px; height: 45px; }
#calugas-mis-productos { width: 550px; height: 200px; }
#text-mis-productos { width: 182px; height: 180px; float: left; border-right: 1px solid #e5e5e3; }
#text-mis-productos p { padding-right: 20px; padding-left: 20px; }
#text-mis-productos-text { width: 182px; height: 180px; float: left; }
#text-mis-productos-text p { padding-right: 20px; padding-left: 20px; }
#foto-cliente-vigente-uno { width: 550px; height: 199px; float: left; padding-top: 16px; }
/*****CLIENTE VIGENTE FIN******/
/*****CLIENTE VIGENTE 02******/
#texto-cliente-vigente-dos {
	width: 608px;
	float: left;
	margin-top: 20px;
}
#bloque-cliente-vigente { width: 555px; margin-right: auto; margin-left: auto; }
#titulo-mis-productos { width: 555px; height: 24px; }
/******lista-seguro-cliente-productos*******/
#lista-seguro-cli-prod { width: 553px; height: 147px; clear: both; padding-top: 5px; border-right: 1px solid #e5e5e3; border-left: 1px solid #e5e5e3; }
#lista-seguro-cli-prod p { margin-top: 5px; margin-left: 20px; }
#titulo-lista-pruductos { background-color: #e5e5e3; width: 553px; height: 22px; float: left; padding-bottom: 5px; }
#lista-contenedor { width: 553px; height: 22px; float: left; margin-top: 5px; margin-bottom: 5px; }
#lista-contenedor a { color: #2d8cc4; font-size: 11px; text-decoration: underline; }
#lista-contenedor a:hover { color: #216994; }
#nombre-de-la-lista { width: 268px; height: 22px; float: left; }
#ver-cobertura { width: 190px; height: 22px; float: left; }
#ver-poliza { width: 90px; height: 22px; float: left; }
#banner-botton-cliente-producto { background-image: url(../imagenes/banner-botton-cliente-producto.jpg); background-repeat: no-repeat; width: 551px; height: 142px; margin-top: 40px; margin-right: auto; margin-left: auto; }
#banner-botton-cliente-producto h3 { font-size: 15px; padding-top: 15px; padding-left: 20px; }
#banner-botton-cliente-producto ul { margin-left: 270px; }
#banner-botton-cliente-producto ul li { margin-top: 5px; margin-bottom: 5px; list-style-image: url(../btn-img/btn-flecha-azul.jpg); }
#banner-botton-cliente-producto ul li:hover { list-style-image: url(../btn-img/btn-flecha-azul-hover.jpg); }
#banner-botton-cliente-producto ul li a { font-size: 11px; }
#banner-botton-cliente-producto ul li a:hover { color: #000; }
/******lista-seguro-cliente-productos fin*******/
#curva-botton-produ { background-image: url(../imagenes/fondo-curva-botton-produ.jpg); background-repeat: no-repeat; width: 555px; height: 17px; }
#adobe-acrobat { width: 555px; height: 28px; float: left; margin-top: 10px; }
.acrobat { margin-left: 5px; }
#adobe-acrobat a { color: #2d8cc4; text-decoration: underline; }
#adobe-acrobat p { text-align: right; }
/*****CLIENTE VIGENTE 02 FIN ******/
/*******CLIENTE VIGENTE 03******/
#titulo-vigente-tres { width: 553px; height: 36px; }
#titulo-vigente-tres h1 { font-size: 20px; text-align: left; margin-left: 10px; }
#revisar-tu-poliza { background-image: url(../btn-img/fondo-revisar-tu-poliza.jpg); background-repeat: no-repeat; width: 550px; height: 37px; float: right; margin-bottom: 5px; }
#texto-revisar-tu-poliza {
	height: 37px;
	float: left;
	margin-left: 5px;
}
#texto-revisar-tu-poliza p { margin-top: 14px; }
#arbol { width: 32px; height: 37px; float: left; }
#btn-ver-poliza-der {
	width: 117px;
	height: 37px;
	float: right;
	margin-right: 15px;
}
#beneficios-y-coberturas { width: 553px; float: left; }
#beneficios-y-coberturas h3 { margin-top: 30px; margin-left: 30px; }
#beneficios-y-coberturas ul { }
#beneficios-y-coberturas ul li { color: #8c8a8a; font-size: 11px; line-height: 150%; margin-bottom: 10px; list-style-image: url(../btn-img/btn-vb.jpg); }
#tienes-consultas { width: 534px; height: 30px; float: right; margin-top: 20px; padding-top: 10px; border-top: 1px solid #8c8a8a; }
#tienes-consultas a {
	color: #2d8cc4;
	font-size: 11px;
}
.bloque_contrato_online { background-color: #f5f5f5; width: 136px; height: 64px; float: left; margin-bottom: 36px; padding-left: 1px; border-right: 1px solid #efeeea; border-bottom: 1px solid #efeeea; border-left: 1px solid #efeeea; }
.bloque_despliegue_online { width: 127px; height: 28px; margin-top: 2px; margin-bottom: 5px; padding-left: 10px; }
/*******CLIENTE VIGENTE 03 fin******/
/*******solicitud-de-renuncia inicio*****/
#titulo-solicitud-de-renuncia { width: 553px; margin-top: 20px; }
#titulo-solicitud-de-renuncia span { color: #000; }
#titulo-solicitud-de-renuncia p { font-size: 11px; line-height: 140%; margin-top: 20px; }
#titulo-solicitud-de-renuncia h4 { color: #878789; font-size: 23px; font-weight: normal; margin-top: 13px; }
#seguir-pagando { background-image: url(../imagenes/fondo-seguir-pagando.jpg); background-repeat: no-repeat; width: 540px; height: 119px; margin-top: 20px; }
#seguir-pagando a { color: #2d8cc4; font-weight: bold; }
#seguir-pagando p { margin-top: 20px; margin-right: 40px; margin-left: 12px; }
#continuar-solicitud { width: 553px; height: 29px; margin-top: 85px; }
#continuar-solicitud-text { width: 400px; height: 29px; float: left; }
#continuar-solicitud-text h3 { margin: 6px 0 0; }
#continuar-solicitud-btn { width: 119px; height: 29px; float: right; }
.dessolicitud { margin-top: 20px; margin-left: 12px; }
/*****solicitud-de-renuncia3*****/
.fallecimieto-accidental { margin: 20px 0 0; }
/*****solicitud-de-renuncia3*****/
#acepto-condiciones { width: 553px; margin-top: 50px; }
#acepto-condiciones-texto { width: 553px; float: left; margin-bottom: 20px; }
#acepto-condiciones-box { width: 20px; height: 20px; float: left; }
#acepto-condiciones-info { width: 500px; float: left; margin-left: 10px; }
#acepto-condiciones-info a { color: #2d8cc4; text-decoration: underline; }
#btn-acepto-condiciones { width: 533px; float: left; margin-top: 40px; }
.btn-der { margin-left: 320px; }
/*******solicitud-de-renuncia final*****/
/*******solicitud-de-renuncia*****/
#text-elige-tu-s { width: 553px; float: left; margin-top: 20px; }
.tex-elige { width: 100px; float: left; }
.seleccionador-elige { float: left; margin-top: 2px; padding-right: 10px; }
.text-elige-des { width: 250px; float: left; }
#cuerpo-renuncia { width: 576px; float: left; margin-top: 30px; padding-left: 20px; }
.top-separacion { width: 1px; height: 20px; }
#nuve-renuncia { background-image: url(../imagenes/fonfo-nuve-renuncia.jpg); background-repeat: no-repeat; width: 384px; height: 254px; float: left; }
#nuve-renuncia p { font-size: 11px; line-height: 130%; padding: 5px 70px 5px 20px; }
#foto-renucia { width: 188px; height: 321px; float: left; }
#btn-vol-conti-renuncia { width: 330px; height: 26px; float: left; margin-top: 10px; padding-left: 3px; }
.btn-conti-der { padding-left: 120px; }
/*******solicitud-de-renuncia 03 final*****/
/*******estado de siniestro*****/
#estado-de-siniestro { width: 770px; margin-right: auto; margin-left: auto; }
#datos-siniestro { width: 770px; }
#datos-siniestro-titulos { width: 770px; margin: 40px 0 0; }
#datos-siniestro-titulos p { margin-right: 160px; }
#datos-siniestro-titulos p span { color: #2d8cc4; }
#premium-siniestro { background-image: url(../imagenes/fondo-premium-siniestro.jpg); background-repeat: no-repeat; width: 770px; height: 51px; }
#premium-siniestro span { font-weight: bold; }
#premium-siniestro p { text-align: center; padding-top: 10px; }
.fecha-premiu { width: 272px; height: 51px; float: left; }
.emprendedor-premiu { width: 257px; height: 51px; float: left; }
.rut-emprendedor-premiu { width: 236px; height: 51px; float: left; }
#finiquito-siniestro { background-image: url(../imagenes/fondo-finiquito-siniestro.jpg); background-repeat: no-repeat; width: 770px; height: 69px; }
#finiquito-siniestro p { text-align: center; padding-top: 20px; }
#finiquito-siniestro span { font-weight: bold; margin-left: -20px; }
.bloque-tex-siniestro { width: 150px; height: 69px; float: left; }
.bloque-tex-siniestro img { margin-left: 5px; }
/***********cartola-de-pago*********/
#cartola-de-pago { width: 770px; }
#cartola-de-pago-titulos { background-image: url(../imagenes/fondos-cartola-de-pago-titulos.jpg); background-repeat: no-repeat; width: 768px; height: 24px; }
.cartola-titulos { width: 192px; height: 24px; float: left; }
.cartola-titulos p { color: #fff; font-weight: bold; text-align: center; }
#cuota-n { width: 768px; height: 24px; margin-top: 2px; margin-bottom: 2px; }
.cuota-n-color { background-color: #e5e5e3; }
#cuota-n p { color: #6d6f75; font-weight: normal; text-decoration: none; padding-top: 6px; }
/***********cartola-de-pago fin*********/
/*******DOCUMENTACION******/
#documetacion { width: 770px; }
#plazos-documetacion { background-image: url(../imagenes/fondo-plazos-documetacion.gif); background-repeat: no-repeat; width: 768px; height: 58px; margin-top: 30px; }
#plazos-documetacion p { padding-top: 8px; }
.bloque-plazos-iz { width: 203px; height: 58px; float: left; }
.bloque-plazos-iz p { margin-right: 20px; margin-left: 20px; }
.bloque-cantidad-de-cuotas { width: 113px; height: 58px; float: left; }
.bloque-cantidad-de-cuotas span { color: #999; }
.bloque-cantidad-de-cuotas p { text-align: center; }
#informacion-cuotas { width: 768px; margin-top: 10px; }
#franja-informacion-cuotas { width: 768px; }
.bloque-informacion-der { background-color: #ededee; width: 203px; height: 63px; float: left; border: solid 1px #fff; }
.bloque-informacion-der p { line-height: 110%; margin: 10px 20px 0; }
.bloque-icono { background-color: #ededee; width: 110px; height: 63px; float: left; border: solid 1px #fff; }
#consultas-fono { width: 768px; float: left; margin-top: 5px; }
#consultas-fono a { color: #2d8cc4; text-decoration: underline; }
#consultas-fono h3 { font-size: 12px; text-align: right; }
#importante-saber { width: 768px; }
#importante-saber h3 { font-size: 11px; }
#importante-saber p { line-height: 150%; margin-top: 10px; }
#icono-subir { width: 65px; height: 24px; float: right; }
/*******DOCUMENTACION FIN******/
/*******estado de siniestro*****/
/*******FIN INICIO EMPRESA*****/
/***********************************************/
/***********************************************/
/*******contenido-cotizador inicio**************/
#menu-cotizador {
	width: 255px;
	height: auto;
	float: left;
	clear: both;
	margin-top: 20px;
}
#banner-cotizador {
	width: 253px;
	height: 153px;
	margin-left: 2px;
	text-align: right;
}
#menu-bienvenido-a { background-color: #eeeced; width: 247px; float: right; }
#bienvenido { width: 220px; float: right; }
#bienvenido h4 {
	color: #666;
	font-size: 14px;
	margin: 0;
}
#datos-personales { width: 220px; float: right; }
#datos-personales h5 { color: #2d8cc4; font-size: 11px; text-align: right; margin-top: 20px; margin-right: 20px; }
#datos-personales a { color: #2d8cc4; }
#datos-personales span {
	color: #666;
}
/***** Nombre del Plan*****/
#nombre-delplan {
	width: 218px;
	margin-top: 24px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 110px;
	background-repeat: no-repeat;
	float: right;
	background-color: #FFF;
}
#nombre-delplan p {
	font-size: 11px;
}
#nombre-delplan span {
	color: #000;
	font-size: 12px;
}
.peso {
	width: 85px;
	height: 40px;
	float: left;
	padding-right: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #666;
}
.peso h4 {
	font-size: 26px;
	font-weight: normal;
	text-align: right;
	margin: 6px 0 0;
}
.montomensual {
	width: 100px;
	height: 29px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
	font-size: 10px;
	margin-top: 7px;
}
/***** Nombre del Plan*****/
/******CONTENDO COTIZADOR*******/
#contenido-cotizador {
	width: 708px;
	float: left;
	margin-top: 20px;
	height: auto;
}
#titulo-cotizador { width: 708px; }
#titulo-cotizador p {
	font-size: 14px;
	margin-top: 6px;
}
#titulo-cotizador span { color: #2d8cc4; }
/******MENU 3PASOS *******/
#menu-tres-pasos {
	width: 708px;
	height: 56px;
	margin-top: 30px;
}
#curva-cotizador { width: 708px; height: 19px; }
/******MENU 3PASOS FIN ****** */
/**********CONTENIDO COTIZACION CUERPO*******/
/**********CONTENIDO COTIZACION CUERPO FIN*******/
#contenido-desplegado-cotizador {
	width: 704px;
	float: left;
	background-image: url(../imagenes/fondo2-cotizador.jpg);
	background-repeat: repeat-y;
	height: auto;
}
#estas-registrado {
	background-image: url(../imagenes/fondo-estas-registrado.jpg);
	background-repeat: repeat;
	width: 636px;
	height: 68px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
}
#estas-registrado h5 { padding-top: 25px; }
#estas-registrado span { color: #2d8cc4; }
#estas-registrado p { margin-left: 50px; }
#estas-registrado-texto-iz {
	width: 280px;
	height: 61px;
	float: left;
}
#estas-registrado-texto-iz p {
	margin-top: 10px;
	margin-left: 20px;
	font-weight: bolder;
	color: #999;
	text-align: left;
}
#estas-registrado-texto-iz h3 {
	font-size: 13px;
	margin-top: 3px;
	margin-left: 20px;
	font-weight: bolder;
	color: #459ED3;
}
#ingresar-datos {
	width: 310px;
	height: 61px;
	float: left;
}
#rut-clave {
	width: 310px;
	margin-top: 12px;
}
.rut-clave_con {
	width: 260px;
	height: 25px;
	float: left;
	margin-top: 3px;
}
.rut-clave-ir {
	width: 37px;
	height: 25px;
	float: left;
}
.rut-clave-ir img {  }
#rut-clave p {
	margin-left: 15px;
}
#olvidaste-tu-clave {
	width: 280px;
	height: 17px;
	float: left;
	margin-top: 0px;
	padding-left: 15px;
}
#olvidaste-tu-clave p {
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 20px;
}
#datos-del-contratante {
	width: 696px;
	float: left;
	background-image: url(../imagenes/fondo-contenedores-cotizador.gif);
	background-repeat: no-repeat;
	height: auto;
	margin-left: 1px;
}
#datos-del-contratante-titulo {
	width: 615px;
	float: left;
	margin-top: 30px;
	padding-left: 70px;
	margin-bottom: 0px;
}
#datos-del-contratante-titulo span {
	color: #2d8cc4;
	font-size: 11px;
	line-height: 25px;
}
/******casilla-datos-cotizador*****/
#casilla-datos-cotizador {
	width: 630px;
	float: left;
	margin-top: 30px;
	margin-bottom: 15px;
	padding-left: 65px;
}
#bloque-casilla { height: 30px; margin-bottom: 2px; }
#bloque-casilla span {
	margin-left: 5px;
	color: #999;
	margin-top: 5px;
}
#bloque-dato-usuario { width: 126px; height: 30px; font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #999; float: left; }
#bloque-dato-usuario p { text-align: right; padding-right: 10px; font-size: 11px; padding-top: 2px; }
#bloque-ingresar-dato { width: 510px; height: 30px; }
#bloque-ingresar-dato-dos {
	width: 385px;
	height: 30px;
	float: left;
}
#btn-img-cot {
	width: 110px;
	height: 30px;
	float: right;
	padding: 0;
	margin-top: 0;
	margin-right: 15px;
	margin-bottom: 0;
	margin-left: 0;
}
#bloque-ingresar-dato span {
	font-style: oblique;
	padding: 0;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 4px;
	color: #999;
}
#para-continuar {
	width: 696px;
	height: 40px;
	float: left;
	padding-top: 35px;
	background-image: url(../imagenes/fondo-contenedores-cotizador.gif);
	background-repeat: no-repeat;
	margin-left: 1px;
}
#para-continuar p {
	text-align: left;
	margin-left: 74px;
}
/******CONTENIDO  COBERTURAS******/
#contenido-cobertura {
	width: 700px;
	float: left;
	clear: both;
	padding-left: 1px;
}
#contenido-informacion { width: 693px; margin-right: auto; margin-left: auto; }
#titulos-coberturas { background-image: url(../imagenes/fonfo-titulos-coberturas.gif); background-repeat: no-repeat; width: 693px; height: 22px; }
.menu_descripcion-cobertura { width: 138px; height: 22px; float: left; }
.menu_descripcion-cobertura p { color: #fff; font-weight: bold; text-align: center; }
/*****descripcion****/
.descripcion-cobertura {
	background-image: url(../imagenes/fondo-descripcion-cobertura.gif);
	background-repeat: no-repeat;
	width: 690px;
	height: 80px;
	float: left;
	margin-left: 0;
	padding-bottom: 10px;
}
.bloque-descripcion-cobertura {
	text-align: inherit;
	width: 110px;
	height: 80px;
	float: left;
}.bloque-descripcion-cobertura2 {
	text-align: center;
	width: 136px;
	height: 60px;
	float: left;
}.bloque-descripcion-cobertura3 {
	text-align: center;
	width: 136px;
	height: 60px;
	float: left;
}.bloque-descripcion-cobertura4 {
	text-align: center;
	width: 136px;
	height: 60px;
	float: left;
}.bloque-descripcion-cobertura5 {
	text-align: center;
	width: 136px;
	height: 60px;
	float: left;
}
.bloque-descripcion-cobertura a {
	color: #2d8cc4;
}
.bloque-descripcion-cobertura h3 {
	margin: 13px 0 0;
	font-weight: bold;
}
.bloque-descripcion-cobertura h4 {
	margin: 4px 0 0;
	font-size: 12px;
	font-weight: bold;
}
.bloque-descripcion-cobertura p { text-align: center; margin-top: 27px; }
/**** pie- llamanos *****/
#sitio-confiable {
	font-weight: bold;
	width: 704px;
	height: 50px;
	float: right;
	text-align: right;
}
.sitio-confiable-foto { width: 77px; height: 59px; float: left; }
.sitio-confiable-tex {
	width: 610px;
	height: 59px;
	float: right;
	text-align: right;
}
.sitio-confiable-tex span {
	font-size: 15px;
	padding-left: 200px;
	float: right;
	margin-right: 10px;
}
.sitio-confiable-tex p { margin-top: 20px; }
/**** pie- llamanos FIN*****/
/*****TARJETAS MAS****/
#tarjetas-mas {
	width: 690px;
	height: 70px;
	float: right;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e5e5e3;
	margin-right: 7px;
}
.ico-tarjetas-mas {
	width: 690px;
	height: 70px;
	float: right;
	text-align: right;
}
.tarjetas-mas-texto { width: 596px; height: 70px; float: left; }
.tarjetas-mas-texto p { margin-top: 10px; margin-right: 130px; }
/****Importante****/
#importante {
	background-image: url(../imagenes/fonfo-importante.jpg);
	background-repeat: no-repeat;
	width: 606px;
	height: 45px;
	float: left;
	margin-left: 35px;
	margin-bottom: 10px;
}
#importante span { color: #2d8cc4; }
#importante p { text-align: center; margin-top: 16px; }
/****Importante FIN****/
/****TEXTO PIE E PAGINAS COTIZACIONES*****/
#texto-pie {
	width: 650px;
	float: left;
	text-align: right;
	margin-left: 12px;
	padding-top: 10px;
	padding-bottom: 5px;
}
#texto-pie span { color: #2d8cc4; }
/****TEXTO PIE E PAGINAS COTIZACIONES*****/
/*****TARJETAS MAS fin****/
/******CONTENIDO  COBERTURAS FIN******/
/******casilla-datos-cotizador FIN*****/
/**/
/*******  Datos Beneficiario ********/
#datos-beneficiario { width: 704px; float: left; margin: 20px 0 0; }
#datos-usuarui-beneficio { background-image: url(../btn-img/fondo-datos-usuarui-beneficio.gif); background-repeat: no-repeat; width: 689px; height: 28px; margin-right: auto; margin-left: auto; }
.datos-menu-usu-beneficio { text-align: center; width: 98px; height: 28px; float: left; }
.datos-menu-usu-beneficio p { color: #fff; text-align: center; margin-top: 5px; }
#despliege-datos { background-color: #edeee9; width: 689px; height: 28px; margin-top: 2px; margin-right: auto; margin-left: auto; }
.despliegue-datos-personas { text-align: right; width: 98px; height: 28px; float: left; }
.despliegue-datos-personas a { color: #2d8cc4; font-size: 11px; font-weight: bold; }
.despliegue-datos-personas p { text-align: center; margin-top: 6px; }
/*******  Datos Beneficiario FIN********/
/*******asegurado_adicional******/
#agregar_asegurado { width: 704px; height: 50px; float: left; }
#agregar_asegurado img { float: right; }
#asegurado-contenido { width: 704px; float: left; margin-right: auto; margin-left: auto; }
#menu_asegurado-contenido { background-image: url(../btn-img/fondo-menu_asegurado-contenido.jpg); width: 693px; height: 40px; float: left; margin-left: 5px; }
#bloque-datos-ase { width: 523px; margin-right: auto; margin-left: auto; }
#bloque-datos-ase-menu { background-image: url(../imagenes/f-bloque-datos-ase-menu.gif); background-repeat: no-repeat; width: 523px; height: 28px; float: left; margin-top: 20px; }
.bloque-datos-ase-menu-casilla-da { width: 104px; height: 28px; float: left; }
.bloque-datos-ase-menu-casilla-da p { color: #fff; line-height: 110%; text-align: center; }
#bloque-nombre-ase {
	width: 523px;
	height: 28px;
	float: left;
	margin-top: 3px;
	background-color: #EDEEE9;
}
.bloque-nombre-ase-casillas {
	width: 104px;
	height: 28px;
	float: left;
	text-align: left;
}
.bloque-nombre-ase-casillas p { text-align: center; }
#modificar { text-align: right; width: 523px; height: 28px; float: left; padding-left: 90px; }
#modificar a { color: #2d8cc4; }
#modificar h3 { font-size: 12px; margin: 10px 0 0; }
#titulo-beneficiarios { width: 523px; height: 70px; float: left; margin-top: 20px; padding-left: 90px; }
#titulo-beneficiarios h1 { color: #82898e; font-size: 15px; }
#titulo-beneficiarios h3 {
	font-size: 10px;
	margin-top: 0;
}
/**/
#adicional-conte {
	width: 702px;
	float: left;
	margin-top: 30px;
	padding-left: 5px;
	margin-bottom: 20px;
}
#adicional_despliegue {
	width: 689px;
	margin-right: 13px;
	margin-left: auto;
	margin-bottom: 10px;
}
#adicional_despliegue_menu { background-image: url(../imagenes/f-adicional_despliegue_menu.gif); background-repeat: no-repeat; width: 689px; height: 28px; }
#adicional_despliegue_menu p { color: #fff; font-size: 11px; text-align: center; margin-top: 2px; }
.adicional_menu_nombre {
	width: 104px;
	height: 28px;
	float: left;
}
.adicional_menu_fecha { width: 139px; height: 28px; float: left; }
.adicional_menu_parentesco {
	width: 70px;
	height: 28px;
	float: left;
	margin-left: 4px;
}
.adicional_menu_sexo {
	width: 33px;
	height: 28px;
	float: left;
	margin-left: 15px;
}
.adicional_menu_distribucion {
	width: 63px;
	height: 28px;
	float: left;
	margin-left: 7px;
}
.adicional_menu_limpiar {
	width: 41px;
	height: 28px;
	float: left;
}
/*****bloques_para_llenar*****/
.adicional_marcar_datos-activo {
	background-color: #d5e7f1;
	width: 689px;
	height: 28px;
	margin-top: 2px;
}
.adicional_marcar_datos-activo img { margin: 0; }
.adicional_marcar_datos-inactivo {
	background-color: #edecec;
	width: 689px;
	height: 28px;
	margin-top: 2px;
}
.adicional_marcar_datos-n {
	text-align: center;
	width: 104px;
	height: auto;
	float: left;
	margin-top: 4px;
	margin-left: 2px;
}
.adicional_marcar_datos-f {
	text-align: center;
	width: 139px;
	height: auto;
	float: left;
	margin-top: 4px;
}
.adicional_marcar_datos-p {
	text-align: center;
	width: 70px;
	height: auto;
	float: left;
	margin-top: 4px;
	margin-left: 2px;
}
.adicional_marcar_datos-s {
	width: 37px;
	height: auto;
	float: left;
	margin-top: 4px;
	margin-left: 13px;
}
.adicional_marcar_datos-d {
	text-align: center;
	width: 70px;
	height: auto;
	float: left;
	margin-top: 4px;
}
.adicional_marcar_datos-l {
	text-align: center;
	width: 20px;
	height: 28px;
	float: left;
	margin-left: 6px;
}
.blo-azul { height: 20px; margin-top: 2px; margin-right: 2px; margin-left: 2px; border: solid 1px #c6e4f4; }
.blo-gris { background-color: #f7f7f7; height: 20px; margin-top: 2px; margin-right: 2px; margin-left: 2px; border: solid 1px #d9d6d6; }
#puedes-agregar {
	background-image: url(../imagenes/f-puedes-agregar.gif);
	background-repeat: no-repeat;
	width: 689px;
	height: 25px;
	float: right;
}
#puedes-agregar p {
	text-align: right;
	padding-right: 8px;
	padding-bottom: 0px;
}
/**/
#footer-asegurado-contenido-interno {
	background-image: url(../imagenes/footer-asegurado-contenido-interno.jpg);
	background-repeat: no-repeat;
	width: 694px;
	height: 31px;
	float: left;
	margin-top: 10px;
	margin-left: 3px;
	margin-bottom: 10px;
}
#footer-asegurado-contenido-interno a { color: #2d8cc4; }
#footer-asegurado-contenido-interno h3 { text-align: right; margin: 0 10px 0 0; }
/*******asegurado_adicional******/
/*******necesitas ingrsar tu Rut y Clave*****/
/*******necesitas ingrsar tu Rut y Clave*****/
#contenedor-ingresa {
	width: 704px;
	float: left;
	height: auto;
}
#necesitas_ingrsar {
	width: 704px;
	margin-top: 10px;
}
#necesitas_ingrsar h3 {
	font-size: 12px;
	margin-left: 120px;
}
#no-registrado { width: 317px; height: 150px; float: left; margin-top: 3px; }
#no-registrado p { text-align: center; }
#si-registrado {
	background-color: #f4f2f2;
	width: 366px;
	height: 150px;
	float: left;
	margin-top: 3px;
}
#bloque-si-registrado { width: 194px; height: 150px; float: left; }
#bloque-si-registrado p { text-align: center; }
#btn-medio-de-pago {
	width: 154px;
	height: 137px;
	float: left;
}
/**/
#info-inspeccion {
	background-image: url(../imagenes/info-inspeccion.jpg);
	background-repeat: no-repeat;
	width: 574px;
	height: 92px;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 15px;
}
#info-inspeccion a { color: #2d8cc4; text-decoration: underline; }
#info-inspeccion p { line-height: 160%; padding-top: 10px; padding-right: 20px; padding-left: 20px; }
#info-inspeccion p span { color: #2d8cc4; }
/**/
/****Usuario*****/
#usuario {
	width: 700px;
	height: 156px;
	float: left;
}
#contenedor-registros {
	width: 688px;
	height: 160px;
	margin-left: 3px;
	padding-top: 5px;
	padding-bottom: 5px;
	border: 1px solid #F0EEEE;
	float: left;
}
#informaciónde {
	width: 704px;
	float: left;
	margin-top: 40px;
}
.informacionde_texto {
	width: 698px;
	height: 50px;
	float: right;
	clear: both;
}
/*volver-telefono*/
#volver-telefono { font-weight: bold; width: auto; height: 26px; margin-top: 50px; }
#volver-btn {
	width: 133px;
	height: 26px;
	float: left;
}
#telefono {
	width: 400px;
	height: 26px;
	float: right;
	text-align: left;
}
#telefono h4 {
	color: #6d6f75;
	font-size: 14px;
	text-align: right;
	margin: 0;
	padding-right: 40px;
}
/*volver-telefono*/
/**/
/****Usuario*****/
/******CONTENDO COTIZADOR FIN*******/
/*******contenido-cotizador FIN**************/
/********************************************************************/
/***********Contratación Online PASO 03*********/
#elige_medio_pago { width: 704px; height: 115px; float: left; }
#elige_medio_pago-titulo {
	width: 260px;
	height: 115px;
	float: left;
	margin-right: 8px;
}
#elige_medio_pago-titulo p {
	margin-top: 40px;
	margin-left: 73px;
	font-size: 16px;
	color: #82898e;
}
.elige-tarjetas {
	text-align: center;
	height: 95px;
	float: left;
	width: auto;
}
.elige-tarjetas img { padding: 30px 5px 10px; }
/********** propuesta_seguro ********/
#propuesta_seguro {
	width: 666px;
	height: 350px;
	overflow: auto;
	float: left;
	margin-top: 20px;
	margin-left: 13px;
	border: solid 1px #b0b0bb;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000;
	padding-left: 7px;
}
/******ingresa-datos-tarjetas*****/
#con-ingresa-datos-tarjetas {
	width: 704px;
	margin-top: 10px;
	height: auto;
}
#ingresa-datos-tarjetas {
	width: 704px;
	height: 70px;
	margin-bottom: 15px;
}
#tarjeta-mas {
	width: 200px;
	height: 70px;
	float: left;
}
#tarjeta-mas p {
	margin-top: 31px;
	margin-left: 70px;
	font-size: 16px;
	color: #82898d;
}
#datos-tarjetas-inger {
	width: 328px;
	height: 70px;
	float: left;
	margin-top: 0px;
}
.datos-tarjetas-casilla {
	width: 315px;
	height: 24px;
	float: left;
	margin-top: 33px;
}
.datos-tarjetas-casilla-text {
	text-align: right;
	width: 80px;
	height: 24px;
	float: left;
}
#llama {
	background-repeat: no-repeat;
	width: 689px;
	height: 61px;
	margin-right: auto;
	margin-left: auto;
}
#llama-fono {
	width: 390px;
	height: 61px;
	float: left;
}
#llama-fono span { color: #2d8cc4; }
#llama-fono h1 { font-size: 16px; text-align: center; margin-top: 20px; margin-left: 20px; }
#llama-btn {
	width: 133px;
	height: 61px;
	float: left;
}
/******ingresa-datos-tarjetas*****/
/********** propuesta_seguro ********/
/***********Contratación Online PASO 03 FIN*********/
/****** mis cotizaciones ********/
#mis_cotizaciones {
	width: 775px;
	float: left;
	margin-top: 25px;
}
#mis_cotizaciones_bajada { width: 769px; height: 34px; float: left; margin-top: 30px; }
#mis_cotizaciones_bajada span { color: #2d8cc4; }
#mis_cotizaciones_bajada p { font-size: 13px; margin-top: 10px; margin-left: 5px; }
#contenido_tipo_seguro { background-image: url(../imagenes/f-contenido_tipo_seguro.gif); background-repeat: no-repeat; width: 769px; height: 34px; float: left; margin-top: 20px; }
#contenido_tipo_seguro span { color: #2d8cc4; }
#contenido_tipo_seguro p { font-size: 12px; text-align: center; margin-top: 8px; }
.menu_tipo_seguro { width: 201px; height: 34px; float: left; }
.menu_plan { width: 197px; height: 34px; float: left; }
.menu_fecha { width: 245px; height: 34px; float: left; }
.menu_retomar { width: 124px; height: 34px; float: left; }
/****** mis cotizaciones FIN ********/
/**/
/******plan desplegue cotizacones****/
#desplegue_plan {
	background-color: #f8f8fb;
	width: 769px;
	height: 34px;
	float: left;
	margin-top: 2px;
	margin-bottom: 2px;
}
#desplegue_plan p { text-align: center; margin-top: 8px; }
.despli_tipo_seguro { width: 197px; height: 34px; float: left; border-right: 2px solid #fff; border-left: 2px solid #fff; }
.despli_plan { width: 193px; height: 34px; float: left; border-right: 2px solid #fff; border-left: 2px solid #fff; }
.despli_fecha { width: 241px; height: 34px; float: left; border-right: 2px solid #fff; border-left: 2px solid #fff; }
.despli_retomar { width: 124px; height: 34px; float: left; }
/******plan desplegue cotizacones fin****/
/******CONACTO INCIO**** */
#contacto { width: 470px; margin-right: auto; margin-left: auto; }
#contacto p { margin: 0; }
#contacto h1 { margin: 0; }
.contacto_titulo { width: 470px; }
.despliegue_contacto { width: 470px; margin-top: 20px; }
.bloque_dato { width: 470px; height: 28px; }
.bloque_contacto_datos { width: 170px; height: 28px; float: left; }
.bloque_contacto_datos p { text-align: right; padding-right: 20px; }
.bloque_contacto_llenar { width: 300px; height: 28px; float: left; }
.bloque_contacto_llenar span { color: #000; font-size: 20px; }
.bloque_tex_area { width: 470px; }
.bloque_tex_area_iz { width: 170px; height: 200px; float: left; }
.tex_area_llenar { width: 210px; height: 200px; float: left; }
.btn_contacto_enviar { width: 90px; height: 200px; float: left; }
.btn_contacto_enviar img { padding-top: 120px; }
/******CONACTO*****/
/*******INICIO FUTER******/
#footer {
	background-color: #fff;
	width: 987px;
	float: left;
	height: auto;
}
#footer-menu {
	width: 850px;
	height: 30px;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	border-top: 1px solid #b9b7b7;
}
#footer-menu ul { text-align: center; margin: 10px auto 0; padding: 0; list-style-type: none; }
#footer-menu ul li {
	color: #888d8e;
	font-size: 11px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-weight: bold;
	padding-right: 5px;
	padding-left: 5px;
	list-style-type: none;
	display: inline;
	border-right-style: solid;
	border-right-color: #888d8e;
	border-right-width: 1px;
}
#footer-menu ul li a { color: #888d8e; font-size: 11px; text-decoration: none; }
#footer-menu ul li a:hover { color: #7ba7cb; text-decoration: none; }
#footer-copiright {
	width: 987px;
	height: auto;
	float: left;
	background-repeat: no-repeat;
}
/*********FIN CONTENIDO CENTRAL*************/
/************FIN INICIO CONTENIDO*******/
.textbox {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #999;
	border: 1px solid #cac8c8;
	text-align: left;
	
}
.text_box_vida { color: #000; font-size: 11px; font-family: Arial, Verdana, Helvetica, sans-serif; font-weight: normal; width: 128px; border: solid 1px #cac8c8; }
.tex_sel_box { color: #6d6f75; font-size: 11px; font-family: Arial, Verdana, Helvetica, sans-serif; font-weight: normal; margin-right: 5px; border: solid 1px #cac8c8; }
.bloquedatos {
	float: left;
	height: 20px;
	width: 260px;
}
.datos {
	float: left;
	height: 20px;
	width: auto;
}
.compdatos {
	float: right;
	height: 20px;
	width: 180px;
	margin-left: 8px;
}
/**/
/**/
/**/
/**/
#datos-del-contratante-titulo h1 {
	color: #82898e;
	font-size: 16px;
	font-weight: lighter;
	font-family: Arial, Helvetica, sans-serif;
}
#titulos-coberturas p { margin: 6px; }
#datos-personales p { line-height: 180%; }
.sec_yo_no { margin-top: 20px; margin-left: 20px; border: solid 1px #efeeea; }
#texto-columna-iz h1 {
	text-align: right;
	font-size: 18px;
	color: #666;
}
.banner-top { width: 700px; height: 100px; float: left; padding-top: 40px; padding-left: 30px; }
.banner-top h1 { color: #2d8cc4; font-weight: normal; }
.banner-top h1 span { color: #2d8cc4; font-weight: bold; }
.curva_menu_cotixador { width: 255px; height: 18px; }
.logintopclave {
	float: left;
	height: 20px;
	width: 100px;
}

.adicional_menu_nombre-mas {
	width: 104px;
	height: 28px;
	float: left;
	margin-left: 2px;
}
.adicional_menu_nombre-mas p { padding-top: 7px; }
.adicional_menu_fecha p { padding-top: 7px; }
.adicional_menu_parentesco p { padding-top: 7px; }
.adicional_menu_sexo p { padding-top: 7px; }
.ingrasa_rut_cl {
	color: #82898e;
	width: 75px;
	height: 15px;
	border: solid 1px #d1d1d1;
}
.ingrasa_rut_cl2 {
	color: #82898e;
	width: 15px;
	height: 15px;
	border: solid 1px #d1d1d1;
}
#btn-desplegable-vida-iz_fichas {
	background-color: #fff;
	width: 138px;
	height: 23px;
	margin-bottom: 5px;
	margin-left: 1px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	background-image: url(../imagenes/titulo-ficha.jpg);
	background-repeat: no-repeat;
}
#btn-desplegable-vida-iz_fichas-mas {
	width: 135px;
	height: 23px;
	margin-bottom: 5px;
	margin-top: 0px;
	float: left;
}
.lineaenblanco {
	background-color: #FFF;
	height: 28px;
	width: 689px;
	margin-right: auto;
	margin-left: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: lighter;
	color: #039;
	text-align: right;
	line-height: 180%;
}
/**/
#bloque-ingresar-dato-sex { height: 30px; }
.bloque-ingresar-dato-masc { height: 30px; float: left; }
.bloque-ingresar-dato-radiogroup {
	height: 30px;
	float: left;
	margin: 0;
	padding-right: 5px;
	padding-left: 5px;
}
.radiog { margin: 0; padding: 0; }
/**/
#bloque-ingresar-dato-ex { height: 30px; float: left; }
#bloque-ingresar-dato-ex-btn { width: 102px; height: 30px; float: left; }
/*textbox sectorizados*/
.textbox-d-personal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #707070;
	border: solid 1px #cac8c8;
	text-align: left;
	width: 120px;
}
.textbox-rut { font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #999; border: solid 1px #cac8c8; text-align: left; width: 20px; }
.textbox-fono {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #999;
	border: solid 1px #cac8c8;
	text-align: left;
	width: 75px;
}
.textbox-fecha-n { color: #999; width: 34px; border: solid 1px #d1d1d1; }
.textbox-asegurado { color: #999; width: 94px; margin-left: 5px; border: solid 1px #d1d1d1; }
.textbox-seleciona {
	color: #999;
	width: 73px;
	margin: 0;
	border: solid 1px #d1d1d1;
	font-size: 11px;
}
.textbox-seleciona-casa-ce { color: #999; width: 58px; margin: 0; border: solid 1px #d1d1d1; }
/*textbox sectorizados contacto*/
.textbox-contacto { color: #999; width: 173px; margin: 0; padding: 0; border: solid 1px #d1d1d1; }
.textbox-contacto-rut-d { color: #999; width: 127px; margin: 0; padding: 0; border: solid 1px #d1d1d1; }
.textbox-contacto-rut { color: #999; width: 35px; margin: 0; padding: 0; border: solid 1px #d1d1d1; }
.textbox-contacto-fono { color: #999; width: 68px; margin: 0 0 0 5px; padding: 0; border: solid 1px #d1d1d1; }
/*bloque-si-registrado*/
.bloque-si-registrado-dato { width: 194px; height: 30px; float: left; margin-right: auto; margin-left: auto; }
.bloque-si-registrado-tex { text-align: right; width: 50px; height: 30px; float: left; padding-left: 13px; }
.bloque-si-registrado-box { width: 130px; height: 30px; float: left; }
.clavelogintop {
	float: left;
	height: 15px;
	width: 90px;
}
.textcontrata {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666;
}
.textbox-mes {
	color: #999;
	width: 83px;
	margin: 0;
	border: solid 1px #d1d1d1;
	font-size: 11px;
}
.espacio {
	float: left;
	height: 15px;
}
/**/
.curva-topcont-secciones-linea { width: 145px; height: 12px; float: left; border-right: 1px solid #d8d8d8; }
.seccion-columna-der-banner-cliente {
	width: 190px;
	float: right;
}
#calugas-mis-productos p { font-size: 11px; line-height: 150%; }
/**/
.relleno-foto-cliente { width: 144px; height: 18px; float: left; padding-left: 2px; }
.relleno-foto-cliente-cont-img { width: 600px; height: 11px; float: left; }
.relleno-foto-cliente-img { width: 550px; height: 11px; margin-right: auto; margin-left: auto; }
#btn-desplegable-vida-iz-selec { background-color: #efeeea; width: 138px; height: 23px; margin-left: 1px; }
.textbox-clie-vida { color: #999; width: 94px; margin-top: 10px; border: solid 1px #d1d1d1; }
/**/
.btn-desplegado-vida-iz-seguro { width: 138px; height: 30px; }
.btn-desplegado-vida-iz_icono-seguro {
	width: 11px;
	height: 28px;
	float: left;
	margin-right: 3px;
}
.seguro-activo { color: #000; }
.olvidaste-tu-clave-flecha { text-align: right; height: 17px; float: left; }
.olvidaste-tu-clave-flecha img { margin-top: 3px; padding-left: 20px; }
.olvidaste-tu-clave-texto {
	height: 15px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #666;
	width: auto;
	margin-right: 10px;
}
/**/
.bloque-si-registrado-tu-clave { width: 194px; height: 24px; float: left; }
.bloque-si-registrado-flecha { width: 10px; height: 24px; float: left; padding-left: 65px; }
.bloque-si-registrado-flecha img { padding-top: 2px; }
.bloque-si-registrado-olvidate { height: 24px; float: left; }
/**/
.no-registrado-regstrarse { width: 317px; height: 20px; float: left; margin-top: 3px; }
.no-registrado-regstrarse-flecha { height: 20px; float: left; padding-left: 95px; }
.no-registrado-regstrarse-flecha img {  }
.no-registrado-regstrarse-por-que { height: 20px; float: left; }
/**/
.fraude-acepto { width: 634px; float: left; margin-top: 20px; padding-left: 70px; margin-bottom: 0; padding-bottom: 30px; }
/**/
.caluga-compra-valida {
	background-image: url(../imagenes/fondo-caluga-compra-valida.jpg);
	background-repeat: no-repeat;
	width: 572px;
	height: 61px;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.caluga-compra-valida h5 {
	padding-top: 25px;
}
.caluga-compra-valida span { color: #2d8cc4; }
.caluga-compra-valida p {
	line-height: 120%;
	padding-left: 30px;
}
/**/
.bloque-casilla-contata { height: 30px; margin-bottom: 2px; }
.bloque-casilla-contata-texto { height: 30px; float: left; }
.bloque-casilla-contata-texto span { margin-left: 20px; }
.bloque-casilla-contata-texto p { font-size: 11px; margin-top: 4px; }
.bloque-casilla-contata-selec { height: 30px; float: left; padding-right: 3px; padding-left: 3px; }
/**/
.titulo-te-ayudamos-relleno-top { width: 145px; height: 37px; float: left; border-right: 1px solid #ccc; }
/**/
.img-empresa { width: 300px; height: 237px; }
.empresa-relleno-foto { width: 460px; height: 10px; float: left; margin: 0; padding: 0; }
.empresa-relleno-foto-botton { width: 300px; height: 10px; float: left; margin: 0; padding: 0; }
/**/
.estado-del-siniestro-dato { width: 770px; float: left; margin: 40px 0 20px; }
.estado-del-siniestro { width: 155px; height: 100px; float: left; }
.estado-del-siniestro-titulo { width: 155px; height: 40px; float: left; }
.estado-del-siniestro-boton { background-image: url(../btn-img/btn-aprobado-hover.jpg); background-repeat: no-repeat; width: 155px; height: 50px; float: left; }
.estado-del-siniestro-boton p { margin-top: 15px; margin-left: 10px; }
/**/
#btn-desplegado-vida-iz span {
	color: #000;
	margin-top: 10px;
}
/**/
.seccion-columna-iz-con-foto {
	width: 387px;
	height: 10px;
	float: left;
	margin-left: 2px;
}
.texto-columna-iz-foto-botton {
	width: 330px;
	height: 10px;
	margin-right: auto;
	margin-left: auto;
}
/**/
#btn-desplegable-vida-iz span { color: #000; }
/**/
#acepto-condiciones-info p { width: 500px; float: left; margin-top: 5px; margin-left: 5px; }
/**/
#rut-clave span { color: #6d6f75; margin-left: 6px; }
/**/
#bloque-dato-usuario2 { color: #999; font-size: 11px; font-family: Arial, Helvetica, sans-serif; text-align: right; width: 126px; height: 30px; float: left; }
#bloque-dato-usuario2 p { text-align: right; padding-top: 2px; padding-right: 10px; }
#bloque-ingresar-dato3 { width: 510px; height: 30px; }
#bloque-casilla2 { margin-bottom: 2px; height: 30px; }
#bloque-dato-usuario3 { color: #999; font-size: 11px; font-family: Arial, Helvetica, sans-serif; width: 126px; height: 30px; float: left; }
#bloque-ingresar-dato4 { width: 510px; height: 30px; }
#bloque-casilla3 { margin-bottom: 2px; height: 30px; }
#bloque-dato-usuario4 { color: #999; font-size: 11px; font-family: Arial, Helvetica, sans-serif; width: 126px; height: 30px; float: left; }
#bloque-casilla4 { margin-bottom: 2px; height: 30px; }
#casilla-datos-cotizador2 { font-size: 11px; margin-top: 35px; margin-bottom: 15px; width: 630px; float: left; padding-left: 65px; }
/**/
#menu-bienvenido-b {
	width: 237px;
	height: auto;
	float: right;
	background-image: url(../imagenes/fondo-gris-cotizador.jpg);
	padding-right: 10px;
}
#menu-bienvenido-c {
	width: 247px;
	height: auto;
	float: right;
	background-image: url(../imagenes/fondo-gris-cotizador.jpg);
}
#menu-bienvenido-d {
	width: 237px;
	height: auto;
	float: right;
	background-image: url(../imagenes/fondo-gris-cotizador.jpg);
	padding-right: 10px;
}
#menu-bienvenido-e {
	background-color: #eeeced;
	width: 237px;
	height: auto;
	float: right;
	background-image: url(../imagenes/fondo-gris-cotizador.jpg);
	padding-right: 10px;
}
#menu-bienvenido-f {
	width: 237px;
	height: auto;
	float: right;
	background-image: url(../imagenes/fondo-gris-cotizador.jpg);
	padding-right: 10px;
}
/**/
#nuve-renuncia span { color: #2d8cc4; }
.nuve-renuncia-contenedor { background-repeat: no-repeat; width: 384px; height: 300px; float: left; }
/**/
.fraude-acepto-conte {
	width: 600px;
	height: 28px;
}
.fraude-acepto-conte-box {
	width: 24px;
	height: auto;
	float: left;
	margin-top: 4px;
}
.fraude-acepto-conte-tex {
	height: 24px;
	float: left;
	margin-top: 2px;
}
.fraude-acepto-conte-tex p {
	margin-top: 5px;
	text-decoration: underline;
}
.fraude-acepto-conte-foto { width: 24px; height: 24px; float: left; }
/**/
.espaciogris1 {
	float: left;
	height: 18px;
	width: 689px;
	background-color: #edecec;
	margin-top: 2px;
}
.texttobotoncaja {
	float: left;
	height: auto;
	width: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #666;
	margin-top: 3px;
	margin-left: 7px;
}
.puedesagregar {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #2d8cc4;
	list-style-image: url(../btn-img/icono_signo_mas_bla.jpg);
	margin-bottom: 15px;
}
.signomas {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #F60;
}
.fondoazulasad {
	background-image: url(../imagenes/fondoazulcaja.gif);
	height: 28px;
	width: 636px;
}
.textosbox {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #FFF;
	text-align: center;
}
.franjaazul {
	background-color: #D5E7F1;
	height: 28px;
	width: 636px;
	margin-top: 2px;
}
.frajagris {
	height: 28px;
	width: 636px;
	margin-top: 2px;
	background-color: #edecec;
}
.agregar2 {
	background-image: url(../imagenes/f-puedes-agregar3.gif);
	background-repeat: no-repeat;
	height: 24px;
	width: 634px;
	float: right;
	text-align: right;
}
.contbox {
	height: auto;
	width: 636px;
	margin-top: 17px;
	margin-right: 25px;
	margin-bottom: 0px;
	margin-left: 25px;
	float: right;
}
.estilo agregar {
	padding-right: 10px;
}
.estiloagregar {
	padding-top: 5px;
	padding-right: 10px;
}
.contagregar {
	float: right;
	height: 12px;
	width: 200px;
	margin-right: 18px;
	margin-top: 4px;
}
.contingrut {
	float: left;
	height: 20px;
	width: 350px;
	margin-left: 70px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #2d8cc4;
	margin-bottom: 25px;
}
.linea {
	float: left;
	height: 10px;
	width: 704px;
	border-bottom-width: 6px;
	border-bottom-style: solid;
	border-bottom-color: #f0eeee;
	margin-bottom: 35px;
}
.espaciodiv {
	float: left;
	height: 28px;
	width: 10px;
}
.espacio2 {
	float: left;
	height: 10px;
	width: 2px;
}
/**/
.caluga-banner-queseguro-que { background-image: url(../imagenes/fondo-caluga-banner-index-2-trans.png); background-repeat: no-repeat; width: 281px; height: 148px; margin-bottom: 3px; }
/**/
.bloque-descripcion-cobertura-dos {
	text-align: center;
	width: 120px;
	height: 60px;
	float: left;
}
.bloque-descripcion-cobertura-dos a { color: #2d8cc4; text-decoration: underline; }
.bloque-descripcion-cobertura-dos h3 { margin: 13px 0 0; }
.bloque-descripcion-cobertura-dos h4 {
	margin: 4px 0 0;
	font-size: 12px;
}
.bloque-descripcion-cobertura-dos p {
	font-size: 11px;
	text-align: center;
	margin-top: 24px;
}
/**/
.bloque-descripcion-cobertura-tres {
	text-align: center;
	width: 170px;
	height: 60px;
	float: left;
}
.bloque-descripcion-cobertura-tres a { color: #2d8cc4; text-decoration: underline; }
.bloque-descripcion-cobertura-tres h3 { margin: 13px 0 0; }
.bloque-descripcion-cobertura-tres h4 {
	margin: 4px 0 0;
	font-size: 12px;
}
.bloque-descripcion-cobertura-tres p {
	font-size: 11px;
	text-align: center;
	margin-top: 24px;
}
/**/
.contenido-desplegado-cotizador-curva-booton {
	background-image: url(../imagenes/curva-4.gif);
	background-repeat: no-repeat;
	width: 708px;
	height: 20px;
	float: left;
}
/**/
.datos-del-contratante-titulo-gris { color: #999; float: left; margin-top: 20px; padding-left: 70px; margin-bottom: 0; }
/**/
#datos-del-contratante-titulo-dos {
	width: 634px;
	float: left;
	padding-left: 70px;
}
#datos-del-contratante-titulo-dos h1 {
	color: #82898e;
	font-weight: lighter;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 180%;
}
#datos-del-contratante-titulo-tres {
	width: 150px;
	float: left;
	margin-top: 20px;
	padding-left: 70px;
	margin-bottom: 0;
}
#datos-del-contratante-titulo-tres h1 { color: #82898e; font-weight: lighter; font-family: Arial, Helvetica, sans-serif; font-size: 180%; margin: 0; padding: 0; }
#datos-del-contratante-titulo-b {
	width: 400px;
	float: left;
	margin-top: 20px;
}
#datos-del-contratante-titulo-b span { color: #2d8cc4; }
#datos-del-contratante-titulo-b p { font-size: 11px; margin: 5px 0 0; }
/**/
.bloque-ingresar-dato-masc p { font-size: 11px; padding-top: 2px; }
.divcesantia2 {
	height: 733px;
	width: 150px;
	float: left;
}
.divcesantia3 {
	float: left;
	height: 250px;
	width: 130px;
}
.telefonoboton { font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: lighter; color: #999; text-align: right; float: right; width: 400px; height: 20px; padding-right: 20px; }
.flechaazulcita {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #2d8cc4;
}
.contflecha {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #2d8cc4;
	float: left;
	height: 17px;
	width: auto;
}
.imgboton {
	background-image: url(../imagenes/f-puedes-agregar5-trans.png);
	float: left;
	height: 18px;
	width: 255px;
	background-repeat: no-repeat;
}
.espacio2 {
	float: left;
	height: 155px;
	width: 120px;
}
.espaciocesantia {
	float: left;
	height: 750px;
	width: 100px;
}
.divcesantia3 {
	float: left;
	height: 150px;
	width: 100px;
}
.diccesantia7 {
	float: left;
	height: 92px;
	width: 100px;
}
.divfraude2 {
	float: left;
	height: 752px;
	width: 100px;
}
.divcotizadorgogar3 {
	float: left;
	height: 1195px;
	width: 100px;
}
.divcotizadorsalud2 {
	float: left;
	height: 880px;
	width: 100px;
}
.divcotizadorsalud4 {
	float: left;
	height: 536px;
	width: 100px;
}
.divvehiculo1 {
	float: left;
	height: 1305px;
	width: 100px;
}
.divcotizadorvehiculo2 {
	float: left;
	height: 1466px;
	width: 100px;
}
.divcotizadorvehiculo3 {
	float: left;
	height: 1030px;
	width: 100px;
}
.cotizadorvehiculo4 {
	float: left;
	height: 840px;
	width: 100px;
}
.divcotizadorvida2 {
	float: left;
	height: 344px;
	width: 100px;
}
/**/
.bloque-descripcion-cobertura h3 {
	color: #333;
	font-size: 13px;
	margin: 3px 0 0;
}
.bloque-descripcion-cobertura h4 { color: #2d8cc4; font-size: 16px; margin: 12px 0 0; }
.peso h5 {
	font-size: 22px;
	font-weight: normal;
	text-align: right;
	margin-bottom: 0px;
	margin-top: 6px;
	margin-right: 0px;
	margin-left: 0px;
}
/**/
.mis-productos {
	width: 600px;
	float: left;
}
.mis-productos-titulo { width: 608px; float: left; padding-bottom: 33px; }
.mis-productos-titulo p {
	padding-top: 2px;
	padding-left: 50px;
	font-size: 11px;
}
.mis-productos-titulo h1 { padding-left: 50px; }
.mis-productos-titulo h1 span {
	color: #03C;
}
.mis-productos-titulo span { color: #2d8cc4; }
.mis-productos-despliegue {
	width: 590px;
	float: left;
	height: auto;
}
.mis-productos-despliegue-titulos {
	background-image: url(../imagenes/mis-productos-despliegue-titulos.jpg);
	background-repeat: no-repeat;
	width: 572px;
	height: 36px;
	margin-top: 5px;
	float: right;
}
.mis-productos-despliegue-titulos span { color: #999; }
.mis-productos-despliegue-titulos h2 {
	color: #2d8cc4;
	font-size: 11px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	text-align: left;
	margin: 10px 0 0;
	font-weight: bold;
}
.mis-produ-seguro-de-vida {
	width: 288px;
	height: 36px;
	float: left;
}
.mis-produ-seguro-compania {
	width: 112px;
	height: 36px;
	float: left;
}
.mis-produ-seguro-documentacion {
	width: 90px;
	height: 36px;
	float: left;
}
.mis-productos-despliegue-agencia {
	width: 572px;
	height: 50px;
	clear: inherit;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 10px;
}
.mis-produ-seguro-texto {
	width: 275px;
	float: left;
	height: 40px;
}
.mis-produ-seguro-texto h3 {
	margin-top: 0px;
	margin-left: 10px;
}
.mis-produ-seguro-texto h4 { color: #999; font-size: 12px; margin-top: 8px; margin-left: 10px; }
.mis-produ-seguro-compania-texto {
	text-align: center;
	width: 154px;
	float: left;
	height: 40px;
}
.mis-produ-seguro-compania-texto h3 span {
	color: #8c8a8a;
	line-height: 0px;
	margin-top: 0px;
}
.mis-produ-seguro-documentacion-texto {
	text-align: center;
	width: 130px;
	float: left;
	margin-top: 0px;
}
.mis-produ-seguro-documentacion-texto p { text-align: center; padding-top: 6px; }
.mis-produ-seguro-documentacion-texto img { padding-top: 10px; }
.mis-productos-despliegue-dos {
	width: 510px;
	height: 22px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;
	float: right;
	margin-top: 5px;
	margin-bottom: 5px;
}
.mis-productos-despliegue-dos p { margin: 7px 0 0; padding: 0; }
.mis-produ-seguro-texto-dos {
	width: 270px;
	float: left;
	height: auto;
}
.mis-produ-seguro-texto-dos p {
	margin-left: 0px;
}
.mis-produ-seguro-compania-texto-dos {
	text-align: center;
	width: 168px;
	height: 24px;
	float: left;
}
.mis-produ-seguro-documentacion-texto-dos {
	text-align: center;
	width: 55px;
	float: left;
	height: 22px;
}
.mis-produ-seguro-documentacion-texto-dos p { text-align: center; }
.mis-produ-seguro-documentacion-texto-dos p {
	text-align: center;
	margin-bottom: 0px;
}
.espacio { width: 572px; height: 12px; float: left; margin-top: 10px; margin-bottom: 10px; margin-left: 20px; border-top: 1px solid #b3afaf; }
.mis-productos-despliegue-agencia-dos {
	width: 572px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #d5d5d5;
	float: left;
	margin-left: 15px;
}
.mis-productos-despliegue-agencia-tres {
	width: 572px;
	clear: inherit;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 10px;
	height: auto;
}
/**/
.enlaces {
	width: 578px;
	height: 68px;
	float: left;
	margin-top: 40px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCC;
	margin-left: 14px;
}
.ayuda {
	width: 208px;
	height: 50px;
	float: left;
	margin-top: 15px;
}
.ayuda-texto {
	width: 160px;
	height: 50px;
	float: left;
}
.arbolito {
	width: 21px;
	height: 50px;
	float: left;
	margin-left: 0px;
}
.enlace-pdf {
	width: 240px;
	height: 50px;
	float: right;
	margin-top: 15px;
}
.enlace-pdf-texto {
	height: 50px;
	float: left;
	margin-left: 4px;
	width: 215px;
	margin-top: 0px;
}
.enlace-pdf-texto a { color: #2d8cc4; }
.enlace-pdf-texto p {
	font-size: 9px;
	margin-top: 0px;
	line-height: 120%;
}
.img-pdfp { width: 18px; height: 50px; float: left; }
/**/
.tienes-consultas {
	width: 540px;
	height: 50px;
	float: right;
}
.tienes-consultas a {
	color: #1a648f;
	font-size: 11px;
}
.tienes-consultas p { font-size: 13px; text-align: right; }
.divcotizador1 {
	float: left;
	height: 1050px;
	width: 100px;
}
.espaciotexto {
	float: left;
	height: 100px;
	width: 200px;
}
.divmas {
	float: left;
	height: 10px;
	width: 10px;
}
.colorencuenta {
	color: #8B8B8B;
}
.botonvlover {
	float: left;
	height: 41px;
	width: 114px;
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 15px;
}
.cobertmonto {
	height: 15px;
	width: 526px;
	float: left;
	margin-left: 25px;
}
.cobertura {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #2d8cc4;
	height: 15px;
	width: auto;
	float: left;
}
.monto {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #2d8cc4;
	float: right;
	height: 15px;
	width: auto;
	margin-right: 18px;
}
.contseguros {
	height: 40px;
	width: 590px;
	float: left;
	margin-top: 10px;
}
.contmombreseguro {
	float: left;
	height: 40px;
	width: 255px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 35px;
	font-weight: normal;
	color: #999;
}
.textseguro {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 20px;
	color: #999;
}
.nombrecompañia {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #999;
	float: left;
	height: 40px;
	width: 155px;
	text-align: center;
	line-height: 35px;
}
.botverpoliza {
	float: left;
	height: 40px;
	width: 130px;
	text-align: center;
}
.flecnomseguros {
	height: 10px;
	width: 35px;
	float: left;
	margin-top: 12px;
}
.contnombresegact {
	float: left;
	height: 35px;
	width: 245px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 35px;
	color: #2d8cc4;
	text-align: left;
}
.contcompact {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #2d8cc4;
	text-align: center;
	float: left;
	height: 35px;
	width: 165px;
	line-height: 35px;
}
.cobpoliza {
	height: 15px;
	width: 510px;
	float: right;
}
.titcoberturas {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #2d8cc4;
	float: left;
	height: 15px;
	width: 150px;
}
.titmonto {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #2d8cc4;
	float: right;
	height: 15px;
	width: 58px;
}
.flcehaact {
	height: 40px;
	width: 20px;
	float: left;
}
.flechaseg {
	float: left;
	height: 10px;
	width: 45px;
	margin-top: 12px;
	text-align: right;
}
.septitulos {
	float: left;
	height: 36px;
	width: 20px;
}
.septitulo2 {
	float: left;
	height: 36px;
	width: 24px;
}
.contcoberturas {
	float: left;
	height: 24px;
	width: 568px;
}

.textonline {
	color: #999;
}
.miseguros {
	color: 2b8cc4;
}
.tamañotitulos {
	font-size: 18px;
}
.contenedortitulo2 {
	float: left;
	height: 25px;
	width: 188px;
	margin-top: 0px;
}
.textproductos {
	font-size: 18px;
	color: #999;
}
.textmistitulo2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #000;
	width: 105px;
	height: 25px;
	float: right;
	margin-left: 3px;
}
.textproductostitulo2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	float: right;
	height: 25px;
	width: 30px;
	color: #999;
}
.contodoseguro {
	float: left;
	height: auto;
	width: 585px;
}
.contseguros {
	float: left;
	height: auto;
	width: 590px;
	margin-top: 0px;
}
.contenedorseg {
	float: right;
	height: auto;
	width: 546px;
}
.contopseg {
	float: right;
	height: 10px;
	width: 546px;
	background-image: url(../imagenes/topseguros.gif);
	background-repeat: no-repeat;
}
.restoseguros {
	float: right;
	height: auto;
	width: 555px;
	background-image: url(../imagenes/fondomisproductos.gif);
}
.contindividual {
	float: left;
	width: 600px;
}
.conseg {
	float: left;
	height: auto;
	width: 540px;
}
.fondoseg1 {
	height: 420px;
	background-image: url(../imagenes/fondocliente.jpg);
	float: right;
	width: 560px;
	background-repeat: no-repeat;
	background-position: top;
}
.contmisproductos {
	float: left;
	height: auto;
	width: 540px;
	margin-top: 40px;
}
.calugascliente1 {
	float: right;
	height: auto;
	width: 317px;
}
.contmiscotizaciones {
	float: left;
	height: auto;
	width: 560px;
	margin-top: 35px;
}
.contmisservicios {
	float: left;
	height: auto;
	width: 580px;
	margin-top: 35px;
}
.contcalcliente {
	float: right;
	height: auto;
	width: 535px;
	margin-top: 10px;
	margin-bottom: 50px;
}
.contelefono {
	float: right;
	height: auto;
	width: 600px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.finfondoseguros {
	float: right;
	height: auto;
	width: 555px;
}
.textobajada {
	float: left;
	height: 50px;
	width: 415px;
	margin-top: 20px;
	margin-left: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #666;
}
.contcalugascl {
	float: left;
	height: auto;
	width: 590px;
	margin-top: 15px;
	margin-left: 15px;
}
.calugatextseg {
	float: left;
	height: 180px;
	width: 142px;
}
.calugaseg {
	float: left;
	height: 141px;
	width: 142px;
}
.contextseg {
	float: left;
	height: 30px;
	width: 141px;
	margin-top: 5px;
}
.contcaltexcot {
	float: left;
	height: 180px;
	width: 142px;
	margin-left: 30px;
}
.calcotizacion {
	float: left;
	height: 141px;
	width: 142px;
}
.contextcot {
	float: left;
	height: 30px;
	width: 142px;
	margin-top: 5px;
}
.contcaltextser {
	float: left;
	height: 180px;
	width: 142px;
	margin-left: 30px;
}
.calugaserv {
	float: left;
	height: 141px;
	width: 142px;
}
.contextserv {
	float: left;
	height: 30px;
	width: 142px;
	margin-top: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #666;
}
.textcalcliente {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #999;
}
.divtexto1 {
	float: left;
	height: 10px;
	width: auto;
	margin-left: 4px;
}
.texnombusuario {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #2D8CC4;
	float: left;
	height: 10px;
	width: auto;
	margin-left: 4px;
}
.textdestacado {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000;
	float: left;
	height: 10px;
	width: auto;
	margin-left: 4px;
}
.divtexto2 {
	color: #666;
	float: left;
	height: 10px;
	width: 300px;
	margin-top: 7px;
	margin-left: 4px;
}
.contienesconsulta {
	float: left;
	height: 50px;
	width: 590px;
	margin-top: 20px;
}
.contnuevousado {
	float: right;
	height: auto;
	width: 590px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #999;
	
	margin-top: 25px;
}
.novalido {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #F90;
	border-right-color: #F90;
	border-bottom-color: #F90;
	border-left-color: #F90;
	width: 120px;
	background-color: #FC9;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #707070;
}
.novalido2 {
	background-color: #FC9;
	border: 1px solid #F90;
	width: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #707070;
}
.textonovalido {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #F90;
	float: left;
	width: 240px;
	margin-top: 3px;
	height: 16px;
}
.divtexnovalido {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #F90;
	float: left;
	height: 12px;
	width: auto;
	margin-top: 5px;
	margin-left: 2px;
}
.menerrorvida {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #F90;
	float: left;
	height: auto;
	width: auto;
	margin-top: 12px;
	margin-left: 10px;
}
.novalidovida {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #707070;
	background-color: #FC9;
	border: 1px solid #F90;
}
.conterrorbenef {
	float: left;
	height: auto;
	width: 300px;
}
.alineacionpie {
	text-align: right;
}
.conterrores {
	float: left;
	height: auto;
	width: auto;
	margin-top: 5px;
}
.conterrores {
	float: left;
	height: auto;
	width: 220px;
}
.selecciona-2 {
	float: left;
	height: 18px;
	width: 18px;
}
.cont-exclamacion {
	float: left;
	height: 18px;
	width: 270px;
}
.errores-registro {
	float: left;
	height: 25px;
	width: auto;
}
.errores-registro-2 {
	float: right;
	height: auto;
	width: 370px;
	margin-top: 10px;
}
.error-mediopago {
	float: left;
	height: auto;
	width: 230px;
	margin-top: 35px;
	margin-left: 5px;
}
.text-error-tarj {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #F90;
	float: left;
	height: auto;
	width: 200px;
	margin-left: 2px;
	margin-top: 2px;
}
.error-check {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #F90;
	float: right;
	height: auto;
	width: auto;
	margin-top: 7px;
}
.error-tarjeta {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #F90;
	float: right;
	height: auto;
	width: auto;
	margin-top: 36px;
}
.error-seleccion {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #F60;
	float: left;
	height: 20px;
	width: 220px;
	margin-top: 40px;
	margin-left: 4px;
}
.exclamacion-2 {
	background-image: url(../imagenes/exclamacion-2.gif);
	float: left;
	height: 18px;
	width: 18px;
}
.text-error-selec {
	float: left;
	height: auto;
	width: auto;
	margin-left: 2px;
}
.imagen-exc {
	background-image: url(../imagenes/exclamacion-2.gif);
	float: left;
	height: 18px;
	width: 18px;
}
.conterror_grilla {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #F93;
	float: left;
	height: 18px;
	width: 350px;
}
.cont-guardar-cotizacion {
	float: left;
	height: 25px;
	width: 100px;
	margin-top: 2px;
}
.icono-guardar {
	background-image: url(../imagenes/icono-guardar-cotizacion-trans.png);
	float: left;
	height: 21px;
	width: 29px;
	margin-top: 3px;
}
.text-guardar-cotizacion {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #999;
	float: left;
	height: 25px;
	width: 65px;
	text-align: left;
}
.cont-logo-compañia {
	text-align: center;
	float: left;
	height: 40px;
	width: 130px;
	padding-left: 5px;
	padding-top: 23px;
}
.cont-seguro {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333;
	text-align: center;
	float: left;
	height: 40px;
	width: 190px;
	font-weight: normal;
	padding-top: 30px;
}
.cont-ver-coberturas {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666;
	float: left;
	height: 40px;
	width: 120px;
	text-align: center;
	padding-top: 30px;
}
.cont-precios-coberturas {
	float: left;
	height: 40px;
	width: 100px;
	margin-left: 12px;
	padding-top: 18px;
}
.cont-pesos-dos {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	float: right;
	height: 20px;
	width: 100px;
	color: #2d8cc4;
}
.cont-uf {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #333;
	float: right;
	height: 20px;
	width: 100px;
}
.cont-ayuda-mediospago {
	float: right;
	height: 52px;
	width: 685px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #f0eeee;
	border-bottom-color: #f0eeee;
}
.cont-logo-confiable {
	float: left;
	height: 50px;
	width: 158px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #f0eeee;
	margin-right: 3px;
}
.cont-ayuda {
	float: left;
	height: 50px;
	width: 170px;
	margin-right: 20px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #f0eeee;
}
.cont-medios-pago {
	float: left;
	height: 71px;
	width: 227px;
}
.mapa-cotizador {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	float: left;
	height: auto;
	width: 362px;
	margin-left: 15px;
	padding-bottom: 15px;
}
.estas-aqui {
	font-weight: bold;
	color: #333;
	float: left;
	height: 15px;
	width: 103px;
	padding-top: 17px;
}
.aqui-cotiza-tu-seguro {
	color: #2d8cc4;
	float: left;
	height: 15px;
	width: auto;
	padding-top: 17px;
}
.recorrido-cotizador {
	color: #666;
	float: left;
	height: 15px;
	width: auto;
	padding-top: 17px;
}
.cont-flecha-clave {
	float: left;
	height: 17px;
	width: 6px;
	background-image: url(../btn-img/btn-flecha-clave-trans.png);
	margin-top: 1px;
	margin-right: 2px;
	background-repeat: no-repeat;
}
.text-novisible {
	color: #CCC;
}
.cont-flecha {
	float: left;
	height: 15px;
	width: 12px;
	padding-top: 3px;
}
.cont-monto1 {
	float: left;
	height: auto;
	width: auto;
}
.cont-nombreplan {
	float: left;
	height: auto;
	width: 180px;
	padding-left: 10px;
}
.cont-compañia {
	float: left;
	height: auto;
	width: auto;
	margin-bottom: 5px;
	padding-left: 10px;
}
.cont-monto1 {
	float: right;
	height: auto;
	width: 205px;
	margin-top: 5px;
}
.cont-monto2 {
	float: right;
	height: auto;
	width: 205px;
	margin-top: 5px;
	padding-right: 2px;
}
.medios-de-pago {
	float: left;
	height: auto;
	width: 250px;
}
.text-medios-pago {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333;
	float: left;
	height: auto;
	width: 650px;
}
.cont-text-confiable {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFF;
	float: left;
	height: 15px;
	width: 115px;
	margin-top: 17px;
}
.cont-logo-confiable {
	float: left;
	height: auto;
	width: 170px;
	margin-right: 35px;
	margin-left: 12px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #f0eeee;
}
.cont-logo {
	float: left;
	height: auto;
	width: auto;
}
.text-sitio {
	color: #333;
	float: left;
	height: 15px;
	width: auto;
}
.text-cien-porciento {
	color: #2d8cc4;
	float: left;
	height: 15px;
	width: 115px;
	margin-left: 2px;
}
.cont-text-ayuda {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	float: left;
	height: 15px;
	width: auto;
	margin-top: 7px;
}
.cont-telefono {
	font-size: 16px;
	font-weight: bold;
	color: #2d8cc4;
	float: left;
	height: 20px;
	width: 100px;
	font-family: Arial, Helvetica, sans-serif;
}
.cont-pagos {
	float: left;
	height: auto;
	width: auto;
}
.text-medios-pago {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #2d8cc4;
	float: left;
	height: 15px;
	width: auto;
	margin-top: 16px;
}
.cont-banner2 {
	float: left;
	height: auto;
	width: 690px;
	margin-top: 25px;
	margin-bottom: 10px;
}
.cont-text-pago {
	float: left;
	height: auto;
	width: 658px;
	margin-top: 20px;
	margin-bottom: 15px;
}
.cont-agregar {
	float: right;
	height: 18px;
	width: auto;
}
.titulo-menu {
	float: left;
	height: 23px;
	width: 144px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	margin-top: 15px;
}
.cont-boton2 {
	float: left;
	height: 25px;
	width: 91px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 5px;
}
.cont-boton8 {
	float: left;
	height: auto;
	width: 120px;
}
.estilo-titulo-menu {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 12px;
	color: #2d8cc4;
	float: left;
	height: 20px;
	width: 128px;
	margin-left: 2px;
	padding-left: 7px;
	margin-top: 25px;
}
.box-rut-verificador {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #999;
	float: left;
	height: 14px;
	width: 15px;
	border: 1px solid #cac8c8;
	margin-top: 2px;
}
.estilo-campos {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #999;
	float: left;
	width: 122px;
	border: 1px solid #CCC;
}
.cont-boton-cotizar {
	float: left;
	height: auto;
	width: 133px;
}	
.compañias {
	height: 40px;
	width: 932px;
	float: left;
	padding-top: 15px;
	padding-left: 30px;
}
.cont-que-seguro {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #2d8cc4;
	float: right;
	height: auto;
	width: auto;
	margin-top: 14px;
	font-weight: bold;
	text-decoration: underline;
	text-align: right;
}
.cont-comparar {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #2d8cc4;
	text-decoration: underline;
	float: right;
	height: auto;
	width: 250px;
	margin-top: 8px;
	text-align: right;
}
