/*
body {
	font-family: arial, Verdana, Helvetica, sans-serif;
	background-image: url(../images/img_light_box/fondo-ventana-emergente.png);
	margin: 0;
	padding: 0;
	height: 100px;
	width: 100%;
}*/


h1 {
	color: #4f4c4c;
	font-size: 22px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-weight: normal;
	margin-top: 0;
	margin-left: 0px;
}
h2 { color: #3bbeeb; font-size: 15px; font-family: arial, Verdana, Helvetica, sans-serif; font-weight: normal; margin: 0; }
h3 {
	color: #4f4c4c;
	font-size: 15px;
	font-family: arial, Verdana, Helvetica, sans-serif;
	font-weight: bold;
	margin: 0;
}
h1 span { color: #8c8a8a; }
h4 {
	color: #4f4c4c;
	font-size: 9px;
	font-weight: normal;
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	padding-left: 23px;
}
p { color: #494949; font-size: 11px; font-family: arial, Verdana, Helvetica, sans-serif; }
td { color: #494949; font-size: 11px; font-family: arial, Verdana, Helvetica, sans-serif; }
/*****formulario de registro INICIO *****/
#content-formulario {
	width: 638px;
	clear: both;
	margin-right: auto;
	margin-left: auto;
}
#borde-top {
	background-image: url(../images/img_light_box/top-contenedor-fondo.png);
	background-repeat: no-repeat;
	width: 638px;
	height: 40px;
	margin-right: auto;
	margin-left: auto;
}
#despliegue-formulario {
	background-image: url(../images/img_light_box/fondo-contenido-form.png);
	background-repeat: repeat-y;
	width: 638px;
	margin-right: auto;
	margin-left: auto;
}
#btn-cerra {
	width: 650px;
	height: 40px;
	margin-right: auto;
	margin-left: auto;
}
#btn-cerra img { float: right; }
#formulario-registro {
	width: 560px;
	margin-right: 0px;
	margin-left: 40px;
}
#formulario-registro_titulo {
	width: 500px;
	margin: 0;
}
.info_datos {
	width: 520px;
	height: 20px;
	margin-top: 2px;
	margin-bottom: 2px;
	vertical-align: top;
	padding: 2px;
}
.info_datos_personal {
	text-align: left;
	width: 500px;
	height: 40px;
	float: left;
}
.info_datos_personal p {
	color: #494949; 
	font-size: 11px; 
	font-family: arial, Verdana, Helvetica, sans-serif;
	display:block;
	margin:0;
	padding:0;
}
.box_datos_personal {
	text-align: left;
	width: 400px;
	height: 20px;
	margin-top: 10px;
	margin-bottom: 20px;
}
.bloue_datos {
	width: 520px;
	height: 20px;
	margin-top: 2px;
	margin-bottom: 2px;
	vertical-align: top;
	padding: 2px;
}
.bloue_datos_personal {
	text-align: left;
	width: 100px;
	height: 25px;
	float: left;
}
.bloue_datos_personal p {
	text-align: right;
	margin-top: 2px;
	margin-right: 10px;
	margin-bottom: 0;
	margin-left: 0;
}
.bloue_datos_llenar {
	/*width: 430px;*/
	height: 25px;
	float: left;
}
.bloue_datos_llenar p {
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
}
.separador_linea { width: 500px; margin-top: 20px; margin-bottom: 20px; border-top: 1px solid #ccc; }
.input_es { margin: 3px; padding: 0; border: solid 1px #ccc; }
#texto_acepto { width: 500px; height: 60px; margin-top: 20px; border-top: 1px solid #ccc; }
#btn-volver-ennviar {
	width: 500px;
	height: 28px;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
}
#btn_volver { width: 91px; height: 28px; float: left; }
#btn_enviar { width: 91px; height: 28px; float: right; }
#borde-botton { /*background-image: url(../images/img_light_box/botton-contenedor-fondo.png);*/ background-repeat: no-repeat; width: 650px; height: 25px; margin: 0; }
/*****formulario de registro FIN*****/
/**/
/**/
/********Estamos procesando********/
#estamos_procesando { width: 454px; height: 313px; margin-top: 0px; margin-right: auto; margin-left: auto; }
#curba_top_proceso {background-repeat: no-repeat; width: 454px; height: 39px;}
#curba_top_proceso img { float: right; }
.estamos_procesando_cuerpo { width: 454px; height: 274px; }
#conte_estamos_procesando { width: 435px; height: 170px; }
.icono_geeral {
	text-align: center;
	width: 435px;
	height: 46px;
	padding-top: 20px;
}
#texto_procesando { text-align: center; width: 435px; font-family: Arial, Verdana, Helvetica, sans-serif;}
#texto_procesando h3 { color: #82898e; font-weight: normal; }
#texto_procesando span { color: #2d8cc4; }
/********Estamos procesando FIN********/
/******ERRPR*****/
.pantalla-error_cuerpo { /*background-image: url(../images/img_light_box/f-pantalla-error.png);*/ width: 454px; height: 274px; }
/******ERRORO*****/
/**/
/******exito*****/
.pantalla-exito_cuerpo { width: 454px; height: 174px;}
/******exito*****/
/********************************************************************/
/******TUS DATOS******/
#contenido_tus_datos { width: 643px; margin-right: auto; margin-left: auto; }
#curvas_tus_dato_top { background-image: url(../images/img_light_box/f-curvas_tus_dato_top.png); background-repeat: no-repeat; width: 643px; height: 39px; }
#curvas_tus_dato_top img { text-align: right; float: right; }
#contenido_tus_datos_central { background-image: url(../images/img_light_box/f-contenido_tus_datos_central.png); background-repeat: repeat-y; width: 643px; }
#tus_datos_titulos { width: 643px; height: 60px; padding-top: 30px; }
#tus_datos_titulos h1 { margin-right: 0; margin-bottom: 0; margin-left: 45px; padding-right: 0; padding-bottom: 0; padding-left: 0; }
#despliegue_datos { width: 643px; height: 22px; }
#despliegue_datos span { color: #82898e; }
#despliegue_datos p { margin-top: 0; margin-left: 50px; }
.separacion_datos { width: 630px; height: 30px; margin-top: 30px; margin-left: 3px; border-top: 2px solid #bdbdbd; }
#curva_tus_datos-botton { background-image: url(../images/img_light_box/f-curva_tus_datos-botton.png); background-repeat: no-repeat; width: 643px; height: 27px; }
#contenido_tus_datos_central { background-image: url(../images/img_light_box/f-contenido_tus_datos_central.png); background-repeat: repeat-y; width: 643px; }
/******TUS DATOS FIN******/
/**********************************************/
/**********************************************/
#conte-comparador_ficha { width: 882px; margin-top: 50px; margin-right: auto; margin-left: auto; }
.curva_comparador_ficha_top { background-image: url(../images/img_light_box/f-curva_comparador_ficha_top.png); background-repeat: no-repeat; width: 882px; height: 39px; }
.curva_comparador_ficha_top img { float: right; }
#despliegue_ficha { background-image: url(../images/img_light_box/f-despliegue_ficha.png); background-repeat: repeat-y; width: 882px; float: left; }
#ficha { width: 732px; margin-left: 50px; padding-top: 20px; }
#ficha_titulo { width: 732px; padding-bottom: 30px; }
#ficha_titulo h1 { margin: 0; padding: 0; }
#ficha_menu { background-image: url(../images/img_light_box/f-ficha_menu.gif); background-repeat: no-repeat; width: 730px; height: 61px; }
#ficha_menu span { color: #2d8cc4; }
#ficha_menu p { color: #82898e; text-align: center; margin-top: 6px; margin-right: 10px; margin-left: 10px; }
.coberturas { width: 226px; height: 61px; float: left; }
.coberturas span { color: #2d8cc4; }
.coberturas h1 { color: #82898e; font-size: 14px; text-align: left; margin: 10px 0 0 20px; }
.causa { width: 153px; height: 61px; float: left; }
.accidente { width: 167px; height: 61px; float: left; }
.prima { width: 184px; height: 61px; float: left; }
.ficha_bloque_despliegue { background-color: #ededee; width: 730px; height: 63px; margin-top: 3px; margin-bottom: 3px; }
.ficha_bloque_texto { text-align: center; width: 226px; height: 63px; float: left; border-right: 2px solid #fff; }
.ficha_bloque_texto p {
	font-size: 11px;
	line-height: 160%;
	text-align: left;
	margin-left: 20px;
}
.ficha_bloque_ok_uno { text-align: center; width: 150px; height: 61px; float: left; border-right: 2px solid #fff; }
.ficha_bloque_ok_dos { text-align: center; width: 164px; height: 61px; float: left; border-right: 2px solid #fff; }
.ficha_bloque_ok_tres { text-align: center; width: 184px; height: 61px; float: left; }
.compartir { width: 730px; height: 40px; float: left; }
.curva_comparador_ficha_botton { background-image: url(../images/img_light_box/curva_comparador_ficha_botton.png); background-repeat: no-repeat; width: 882px; height: 39px; float: left; }
/**/
/**********************************************/
/**/
/**********************************************/
/*****ESTIMADO SEÑOR******/
#estimado_senor_contenedor { background-image: url(../images/img_light_box/f-estimado_senor_contenedor.png); background-repeat: no-repeat; width: 639px; height: 400px; margin-top: 50px; margin-right: auto; margin-left: auto; }
#contenido_senor { width: 630px; height: 400px; margin-right: auto; margin-left: auto; }
#contenido_senor_texto {
	width: 630px;
	padding-top: 5px;
}
#contenido_senor_texto p { font-size: 11px; padding-top: 10px; padding-right: 250px; padding-left: 50px; }
#contenido_senor_texto span { color: #000; }
#logos_senor { width: 628px; height: 49px; margin-right: auto; margin-left: auto; padding-top: 20px; }
#botones_senor { width: 628px; height: 47px; margin-right: auto; margin-left: auto; padding-top: 30px; }
#bajada_de_texto { width: 628px; height: 47px; margin-right: auto; margin-left: auto; padding-top: 10px; }
#bajada_de_texto a { color: #2d8cc4; }
#bajada_de_texto p { text-align: right; margin-top: 5px; padding-right: 300px; padding-left: 40px; }
#senor_compartir { width: 628px; margin-right: auto; margin-left: auto; }
#senor_compartir p { font-size: 11px; text-align: right; padding-top: 4px; padding-right: 20px; }
/*cotizador-vida-10*/
.cotizador-vida-fin { width: 651px; clear: both; margin-top: 50px; margin-right: auto; margin-left: auto; }
.cotizador-vida-fin_curva_top { background-image: url(../images/img_light_box/cotizador-vida-fin_curva_top.png); background-repeat: no-repeat; text-align: right; width: 651px; height: 39px; }
.contizador_contenido_des_f { background-image: url(../images/img_light_box/fondo-cotizador-vida-fin_contenido.png); background-repeat: repeat-y; width: 651px; }
.texto_cotizador_despl { width: 651px; }
.texto_cotizador_despl span { color: #2d8cc4; }
.texto_cotizador_despl p { line-height: 170%; margin: 0; padding: 40px 100px 0 50px; }
.texto_cotizador_logos { width: 631px; height: 60px; padding-left: 20px; }
.cotizador-pdf-con { width: 651px; height: 94px; }
.descargar-pdf-acrobat { width: 290px; height: 94px; float: left; }
.descargar-pdf { text-align: right; width: 290px; height: 45px; float: left; }
.descargar-pdf img { padding-top: 10px; }
.descargar-acrobat { width: 290px; height: 45px; float: left; }
.descargar-acrobat a { color: #2d8cc4; }
.descargar-acrobat p { text-align: right; margin: 0; padding: 5px 0 0; }
.btn_inicio { width: 129px; height: 94px; float: right; margin-right: 40px; }
.cotizador-vida-fin_curva_botton { background-image: url(../images/img_light_box/cotizador-vida-fin_curva_botton.png); background-repeat: no-repeat; text-align: right; width: 651px; height: 28px; float: left; }
/*TUS DATOS
*/
.tus-datos { width: 649px; margin-top: 50px; margin-right: auto; margin-left: auto; }
.tus-datos-curva_top { background-image: url(../images/img_light_box/fondo-tus-datos-curva_top.png); text-align: right; width: 649px; height: 40px; }
.tus-datos-contenido { background-image: url(../images/img_light_box/fondo-tus-datos-contenido.png); background-repeat: repeat-y; width: 649px; }
.tus-datos-contenido-despliegue { width: 630px; margin-left: 4px; }
.tus-datos-contenido-titulos { width: 600px; padding-top: 30px; padding-left: 30px; }
/*TUS DATOS
*/
.tus-datos-curva_botton { background-image: url(../images/img_light_box/fonfo-tus-datos-curva_botton.png); text-align: right; width: 649px; height: 27px; }
.tus-datos-contenido-datos { width: 600px; padding-top: 40px; padding-bottom: 20px; padding-left: 30px; border-top: 5px solid #d1d1d1; }
.tus-datos-contenido-datos span { color: #8c8a8a; }
.tus-datos-contenido-datos p { color: #000; line-height: 70%; }
/*estilo box para informacion de registro*/
.textbox-con-nu { color: #999; width: 120px; margin: 0; padding: 0; border: solid 1px #ccc; }
.textbox-con-dato { color: #999; width: 120px; margin: 0; padding: 0; border: solid 1px #ccc; }
.texbon-selecion { margin: 0; padding: 0; border: solid 1px #ccc; }
.textbox-con-rut { color: #999; width: 78px; margin: 0; padding: 0; border: solid 1px #ccc; }
.textbox-con-rut-n { color: #999; width: 25px; margin: 0; padding: 0; border: solid 1px #ccc; }
.textbox-con-fono { color: #999; width: 56px; margin: 0; padding: 0; border: solid 1px #ccc; }
.textbox2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #999;
	border: 1px solid #cac8c8;
}
.texosavisos {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: oblique;
	color: #999;
}
.datosobligatorios {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #2d8cc4;
}

.textbox-d-personal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #999;
	border: solid 1px #cac8c8;
	text-align: left;
	width: 120px; }
.bloue_datos_llenar span { color: #2d8cc4; }
.bloue_datos_llenar-b { width: 430px; height: 25px; float: left; }
.bloue_datos_llenar-b p { margin-top: 5px; }
.textingresar {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #4f4c4c;
	margin-left: 29px;
	padding-bottom: 0px;
	line-height: 5px;
	height: 10px;
	width: 560px;
}
.divingresar {
	float: left;
	height: 10px;
	width: 500px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #4f4c4c;
	padding-left: 28px;
	margin-bottom: 10px;
}
.ingredatos {
	float: left;
	height: 10px;
	width: 500px;
}



.novalido {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #F90;
	border-right-color: #F90;
	border-bottom-color: #F90;
	border-left-color: #F90;
	background-color: #FC9;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #707070;
}
.novalido2 {
	background-color: #FC9;
	border: 1px solid #F90;
	width: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #707070;
}
.textonovalido {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #F90;
	margin-left: 5px;
	float: left;
	height: auto;
	width: 320px;
	margin-top: 2px;
}
.divtexnovalido {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #F90;
	/*position: relative;*/
	float: right;
	/*top: -30px;*/
	text-align:right;
	/*width: auto;*/
	margin-left: 5px;
	vertical-align: top;
}
.menerrorvida {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #F90;
	float: left;
	height: auto;
	width: auto;
	margin-top: 12px;
	margin-left: 10px;
}
.novalidovida {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #707070;
	background-color: #FC9;
	border: 1px solid #F90;
}
.conterrorbenef {
	float: left;
	height: auto;
	width: 350px;
}
.alineacionpie {
	text-align: right;
}
.conterrores {
	float: left;
	height: auto;
	width: auto;
	margin-top: 5px;
}
.conterrores {
	float: left;
	height: auto;
	width: 220px;
}
.cont_errores {
	height: 18px;
	width: auto;
	float: left;
	margin-top: 5px;
}
.imagen {
	float: left;
	height: 18px;
	width: 18px;
}
.cont-error-tarjetas {
	float: left;
	height: 18px;
	width: auto;
	margin-top: 38px;
	margin-left: 5px;
}
.text-error-tarjetas {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #F90;
	float: left;
	height: 15px;
	width: 190px;
	margin-top: 2px;
	margin-left: 5px;
}
.cont-errores-condiciones {
	float: right;
	height: auto;
	width: 270px;
}
.cont-error-tarjetamas {
	float: right;
	height: auto;
	width: 100px;
	margin-top: 35px;
}
.cont-error-registro {
	float: right;
	height: auto;
	width: 380px;
	margin-top: 2px;
}
.checkbox-error {
	background-color: #F90;
}

.textbox {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #999;
	border: solid 1px #cac8c8;
	text-align: left;
	
}


#content-formulario2 {
	width: 379px;
/*	margin-right: auto;
	margin-left: auto;
	height: auto;
	margin-top: 25px;*/
}

#borde-top2 {
	background-image: url(../images/img_light_box/top-contenedor-fondo2.gif);
	background-repeat: no-repeat;
	width: 400px;
	height: 40px;
	float: left;
}

#btn-cerra2 {
	width: 379px;
	height: 40px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: right;
}

#despliegue-formulario2 {
	background-image: url(../images/img_light_box/fondo-contenido-form2.gif);
	background-repeat: repeat-y;
	width: 379px;
	float: left;
	height: auto;
}

#formulario-registro3 {
	width: 343px;
	margin-right: auto;
	margin-left: auto;
	height: 100px;
	margin-top: 28px;
	*margin-top:10px;
}
.cont-rut-boton {
	float: left;
	height: 19px;
	width: 355px;
}

.bloue_datos3 {
	width: 245px;
	height: 28px;
	margin-top: 2px;
	margin-bottom: 5px;
	float: left;
}

.bloue_datos_personal2 {
	text-align: right;
	width: 55px;
	height: 20px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #494949;
	padding-top: 5px;
	padding-right: 3px;
}

.bloue_datos_llenar2 {
	width: 175px;
	height: 25px;
	float: left;
}
#btn_enviar2 {
	width: 91px;
	height: 28px;
	float: left;
}
.contenedor-texto-clave {
	float: left;
	height: auto;
	width: 320px;
	margin-top: 10px;
	padding-left: 20px;
}

.div-texto-recuperar-clave {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666;
	float: left;
	height: auto;
	width: auto;
	margin-top: 10px;
}

#borde-botton2 {
	/*background-image: url(../images/img_light_box/botton-contenedor-fondo2.gif);*/
	background-repeat: no-repeat;
	width: 379px;
	height: 25px;
	margin: 0;
	float: left;
}
#formulario-registro_titulo2 {
	width: 379px;
	margin: 0;
}
