body { font-family: Arial, Verdana, Helvetica, sans-serif; margin: 0; padding: 0; }
/****inicio nube leyer pregunta****/
#nube_pregunta { width: 157px; }
#curva_nube_pregunta_top {
	background-image: url(../images/img_light_box/f-curva_nube_pregunta_top.png);
	background-repeat: no-repeat;
	width: 157px;
	height: 15px;
}
#nube_pregunta_texto { background-image: url(../images/img_light_box/f-nube_pregunta_texto.png); background-repeat: repeat-y; width: 157px; }
#nube_pregunta_texto p { color: #4f4c4c; font-size: 11px; text-align: justify; margin: 0 15px 0 20px; padding: 0; }
#curva_nube_pregunta_botton { background-image: url(../images/img_light_box/f-curva_nube_pregunta_botton.png); background-repeat: no-repeat; width: 157px; height: 17px; }
/****inicio nube leyer pregunta  FIN*****/
/******************************************/
/******************************************/
/******************************************/
/****ALERTE DATOS****/
#alerta_datos { background-image: url(../images/img_light_box/f-alerta_datos.png); background-repeat: no-repeat; width: 477px; height: 53px; }
#alerta_datos span { color: #ff4107; font-size: 20px; font-weight: bold; margin-right: 5px; }
#alerta_datos p { color: #747475; font-size: 14px; text-align: center; margin: 0; padding-top: 12px; }
/****ALERTE DATOS FIN****/
/********************************************/
/********************************************/
/*****VER******/
#centenedor_ver { width: 366px; float: left; }
#curva_ver_top {
	background-image: url(../images/img_light_box/f-curva_ver_top.png);
	width: 366px;
	height: 9px;
	float: left;
	background-repeat: no-repeat;
}
.ver-titulos { background-repeat: no-repeat; width: 366px; height: 20px; float: left; }
.ver-titulos span { margin-left: 20px; }
.ver-titulos h1 { color: #2d8cc4; font-size: 13px; margin: 0; padding: 0; }
#despliegue_ver {
	background-image: url(../images/img_light_box/f-despliegue_ver.png);
	background-repeat: repeat-y;
	width: 366px;
	float: left;
	margin: 0px;
}
.ver-cobertura { background-repeat: no-repeat; width: 230px; height: 20px; float: left; padding-left: 30px; }
.ver-monto { background-repeat: no-repeat; width: 100px; height: 20px; float: left; }
.ver-textos { background-image: url(../images/img_light_box/sombra.png); background-repeat: no-repeat; background-position: 50% bottom; width: 366px; float: left; margin-top: 5px; margin-bottom: 5px; padding-bottom: 10px; }
.ver-textos img { float: left; margin-right: 5px; margin-bottom: 10px; }
.ver-textos p { color: #898686; font-size: 11px; margin: 10px 0 0; padding-right: 30px; }
.ver-texto-covertura { background-repeat: no-repeat; width: 230px; float: left; padding-left: 30px; }
.ver-texto-monto { background-repeat: no-repeat; width: 100px; float: left; }
.ver-ir-aficha { width: 366px; float: left; margin-top: 10px; }
.ver-ir-aficha a { color: #2d8cc4; text-decoration: underline; }
.ver-ir-aficha p { color: #898686; font-size: 10px; text-align: right; margin: 0; padding: 0 30px 0 0; }
#curva_ver_botton { background-image: url(../images/img_light_box/f-curva_ver_botton.png); background-repeat: no-repeat; width: 366px; height: 31px; float: left; }
/*****VER FIN******/
/**/
/*MENU DESPLEGABLE*/
.menu-desplegable {
	width: 160px;
	margin-right: auto;
	margin-left: auto;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #FFF;
	border-bottom-color: #FFF;
	border-left-color: #FFF;
	height: 50px;
	background-image: url(../images/img_light_box/fondo-menu.jpg);
	background-color: #6FAFD3;
	background-repeat: no-repeat;
	position: absolute;
	z-index: 9999;
	left: -1px;
	top: 38px;
}
.despliegue {
	width: 160px;
	margin-bottom: 20px;
	padding-top: 10px;
	height: 180px;
}
.despliegue p { line-height: 190%; margin: 0; padding: 0; }
.despliegue a {
	color: #FFF;
	text-decoration: none;
}

.despliegue a2 {
	color: #333;
	text-decoration: none;
}
.despliegue a:hover { color: #2d8cc4; }
.despliegue ul { margin: 10px 0; padding-left: 20px; }
.despliegue ul li {
	font-size: 11px;
	list-style-image: url(../images/img_light_box/flecha-menu_hover.png);
}
.despliegue ul li:hover {
	list-style-image: url(../images/img_light_box/flecha-menu_hover.png);
}
.corte {
	width: 140px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFF;
	height: 3px;
	margin-top: 10px;
	margin-bottom: 10px;
}
/*MENU DESPLEGABLE*/
#texto_bboques_ver h2 { color: #2d8cc4; font-size: 17px; width: 300px; height: 50px; float: left; margin-left: 30px; padding-top: 5px; padding-bottom: 5px; }
.contver {
	float: left;
	height: auto;
	width: 366px;
}
.titulo-menu-desplegable {
	float: right;
	height: 20px;
	width: 152px;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 11px;
	color: #FFF;
	padding-top: 5px;
}
.flecha-menu {
	float: left;
	height: 20px;
	width: 15px;
}
.productos-menu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFF;
	float: right;
	height: 20px;
	width: 152px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.productos-menu a:link, .productos-menu a:visited {
	color: #fff;
}
.productos-menu a:hover, .productos-menu a:active {
	color: #1F5F85;
}
.cont-menu {
	float: left;
	height: auto;
	width: 160px;
}
.hide {
	display: none;
}







#despliegue_ver_polizanotfound {
	background-repeat: repeat-y;
	width: 416px;
	float: left;
	margin: 0px;
	height: 130px;
	overflow-x: hidden;
	overflow-y: auto;
	border: 1px solid #2d8cc4;
	padding-left:10px;
	padding-right:10px;
}
#centenedor_ver_polizanotfound {
	width: 440px;
	float: left;
}

.contver_polizanotfound {
	float: left;
	height: auto;
	width: 440px;
}

.ver-texto-cobertura_polizanotfound {
	background-repeat: no-repeat;
	float: left;
	padding-left: 15px;
}
.ver-textos-cob_polizanotfound {
	background-repeat: no-repeat;
	background-position: 50% bottom;
	width: 418px;
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #F0F0F0;
	padding-top: 5px;
	float: left;
}

