
<!-- INICIO COMPA&ntilde;IAS QUE TRABAJN CON NOSOTROS -->
<div class="container">
	<div class="compania">
		<div class="col-lg-12 compania">
			<div>
				<h4>Compa&ntilde;&iacute;as que trabajan con nosotros:</h4>
			</div>
			<div id="owl-demo" class="owl-carousel">
				<div class="item">
					<img src="/vseg-paris/img/seguros/bn/Magallanes.png"
						alt="Magallanes" />
				</div>
				<div class="item">
					<img src="/vseg-paris/img/seguros/bn/Consorcio.png" alt="Consorcio" />
				</div>
				<div class="item">
					<img src="/vseg-paris/img/seguros/bn/Zenit.png" alt="Zenit" />
				</div>
				<div class="item">
					<img src="/vseg-paris/img/seguros/bn/BNP.png" alt="BNP" />
				</div>
				<div class="item">
					<img src="/vseg-paris/img/seguros/bn/Sura.png" alt="RSA" />
				</div>
				<div class="item">
					<img src="/vseg-paris/img/seguros/bn/Metlife.png" alt="Metlife" />
				</div>
				<div class="item">
					<img src="/vseg-paris/img/seguros/bn/Banchile.png" alt="Banchile" />
				</div>
				<div class="item">
					<img src="/vseg-paris/img/seguros/bn/Liberty.png" alt="Liberty" />
				</div>
				<div class="item">
					<!--img src="/vseg-paris/img/seguros/bn/PentaSecurity.png"
						alt="PentaSecurity" /-->
				</div>
				<div class="item">
					<img src="/vseg-paris/img/seguros/bn/Mapfre.png" alt="Mapfre" />
				</div>
				<div class="item">
					<img src="/vseg-paris/img/seguros/bn/Bice_Vida.png" alt="BiceVida" />
				</div>
			</div>
		</div>
	</div>
</div>
<!-- INICIO FOOTER-->
<div class="footer footer-seguros" id="footer">
	<div class="container">
		<div class="row hidden-xs">
			<div class="col-sm-9 col-md-9 col-lg-9 col-footer">
				<div class="col-sm-3 col-md-3 col-lg-3">
					<h4>Politicas del Sitio</h4>
					<ul>
						<li><a href="/vseg-paris/html/empresa.html"> Nuestra
								Empresa </a></li>
						<li><a href="/vseg-paris/html/politicas.html">
								Pol&iacute;ticas de Seguridad </a></li>
						<li><a href="/vseg-paris/html/terminos-condiciones.html">
								T&eacute;rminos y Condiciones </a></li>
					</ul>
				</div>
				<div class="col-sm-3 col-md-3 col-lg-3">
					<h4>Te Ayudamos</h4>
					<ul>
						<li><a href="/vseg-paris/html/preguntas-frecuentes.html">
								Preguntas Frecuentes </a></li>
						<li><a href="/vseg-paris/html/caso-siniestro.html"> En
								Caso de Siniestro </a></li>
						<li><a href="/vseg-paris/Sucursales"> Nuestras Sucursales
						</a></li>
						<li><a href="/vseg-paris/html/polizas.html">
								P&oacute;lizas </a></li>
						<li><a href="/vseg-paris/html/glosario.html"> Glosario </a></li>
						<li><a href="/vseg-paris/html/puntos.html"> Acumulas
								Puntos <br> Cencosud </a></li>
						<li><a href="/vseg-paris/html/contactanos.html">
								Cont&aacute;ctanos </a></li>
					</ul>
				</div>
				<div class="col-sm-3 col-md-3 col-lg-3">
					<h4>Cencosud</h4>
					<ul>
						<li><a href="http://www.tarjetacencosud.cl/" target="_blank">
								Tarjeta Cencosud </a></li>
						<li><a href="http://www.bancoparis.cl/" target="_blank">
								Banco Paris </a></li>
						<li><a href="http://www.paris.cl/" target="_blank"> Paris
						</a></li>
						<li><a href="http://www.jumbo.cl/" target="_blank"> Jumbo
						</a></li>
						<li><a href="http://www.easy.cl/" target="_blank"> Easy </a>
						</li>
						<li><a href="http://www.johnson.cl/" target="_blank">
								Johnson </a></li>
						<li><a href="http://www.santaisabel.cl/" target="_blank">
								Santa Isabel </a></li>
						<li><a href="http://www.puntoscencosud.cl/" target="_blank">
								Puntos Cencosud </a></li>
					</ul>
				</div>
				<div class="col-sm-3 col-md-3 col-lg-3">
					<h4>Informaci&oacute;n</h4>
					<ul>
						<li><a
							href="http://www.svs.cl/portal/principal/605/w3-channel.html"
							target="_blank"> Superintendecia Valores y Seguros </a></li>
						<li><a href="https://www.seguroscencosud.cl/vseg-paris/html/bases_Promocion.html"> Bases de Promoci&oacute;n </a></li>
						<li><a href="/vseg-paris/html/credito_consumo.html"
							target="_blank"> Seguros Cr&eacute;dito de <br> Consumo
						</a></li>
						<li><a href="/vseg-paris/html/Contratacion_Voluntaria.html" 
						target="_blank">Contrataci&oacute;n Voluntaria</a></li>
						<li><a href="/vseg-paris/contactoDenuncias.do?donde=inicio" target="_blank">Denuncias Ley N&deg;20.393</a></li>
						<li><a href="https://www.seguroscencosud.cl/vseg-paris/html/ganadores.html">Ganadores</a></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-3 col-md-3 col-lg-3 footer-blog">
				<a href="http://www.vivetranquilovivefeliz.cl/"><img
					src="/vseg-paris/img/vivetranquilovivefeliz.png" />
				</a>
				<div class="sociales">
					<p>Siguenos en</p>
					<a class="facebook" href="http://bit.ly/29h8n3W" target="_blank">facebook</a> 
					<a class="twitter" href="http://bit.ly/29g8lbN" target="_blank">twitter</a> 
				</div>
				<img class="secure" src="/vseg-paris/img/logo_global_sign.png" />
			</div>
		</div>
		<!--/.row-->
		<div class="row hidden-sm hidden-md hidden-lg">
			<div class="panel-group" id="accordion" role="tablist"
				aria-multiselectable="true">
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingFive">
						<h4 class="panel-title">
							<a role="button" data-toggle="collapse" data-parent="#accordion"
								href="#collapseFive" aria-expanded="true"
								aria-controls="collapseFive"> Politicas del Sitio </a>
						</h4>
					</div>
					<div id="collapseFive" class="panel-collapse collapse"
						role="tabpanel" aria-labelledby="headingFive">
						<div class="panel-body">
							<ul>
								<li><a href="/vseg-paris/html/empresa.html"> Nuestra
										Empresa </a></li>
								<li><a href="/vseg-paris/html/politicas.html">
										Pol&iacute;ticas de Seguridad </a></li>
								<li><a href="/vseg-paris/html/terminos-condiciones.html">
										T&eacute;rminos y Condiciones </a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingSix">
						<h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse"
								data-parent="#accordion" href="#collapseSix"
								aria-expanded="false" aria-controls="collapseSix"> Te
								ayudamos </a>
						</h4>
					</div>
					<div id="collapseSix" class="panel-collapse collapse"
						role="tabpanel" aria-labelledby="headingSix">
						<div class="panel-body">
							<ul>
								<li><a href="/vseg-paris/html/preguntas-frecuentes.html">
										Preguntas Frecuentes </a></li>
								<li><a href="/vseg-paris/html/caso-siniestro.html"> En
										Caso de Siniestro </a></li>
								<li><a href="/vseg-paris/Sucursales"> Nuestras
										Sucursales </a></li>
								<li><a href="/vseg-paris/html/polizas.html">
										P&oacute;lizas </a></li>
								<li><a href="/vseg-paris/html/glosario.html"> Glosario
								</a></li>
								<li><a href="/vseg-paris/html/puntos.html"> Acumulas
										Puntos Cencosud </a></li>
								<li><a href="/vseg-paris/html/contactanos.html">
										Cont&aacute;ctanos </a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingSeven">
						<h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse"
								data-parent="#accordion" href="#collapseSeven"
								aria-expanded="false" aria-controls="collapseSeven">
								Cencosud </a>
						</h4>
					</div>
					<div id="collapseSeven" class="panel-collapse collapse"
						role="tabpanel" aria-labelledby="headingSeven">
						<div class="panel-body">
							<ul>
								<li><a href="http://www.tarjetacencosud.cl/"
									target="_blank"> Tarjeta Cencosud </a></li>
								<li><a href="http://www.bancoparis.cl/" target="_blank">
										Banco Paris </a></li>
								<li><a href="http://www.paris.cl/" target="_blank">
										Paris </a></li>
								<li><a href="http://www.jumbo.cl/" target="_blank">
										Jumbo </a></li>
								<li><a href="http://www.easy.cl/" target="_blank"> Easy
								</a></li>
								<li><a href="http://www.johnson.cl/" target="_blank">
										Johnson </a></li>
								<li><a href="http://www.santaisabel.cl/" target="_blank">
										Santa Isabel </a></li>
								<li><a href="http://www.puntoscencosud.cl/" target="_blank">
										Puntos Cencosud </a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headinEightr">
						<h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse"
								data-parent="#accordion" href="#collapseEight"
								aria-expanded="false" aria-controls="collapseEight">
								Informaci&oacute;n </a>
						</h4>
					</div>
					<div id="collapseEight" class="panel-collapse collapse"
						role="tabpanel" aria-labelledby="headingEight">
						<div class="panel-body">
							<ul>
								<li><a
									href="http://www.svs.cl/portal/principal/605/w3-channel.html"
									target="_blank"> Superintendecia Valores y Seguros </a></li>
								<li><a href="https://www.seguroscencosud.cl/vseg-paris/html/bases_Promocion.html"
									target="_blank"> Bases de Promoci&oacute;n </a></li>
								<li><a href="/vseg-paris/html/credito_consumo.html"
									target="_blank"> Seguros Cr&eacute;dito de Consumo </a></li>
								<li><a href="/vseg-paris/html/Contratacion_Voluntaria.html" 
									target="_blank">Contrataci&oacute;n Voluntaria</a></li>
								<li><a href="/vseg-paris/contactoDenuncias.do?donde=inicio" target="_blank">Denuncias Ley N&deg;20.393</a></li>
								<li><a href="https://www.seguroscencosud.cl/vseg-paris/html/ganadores.html">Ganadores</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/.row-->
		<div class="row">
			<div class="col-xs-12 footer-blog hidden-md hidden-lg hidden-sm">
				<a href="http://www.vivetranquilovivefeliz.cl/"><img
					src="/vseg-paris/img/vivetranquilovivefeliz.png" />
				</a>
				<div class="sociales">
					<p>Siguenos en</p>
					<a class="facebook" href="http://bit.ly/29h8n3W" target="_blank">facebook</a> 
					<a class="twitter" href="http://bit.ly/29g8lbN" target="_blank">twitter</a> 
				</div>
				<img class="secure" src="/vseg-paris/img/logo_global_sign.png" />
			</div>
		</div>
	</div>
	<!--/.container-->
</div>
<!--/.footer-->

<div class="container">
	<div class="row top15">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<div class="col-md-2 hidden-xs">
				<h5>Medios de Pago:</h5>
			</div>
			<div class="col-md-4">
				<img src="/vseg-paris/img/medio_pago1.png" alt="medios de pago" />
			</div>
			<div class="col-md-4">
				<img src="/vseg-paris/img/medio_pago2.png" alt="medios de pago" />
			</div>
		</div>
		<div class="col-md-1"></div>
	</div>
</div>
<div class="copyright top15">
	<div class="container">
		<div class="row">
			<span class="hidden-xs"> Copyright 2015. Todos los derechos
				reservados. Sitio optimizado para los navegadores Mozilla Firefox,
				Google Chrome e Explorer 9 &oacute; superior.</span>
		</div>
	</div>
</div>


<!-- FIN FOOTER-->
