 
    <!-- Bootstrap core CSS -->
    <link href="/vseg-paris/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vseg-paris/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/vseg-paris/css/estilos.css" rel="stylesheet">
    <link href="/vseg-paris/css/carousel.css" rel="stylesheet">
    <link href="/vseg-paris/css/base.css" rel="stylesheet">
	<script src="/vseg-paris/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="/vseg-paris/../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/vseg-paris/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/vseg-paris/https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="/vseg-paris/https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
  

	<!-- Important Owl stylesheet -->
	<link rel="stylesheet" href="/vseg-paris/css/owl.carousel.css">
	
	<!-- Default Theme -->
	<link rel="stylesheet" href="/vseg-paris/css/owl.theme.css">
	
	<!-- Include js plugin --> 
	<script src="/vseg-paris/js/owl.carousel.js"></script> 
	<script type="text/javascript">
		$(document).ready(function() {

			var owl = $("#owl-demo");

			owl.owlCarousel({

				items : 6, //10 items above 1000px browser width
				itemsDesktop : [ 1200, 5 ], //5 items between 1000px and 901px
				itemsDesktopSmall : [ 992, 3 ], // 3 items betweem 900px and 601px
				itemsTablet : [ 768, 2 ], //2 items between 600 and 0;
				itemsMobile : false, // itemsMobile disabled - inherit from itemsTablet option

			});
		});
	</script> 
	<script type="text/javascript">
	      //<![CDATA[
	      $(document).ready(function(){
	        $('.toggle-menu').jPushMenu({closeOnClickLink: false});
	        $('.dropdown-toggle').dropdown();
	      });
	      //]]>
	    </script> 
	<script src="/vseg-paris/js/vendor/bootstrap.min.js"></script> 
	<script src="/vseg-paris/js/jPushMenu.js"></script> 
	<script src="/vseg-paris/js/v2p.js"></script>    
   
<!-- INICIO HEADER -->
<header> 
<!-- Static navbar -->
	
  <nav class="navbar navbar-default navbar-fixed-top navegacion-primary" role="navigation">
    <div class="container"> 
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header col-sm-12 col-md-12 col-lg-12">
        <div class="row">
          <button type="button" class="navbar-toggle toggle-menu menu-right push-body" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          <div class="logo-seguros-cencosud"> <a class="navbar-brand" href="/vseg-paris/index.jsp"><img src="/vseg-paris/img/logo_seguros_cencosud1.png" class="logo-seguros-cencosud"> </a> </div>
          <div class="icon-call icon-call-landscape hidden-lg hidden-sm hidden-md pull-right"> <a href="tel:600-500-5000"><img class="icono-fono" src="/vseg-paris/img/fono.png" alt="fono" /></a> </div>
          
          <!-- Collect the nav links, forms, and other content for toggling --> 
          <!-- Push Menu Left -->
          <div class="collapse navbar-collapse cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right pull-right" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav hidden-xs">
			  <li><a class="login" href="/vseg-paris/index.jsp"><img src="/vseg-paris/img/login.png" alt="login" />Iniciar Sesion</a></li>
			  <li><a href="/vseg-paris/registrocliente/registroCliente.do?rut_cliente=&dv_cliente=" target="_self">Registrarse</a></li>
			  <li><a href="/vseg-paris/Sucursales" target="_self">Nuestras Sucursales</a></li>
			  <li><a href="/vseg-paris/html/preguntas-frecuentes.html" target="_self">Te Ayudamos</a></li>
            </ul>
            
			<!-- INICIO modalRegistroCliente 
				<div class="modal fade" id="modalRegistrarCliente" role="dialog" style="padding-top: 20px;">
					<div class="modal-dialog modal-lg" style="margin-top: 20px;">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h4>Registrarse</h4>
							</div>
							<div class="modal-body">
								<iframe class="" frameborder="0" id="cargaRegistroCliente" width="98%" height="550px">
								</iframe>							
							</div>
						</div>   
					</div>
				</div>
				<style type="text/css">
					.modal-lg {
					  max-width: 75%;
					}
				</style>
				<script type="text/javascript">
					function desplegarRegistroCliente()
					{
						$("#cargaRegistroCliente").attr('src','/vseg-paris/registrocliente/registroCliente.do?rut_cliente=&dv_cliente=');
						$("#modalRegistrarCliente").modal({
						backdrop: 'static',
						show: true
						});
					}	
				</script>
			 FIN modalRegistroCliente -->
			
            <ul class="nav navbar-nav visible-xs">
              <li class="menu2">
                <ul class="nav navbar-nav">
               	 
                </ul>
              </li>
              <div class="col-xs-12">
                <h5>SEGUROS</h5>
              </div>
              <div class="clearfix"></div>
              <li class="dropdown">
				<a href="/vseg-paris/desplegar-pagina-intermedia-vehiculos.do?idRama=1" class="dropdown-toggle" data-toggle="dropdown">Veh&iacute;culo<span class="caret pull-right hidden-sm hidden-md hidden-lg"></span></a>
                <ul class="dropdown-menu">
                  <!--li><a href="/vseg-paris/desplegar-pagina-intermedia-vehiculos.do?idRama=1">Veh&iacute;culos Home</a></li-->
                  <li><a href="/vseg-paris/desplegar-ficha.do?idRama=1&idSubcategoria=22&idTipo=1">Seguro Auto Full Cobertura</a></li>
				  <li><a href=" https://www.seguroscencosud.cl/vseg-paris/html/AutoPlay.html">Full Cobertura Auto Play</a></li>
                  <li><a href="/vseg-paris/desplegar-ficha.do?idRama=1&idSubcategoria=21&idTipo=1">P&eacute;rdida Total</a></li>
                  <li><a href="/vseg-paris/desplegar-ficha.do?idRama=1&idSubcategoria=36">Seguro Obligatorio Mercosur</a></li>
                  <!--li><a href="/vseg-paris/desplegar-ficha.do?idRama=1&idSubcategoria=79">Robo Contenido</a></li-->
                  <li><a href="https://www.seguroscencosud.cl/soap/home.do" target="_blank">SOAP</a></li>
                </ul>
              </li>
			  <li class="dropdown">
				<a href="#" onclick="window.location.href='https://www.seguroscencosud.cl/soap/home.do'" class="dropdown-toggle" data-toggle="dropdown">SOAP<span class="caret pull-right hidden-sm hidden-md hidden-lg"></span></a>
              </li>
              <li class="dropdown"><a href="/vseg-paris/desplegar-pagina-intermedia-fraude.do?idRama=8" class="dropdown-toggle" data-toggle="dropdown">Moto<span class="caret pull-right hidden-sm hidden-md hidden-lg"></span></a>
                <ul class="dropdown-menu">
                  <!--li><a href="/vseg-paris/desplegar-pagina-intermedia-fraude.do?idRama=8">Moto Home</a></li-->
                  <li><a href="/vseg-paris/desplegar-ficha.do?idRama=8&idSubcategoria=239">Seguro Obligatorio Mercosur</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="/vseg-paris/desplegar-pagina-intermedia-fraude.do?idRama=6" class="dropdown-toggle" data-toggle="dropdown">Viajes<span class="caret pull-right hidden-sm hidden-md hidden-lg"></span></a>
                <ul class="dropdown-menu">
                  <!--li><a href="/vseg-paris/desplegar-pagina-intermedia-fraude.do?idRama=6">Viajes Home</a></li-->
                  <li><a href="/vseg-paris/desplegar-ficha.do?idRama=6&idSubcategoria=221">Seguro de Viajes</a></li>
                 <li><a href="/vseg-paris/desplegar-ficha.do?idRama=1&idSubcategoria=36">Seguro Obligatorio Mercosur</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="/vseg-paris/desplegar-pagina-intermedia-vida.do?idRama=3" class="dropdown-toggle" data-toggle="dropdown">Vida y Salud<span class="caret pull-right hidden-sm hidden-md hidden-lg"></span></a>
                <ul class="dropdown-menu">
                  <!--li><a href="/vseg-paris/desplegar-pagina-intermedia-vida.do?idRama=3">Vida y Salud Home</a></li-->
<!--                   <li><a href="/vseg-paris/desplegar-ficha.do?idRama=3&idSubcategoria=29">Seguro de Accidentes</a></li> -->
                  <!--li><a href="/vseg-paris/desplegar-ficha.do?idRama=7&idSubcategoria=162">AP con devoluci&oacute;n</a></li>
                  <li><a href="/vseg-paris/desplegar-ficha.do?idRama=7&idSubcategoria=161">Hospitalizaci&oacute;n con devoluci&oacute;n</a></li>
                  <li><a href="/vseg-paris/desplegar-ficha.do?idRama=7&idSubcategoria=164">Oncologico con devoluci&oacute;n</a></li-->
                  <!--li><a href="/vseg-paris/desplegar-ficha.do?idRama=7&idSubcategoria=165&VP=1">Catastr&oacute;fico con devoluci&oacute;n</a></li-->
                  <li><a href="/vseg-paris/desplegar-ficha.do?idRama=6&idSubcategoria=140">Seguro Mascota</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="/vseg-paris/desplegar-pagina-intermedia-hogar.do?idRama=2" class="dropdown-toggle" data-toggle="dropdown">Hogar<span class="caret pull-right hidden-sm hidden-md hidden-lg"></span></a>
                <ul class="dropdown-menu">
                  <!--li><a href="/vseg-paris/desplegar-pagina-intermedia-hogar.do?idRama=2">Hogar Home</a></li-->
                  				  <li><a href="/vseg-paris/desplegar-ficha.do?idRama=2&idSubcategoria=220">Hogar Vacaciones</a></li>
                  <li><a href="/vseg-paris/desplegar-ficha.do?idRama=2&idSubcategoria=24">Incendio + Sismo/Estructura</a></li>
                  <li><a href="/vseg-paris/desplegar-ficha.do?idRama=2&idSubcategoria=43">Incendio + Sismo/Contenido</a></li>
                  <li><a href="/vseg-paris/desplegar-ficha.do?idRama=2&idSubcategoria=44">Incendio + Robo</a></li>
                  <li><a href="/vseg-paris/desplegar-ficha.do?idRama=2&idSubcategoria=25">Incendio + Robo + Sismo</a></li>
                  <li><a href="/vseg-paris/desplegar-ficha.do?idRama=2&idSubcategoria=26">Hogar Premio a la Permanencia</a></li>
                  <li><a href="/vseg-paris/desplegar-ficha.do?idRama=2&idSubcategoria=201">Hogar Full Asistencia</a></li>
                  <li><a href="/vseg-paris/desplegar-ficha.do?idRama=6&idSubcategoria=140">Seguro Mascota</a></li>
                </ul>
              </li>
            <li class="dropdown"><a href="/vseg-paris/desplegar-pagina-intermedia-fraude.do?idRama=5" class="dropdown-toggle" data-toggle="dropdown">Fraude<span class="caret pull-right hidden-sm hidden-md hidden-lg"></span></a>
                <ul class="dropdown-menu">
                  <!-->li><a href="/vseg-paris/desplegar-pagina-intermedia-fraude.do?idRama=5">Fraude Home</a></li-->
                  <li><a href="/vseg-paris/desplegar-ficha.do?idRama=5&idSubcategoria=139">Seguro Fraude</a></li>
                  <li><a href="/vseg-paris/desplegar-ficha.do?idRama=5&idSubcategoria=159">Fraude con Premio a la Permanencia</a></li>
                </ul>
              </li>
              <!--<li class="dropdown"><a href="/vseg-paris/desplegar-pagina-intermedia-fraude.do?idRama=7" class="dropdown-toggle" data-toggle="dropdown">Con Devoluci&oacute;n<span class="caret pull-right hidden-sm hidden-md hidden-lg"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/vseg-paris/desplegar-pagina-intermedia-fraude.do?idRama=7">Con devoluci&oacute;n Home</a></li>
                  <li><a href="/vseg-paris/desplegar-ficha.do?idRama=7&idSubcategoria=162">AP con devoluci&oacute;n</a></li>
                  <li><a href="/vseg-paris/desplegar-ficha.do?idRama=7&idSubcategoria=161">Hospitalizaci&oacute;n con devoluci&oacute;n</a></li>
                  <li><a href="/vseg-paris/desplegar-ficha.do?idRama=7&idSubcategoria=165&VP=1">Catastr&oacute;fico con devoluci&oacute;n</a></li>
                  <li><a href="/vseg-paris/desplegar-ficha.do?idRama=7&idSubcategoria=164">Oncol&oacute;gico con devoluci&oacute;n</a></li>
                  <li><a href="/vseg-paris/desplegar-ficha.do?idRama=5&idSubcategoria=159">Fraude con devoluci&oacute;n</a></li>
                  <li><a href="/vseg-paris/desplegar-ficha.do?idRama=7&idSubcategoria=179&VP=1">M&aacute;s Seguro Integral</a></li>
                </ul>
              </li> -->
              <div class="menu2">
                <div class="col-xs-12">
                  <h5>NUESTROS SERVICIOS</h5>
                </div>
                <div class="clearfix"></div>
                <li><a href="/vseg-paris/Sucursales" target="_self">Nuestras Sucursales</a></li>
                <li><a href="/vseg-paris/html/preguntas-frecuentes.html" target="_self">Te Ayudamos</a></li>
              </div>
            </ul>
            <div class="zona-callcenter pull-right hidden-xs"> <img src="/vseg-paris/img/fono.png" alt="Fono servicio al cliente" />
              <div class="servicio">
                <p>Servicio al Cliente</p>
              </div>
              <div>
                <p class="numero">600 500 5000</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.container-fluid --> 
  </nav>
  <nav class="navbar navbar-fixed-top hidden-xs" role="navigation">
    <div class="col-sm-12 col-md-12 col-lg-12 ">
      <div class="row">
        <div class="menu-secundario">
          <div class="container">
            <ul class="nav navbar-nav">
              <li><a href="/vseg-paris/index.jsp">Inicio</a></li>
              <li class="dropdown"><a href="/vseg-paris/desplegar-pagina-intermedia-vehiculos.do?idRama=1" class="dropdown-toggle disabled" data-toggle="dropdown">Veh&iacute;culo</a>
                <ul class="dropdown-menu">
                  <li><a href="/vseg-paris/desplegar-ficha.do?idRama=1&idSubcategoria=22&idTipo=1">Seguro Auto Full Cobertura</a></li>
                  <li><a href=" https://www.seguroscencosud.cl/vseg-paris/html/AutoPlay.html">Full Cobertura Auto Play</a></li>
                  <li><a href="/vseg-paris/desplegar-ficha.do?idRama=1&idSubcategoria=21&idTipo=1">P&eacute;rdida Total</a></li>
                  <li><a href="/vseg-paris/desplegar-ficha.do?idRama=1&idSubcategoria=36">Seguro Obligatorio Mercosur</a></li>
                  <!--li><a href="/vseg-paris/desplegar-ficha.do?idRama=1&idSubcategoria=79">Robo Contenido</a></li-->
                  <li><a href="https://www.seguroscencosud.cl/soap/home.do" target="_blank">SOAP</a></li>
                </ul>
              </li>
			  <li class="dropdown">
				<a href="#" onclick="window.location.href='https://www.seguroscencosud.cl/soap/home.do'" class="dropdown-toggle" data-toggle="dropdown">SOAP</a>
              </li>
              <li class="dropdown"><a href="/vseg-paris/desplegar-pagina-intermedia-fraude.do?idRama=8" class="dropdown-toggle disabled" data-toggle="dropdown">Moto</a>
              	<ul class="dropdown-menu">
                  <li><a href="/vseg-paris/desplegar-ficha.do?idRama=8&idSubcategoria=239">Seguro Obligatorio Mercosur</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="/vseg-paris/desplegar-pagina-intermedia-fraude.do?idRama=6" class="dropdown-toggle disabled" data-toggle="dropdown">Viajes</a>
              	<ul class="dropdown-menu">
                  <li><a href="/vseg-paris/desplegar-ficha.do?idRama=6&idSubcategoria=221">Seguro de Viajes</a></li>
				 <li><a href="/vseg-paris/desplegar-ficha.do?idRama=1&idSubcategoria=36">Seguro Obligatorio Mercosur</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="/vseg-paris/desplegar-pagina-intermedia-vida.do?idRama=3" class="dropdown-toggle disabled" data-toggle="dropdown">Vida y Salud</a>
              	<ul class="dropdown-menu">
<!--                   <li><a href="/vseg-paris/desplegar-ficha.do?idRama=3&idSubcategoria=29">Seguro de Accidentes</a></li> -->
                  <!--li><a href="/vseg-paris/desplegar-ficha.do?idRama=7&idSubcategoria=162">AP con devoluci&oacute;n</a></li>
                  <li><a href="/vseg-paris/desplegar-ficha.do?idRama=7&idSubcategoria=161">Hospitalizaci&oacute;n con devoluci&oacute;n</a></li>
                  <li><a href="/vseg-paris/desplegar-ficha.do?idRama=7&idSubcategoria=164">Oncologico con devoluci&oacute;n</a></li-->
                  <!--li><a href="/vseg-paris/desplegar-ficha.do?idRama=7&idSubcategoria=165&VP=1">Catastr&oacute;fico con devoluci&oacute;n</a></li-->
                  <li><a href="/vseg-paris/desplegar-ficha.do?idRama=6&idSubcategoria=140">Seguro Mascota</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="/vseg-paris/desplegar-pagina-intermedia-hogar.do?idRama=2" class="dropdown-toggle disabled" data-toggle="dropdown">Hogar</a>
              	<ul class="dropdown-menu">
     			  <li><a href="/vseg-paris/desplegar-ficha.do?idRama=2&idSubcategoria=220">Hogar Vacaciones</a></li>
                  <li><a href="/vseg-paris/desplegar-ficha.do?idRama=2&idSubcategoria=24">Incendio + Sismo/Estructura</a></li>
                  <li><a href="/vseg-paris/desplegar-ficha.do?idRama=2&idSubcategoria=43">Incendio + Sismo/Contenido</a></li>
                  <li><a href="/vseg-paris/desplegar-ficha.do?idRama=2&idSubcategoria=44">Incendio + Robo</a></li>
                  <li><a href="/vseg-paris/desplegar-ficha.do?idRama=2&idSubcategoria=25">Incendio + Robo + Sismo</a></li>
                  <li><a href="/vseg-paris/desplegar-ficha.do?idRama=2&idSubcategoria=26">Hogar Premio a la Permanencia</a></li>
                  <li><a href="/vseg-paris/desplegar-ficha.do?idRama=2&idSubcategoria=201">Hogar Full Asistencia</a></li>
                  <li><a href="/vseg-paris/desplegar-ficha.do?idRama=6&idSubcategoria=140">Seguro Mascota</a></li>
<!--				  <li><a href="/vseg-paris/desplegar-ficha.do?idRama=2&idSubcategoria=220">Hogar Vacaciones</a></li>-->
                </ul>
              </li>
            <li class="dropdown"><a href="/vseg-paris/desplegar-pagina-intermedia-fraude.do?idRama=5" class="dropdown-toggle disabled" data-toggle="dropdown">Fraude</a>
              	<ul class="dropdown-menu">
                  <li><a href="/vseg-paris/desplegar-ficha.do?idRama=5&idSubcategoria=139">Seguro Fraude</a></li>
                  <li><a href="/vseg-paris/desplegar-ficha.do?idRama=5&idSubcategoria=159">Fraude con Premio a la Permanencia</a></li>
                </ul>
              </li>
              <!--<li class="dropdown"><a href="/vseg-paris/desplegar-pagina-intermedia-fraude.do?idRama=7" class="dropdown-toggle disabled" data-toggle="dropdown">Con Devoluci&oacute;n</a>
              	<ul class="dropdown-menu">
                  <li><a href="/vseg-paris/desplegar-ficha.do?idRama=7&idSubcategoria=162">AP con devoluci&oacute;n</a></li>
                  <li><a href="/vseg-paris/desplegar-ficha.do?idRama=7&idSubcategoria=161">Hospitalizaci&oacute;n con devoluci&oacute;n</a></li>
                  <li><a href="/vseg-paris/desplegar-ficha.do?idRama=7&idSubcategoria=165&VP=1">Catastr&oacute;fico con devoluci&oacute;n</a></li>
                  <li><a href="/vseg-paris/desplegar-ficha.do?idRama=7&idSubcategoria=164">Oncol&oacute;gico con devoluci&oacute;n</a></li>
                  <li><a href="/vseg-paris/desplegar-ficha.do?idRama=5&idSubcategoria=159">Fraude con devoluci&oacute;n</a></li>
                  <li><a href="/vseg-paris/desplegar-ficha.do?idRama=7&idSubcategoria=179&VP=1">M&aacute;s Seguro Integral</a></li>
                </ul>
              </li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- /.navbar-collapse -->
    </nav>
<!-- FIN HEADER --> 
</header>