<div id='header'>
	<link type='text/css' rel='stylesheet' href='../style/estilo_header.css' />
	<link type='text/css' rel='stylesheet' href='../style/login_header.css' />
	<link type='text/css' rel='stylesheet' href='../style/estilo_footer.css' />
	<link type='text/css' rel='stylesheet' href='../style/estilo_calugas.css' />
	<link type='text/css' rel='stylesheet' href='../style/estilo_home.css' />

	<!-- HEADER -->
<div class="body_header">
	<div class="contenido_header">
		<div class="multisitio_header">
			<div id="visita"></div>
			<div id="paris"><a href="http://www.paris.cl/" target="_blank"></a></div>
			<div id="jumbo"><a href="http://www.jumbo.cl/FO/LogonForm?utm_source=Seguros&utm_medium=Header_Multisitio&utm_campaign=Header_Multisitio_Jumbo" target="_blank"></a></div>
			<div id="easy"><a href="http://www.easy.cl/easy/CargaInicio?mundo=1&tpCa=0&caN0=0&caN1=0&cab=?utm_source=Seguros&utm_medium=Header_Multisitio&utm_campaign=Header_Multisitio_Easy" target="_blank"></a></div>
			<div id="tarjetas"><a href="http://www.tarjetamas.cl/TarjetaMasWEB/inicio.do?utm_source=Seguros&utm_medium=Header_Multisitio&utm_campaign=Header_Multisitio_TarjetaMas" target="_blank"></a></div>
			<div id="seguros"><a class="active"></a></div>
			<div id="banco"><a href="http://www.bancoparis.cl/?utm_source=headerSeguro&utm_medium=header&utm_campaign=Header+Seguro" target="_blank"></a></div>
			<div id="puntos"><a href="http://www.puntoscencosud.cl/NectarHome.nectar?utm_source=Seguros&utm_medium=header_multisitio&utm_campaign=Header_Multisitio_Puntos" target="_blank" class="multisitio_header"></a></div>
			<div id="venta_empresas"><a href="http://www.ventaempresascencosud.cl" target="_blank"></a></div>
		</div>
		<div class="separacion_1_header"></div>
		<div class="bienvenido_body">
	
		</div>
	<!-- FIN SESIÓN USUARIO -->

		<div class="logo_header"></div>

	<!-- INFO -->
		<div class="sac_header" style="width:85px;">
			<a href="#" target="_self"><span>Nuestras</span><br /> 
			Sucursales
			</a>
		</div>

		<div class="sac_header" style="width:85px;">
			<a href="#" target="_self"><span>Te</span><br />
			Ayudamos</a>
		</div>



		<div class="sac_header topnav" id="topnav" style="width: 90px;">
			<a  href="#" target="_self" class="signin"><span>Ingresa</span><br />
		a tu Cuenta</a>

			<fieldset id="signin_menu">
				<div>
					<img border="0" display="block" src="/vseg-paris/img/flecha_inicio.png" width="240" height="20" />
				</div>
					<form method="post" id="loginForm"class="loginForm" action="/vseg-paris/Login" style="background-color:#FFF; padding-left:10px; padding-right:10px; padding-bottom:10px;">
						<input type="hidden" value="/index.jsp" name="cl.tinet.common.seguridad.servlet.URI_EXITO">
						<input type="hidden" value="/index.jsp" name="cl.tinet.common.seguridad.servlet.URI_FRACASO">
						<input type="hidden" value="" name="username">
						<input type="hidden" value="" name="password">
						<p>
							<label for="username">Rut</label>
							<input id="rutlogin" name="rutlogin" maxlength="10" value="" title="username" tabindex="4" type="text">
						</p>
						<p>
							<label for="password">Clave</label>
							<input id="clavelogin" name="clavelogin" maxlength="6" value="" title="password" tabindex="5" type="password">
						</p>
						<p class="remember">
							<div id="signin_submit" style="text-align: center;"><a href="#" style="color: white;">Enviar</a></div>
						</p>
						<p class="forgot"> <a href="#" class="olvidasteClave">¿Olvidaste tu Clave?</a> </p>
						<p class="forgot"> <a href="#" id="resend_password_link">¿Para que sirve tu clave?</a> </p>
						<p class="forgot"> <a class="iframe"  id="registroUsuario" class="registro" href="#">Resgistrate aquí</a> </p>
					</form>

			</fieldset>
		</div>
	
		<div class="sac_header" style="width:70px;">
			<a id="registroUsuario2" class="registro" href="#"><span>Registrate</span><br />
			Aquí</a>
		</div>

		<div class="sac_header" style="width:110px;">
			<span>Servicio al Cliente</span><br />
			600 500 5000
		</div>
	<!-- FIN INFO -->

	<div class="separacion_2_header"></div>

	</div>

	</div>
	<!-- FIN HEADER -->

	<!-- HEADER -->
	<div class="body_menu">

	<div class="menu_contenido_header">

	<!-- MENU HEADER -->
	<div class="menu_header">
	<div id="menu">
	<ul>

	<li class="nivel1"><a href="/vseg-paris/index.jsp" class="nivel1" style="text-align:center;">Inicio</a></li>

	<li class="nivel1"><a href="/vseg-paris/desplegar-pagina-intermedia-vehiculos.do?idRama=1" style="text-align:center;" class="nivel1">Veh&iacute;culos</a>
	<ul style="width: 180px;">
	<li><a href="/vseg-paris/desplegar-ficha.do?idRama=1&idSubcategoria=22&idTipo=1">Full Servicio</a></li>
	<li><a href="/vseg-paris/desplegar-ficha.do?idRama=1&idSubcategoria=21&idTipo=1">P&eacute;rdida Total</a></li>
	<!--li><a href="/vseg-paris/desplegar-ficha.do?idRama=1&idSubcategoria=23">Da&ntilde;os a Terceros</a></li-->
	<li><a href="/vseg-paris/desplegar-ficha.do?idRama=1&idSubcategoria=36">Seguro Obligatorio Mercosur</a></li>
	<li><a href="/vseg-paris/desplegar-ficha.do?idRama=1&idSubcategoria=79">Robo Contenido</a></li>
	<li><a target="_blank" href="/soap">SOAP</a></li>
	<!--li><a href="/vseg-paris/desplegar-promociones.do?idRama=1">Promociones</a></li-->
	</ul>
	</li>
	
	<li class="nivel1">
		<a href="/vseg-paris/desplegar-pagina-intermedia-fraude.do?idRama=8" style="text-align:center;" class="nivel1">Moto</a>
		<ul style="width: 180px;">
			<li><a href="/vseg-paris/desplegar-ficha.do?idRama=8&idSubcategoria=239">Seguro Obligatorio Mercosur</a></li>
		</ul>
	</li>
	
	<li class="nivel1"><a href="/vseg-paris/desplegar-pagina-intermedia-fraude.do?idRama=6" class="nivel1" style="text-align:center;">Viajes</a>
		<ul style="width: 180px;">
			<li><a href="/vseg-paris/desplegar-ficha.do?idRama=6&idSubcategoria=119">Seguro de Viajes</a></li>
			<li><a href="/vseg-paris/desplegar-ficha.do?idRama=1&idSubcategoria=36">Seguro Obligatorio Mercosur</a></li>
			<li><a href="/vseg-paris/desplegar-ficha.do?idRama=5&idSubcategoria=159">Fraude con Devoluci&oacute;n</a></li>
		</ul>
	</li>

	<li class="nivel1">
		<a href="/vseg-paris/desplegar-pagina-intermedia-vida.do?idRama=3" class="nivel1" style="text-align:center;">Vida y Salud</a>
		<ul style="width: 190px;">
			<li><a href="/vseg-paris/desplegar-ficha.do?idRama=3&idSubcategoria=29">Seguro de Accidentes</a></li>
			<li><a href="/vseg-paris/desplegar-ficha.do?idRama=7&idSubcategoria=163">Vida con Devoluci&oacute;n</a></li>
			<li><a href="/vseg-paris/desplegar-ficha.do?idRama=7&idSubcategoria=162">AP con Devoluci&oacute;n</a></li>
			<li><a href="/vseg-paris/desplegar-ficha.do?idRama=7&idSubcategoria=161">Hospitalizaci&oacute;n con Devoluci&oacute;n</a></li>
			<li><a href="/vseg-paris/desplegar-ficha.do?idRama=7&idSubcategoria=164">Oncol&oacute;gico con Devoluci&oacute;n </a></li>
			<li><a href="/vseg-paris/desplegar-ficha.do?idRama=7&idSubcategoria=165&VP=1">Catastr&oacute;fico con Devoluci&oacute;n</a></li>
			<li><a href="/vseg-paris/desplegar-ficha.do?idRama=6&idSubcategoria=140">Seguro Mascota</a></li>
		</ul>
	</li>
	
	<li class="nivel1">
		<a href="/vseg-paris/desplegar-pagina-intermedia-hogar.do?idRama=2" class="nivel1" style="text-align:center;">Hogar</a>
		<ul style="width: 210px;">
		<li><a href="/vseg-paris/desplegar-ficha.do?idRama=2&idSubcategoria=24">Incendio + Sismo / Estructura</a></li>
		<li><a href="/vseg-paris/desplegar-ficha.do?idRama=2&idSubcategoria=43">Incendio + Sismo / Contenido</a></li>
		<li><a href="/vseg-paris/desplegar-ficha.do?idRama=2&idSubcategoria=44">Incendio + Robo</a></li>
		<li><a href="/vseg-paris/desplegar-ficha.do?idRama=2&idSubcategoria=25">Incendio + Robo + Sismo</a></li>
		<li><a href="/vseg-paris/desplegar-ficha.do?idRama=2&idSubcategoria=26">Hogar con Devoluci&oacute;n Dinero</a></li>
		<li><a href="/vseg-paris/desplegar-ficha.do?idRama=2&idSubcategoria=201">Hogar Full Asistencia</a></li>
		<li><a href="/vseg-paris/desplegar-ficha.do?idRama=6&idSubcategoria=140">Seguro Mascota</a></li>
		<!--li><a href="/vseg-paris/desplegar-promociones.do?idRama=2">Promociones</a></li-->
		</ul>
	</li>

	<li class="nivel1">
		<a href="/vseg-paris/desplegar-pagina-intermedia-fraude.do?idRama=5" class="nivel1" style="text-align:center;">Fraude</a>
		<ul style="width: 180px;">
			<li><a href="/vseg-paris/desplegar-ficha.do?idRama=5&idSubcategoria=139">Seguro Fraude</a></li>
			<li><a href="/vseg-paris/desplegar-ficha.do?idRama=5&idSubcategoria=159">Fraude con Devoluci&oacute;n</a></li>
		</ul>
	</li>
	
	<li class="nivel1">
		<a href="/vseg-paris/desplegar-pagina-intermedia-fraude.do?idRama=7" class="nivel1" style="text-align:center;">Con Devoluci&oacute;n</a>
		<ul style="width: 192px;">
			<li><a href="/vseg-paris/desplegar-ficha.do?idRama=7&idSubcategoria=162">AP con Devoluci&oacute;n</a></li>
			<li><a href="/vseg-paris/desplegar-ficha.do?idRama=7&idSubcategoria=161">Hospitalizaci&oacute;n con Devoluci&oacute;n</a></li>
			<li><a href="/vseg-paris/desplegar-ficha.do?idRama=7&idSubcategoria=163">Vida con Devoluci&oacute;n</a></li>
			<li><a href="/vseg-paris/desplegar-ficha.do?idRama=7&idSubcategoria=165&VP=1">Catastr&oacute;fico con Devoluci&oacute;n</a></li>
			<li><a href="/vseg-paris/desplegar-ficha.do?idRama=7&idSubcategoria=164">Oncol&oacute;gico con Devoluci&oacute;n </a></li>
			<li><a href="/vseg-paris/desplegar-ficha.do?idRama=5&idSubcategoria=159">Fraude con Devoluci&oacute;n</a></li>
			<li><a href="/vseg-paris/desplegar-ficha.do?idRama=7&idSubcategoria=179&VP=1">Mas Seguro Integral</a></li>
		</ul>
	</li>
	
	<!--
	<li class="nivel1"><a href="#" class="nivel1" style="text-align:center;">Promociones</a></li>
	-->
	</ul>
	</div>
	</div>
	<!-- MENU HEADER -->

	</div>

	</div>
	<!-- FIN HEADER -->

	<!-- HOME -->
	<div id="sombra_header"></div>
	</div>
</div>
<div id='footer'>

<!-- EMPRESAS -->
<div class="body_contenido_empresas">
	<div id="contenido_empresas">
		<div id="cot_seguros">Compa&ntilde;ias que trabajan con nosostros</div>
		<div id="cotiza_sep_2"></div>
		<div id="cotiza_sep_empresas"></div>
		<div id="cot_seguros_empresas"><img border="0" display="block" src="/vseg-paris/img/seguros/bn/Magallanes.png" width="122" height="40" /></div>
		<div id="cot_seguros_empresas"><img border="0" display="block" src="/vseg-paris/img/seguros/bn/Consorcio.png" width="122" height="40" /></div>
		<div id="cot_seguros_empresas"><img border="0" display="block" src="/vseg-paris/img/seguros/bn/Zenit.png" width="92" height="40" /></div>
		<div id="cot_seguros_empresas"><img border="0" display="block" src="/vseg-paris/img/seguros/bn/BNP.png" width="130" height="40" /></div>
		<div id="cot_seguros_empresas"><img border="0" display="block" src="/vseg-paris/img/seguros/bn/RSA.png" width="72" height="40" /></div>
		<div id="cot_seguros_empresas"><img border="0" display="block" src="/vseg-paris/img/seguros/bn/Metlife.png" width="78" height="40" /></div>
		<div id="cot_seguros_empresas"><img border="0" display="block" src="/vseg-paris/img/seguros/bn/BanChile.png" width="95" height="40" /></div>
		<div id="cot_seguros_empresas"><img border="0" display="block" src="/vseg-paris/img/seguros/bn/Liberty.png" width="92" height="40" /></div>
		<div id="cotiza_sep_empresas_b"></div>
		<div id="cot_seguros_empresas"><img border="0" display="block" src="/vseg-paris/img/seguros/bn/PentaSecurity.png" width="139" height="40" /></div>
		<div id="cot_seguros_empresas"><img border="0" display="block" src="/vseg-paris/img/seguros/bn/Mapfre.png" width="173" height="40" /></div>
		<div id="cot_seguros_empresas"><img border="0" display="block" src="/vseg-paris/img/seguros/bn/Bice_Vida.png" width="135" height="40" /></div>
		<div id="cotiza_sep"></div>
	</div>
</div>
<!-- FIN EMPRESAS -->

	<div class="body_footer">

		<div class="contenido_footer">

			<!-- FOOTER CONTENIDO -->
			<div class="footer">

				<div class="footer_contenido">

					<div class="sep_footer"></div>

					<div class="columnas_footer" style="width:140px;">
						<ul>
							<strong>Pol&iacute;ticas del Sitio</strong>
							<li><a href="/vseg-paris/html/empresa.html">Nuestra Empresa</a></li>
							<li><a href="/vseg-paris/html/politicas.html" >Pol&iacute;ticas de Seguridad</a></li>
							<li><a href="/vseg-paris/html/terminos-condiciones.html">T&eacute;rminos y Condiciones</a></li>
						</ul>
					</div>

					<div class="sep_footer"></div>

					<div class="columnas_footer" style="width:151px;">
						<ul>
							<strong>Te Ayudamos</strong>
							<li><a href="/vseg-paris/html/preguntas-frecuentes.html" >Preguntas Frecuentes</a></li>
							<li><a href="/vseg-paris/html/caso-siniestro.html" >En Caso de Siniestro</a></li>
							<li><a href="/vseg-paris/Sucursales" >Nuestras Sucursales</a></li>
							<li><a href="/vseg-paris/html/polizas.html" >P&oacute;lizas</a></li>
							<li><a href="/vseg-paris/html/glosario.html" >Glosario</a></li>
							<li><a href="/vseg-paris/html/puntos.html" >Acumulas Puntos Cencosud</a></li>
							<!--li><a href="/vseg-paris/formulario-contacto.do" >Contactanos</a></li-->
							<li><a href="/vseg-paris/html/contactanos.html" >Contactanos</a></li>
						</ul>
					</div>

					<div class="sep_footer"></div>

					<div class="columnas_footer" style="width:110px;">
						<ul>
							<strong>Cencosud</strong>
							<li><a href="http://www.tarjetacencosud.cl/" target="_blank">Tarjeta Cencosud</a></li>
							<li><a href="http://www.bancoparis.cl/" target="_blank">Banco Paris</a></li>
							<li><a href="http://www.paris.cl/" target="_blank">Paris</a></li>
							<li><a href="http://www.jumbo.cl/" target="_blank">Jumbo</a></li>
							<li><a href="http://www.easy.cl/" target="_blank">Easy</a></li>
							<li><a href="http://www.johnson.cl/" target="_blank">Johnson</a></li>
							<li><a href="http://www.santaisabel.cl/" target="_blank">Santa Isabel</a></li>
							<li><a href="http://www.puntoscencosud.cl/" target="_blank">Puntos Cencosud</a></li>
						</ul>
					</div>

					<div class="sep_footer"></div>

					<div class="columnas_footer" style="width:260px;">
						<ul>
							<strong>Informaci&oacute;n</strong>
							<li><a href="http://www.svs.cl/portal/principal/605/w3-channel.html" target="_blank">Superintendencia Valores y Seguros</a></li>
							<li><a href="http://www.preocupadosporti.cl/category/promociones/" target="_blank">Bases de Promociones</a></li>
							<li><a href="/vseg-paris/html/credito_consumo.html" target="_blank">Seguros Cr&eacute;ditos de Consumo</a></li>
						</ul>
					</div>

					<div class="sep_footer"></div>

					<div class="columnas_footer" style="width:266px;">
						<div id="img_preocupadosporti">
							<a href="http://www.vivetranquilovivefeliz.cl/" target="_blank">
								<img border="0" display="block" src="/vseg-paris/img/vivetranquilovivefeliz.png" width="266" height="60" />
							</a>
						</div>
					</div>

					<div class="sep_footer_final"></div>

				</div>

			</div>
			<!-- FIN FOOTER CONTENIDO -->

			<!-- MEDIO DE PAGO -->
			<div class="medio_pago">
				<div class="medio_pago_contenido">

					<div class="medio_pago_sep"></div>

					<div class="medio_pago_esp"></div>

					<div class="medio_pago_info">
						<strong>Medios de Pago </strong></div>
						<div> <img border="0" display="block" src="../img/medio_pago.png" width="650" height="55" /></div>

						<div class="medio_pago_sep"></div>

					</div>
				</div>
				<!-- FIN MEDIO DE PAGO -->

				<!-- COPYRIGHT -->

				<div class="copyright">
					<div class="copyright_contenido">

						<div class="copy_esp"></div>

						<div class="copyright_info"><strong>Copyright 2013</strong>. Todos los derechos reservados.</div>

						<div class="copy_sep"></div>

						<div class="navegador_info">Sitio optimizado para los navegadores <strong>Mozilla Firefox</strong>, <strong>Google Chrome</strong> e <strong>Explorer 8</strong> &oacute; superior.</div>

						<div class="copy_sep"></div>

						<div class="secure_info"></div>

					</div>
				</div>

				<!-- FIN COPYRIGHT -->

			</div>

		</div>
	</div>
</div>