body {
	font-weight: normal;
	background-image: url(../imagenes/background-body.gif);
	background-repeat: repeat-x;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #999;
	height: 5px;
}
h1 {
	color: #4f4c4c;
	font-size: 20px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-weight: normal;
	margin: 0;
	text-align: right;
}
h1 span {
	color: #8c8a8a;
}
h2 { color: #4f4c4c; font-size: 16px; font-family: Arial, Verdana, Helvetica, sans-serif; font-weight: normal; text-decoration: none; }
h4 { font-family: Arial, Verdana, Helvetica, sans-serif; font-weight: normal; }
h3 {
	color: #2d8cc4;
	font-size: 13px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-weight: normal;
	text-decoration: none;
	line-height: 0px;
}
h3 span { color: #8c8a8a; }
h5 {
	color: #b0b0bb;
	font-size: 11px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-weight: normal;
	text-decoration: none;
	text-align: center;
	margin: 0;
}
h6 {
	color: #8c8a8a;
	font-size: 16px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-weight: normal;
	text-decoration: none;
	text-align: right;
	margin: 5px 0 0;
	line-height: 150%;
}
p {
	color: #999;
	font-size: 9px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-weight: normal;
	line-height: 150%;
	text-align: justify;
	margin-top: 0px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 8;
}
a { color: #6d6f75; text-decoration: none; }
a:hover {
	text-decoration: none;
	background-image: url(../imagenes/background-cuerpo-central.jpg);
}
/************INICIO CONTENIDO*******/
#content { width: 987px; clear: both; margin: 0 auto; }
/******Inicio HEADER*******/
#header {
	background-image: url(../imagenes/background-header.png);
	width: 987px;
	clear: both;
}
#menu-top-nuestros { background-image: url(../imagenes/background-menu-top-sucursales.jpg); background-repeat: repeat-x; width: 987px; height: 24px; }
#visita-sitios { height: 24px; float: left; margin-right: 30px; margin-left: 90px; }
#visita-sitio-marcas { height: 24px; float: left; }
#inicio-usuario-top { width: 987px; height: 20px; }
#usuaruio { height: 20px; float: right; padding-right: 15px; }
#index-house { width: 75px; height: 20px; float: right; }
#logo-logos { width: 987px; height: 82px; }
/******Inncio MENU PRINCIPAL********/
#menu-principal-top { width: 987px; height: 30px; margin: 0; padding: 0; }
#menu-principal { width: 690px; height: 40px; float: left; margin: 0; padding: 0; }
#btn-numero-top { width: 295px; height: 40px; float: left; margin: 0; padding: 0; }
/******FIN MENU PRINCIPAL********/
/******FIN HEADER*******/
/*********CONTENIDO CENTRAL*************/
#cuerpo-central {
	background-color: #EDEEE9;
	background-image: url(../../images/background-cuerpo-central.jpg);
	background-repeat: repeat-x;
	width: 987px;
	float: left;
	clear: both;
}
#curva-topcont-secciones { background-image: url(../imagenes/background-curva-contenido-secciones.jpg); background-repeat: no-repeat; width: 978px; height: 12px; }
#curva-bottoncont-secciones {
	background-color: #EDEEE9;
	background-image: url(../imagenes/curva-booton.jpg);
	background-repeat: no-repeat;
	width: 987px;
	height: 18px;
	float: left;
}
/******CONTENIDO SECCIONES VIDA, VEHICULOS, SALUD, ETC.*****/
#contenido-secciones {
	background-image: url(../imagenes/background-contenido-secciones.jpg);
	background-repeat: repeat-y;
	width: 978px;
	float: left;
	margin: 0;
	padding: 30px 0 0;
}
#seccion-columna-iz { width: 378px; float: left; margin-left: 2px; }
#texto-columna-iz { width: 330px; margin-right: auto; margin-left: auto; }
/**/
#seccion-columna-centro { background-image: url(../imagenes/background-seccion-columna-centro.jpg); background-repeat: repeat-y; width: 388px; float: left; }
.scroll-contenido-central { width: 388px; height: 460px; overflow: auto; margin: 0; padding: 0; }
.text-columna-central {
	background-image: url(../imagenes/botton-text-columna-central.jpg);
	background-repeat: no-repeat;
	background-position: 50% bottom;
	width: 330px;
	margin-left: 10px;
	padding-top: 5px;
	padding-bottom: 30px;
}
.btn-conocer-mas { margin-top: 10px; margin-right: 30px; }
.text-columna-central h3 {
	margin-top: 10;
	margin-bottom: 20px;
}
.text-columna-central h3 span { color: #ff9e0d; font-weight: bold; }
/***********BOTONES INFERIOR COLUMNA CENTRAL SECCION*******/
#btn-compartir {
	width: 330px;
	height: 20px;
}
#btn-compartir a { color: #000; }
#btn-compartir a:hover { color: #7ba7cb; }
/***********FIN BOTONES INFERIOR COLUMNA CENTRAL SECCION*******/
/*****COLUMNA SECCION-DER*******/
#seccion-columna-der {
	width: 200px;
	float: right;
	margin-right: 5px;
	height: auto;
}
#login {
	background-image: url(../imagenes/background-caluga-login.jpg);
	width: 172px;
	height: 127px;
	margin-top: 15px;
	padding-top: 6px;
	margin-left: auto;
	margin-right: auto;
}
#login_in_ti {
	width: 172px;
	height: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
}
#login_in_ti h1 { font-size: 14px; text-align: center; }
#login_dat_in {
	width: 172px;
	height: 26px;
	margin-top: 4px;
	margin-bottom: 3px;
}
#login_dat_in_per {
	width: 50px;
	height: 24px;
	float: left;
	margin-top: 4px;
}
#login_dat_in_tex {
	height: 24px;
	float: left;
	margin-top: 2px;
}
#login_dat_in_ir {
	width: 31px;
	height: 24px;
	float: left;
	margin-left: 4px;
	margin-top: 0px;
}
#login_dat_in_per p { text-align: right; margin-right: 10px; }
#login_dat_in_obten {
	width: 172px;
	height: auto;
	float: left;
	margin-top: 2px;
}
#login_dat_in_obten p { font-size: 10px; margin: 0 0 0 40px; }
#banner-columna-der-01 {
	width: 172px;
	height: 127px;
	margin-top: 18px;
	margin-left: auto;
	margin-right: auto;
	background-image: url(../imagenes/background-caluga-login.jpg);
}
/*****FIN COLUMNA SECCION-DER*******/
/****************CONTENIDO INDEX***********/
#index-content-central { background-color: #e5e5e3; width: 978px; }
#curva-botton-index { background-image: url(../imagenes/curva-botton-index.jpg); background-repeat: no-repeat; width: 985px; height: 8px; float: left; }
#slider-central-index { width: 690px; height: 394px; float: left; margin-top: 5px; margin-left: 2px; }
#columna-der-index { width: 281px; float: right; }
#caluga-mi-seguro-online { background-image: url(../imagenes/fondo-calugas-index.png); background-repeat: no-repeat; width: 281px; height: 128px; margin-bottom: 3px; }
#caluga-banner-index { background-image: url(../imagenes/fondo-caluga-banner-index.png); background-repeat: no-repeat; width: 281px; height: 144px; margin-bottom: 3px; }
#caluga-compra { background-image: url(../imagenes/fondo-comprar.png); background-repeat: no-repeat; width: 281px; height: 120px; }
/******LOGIN MI SEGURO ONLINE ****/
#datos_login {
	width: 281px;
	height: 24px;
	float: left;
	margin-top: 6px;
}
#personal_login { width: 90px; height: 24px; float: left; }
#personal_login p { text-align: right; margin-right: 10px; }
#datos_login h1 { font-size: 16px; text-align: center; margin-top: 5px; }
#datos_login h1 span { color: #8c8a8a; }
#personal_login_campo {
	height: 24px;
	float: left;
	margin-right: 6px;
	margin-top: 3px;
}
#btn_ir_home { width: 31px; height: 24px; float: left; }
#obten_clave {
	width: 270px;
	height: auto;
	float: right;
}
#obten_clave p { font-size: 10px; margin: 1px 0 0 45px; }
/******LOGIN MI SEGURO ONLINE ****/
/*****3 PASOS PARA COMPAR****/
#tres-paso-titulo { width: 274px; height: 45px; margin-right: auto; margin-left: auto; }
#sel_pasos_compara {
	width: 200px;
	height: 28px;
	float: left;
	margin-bottom: 2px;
	margin-top: 3px;
}
#sel_pasos_compara p { text-align: right; }
/*****3 PASOS PARA COMPAR****/
/*******SLIDER FOOTER******/
#slider-footer-index { width: 985px; height: 107px; float: left; margin-top: 15px; }
.btn-slider-flecha-iz { width: 15px; height: 107px; float: left; }
.btn-slider-flecha-der { width: 15px; height: 107px; float: right; }
.foto-slider-index { width: 307px; height: 107px; float: left; margin-left: 8px; }
/*******FIN SLIDER FOOTER******/
/****************FIN CONTENIDO INDEX***********/
/*******INICIO EMPRESA*****/
#contenido-empresas { background-image: url(../imagenes/background-contenido-secciones.jpg); background-repeat: repeat-y; width: 978px; float: left; }
.top-margen-empresa {
	background-image: url(../imagenes/background-contenido-secciones.jpg);
	width: 978px;
	height: 20px;
	float: left;
}
/******menu iz -paginas-interior******/
#menu-iz-teayudamos {
	width: 144px;
	height: auto;
	float: left;
	margin: 0;
}
#titulo-te-ayudamos {
	width: 144px;
	height: 37px;
	margin-bottom: 10px;
	margin-top: 25px;
}
#menu-te-ayudamos { width: 144px; }
#menu-te-ayudamos ul { margin: 0 10px 0 25px; padding: 0; list-style-image: none; }
#menu-te-ayudamos ul li { color: #4f4c4c; font-size: 11px; font-family: Arial, Verdana, Helvetica, sans-serif; margin: 0 0 10px; padding: 0; list-style-image: url(../btn-img/flecha-gris.gif); }
#menu-te-ayudamos ul li a { color: #84848a; font-size: 11px; font-family: Arial, Verdana, Helvetica, sans-serif; text-decoration: none; }
#menu-te-ayudamos ul li a:hover { color: #000; }
.menu-te-ayudamos-separador { margin-top: 10px; margin-bottom: 10px; border-top: 1px solid #e5e5e3; }
.btn-index-teayudamos-botoon { width: 142px; float: left; margin-left: 2px; }
/******menu iz -paginas-interior******/
/*****+EMPRESA TEXTO nuestra-empresa******/
#texto-empresa-central {
	background-image: url(../imagenes/fonfo-empresa-texto.jpg);
	background-repeat: repeat-y;
	width: 623px;
	float: left;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCC;
}
#texto-empresa-central p { margin-right: 30px; margin-left: 40px; }
#texto-empresa-central h1 { margin-left: 40px; }
#texto-empresa-central h2 { margin-left: 40px; }
#nuestra-empresa { width: 314px; float: left; }
#historia-empresa { width: 300px; float: left; }
#historia-empresa h2 { margin-top: 60px; }
.btn-donde-encontarnos { margin-top: 40px; margin-left: 90px; }
/********GLOSARIO*********/
.top-margen-glosario { width: 144px; height: 40px; }
#glosario { width: 580px; float: left; margin-top: 20px; }
#texto-conte-glosario { width: 510px; height: 400px; float: right; }
#texto-conte-glosario img { margin-right: 5px; }
#texto-conte-glosario p { font-size: 12px; margin: 6px 0 0 15px; padding-right: 80px; }
#texto-conte-glosario h3 { margin: 30px 0 0; }
#texto-conte-glosario span { color: #8c8a8a; font-size: 9px; }
#conte-mujer-glosario { width: 239px; float: left; margin-top: 20px; }
.subir-glosario { margin-top: 50px; margin-left: 360px; }
/********FIN GLOSARIO*********/
/*******contenido poliza *******/
#poliza { width: 656px; float: left; margin-top: 20px; margin-left: 66px; }
#poliza-titulo { width: 636px; margin-top: 20px; margin-left: 20px; }
#eligue-tu-seguro { width: 636px; margin-top: 20px; margin-left: 20px; }
.elige-tu-poliza { margin-left: 20px; }
/*****menu pdf poliza JQ****/
#munu-polizas-documetos { width: 656px; clear: both; margin-top: 20px; }
#btn-menu-jq { background-image: url(../btn-img/fondo-btn-menu-jq.jpg); background-repeat: no-repeat; width: 656px; height: 27px; float: left; margin-top: 3px; margin-bottom: 3px; }
#btn-menu-jq h3 { margin-top: 7px; margin-right: 0; margin-bottom: 0; }
.flecha-menu-desplegable { margin-right: 10px; margin-left: 15px; }
#info-documentos { background-color: #ecece9; width: 656px; float: left; margin-top: 2px; margin-bottom: 2px; }
#info-documentos a { color: #2d8cc4; text-decoration: underline; }
#info-documentos p { margin: 3px 10px; }
.info-texto { float: left; }
.docomento { float: right; }
/*****FIN menu pdf poliza JQ****/
/*******FIN contenido poliza *******/
/*******PREGUNTA FRECUENTE*********/
#pregunta-frecuetes { background-image: url(../imagenes/fondo-pregutas-frecuetes-mujer.jpg); background-repeat: no-repeat; width: 656px; float: left; margin-top: 20px; margin-left: 66px; }
#munu-pregutas-frecuetas { width: 656px; clear: both; margin: 100px 0 0 0; }
#info-pregunta-frecuetes {
	width: 656px;
	float: left;
	height: auto;
}
#info-pregunta-frecuetes p {
	margin-top: 5px;
	margin-right: 20px;
	margin-bottom: 10px;
	margin-left: 20px;
}
/*******FIN PREGUNTA FRECUENTE*********/
/******FICHAS VIDA*****+*/
#menu-seguro-vida-iz {
	width: 138px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 25px;
}
#menu-seguro-vida-iz a:hover { color: #000; }
#menu-seguro-vida-iz p {
	margin-left: 6px;
	padding-top: 6px;
	margin-bottom: 4px;
}
#btn-desplegable-vida-iz {
	background-color: #efeeea;
	width: 138px;
	margin-bottom: 5px;
	margin-left: 1px;
	height: auto;
	margin-top: 2px;
}
#btn-desplegado-vida-iz {
	background-color: #fff;
	width: 138px;
	margin-top: 0px;
	margin-bottom: 0px;
	height: auto;
}
/*****contenido ficha vida*****/
#contenido-chica-vida {
	width: 812px;
	float: left;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCC;
}
#banner-top-fichas {
	width: 812px;
	height: 160px;
	float: left;
	background-image: url(../banner/banner-ficha-cesant%C3%ADa.jpg);
}
#fichas-vida { width: 812px; float: left; }
#texto-ficha-vida {
	width: 603px;
	float: left;
	margin-top: 20px;
	background-image: url(../imagenes/fondofichacentral.gif);
}
#bloque-texto-cotizaro { width: 540px; height: 150px; margin-right: auto; margin-left: auto; }
#texto-cotizar { width: 400px; height: 150px; float: left; }
#texto-cotizar h1 { margin-top: 50px; margin-left: 30px; }
#texto-cotizar p {
	font-size: 15px;
	margin-top: 30px;
	margin-right: 40px;
	margin-left: 30px;
}
.btn-cotixar-fichas { background-color: #098; height: 150px; float: right; }
#menu-notas-fichas { width: 540px; height: 25px; margin-right: auto; margin-left: auto; }
#elegir-seguro-fichas { width: 540px; height: 293px; margin-right: auto; margin-left: auto; }
#elegir-seguro-fichas h3 { margin-top: 50px; margin-left: 30px; }
#elegir-seguro-fichas ul {  }
#elegir-seguro-fichas ul li { color: #6d6f75; font-size: 11px; font-family: Arial, Verdana, Helvetica, sans-serif; font-weight: normal; line-height: 200%; list-style-image: url(../btn-img/btn-vb.jpg); }
#btn-compartir-fichas {
	width: 540px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 5px;
	border-top: 1px solid #b0b0bb;
}
/*****FIN contenido ficha vida*****/
/**********INICIO cliente vigente1*********/
/**********FIN cliente vigente1*********/
/******FIN FICHAS VIDA*****+*/
#cliente-vigente { background-image: url(../imagenes/background-contenido-secciones.jpg); background-repeat: repeat-y; width: 978px; float: left; }
#contenido-cliente-vigente {
	width: 812px;
	float: left;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCC;
}
#banner-cliente-vigente { width: 830px; height: 182px; float: left; border-bottom: 2px solid #ecece9; }
#benner-cliente-vigente-iz { width: 276px; height: 182px; float: left; }
#missegurosonline {
	width: 314px;
	height: auto;
	float: left;
}
#missegurosonline h1 {
	margin-top: 20px;
	margin-left: 0px;
}
#bloque-general-datos {
	width: 315px;
	float: right;
	clear: none;
	margin-top: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #999;
}
.bloque-datos { width: 300px; height: 20px; float: left; margin-left: 12px; }
.personales { width: 60px; height: 20px; float: left; }
.dos-puntos {
	width: 10px;
	height: 20px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666;
}
.datos-de-la-persona {
	height: 20px;
	float: left;
	width: auto;
}
#actualiza-tus-datos { width: 220px; height: 182px; float: left; }
#tetxo-actualiza-tus-datos {
	width: 145px;
	height: 100px;
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
}
#tetxo-actualiza-tus-datos h4 { color: #6d6f75; font-size: 11px; font-weight: bold; line-height: 150%; text-align: center; margin-top: 0; border-bottom: 2px solid #b0b0bb; }
#tetxo-actualiza-tus-datos h5 { color: #6d6f75; font-size: 9px; font-weight: normal; line-height: 0; margin: 0; }
#tetxo-actualiza-tus-datos a { color: #2d8cc4; }
#tetxo-actualiza-tus-datos h6 {
	color: #2d8cc4;
	font-size: 11px;
	font-weight: normal;
	text-align: center;
	margin-top: 40px;
}
#texto-cliente-vigente {
	background-image: url(../imagenes/fonfo-cliente-vigente1.jpg);
	background-repeat: repeat-x;
	width: 605px;
	float: left;
	margin-top: 20px;
}
#texto-cliente-vigente a { color: #2d8cc4; font-weight: bold; text-decoration: underline; }
#texto-cliente-vigente h1 { font-size: 15px; text-align: center; margin-bottom: 10px; }
/*****CLIENTE VIGENTE******/
#bloque-cliente-vigent-uno { width: 550px; height: 460px; margin-right: auto; margin-left: auto; }
#texto-bajada-cliente-vigent-uno { width: 550px; height: 45px; }
#calugas-mis-productos { width: 550px; height: 200px; }
#text-mis-productos { width: 182px; height: 180px; float: left; border-right: 1px solid #e5e5e3; }
#text-mis-productos p { padding-right: 20px; padding-left: 20px; }
#text-mis-productos-text { width: 182px; height: 180px; float: left; }
#text-mis-productos-text p { padding-right: 20px; padding-left: 20px; }
#foto-cliente-vigente-uno {
	width: 550px;
	height: 210px;
	float: left;
}
/*****CLIENTE VIGENTE FIN******/
/*****CLIENTE VIGENTE 02******/
#texto-cliente-vigente-dos {
	width: 604px;
	float: left;
	margin-top: 20px;
}
#bloque-cliente-vigente { width: 555px; margin-right: auto; margin-left: auto; }
#titulo-mis-productos { width: 555px; height: 24px; }
/******lista-seguro-cliente-productos*******/
#lista-seguro-cli-prod { width: 553px; height: 147px; clear: both; padding-top: 5px; border-right: 1px solid #e5e5e3; border-left: 1px solid #e5e5e3; }
#lista-seguro-cli-prod p { margin-left: 20px; }
#titulo-lista-pruductos { background-color: #e5e5e3; width: 553px; height: 17px; float: left; padding-bottom: 5px; }
#lista-contenedor { width: 553px; height: 17px; float: left; margin-top: 5px; margin-bottom: 5px; }
#lista-contenedor a { color: #2d8cc4; font-size: 11px; text-decoration: underline; }
#lista-contenedor a:hover { color: #216994; }
#nombre-de-la-lista { width: 268px; height: 17px; float: left; }
#ver-cobertura { width: 190px; height: 17px; float: left; }
#ver-poliza { width: 90px; height: 17px; float: left; }
#banner-botton-cliente-producto { background-image: url(../imagenes/banner-botton-cliente-producto.jpg); background-repeat: no-repeat; width: 551px; height: 142px; margin-top: 40px; margin-right: auto; margin-left: auto; }
#banner-botton-cliente-producto h3 { font-size: 15px; padding-top: 15px; padding-left: 20px; }
#banner-botton-cliente-producto ul { margin-left: 270px; }
#banner-botton-cliente-producto ul li { margin-top: 5px; margin-bottom: 5px; list-style-image: url(../btn-img/btn-flecha-azul.jpg); }
#banner-botton-cliente-producto ul li:hover { list-style-image: url(../btn-img/btn-flecha-azul-hover.jpg); }
#banner-botton-cliente-producto ul li a { font-size: 11px; }
#banner-botton-cliente-producto ul li a:hover { color: #000; }
/******lista-seguro-cliente-productos fin*******/
#curva-botton-produ { background-image: url(../imagenes/fondo-curva-botton-produ.jpg); background-repeat: no-repeat; width: 555px; height: 17px; }
#adobe-acrobat { width: 555px; height: 28px; float: left; margin-top: 10px; }
.acrobat { margin-left: 5px; }
#adobe-acrobat a { color: #2d8cc4; text-decoration: underline; }
#adobe-acrobat p { text-align: right; }
/*****CLIENTE VIGENTE 02 FIN ******/
/*******CLIENTE VIGENTE 03******/
#titulo-vigente-tres { width: 553px; height: 36px; }
#titulo-vigente-tres h1 { font-size: 20px; text-align: left; margin-left: 10px; }
#revisar-tu-poliza { background-image: url(../btn-img/fondo-revisar-tu-poliza.jpg); background-repeat: no-repeat; width: 550px; height: 37px; float: right; margin-bottom: 5px; }
#texto-revisar-tu-poliza {
	height: 37px;
	float: left;
	margin-left: 5px;
}
#texto-revisar-tu-poliza p { margin-top: 14px; }
#arbol { width: 32px; height: 37px; float: left; }
#btn-ver-poliza-der {
	width: 117px;
	height: 37px;
	float: right;
	margin-right: 15px;
}
#beneficios-y-coberturas { width: 553px; float: left; }
#beneficios-y-coberturas h3 { margin-top: 30px; margin-left: 30px; }
#beneficios-y-coberturas ul { }
#beneficios-y-coberturas ul li { color: #8c8a8a; font-size: 11px; line-height: 150%; margin-bottom: 10px; list-style-image: url(../btn-img/btn-vb.jpg); }
#tienes-consultas { width: 534px; height: 30px; float: right; margin-top: 20px; padding-top: 10px; border-top: 1px solid #8c8a8a; }
#tienes-consultas a {
	color: #2d8cc4;
	font-size: 12px;
}
/*******CLIENTE VIGENTE 03 fin******/
/*******solicitud-de-renuncia inicio*****/
#titulo-solicitud-de-renuncia { width: 553px; margin-top: 20px; }
#titulo-solicitud-de-renuncia span { color: #000; }
#titulo-solicitud-de-renuncia p {
	font-size: 11px;
	margin-top: 20px;
	margin-bottom: 10px;
}
#titulo-solicitud-de-renuncia h4 { color: #878789; font-size: 23px; font-weight: normal; margin-top: 13px; }
#seguir-pagando { background-image: url(../imagenes/fondo-seguir-pagando.jpg); background-repeat: no-repeat; width: 540px; height: 119px; margin-top: 20px; }
#seguir-pagando a { color: #2d8cc4; font-weight: bold; }
#seguir-pagando p { margin-top: 20px; margin-right: 40px; margin-left: 12px; }
#continuar-solicitud { width: 553px; height: 29px; margin-top: 85px; }
#continuar-solicitud-text { width: 400px; height: 29px; float: left; }
#continuar-solicitud-text h3 { margin: 6px 0 0; }
#continuar-solicitud-btn { width: 119px; height: 29px; float: right; }
.dessolicitud { margin-top: 20px; margin-left: 12px; }
/*****solicitud-de-renuncia3*****/
.fallecimieto-accidental { margin: 20px 0 0; }
/*****solicitud-de-renuncia3*****/
#acepto-condiciones { width: 553px; margin-top: 50px; }
#acepto-condiciones-texto { width: 553px; float: left; margin-bottom: 20px; }
#acepto-condiciones-box { width: 20px; height: 20px; float: left; }
#acepto-condiciones-info { width: 500px; float: left; margin-left: 10px; }
#acepto-condiciones-info a { color: #2d8cc4; text-decoration: underline; }
#btn-acepto-condiciones { width: 533px; float: left; margin-top: 40px; }
.btn-der { margin-left: 320px; }
/*******solicitud-de-renuncia final*****/
/*******solicitud-de-renuncia*****/
#text-elige-tu-s { width: 553px; float: left; margin-top: 20px; }
.tex-elige { width: 100px; float: left; }
.seleccionador-elige { width: 200px; float: left; margin-top: 2px; }
.text-elige-des { width: 250px; float: left; }
#cuerpo-renuncia { width: 576px; float: left; margin-top: 30px; padding-left: 20px; }
.top-separacion { width: 1px; height: 20px; }
#nuve-renuncia { background-image: url(../imagenes/fonfo-nuve-renuncia.jpg); background-repeat: no-repeat; width: 384px; float: left; }
#nuve-renuncia p { padding-top: 5px; padding-right: 70px; padding-left: 20px; }
#foto-renucia { width: 188px; height: 321px; float: left; }
#btn-vol-conti-renuncia {
	width: 330px;
	height: 26px;
	margin-top: 100px;
}
.btn-conti-der { padding-left: 120px; }
/*******solicitud-de-renuncia 03 final*****/
/*******estado de siniestro*****/
#estado-de-siniestro { width: 770px; margin-right: auto; margin-left: auto; }
#datos-siniestro { width: 770px; }
#datos-siniestro-titulos {
	width: 770px;
	margin: 30px 0 0;
}
#datos-siniestro-titulos p { margin-right: 160px; }
#premium-siniestro { background-image: url(../imagenes/fondo-premium-siniestro.jpg); background-repeat: no-repeat; width: 770px; height: 51px; }
#premium-siniestro span { font-weight: bold; }
#premium-siniestro p { text-align: center; }
.fecha-premiu { width: 272px; height: 51px; float: left; }
.emprendedor-premiu { width: 257px; height: 51px; float: left; }
.rut-emprendedor-premiu { width: 236px; height: 51px; float: left; }
#finiquito-siniestro { background-image: url(../imagenes/fondo-finiquito-siniestro.jpg); background-repeat: no-repeat; width: 770px; height: 69px; }
#finiquito-siniestro p { text-align: center; }
#finiquito-siniestro span { font-weight: bold; }
.bloque-tex-siniestro { width: 150px; height: 69px; float: left; padding-top: 10px; }
.bloque-tex-siniestro img { margin-left: 5px; }
/***********cartola-de-pago*********/
#cartola-de-pago { width: 770px; }
#cartola-de-pago-titulos { background-image: url(../imagenes/fondos-cartola-de-pago-titulos.jpg); background-repeat: no-repeat; width: 768px; height: 24px; }
.cartola-titulos { width: 192px; height: 24px; float: left; }
.cartola-titulos p { color: #fff; font-weight: bold; text-align: center; }
#cuota-n { width: 768px; height: 24px; margin-top: 2px; margin-bottom: 2px; }
.cuota-n-color { background-color: #e5e5e3; }
#cuota-n p { color: #6d6f75; font-weight: normal; text-decoration: none; }
/***********cartola-de-pago fin*********/
/*******DOCUMENTACION******/
#documetacion { width: 770px; }
#plazos-documetacion { background-image: url(../imagenes/fondo-plazos-documetacion.gif); background-repeat: no-repeat; width: 768px; height: 58px; margin-top: 30px; }
.bloque-plazos-iz { width: 203px; height: 58px; float: left; }
.bloque-plazos-iz p { margin-right: 20px; margin-left: 20px; }
.bloque-cantidad-de-cuotas { width: 113px; height: 58px; float: left; }
.bloque-cantidad-de-cuotas p { text-align: center; }
#informacion-cuotas { width: 768px; margin-top: 10px; }
#franja-informacion-cuotas { width: 768px; }
.bloque-informacion-der { background-color: #ededee; width: 203px; height: 63px; float: left; border: solid 1px #fff; }
.bloque-informacion-der p { line-height: 100%; margin: 8px 20px 0; }
.bloque-icono { background-color: #ededee; width: 110px; height: 63px; float: left; border: solid 1px #fff; }
#consultas-fono { width: 768px; float: left; margin-top: 5px; }
#consultas-fono a { color: #2d8cc4; text-decoration: underline; }
#consultas-fono h3 { font-size: 12px; text-align: right; }
#importante-saber { width: 768px; }
#importante-saber h3 { font-size: 11px; }
#importante-saber p { line-height: 150%; margin-top: 10px; }
#icono-subir { width: 65px; height: 24px; float: right; }
/*******DOCUMENTACION FIN******/
/*******estado de siniestro*****/
/*******FIN INICIO EMPRESA*****/
/***********************************************/
/***********************************************/
/*******contenido-cotizador inicio**************/
#menu-cotizador {
	background-color: #F0EEEE;
	width: 254px;
	float: left;
	margin-top: 0px;
	height: auto;
}
#banner-cotizador { width: 253px; height: 153px; margin-left: 2px; }
#menu-bienvenido-a {
	width: 255px;
	margin-right: auto;
	margin-left: auto;
}
#bienvenido {
	width: 220px;
	margin-top: 30px;
	margin-left: 16px;
}
#bienvenido h4 {
	color: #666;
	font-size: 25px;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
}
#datos-personales {
	width: 220px;
	margin-bottom: 40px;
	margin-left: 0px;
}
#datos-personales h5 { color: #2d8cc4; text-align: right; margin-top: 20px; margin-right: 20px; }
#datos-personales a { color: #2d8cc4; }
#datos-personales span { color: #000; }
/***** Nombre del Plan*****/
#nombre-delplan {
	background-color: #fff;
	width: 200px;
	float: left;
	margin-bottom: 10px;
	padding: 10px;
}
#nombre-delplan p {
	font-size: 13px;
}
#nombre-delplan span { color: #000; }
.peso {
	width: 90px;
	height: 40px;
	float: left;
	padding-right: 5px;
}
.peso h4 {
	font-size: 25px;
	font-weight: normal;
	text-align: left;
	margin: 6px 0 0;
}
.montomensual { width: 100px; height: 40px; float: left; }
/***** Nombre del Plan*****/
/******CONTENDO COTIZADOR*******/
#contenido-cotizador { width: 708px; float: left; margin-top: 20px; }
#titulo-cotizador { width: 708px; }
#titulo-cotizador p {
	font-size: 14px;
	margin-top: 5px;
}
#titulo-cotizador span {
	color: #2d8cc4;
	text-align: left;
}
/******MENU 3PASOS *******/
#menu-tres-pasos { width: 708px; height: 46px; margin-top: 30px; }
#curva-cotizador { width: 708px; height: 19px; }
/******MENU 3PASOS FIN ****** */
/**********CONTENIDO COTIZACION CUERPO*******/
/**********CONTENIDO COTIZACION CUERPO FIN*******/
#contenido-desplegado-cotizador { width: 704px; float: left; border-right: 2px solid #efeeea; border-left: 2px solid #efeeea; }
#estas-registrado { background-image: url(../imagenes/fondo-estas-registrado.jpg); background-repeat: no-repeat; width: 628px; height: 61px; margin-right: auto; margin-left: auto; }
#estas-registrado span { color: #2d8cc4; }
#estas-registrado p {
	margin-left: 5px;
}
#estas-registrado-texto-iz { width: 257px; height: 61px; float: left; }
#estas-registrado-texto-iz p { margin-top: 10px; margin-left: 20px; }
#estas-registrado-texto-iz h3 {
	font-size: 13px;
	margin-top: 12px;
	margin-left: 20px;
}
#ingresar-datos { width: 300px; height: 61px; float: right; }
#rut-clave { width: 300px; }
#rut-clave p { margin-left: 15px; }
#olvidaste-tu-clave {
	width: 220px;
	margin-top: 3px;
}
#olvidaste-tu-clave p { text-align: center; }
#datos-del-contratante {
	width: 704px;
	float: left;
	clear: both;
	margin-top: 10px;
	border-top: 6px solid #f0eeee;
}
#datos-del-contratante-titulo {
	width: 634px;
	float: left;
	margin-top: 25px;
	padding-left: 70px;
}
#datos-del-contratante-titulo span {
	color: #2d8cc4;
	font-size: 9px;
}
/******casilla-datos-cotizador*****/
#casilla-datos-cotizador {
	width: 630px;
	float: left;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 40px;
}
#bloque-casilla {
	height: 30px;
	margin-top: 2px;
}
#bloque-casilla span {
	margin-left: 5px;
}
#bloque-dato-usuario { width: 126px; height: 30px; float: left; }
#bloque-dato-usuario p {
	text-align: right;
	padding-right: 10px;
	margin-top: 2px;
}
#bloque-ingresar-dato { width: 500px; height: 30px; }
#bloque-ingresar-dato-dos { width: 350px; height: 30px; float: left; }
#btn-img-cot { width: 110px; height: 30px; float: left; margin: 0; padding: 0; }
#bloque-ingresar-dato span { font-style: oblique; }
#para-continuar {
	width: 700px;
	height: 50px;
	float: left;
	padding-top: 20px;
	border-top: 6px solid #e5e5e3;
}
#para-continuar p { text-align: center; }
/******CONTENIDO  COBERTURAS******/
#contenido-cobertura { width: 700px; float: left; clear: both; }
#contenido-informacion { width: 693px; margin-right: auto; margin-left: auto; }
#titulos-coberturas { background-image: url(../imagenes/fonfo-titulos-coberturas.gif); background-repeat: no-repeat; width: 693px; height: 22px; }
.menu_descripcion-cobertura { width: 138px; height: 22px; float: left; }
.menu_descripcion-cobertura p {
	color: #fff;
	font-weight: bold;
	text-align: center;
	margin-top: 4px;
}
/*****descripcion****/
.descripcion-cobertura { background-image: url(../imagenes/fondo-descripcion-cobertura.gif); background-repeat: no-repeat; background-position: left 50%; width: 691px; height: 68px; float: left; margin-top: 4px; border: solid 1px #e5e5e3; }
.bloque-descripcion-cobertura { text-align: center; width: 138px; height: 68px; float: left; }
.bloque-descripcion-cobertura a { color: #2d8cc4; text-decoration: underline; }
.bloque-descripcion-cobertura h3 {
	margin-top: 25px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
}
.bloque-descripcion-cobertura h4 { margin: 4px 0 0; }
.bloque-descripcion-cobertura p { text-align: center; margin-top: 27px; }
/**** pie- llamanos *****/
#sitio-confiable { font-weight: bold; width: 704px; height: 59px; float: left; }
.sitio-confiable-foto { width: 77px; height: 59px; float: left; }
.sitio-confiable-tex { width: 610px; height: 59px; float: left; }
.sitio-confiable-tex span { font-size: 15px; padding-left: 200px; }
.sitio-confiable-tex p { margin-top: 20px; }
/**** pie- llamanos FIN*****/
/*****TARJETAS MAS****/
#tarjetas-mas { width: 704px; height: 70px; float: left; margin-top: 20px; }
.ico-tarjetas-mas { width: 106px; height: 70px; float: left; }
.tarjetas-mas-texto { width: 596px; height: 70px; float: left; }
.tarjetas-mas-texto p { margin-top: 10px; margin-right: 130px; }
/****Importante****/
#importante { background-image: url(../imagenes/fonfo-importante.jpg); background-repeat: no-repeat; width: 606px; height: 45px; float: left; margin-left: 35px; }
#importante span { color: #2d8cc4; }
#importante p { text-align: center; margin-top: 16px; }
/****Importante FIN****/
/****TEXTO PIE E PAGINAS COTIZACIONES*****/
#texto-pie { width: 640px; float: left; margin-top: 7px; margin-left: 20px; padding-top: 20px; padding-bottom: 20px; border-top: 1px solid #e5e5e3; }
#texto-pie span { color: #2d8cc4; }
/****TEXTO PIE E PAGINAS COTIZACIONES*****/
/*****TARJETAS MAS fin****/
/******CONTENIDO  COBERTURAS FIN******/
/******casilla-datos-cotizador FIN*****/
/**/
/*******  Datos Beneficiario ********/
#datos-beneficiario { width: 704px; float: left; margin: 20px 0 0; }
#datos-usuarui-beneficio { background-image: url(../btn-img/fondo-datos-usuarui-beneficio.gif); background-repeat: no-repeat; width: 689px; height: 28px; margin-right: auto; margin-left: auto; }
.datos-menu-usu-beneficio { text-align: center; width: 98px; height: 28px; float: left; }
.datos-menu-usu-beneficio p { color: #fff; text-align: center; }
#despliege-datos { background-color: #edeee9; width: 689px; height: 28px; margin-top: 2px; margin-right: auto; margin-left: auto; }
.despliegue-datos-personas { text-align: right; width: 98px; height: 28px; float: left; }
.despliegue-datos-personas a { color: #2d8cc4; font-size: 11px; font-weight: bold; }
.despliegue-datos-personas p { text-align: center; }
/*******  Datos Beneficiario FIN********/
/*******asegurado_adicional******/
#agregar_asegurado { width: 704px; height: 50px; float: left; }
#agregar_asegurado img { float: right; }
#asegurado-contenido { width: 704px; float: left; margin-right: auto; margin-left: auto; }
#menu_asegurado-contenido { background-image: url(../btn-img/fondo-menu_asegurado-contenido.jpg); width: 693px; height: 40px; float: left; }
#bloque-datos-ase { width: 523px; margin-right: auto; margin-left: auto; }
#bloque-datos-ase-menu { background-image: url(../imagenes/f-bloque-datos-ase-menu.gif); background-repeat: no-repeat; width: 523px; height: 28px; float: left; margin-top: 20px; }
.bloque-datos-ase-menu-casilla-da {
	width: 100px;
	height: 28px;
	float: left;
}
.bloque-datos-ase-menu-casilla-da p { color: #fff; line-height: 110%; text-align: center; }
#bloque-nombre-ase { width: 523px; height: 28px; float: left; margin-top: 3px; }
.bloque-nombre-ase-casillas {
	width: 108px;
	height: 28px;
	float: left;
}
.bloque-nombre-ase-casillas p { text-align: center; }
#modificar {
	text-align: right;
	width: 523px;
	height: 20px;
	float: left;
	padding-left: 90px;
}
#modificar a {
	color: #06C;
}
#modificar h3 {
	font-size: 11px;
	margin: 10px 0 0;
}
#titulo-beneficiarios { width: 523px; height: 70px; float: left; margin-top: 20px; padding-left: 90px; }
#titulo-beneficiarios h1 { color: #82898e; font-size: 15px; }
#titulo-beneficiarios h3 {
	font-size: 13px;
	margin-top: 8px;
}
/**/
#adicional-conte { width: 693px; float: left; }
#adicional_despliegue { width: 689px; margin-right: auto; margin-left: auto; }
#adicional_despliegue_menu { background-image: url(../imagenes/f-adicional_despliegue_menu.gif); background-repeat: no-repeat; width: 689px; height: 28px; }
.adicional_marcar_datos-activo { background-color: #d5e7f1; width: 689px; height: 28px; margin-top: 4px; }
.adicional_marcar_datos-activo img { margin: 0; }
.adicional_marcar_datos-inactivo { background-color: #edecec; width: 689px; height: 28px; margin-top: 4px; }
.blo-azul { height: 20px; margin-top: 2px; margin-right: 2px; margin-left: 2px; border: solid 1px #c6e4f4; }
.blo-gris { height: 20px; margin-top: 2px; margin-right: 2px; margin-left: 2px; border: solid 1px #d9d6d6; }
#puedes-agregar { background-image: url(../imagenes/f-puedes-agregar.gif); background-repeat: no-repeat; width: 689px; height: 24px; float: left; }
#puedes-agregar p { text-align: right; padding-right: 10px; }
/**/
#footer-asegurado-contenido-interno { background-image: url(../imagenes/footer-asegurado-contenido-interno.jpg); background-repeat: no-repeat; width: 694px; height: 31px; float: left; margin-top: 10px; }
#footer-asegurado-contenido-interno a { color: #2d8cc4; }
#footer-asegurado-contenido-interno h3 { text-align: right; margin: 0 10px 0 0; }
/*******asegurado_adicional******/
/*******necesitas ingrsar tu Rut y Clave*****/
/*******necesitas ingrsar tu Rut y Clave*****/
#contenedor-ingresa { width: 704px; float: left; }
#necesitas_ingrsar {
	width: 704px;
	margin-top: 30px;
}
#necesitas_ingrsar h3 { font-size: 12px; margin-left: 50px; }
#no-registrado { width: 317px; height: 150px; float: left; margin-top: 3px; }
#no-registrado p { text-align: center; }
#si-registrado { background-color: #f4f2f2; width: 366px; height: 150px; float: left; margin-top: 3px; }
#bloque-si-registrado { width: 194px; height: 150px; float: left; }
#bloque-si-registrado p { text-align: center; }
#btn-medio-de-pago { width: 154px; height: 150px; float: left; }
/**/
#info-inspeccion { background-image: url(../imagenes/info-inspeccion.jpg); background-repeat: no-repeat; width: 574px; height: 92px; margin-top: 20px; margin-right: auto; margin-left: auto; }
#info-inspeccion a { color: #2d8cc4; text-decoration: underline; }
#info-inspeccion p { padding-top: 10px; padding-right: 20px; padding-left: 20px; }
#info-inspeccion p span { color: #2d8cc4; }
/**/
/****Usuario*****/
#usuario { width: 700px; height: 161px; float: left; }
#contenedor-registros { width: 690px; height: 158px; margin-right: auto; margin-left: auto; border: solid 1px #d9d6d6; }
#informaciónde { width: 704px; float: left; margin-top: 20px; }
.informacionde_texto {
	width: 700px;
	height: 20px;
	float: left;
}
/*volver-telefono*/
#volver-telefono {
	font-weight: bold;
	width: 704px;
	height: 26px;
	margin-top: 20px;
}
#volver-btn { width: 133px; height: 26px; float: left; }
#telefono { width: 400px; height: 26px; float: right; }
#telefono h4 { color: #6d6f75; font-size: 14px; text-align: right; margin: 0; }
/*volver-telefono*/
/**/
/****Usuario*****/
/******CONTENDO COTIZADOR FIN*******/
/*******contenido-cotizador FIN**************/
/********************************************************************/
/***********Contratación Online PASO 03*********/
#elige_medio_pago { width: 704px; height: 115px; float: left; }
#elige_medio_pago-titulo { width: 322px; height: 115px; float: left; }
#elige_medio_pago-titulo p { margin-top: 40px; margin-left: 80px; }
.elige-tarjetas { text-align: center; height: 115px; float: left; }
.elige-tarjetas img { padding: 30px 5px 10px; }
/********** propuesta_seguro ********/
#propuesta_seguro { width: 666px; height: 171px; overflow: auto; float: left; margin-top: 20px; margin-left: 13px; border: solid 1px #b0b0bb; }
/******ingresa-datos-tarjetas*****/
#con-ingresa-datos-tarjetas { width: 704px; margin-top: 30px; }
#ingresa-datos-tarjetas { width: 704px; height: 110px; }
#tarjeta-mas { width: 306px; height: 110px; float: left; }
#tarjeta-mas p {
	margin-top: 10px;
	margin-left: 80px;
}
#datos-tarjetas-inger {
	width: 338px;
	height: 90px;
	float: left;
	margin-top: 10px;
}
.datos-tarjetas-casilla { width: 330px; height: 28px; float: left; }
.datos-tarjetas-casilla-text { text-align: right; width: 100px; height: 28px; float: left; }
#llama { background-image: url(../imagenes/f-llamar.jpg); background-repeat: no-repeat; width: 689px; height: 61px; margin-right: auto; margin-left: auto; }
#llama-fono { width: 450px; height: 61px; float: left; }
#llama-fono span { color: #2d8cc4; }
#llama-fono h1 { margin-top: 20px; margin-left: 20px; }
#llama-btn { width: 133px; height: 61px; float: right; }
/******ingresa-datos-tarjetas*****/
/********** propuesta_seguro ********/
/***********Contratación Online PASO 03 FIN*********/
/****** mis cotizaciones ********/
#mis_cotizaciones { width: 769px; float: left; }
#mis_cotizaciones_bajada { width: 769px; height: 34px; float: left; margin-top: 30px; }
#mis_cotizaciones_bajada span { color: #515151; }
#mis_cotizaciones_bajada p { font-size: 13px; margin-top: 10px; margin-left: 5px; }
#contenido_tipo_seguro { background-image: url(../imagenes/f-contenido_tipo_seguro.gif); background-repeat: no-repeat; width: 769px; height: 34px; float: left; margin-top: 20px; }
#contenido_tipo_seguro span { color: #2d8cc4; }
#contenido_tipo_seguro p { font-size: 12px; text-align: center; margin-top: 8px; }
.menu_tipo_seguro { width: 201px; height: 34px; float: left; }
.menu_plan { width: 197px; height: 34px; float: left; }
.menu_fecha { width: 245px; height: 34px; float: left; }
.menu_retomar { width: 124px; height: 34px; float: left; }
/****** mis cotizaciones FIN ********/
/**/
/******plan desplegue cotizacones****/
#desplegue_plan { background-color: #f8f8fb; width: 769px; height: 34px; float: left; margin-top: 2px; margin-bottom: 2px; }
#desplegue_plan p { text-align: center; margin-top: 8px; }
.despli_tipo_seguro { width: 197px; height: 34px; float: left; border-right: 2px solid #fff; border-left: 2px solid #fff; }
.despli_plan { width: 193px; height: 34px; float: left; border-right: 2px solid #fff; border-left: 2px solid #fff; }
.despli_fecha { width: 241px; height: 34px; float: left; border-right: 2px solid #fff; border-left: 2px solid #fff; }
.despli_retomar { width: 124px; height: 34px; float: left; }
/******plan desplegue cotizacones fin****/
/******CONACTO*****/
#contacto { width: 480px; margin-right: auto; margin-left: auto; }
#contacto_ttulo_bajada { width: 462px; }
#contacto_ttulo_bajada p { margin-left: 0; }
#contacto_ttulo_bajada h1 { margin: 0 0 10px; }
/****llenar datos contacto******/
#llanar_datos_contacto {
	width: 460px;
	float: left;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
}
.datos_contacto { width: 460px; float: left; margin-top: 4px; margin-bottom: 4px; }
.bloque_tex_contacto { width: 180px; height: 24px; float: left; }
.bloque_tex_contacto p { text-align: right; }
.bloque_tex_llenar { width: 280px; height: 24px; float: left; }
.bloque_tex_llenar span {
	color: #84848a;
	font-size: 9px;
	font-style: oblique;
	margin-top: 0;
	margin-left: 3px;
}
.bloque_tex_llenar_area { width: 280px; float: left; }
.bloque_tex_llenar_area img { float: right; }
/******CONACTO*****/
/*******INICIO FUTER******/
#footer { background-color: #fff; width: 987px; float: left; clear: both; }
#footer-menu { width: 800px; height: 30px; margin-top: 20px; margin-right: auto; margin-left: auto; border-top: 1px solid #b9b7b7; }
#footer-menu ul { text-align: center; margin: 10px auto 0; padding: 0; list-style-type: none; }
#footer-menu ul li { color: #888d8e; font-size: 11px; font-family: Arial, Verdana, Helvetica, sans-serif; font-weight: bold; padding-right: 5px; padding-left: 5px; border-right: 1px solid #888d8e; list-style-type: none; display: inline; }
#footer-menu ul li a { color: #888d8e; font-size: 11px; text-decoration: none; }
#footer-menu ul li a:hover { color: #7ba7cb; text-decoration: none; }
#footer-copiright { width: 987px; height: 28px; float: inherit; margin-top: 7px; margin-right: auto; margin-left: auto; }
/*********FIN CONTENIDO CENTRAL*************/
/************FIN INICIO CONTENIDO*******/
.textbox {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #999;
}
.bloquedatos {
	float: left;
	height: 20px;
	width: 280px;
}
.datos {
	float: left;
	height: 20px;
	width: auto;
}
.compdatos {
	float: right;
	height: 20px;
	width: 220px;
	margin-left: 8px;
}
.bordecotizador {
	float: right;
	height: 19px;
	width: 252px;
}
.imgcotizador {
	float: right;
	height: 153px;
	width: 253px;
}
.espaciocotizador {
	height: auto;
	width: 253px;
}
.rutcotizador {
	height: 20px;
	width: 194px;
}
.titrutcotizador {
	float: left;
	height: 20px;
	width: 35px;
	margin-left: 35px;
}
.boxrutcotizador {
	float: left;
	height: 20px;
	width: 120px;
}
.clavecotizador {
	float: left;
	height: 20px;
	width: 194px;
	margin-top: 8px;
	margin-bottom: 4px;
}
.titclavcotizador {
	float: left;
	height: 20px;
	width: 35px;
	margin-left: 35px;
}
.infclientecotizador {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin-top: 25px;
	width: 550px;
	margin-left: 25px;
}
.boxdatos {
	float: left;
	height: auto;
	width: auto;
	margin-top: 4px;
	margin-left: 10px;
}
.datonombrecuad {
	float: left;
	height: auto;
	width: 72px;
	margin-top: 4px;
	margin-left: 0px;
	text-align: right;
}
.datosboxapellido {
	float: left;
	height: auto;
	width: 80px;
	margin-top: 4px;
	margin-left: 0px;
	text-align: right;
}
.fechacotizador {
	text-align: right;
	float: left;
	height: auto;
	width: 160px;
	margin-top: 4px;
}
.textbox2cotizadores {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8px;
	color: #999;
}
.boxparentesco {
	text-align: right;
	float: left;
	height: auto;
	width: 80px;
	margin-top: 4px;
}
.boxgenero {
	text-align: right;
	float: left;
	height: auto;
	width: 45px;
	margin-top: 4px;
}
.boxdist {
	text-align: right;
	float: left;
	height: auto;
	width: 30px;
	margin-top: 4px;
}
.titulosbeneficiario {
	float: left;
	height: auto;
	width: auto;
	margin-top: 4px;
	margin-left: 20px;
}
.textotitulosasegurados {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	line-height: 120%;
	color: #FFF;
	font-weight: bold;
	text-align: center;
}
.tituloapellidopat {
	float: left;
	height: auto;
	width: auto;
}
.modificareliminar {
	background-color: #FFF;
	float: left;
	height: 20px;
	width: 690px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #06F;
	margin-left: 7px;
	text-align: right;
	margin-top: 4px;
}
.boxexcusa {
	float: left;
	height: auto;
	width: 250px;
	margin-top: 25px;
	margin-left: 15px;
}
.botoncotizar {
	height: auto;
	width: auto;
	float: right;
	margin-top: 35px;
}
.TitulosFichas {
	float: left;
	height: auto;
	width: 750px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
	font-weight: lighter;
	color: #06F;
	margin-top: 45px;
	margin-left: 22px;
}
.Subtitulosfichas {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: 800;
	color: #999;
	float: left;
	height: auto;
	width: 580px;
	margin-top: 5px;
	margin-left: 22px;
}
.datosapellido {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	line-height: 120%;
	font-weight: normal;
	color: #FFF;
	height: auto;
	width: auto;
}
.divapellidopat {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #FFF;
	float: left;
	height: auto;
	width: auto;
	margin-top: 4px;
	margin-left: 23px;
}
.divnombre {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #FFF;
	float: left;
	height: auto;
	width: 60px;
	text-align: center;
	margin-top: 3px;
	margin-left: 20px;
}
.divapellido {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #FFF;
	float: left;
	height: auto;
	width: 55px;
	text-align: center;
	margin-top: 3px;
	margin-left: 25px;
}
.divapellido2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #FFF;
	float: left;
	height: auto;
	width: 55px;
	margin-top: 3px;
	margin-left: 25px;
	text-align: center;
}
.divfechan {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #FFF;
	float: left;
	height: auto;
	width: 80px;
	margin-top: 3px;
	margin-left: 25px;
	text-align: center;
}
.divparentesco {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #FFF;
	text-align: center;
	float: left;
	height: auto;
	width: 80px;
	margin-top: 8px;
	margin-left: 25px;
}
.divgenero {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #FFF;
	float: left;
	height: auto;
	width: 40px;
	margin-top: 8px;
	margin-left: 25px;
	text-align: center;
}
.divdistribucion {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #FFF;
	text-align: center;
	float: left;
	height: auto;
	width: 60px;
	margin-top: 3px;
	margin-left: 25px;
}
.divlimpiar {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #FFF;
	text-align: center;
	float: left;
	height: auto;
	width: 60px;
	margin-top: 3px;
	margin-left: 25px;
}
.boxnombre {
	float: left;
	height: auto;
	width: 75px;
	margin-top: 3px;
	margin-left: 0px;
	text-align: right;
}
.boxapellido {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #FFF;
	float: left;
	height: auto;
	width: 55px;
	margin-top: 3px;
	margin-left: 30px;
	text-align: right;
}
