h1 { color: #4f4c4c; font-size: 22px; font-family: Arial, Verdana, Helvetica, sans-serif; font-weight: normal; margin-top: 0; margin-left: 20px; }
h2 { color: #3bbeeb; font-size: 15px; font-family: arial, Verdana, Helvetica, sans-serif; font-weight: normal; margin: 0; }
h1 span {
	color: #2d8cc4;
}
h4 {
	color: #4f4c4c;
	font-size: 9px;
	font-weight: normal;
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	padding-left: 23px;
}
p { color: #494949; font-size: 11px; font-family: arial, Verdana, Helvetica, sans-serif; }
/*****formulario de registro INICIO *****/
#content-formulario {
	width: 638px;
	clear: both;
	margin-right: auto;
	margin-left: auto;
}
#borde-top {
	background-image: url(images/comparador/top-contenedor-fondo.png);
	background-repeat: no-repeat;
	width: 638px;
	height: 40px;
	margin-right: auto;
	margin-left: auto;
}
#despliegue-formulario {
	background-image: url(images/comparador/fondo-contenido-form.png);
	background-repeat: repeat-y;
	width: 638px;
	margin-right: auto;
	margin-left: auto;
}
#btn-cerra {
	width: 650px;
	height: 40px;
	margin-right: auto;
	margin-left: auto;
}
#btn-cerra img { float: right; }
#formulario-registro {
	width: 560px;
	margin-right: 0px;
	margin-left: 40px;
}
#formulario-registro_titulo {
	width: 500px;
	margin: 0;
	padding-bottom: 15px;
}
.bloue_datos {
	width: 560px;
	height: 25px;
	margin-top: 2px;
	margin-bottom: 5px;
}
.bloue_datos_personal {
	text-align: right;
	width: 120px;
	height: 25px;
	float: left;
}
.bloue_datos_personal p {
	text-align: right;
	margin-top: 2px;
	margin-right: 10px;
	margin-bottom: 0;
	margin-left: 0;
}
.bloue_datos_llenar {
	width: 430px;
	height: 25px;
	float: left;
}
.bloue_datos_llenar p {
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
}
.separador_linea { width: 500px; margin-top: 20px; margin-bottom: 20px; border-top: 1px solid #ccc; }
.input_es { margin: 3px; padding: 0; border: solid 1px #ccc; }
#texto_acepto { width: 500px; height: 60px; margin-top: 20px; border-top: 1px solid #ccc; }
#btn-volver-ennviar {
	width: 500px;
	height: 28px;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
}
#btn_volver { width: 91px; height: 28px; float: left; }
#btn_enviar { width: 91px; height: 28px; float: right; }
#borde-botton { background-image: url(images/comparador/botton-contenedor-fondo.png); background-repeat: no-repeat; width: 650px; height: 25px; margin: 0; }
/*****formulario de registro FIN*****/
/**/
/**/
/********Estamos procesando********/
#estamos_procesando { width: 654px; height: 413px; margin-top: 50px; margin-right: auto; margin-left: auto; }
#curba_top_proceso { background-image: url(images/comparador/fondo-curba_top_proceso.png); background-repeat: no-repeat; width: 654px; height: 39px; }
#curba_top_proceso img { float: right; }
.estamos_procesando_cuerpo { background-image: url(images/comparador/f-estamos-procesando.png); width: 654px; height: 374px; }
#conte_estamos_procesando { width: 635px; height: 370px; }
.icono_geeral {
	text-align: center;
	width: 635px;
	height: 46px;
	padding-top: 20px;
}
#texto_procesando { text-align: center; width: 635px; }
#texto_procesando h3 { color: #82898e; font-weight: normal; }
#texto_procesando span { color: #2d8cc4; }
/********Estamos procesando FIN********/
/******ERRPR*****/
.pantalla-error_cuerpo { background-image: url(images/comparador/f-pantalla-error.png); width: 654px; height: 374px; }
/******ERRORO*****/
/**/
/******exito*****/
.pantalla-exito_cuerpo { background-image: url(images/comparador/f-pantalla-exito.png); width: 654px; height: 374px; }
/******exito*****/
/********************************************************************/
/******TUS DATOS******/
#contenido_tus_datos { width: 643px; margin-right: auto; margin-left: auto; }
#curvas_tus_dato_top { background-image: url(images/comparador/f-curvas_tus_dato_top.png); background-repeat: no-repeat; width: 643px; height: 39px; }
#curvas_tus_dato_top img { text-align: right; float: right; }
#contenido_tus_datos_central { background-image: url(images/comparador/f-contenido_tus_datos_central.png); background-repeat: repeat-y; width: 643px; }
#tus_datos_titulos { width: 643px; height: 60px; padding-top: 30px; }
#tus_datos_titulos h1 { margin-right: 0; margin-bottom: 0; margin-left: 45px; padding-right: 0; padding-bottom: 0; padding-left: 0; }
#despliegue_datos { width: 643px; height: 22px; }
#despliegue_datos span { color: #82898e; }
#despliegue_datos p { margin-top: 0; margin-left: 50px; }
.separacion_datos { width: 630px; height: 30px; margin-top: 30px; margin-left: 3px; border-top: 2px solid #bdbdbd; }
#curva_tus_datos-botton { background-image: url(images/comparador/f-curva_tus_datos-botton.png); background-repeat: no-repeat; width: 643px; height: 27px; }
/******TUS DATOS FIN******/
/**********************************************/
/**********************************************/
#conte-comparador_ficha {
	width: 1080px;
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
}
#conte-comparador_ficha_salud {
	width: 726px;
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
}

#conte-comparador_ficha_vida {
	width: 606px;
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
}
#conte-comparador_ficha_hogar {
	width: 849px;
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
}
#conte-comparador_ficha_maseguros {
	width: 525px;
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
}
.curva_comparador_ficha_top {
	background-image: url(images/comparador/f-curva_comparador_ficha_top.png);
	background-repeat: no-repeat;
	width: 981px;
	height: 39px;
}
.curva_comparador_ficha_top_vida {
	background-image: url(images/comparador/f-curva_comparador_ficha_top_vida.png);
	background-repeat: no-repeat;
	width: 606px;
	height: 39px;
	text-align: right;
}
.curva_comparador_ficha_top_salud {
	background-image: url(images/comparador/f-curva_comparador_ficha_top_salud.png);
	background-repeat: no-repeat;
	width: 726px;
	height: 39px;
	text-align: right;
}
.curva_comparador_ficha_top_hogar {
	background-image: url(images/comparador/f-curva_comparador_ficha_top_hogar.png);
	background-repeat: no-repeat;
	width: 849px;
	height: 39px;
	text-align: right;
}
.curva_comparador_ficha_top_maseguros{
	background-image: url(images/comparador/f-curva_comparador_ficha_top_maseguros.png);
	background-repeat: no-repeat;
	width: 525px;
	height: 39px;
	text-align: right;
}
.curva_comparador_ficha_top img { float: right; }
#despliegue_ficha {
	background-image: url(images/comparador/f-despliegue_ficha.png);
	background-repeat: repeat-y;
	width: 981px;
	float: left;
}
#despliegue_ficha_vida {
	background-image: url(images/comparador/f-despliegue_ficha_vida.png);
	background-repeat: repeat-y;
	width: 606px;
	float: left;
}
#despliegue_ficha_salud {
	background-image: url(images/comparador/f-despliegue_ficha_salud.png);
	background-repeat: repeat-y;
	width: 726px;
	float: left;
}
#despliegue_ficha_hogar {
	background-image: url(images/comparador/f-despliegue_ficha_hogar.png);
	background-repeat: repeat-y;
	width: 849px;
	float: left;
}
#despliegue_ficha_maseguros {
	background-image: url(images/comparador/f-despliegue_ficha_maseguros.png);
	background-repeat: repeat-y;
	width: 525px;
	float: left;
}
#ficha {
	width: 890px;
	padding-top: 20px;
	padding-left: 40px;
}
#ficha_vida {
	width: 566px;
	padding-top: 20px;
	padding-left: 40px;
}
#ficha_salud {
	width: 685px;
	padding-top: 20px;
	padding-left: 3px;
}
#ficha_hogar {
	width: 790px;
	padding-top: 20px;
	padding-left: 40px;
}
#ficha_maseguros {
	width: 470px;
	margin-left: 40px;
	padding-top: 20px;
}
#ficha_titulo {
	width: 800px;
	padding-bottom: 30px;
}
#ficha_titulo_vida {
	width: 560px;
	padding-bottom: 30px;
	height: 30px;
}
#ficha_titulo_salud {
	width: 685px;
	padding-bottom: 30px;
	height: 30px;
}
#ficha_titulo_hogar {
	width: 790px;
	padding-bottom: 30px;
	height: 30px;
}
#ficha_titulo_maseguros{
	width: 450px;
	padding-bottom: 20px;
	height: 40px;
}
#ficha_titulo h1 { margin: 0; padding: 0; }
#ficha_menu {
	background-repeat: no-repeat;
	width: 876px;
	height: 70px;
	background-color: #F9F9F9;
}#ficha_menu_hogar {
	background-repeat: no-repeat;
	width: 762px;
	height: 72px;
	background-color: #F9F9F9;
}
#ficha_menu_cesantia {
	background-repeat: no-repeat;
	width: 420px;
	height: 72px;
	background-color: #F9F9F9;
}
#ficha_menu_salud {
	background-repeat: no-repeat;
	width: 648px;
	height: 70px;
	background-color: #F9F9F9;
}
#ficha_menu_vida {
	background-repeat: no-repeat;
	width: 534px;
	height: 70px;
	background-color: #F9F9F9;
}
#ficha_menu_maseguros {
	background-repeat: no-repeat;
	width: 420px;
	height: 72px;
	background-color: #F4F4F4;
}
#ficha_menu span { color: #2d8cc4; }
#ficha_menu p { color: #82898e; text-align: center; margin-top: 6px; margin-right: 10px; margin-left: 10px; }
.coberturas {
	width: 190px;
	height: 72px;
	float: left;
	border-right-width: 2px;
	border-right-style: solid;
	border-right-color: #FFF;
}
.coberturas span { color: #2d8cc4; }
.coberturas h1 {
	color: #82898e;
	font-size: 14px;
	text-align: left;
	margin-top: 5px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 12px;
}
.causa {
	width: 112px;
	height: 72px;
	float: left;
	border-right-width: 2px;
	border-right-style: solid;
	border-right-color: #FFF;
	text-align: center;
}
.accidente {
	width: 112px;
	height: 72px;
	float: left;
	border-right-width: 2px;
	border-right-style: solid;
	border-right-color: #FFF;
	text-align: center;
}
.prima {
	width: 112px;
	height: 70px;
	float: left;
	border-right-width: 2px;
	border-right-style: solid;
	border-right-color: #FFF;
	text-align: center;
}
.ficha_bloque_despliegue {
	background-color: #ededee;
	width: 876px;
	height: 82px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFF;
	float: left;
}

/*
.ficha_bloque_despliegue_titulo {
	background-color: #ededee;
	width: 874px;
	height: 40px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFF;
	float: left;
}
*/
.ficha_bloque_despliegue_titulo {
	background-color: #FFF;
	width: 646px;
	height: 20px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFF;
	float: left;
}

.ficha_bloque_despliegue_hogar {
	background-color: #ededee;
	width: 762px;
	height: 82px;
	margin-top: 3px;
	margin-bottom: 3px;
}
.ficha_bloque_despliegue_cesantia {
	background-color: #ededee;
	width: 420px;
	height: 82px;
	margin-top: 3px;
	margin-bottom: 3px;
}
.ficha_bloque_despliegue_salud {
	background-color: #ededee;
	width: 648px;
	height: 82px;
	float: left;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFF;
}
.ficha_bloque_despliegue_vida {
	background-color: #ededee;
	width: 534px;
	height: 82px;
	margin-top: 3px;
	margin-bottom: 3px;
}
.ficha_bloque_despliegue_maseguros {
	background-color: #F5F5F5;
	width: 420px;
	height: 82px;
	margin-top: 3px;
	margin-bottom: 3px;
}
.ficha_bloque_texto {
	text-align: center;
	width: 190px;
	height: 83px;
	float: left;
	border-right: 2px solid #fff;
}
.ficha_bloque_texto p {
	font-size: 11px;
	text-align: left;
	margin-left: 8px;
	color: #666;
	padding-top: 5px;
}

/*
.ficha_bloque_texto_chico {
	text-align: center;
	width: 190px;
	height: 40px;
	float: left;
}
*/
.ficha_bloque_texto_chico {
	width: 190px;
	height: 20px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #2d8cc4;
	padding-top: 5px;
	padding-left: 11px;
}


.ficha_bloque_texto_chico p {
	font-size: 12px;
	text-align: left;
	margin-left: 8px;
	color: #2d8cc4;
	padding-top: 5px;
}

.ficha_bloque_texto_corto {
	text-align: center;
	width: 190px;
	height: 83px;
	float: left;
	border-right: 2px solid #fff;
}

.ficha_bloque_texto_corto p {
	font-size: 12px;
	text-align: left;
	margin-left: 8px;
	color: #2d8cc4;
	padding-top: 5px;
}

.ficha_bloque_ok_uno {
	text-align: center;
	width: 112px;
	height: 83px;
	float: left;
	border-right-width: 2px;
	border-right-style: solid;
	border-right-color: #FFF;
}

.ficha_bloque_ok_texto {
	text-align: center;
	width: 112px;
	height: 83px;
	float: left;
	border-right: 2px solid #fff;
}

.ficha_bloque_ok_texto p {
	font-size: 11px;
	text-align: center;
	color: #666;
}
.ficha_bloque_ok_dos {
	text-align: center;
	width: 113px;
	height: 83px;
	float: left;
	border-right: 1px solid #fff;
}
.ficha_bloque_ok_tres {
	text-align: center;
	width: 112px;
	height: 83px;
	float: left;
	border-right-width: 2px;
	border-right-style: solid;
	border-right-color: #FFF;
}
.compartir { width: 730px; height: 40px; float: left; }
.curva_comparador_ficha_botton {
	background-image: url(images/comparador/curva_comparador_ficha_botton.png);
	background-repeat: no-repeat;
	width: 981px;
	height: 39px;
	float: left;
}
.curva_comparador_ficha_botton_vida {
	background-image: url(images/comparador/curva_comparador_ficha_botton_vida.png);
	background-repeat: no-repeat;
	width: 606px;
	height: 39px;
	float: left;
	padding-top:0 px;
	margin-right: auto;
	margin-left: auto;
}
.curva_comparador_ficha_botton_salud {
	background-image: url(images/comparador/curva_comparador_ficha_botton_salud.png);
	background-repeat: no-repeat;
	width: 726px;
	height: 39px;
	float: left;
}
.curva_comparador_ficha_botton_hogar {
	background-image: url(images/comparador/curva_comparador_ficha_botton_hogar.png);
	background-repeat: no-repeat;
	width: 849px;
	height: 39px;
	float: left;
}
.curva_comparador_ficha_botton_maseguros {
	background-image: url(images/comparador/curva_comparador_ficha_botton_maseguros.png);
	background-repeat: no-repeat;
	width: 525px;
	height: 39px;
	float: left;
}
/**/
/**********************************************/
/**/
/**********************************************/
/*****ESTIMADO SEÑOR******/
#estimado_senor_contenedor { background-image: url(images/comparador/f-estimado_senor_contenedor.png); background-repeat: no-repeat; width: 639px; height: 400px; margin-top: 50px; margin-right: auto; margin-left: auto; }
#contenido_senor { width: 630px; height: 400px; margin-right: auto; margin-left: auto; }
#contenido_senor_texto {
	width: 630px;
	padding-top: 5px;
}
#contenido_senor_texto p { font-size: 11px; padding-top: 10px; padding-right: 250px; padding-left: 50px; }
#contenido_senor_texto span { color: #000; }
#logos_senor { width: 628px; height: 49px; margin-right: auto; margin-left: auto; padding-top: 20px; }
#botones_senor { width: 628px; height: 47px; margin-right: auto; margin-left: auto; padding-top: 30px; }
#bajada_de_texto { width: 628px; height: 47px; margin-right: auto; margin-left: auto; padding-top: 10px; }
#bajada_de_texto a { color: #2d8cc4; }
#bajada_de_texto p { text-align: right; margin-top: 5px; padding-right: 300px; padding-left: 40px; }
#senor_compartir { width: 628px; margin-right: auto; margin-left: auto; }
#senor_compartir p { font-size: 11px; text-align: right; padding-top: 4px; padding-right: 20px; }
/*cotizador-vida-10*/
.cotizador-vida-fin { width: 651px; clear: both; margin-top: 50px; margin-right: auto; margin-left: auto; }
.cotizador-vida-fin_curva_top { background-image: url(images/comparador/cotizador-vida-fin_curva_top.png); background-repeat: no-repeat; text-align: right; width: 651px; height: 39px; }
.contizador_contenido_des_f { background-image: url(images/comparador/fondo-cotizador-vida-fin_contenido.png); background-repeat: repeat-y; width: 651px; }
.texto_cotizador_despl { width: 651px; }
.texto_cotizador_despl span { color: #2d8cc4; }
.texto_cotizador_despl p { line-height: 170%; margin: 0; padding: 40px 100px 0 50px; }
.texto_cotizador_logos { width: 631px; height: 60px; padding-left: 20px; }
.cotizador-pdf-con { width: 651px; height: 94px; }
.descargar-pdf-acrobat { width: 290px; height: 94px; float: left; }
.descargar-pdf { text-align: right; width: 290px; height: 45px; float: left; }
.descargar-pdf img { padding-top: 10px; }
.descargar-acrobat { width: 290px; height: 45px; float: left; }
.descargar-acrobat a { color: #2d8cc4; }
.descargar-acrobat p { text-align: right; margin: 0; padding: 5px 0 0; }
.btn_inicio { width: 129px; height: 94px; float: right; margin-right: 40px; }
.cotizador-vida-fin_curva_botton { background-image: url(images/comparador/cotizador-vida-fin_curva_botton.png); background-repeat: no-repeat; text-align: right; width: 651px; height: 28px; float: left; }
/*TUS DATOS
*/
.tus-datos { width: 649px; margin-top: 50px; margin-right: auto; margin-left: auto; }
.tus-datos-curva_top { background-image: url(images/comparador/fondo-tus-datos-curva_top.png); text-align: right; width: 649px; height: 40px; }
.tus-datos-contenido { background-image: url(images/comparador/fondo-tus-datos-contenido.png); background-repeat: repeat-y; width: 649px; }
.tus-datos-contenido-despliegue { width: 630px; margin-left: 4px; }
.tus-datos-contenido-titulos { width: 600px; padding-top: 30px; padding-left: 30px; }
/*TUS DATOS
*/
.tus-datos-curva_botton { background-image: url(images/comparador/fonfo-tus-datos-curva_botton.png); text-align: right; width: 649px; height: 27px; }
.tus-datos-contenido-datos { width: 600px; padding-top: 40px; padding-bottom: 20px; padding-left: 30px; border-top: 5px solid #d1d1d1; }
.tus-datos-contenido-datos span { color: #8c8a8a; }
.tus-datos-contenido-datos p { color: #000; line-height: 70%; }
/*estilo box para informacion de registro*/
.textbox-con-nu { color: #999; width: 120px; margin: 0; padding: 0; border: solid 1px #ccc; }
.textbox-con-dato { color: #999; width: 120px; margin: 0; padding: 0; border: solid 1px #ccc; }
.texbon-selecion { margin: 0; padding: 0; border: solid 1px #ccc; }
.textbox-con-rut { color: #999; width: 78px; margin: 0; padding: 0; border: solid 1px #ccc; }
.textbox-con-rut-n { color: #999; width: 25px; margin: 0; padding: 0; border: solid 1px #ccc; }
.textbox-con-fono { color: #999; width: 56px; margin: 0; padding: 0; border: solid 1px #ccc; }
.textbox2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #999;
	border: 1px solid #cac8c8;
}
.texosavisos {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: oblique;
	color: #999;
}
.datosobligatorios {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #2d8cc4;
}

.textbox-d-personal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #999;
	border: solid 1px #cac8c8;
	text-align: left;
	width: 120px; }
.bloue_datos_llenar span { color: #2d8cc4; }
.bloue_datos_llenar-b { width: 430px; height: 25px; float: left; }
.bloue_datos_llenar-b p { margin-top: 5px; }
.textingresar {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #4f4c4c;
	margin-left: 29px;
	padding-bottom: 0px;
	line-height: 5px;
	height: 10px;
	width: 560px;
}
.divingresar {
	float: left;
	height: 10px;
	width: 500px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #4f4c4c;
	padding-left: 28px;
	margin-bottom: 10px;
}
.ingredatos {
	float: left;
	height: 10px;
	width: 500px;
}
.telefono-comparador {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666;
	float: left;
	height: auto;
	width: 150px;
	padding-top: 5px;
	padding-left: 12px;
}
.telefono-comparador2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666;
	float: left;
	height: auto;
	width: 150px;
	padding-left: 12px;
}
.boton_contratar_comp {
	height: auto;
	width: auto;
	margin-right: auto;
	margin-left: auto;
	padding-top: 5px;
}
.titulos_comp {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #2d8cc4;
	height: 30px;
	width: 100px;
	padding-top: 10px;
	padding-left: 7px;
}
.causa_ancho {
	width: 226px;
	height: 72px;
	float: left;
	text-align: center;
}
.causa_ancho2 {
	width: 450px;
	height: 72px;
	float: left;
	text-align: center;
}
.titulos_comp_ancho {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #2d8cc4;
	height: 30px;
	width: 150px;
	padding-top: 10px;
	padding-left: 40px;
}
.titulos_comp_ancho2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #2d8cc4;
	height: 30px;
	width: 450px;
	padding-top: 10px;
	text-align: center;
}
.ficha_bloque_ok_ancho {
	text-align: center;
	width: 226px;
	height: 83px;
	float: left;
}
.ficha_bloque_ok_ancho2 {
	text-align: center;
	width: 227px;
	height: 83px;
	float: left;
	border-right-width: 2px;
	border-right-style: solid;
	border-right-color: #FFF;
}
.ficha_bloque_ok_ancho3 {
	text-align: center;
	width: 456px;
	height: 77px;
	float: left;
	border-right-width: 2px;
	border-right-style: solid;
	border-right-color: #FFF;
	padding-top: 6px;
}
.ficha_bloque_despliegue_ancho {
	background-color: #ededee;
	width: 650px;
	height: 83px;
	float: left;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFF;
}
