@charset "utf-8";
/* CSS Document */


#btn_enviar {
	width: 91px;
	height: 28px;
	float: right;
}

#btn_enviar2 {
	width: 91px;
	height: 28px;
	float: left;
}

.cont-rut-boton {
	float: left;
	height: 39px;
	width: 355px;
}

#formulario-registro3 {
	width: 355px;
	margin-right: auto;
	margin-left: auto;
}

#despliegue-formulario2 {
	background-image: url(../images/img_light_box/fondo-contenido-form2.gif);
	background-repeat: repeat-y;
	width: 379px;
	float: left;
	height: auto;
}

.bloue_datos_llenar2 {
	width: 175px;
	height: 25px;
	float: left;
}

.bloue_datos_personal2 {
	text-align: right;
	width: 55px;
	height: 20px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #494949;
	padding-top: 5px;
	padding-right: 3px;
}

#content-formulario2 {
	width: 379px;
	margin-right: auto;
	margin-left: auto;
	height: auto;
	margin-top: 25px;
}

#borde-top {
	background-image: url(../images/img_light_box/top-contenedor-fondo.gif);
	background-repeat: no-repeat;
	width: 642px;
	height: 40px;
}
#borde-top2 {
	background-image: url(../images/img_light_box/top-contenedor-fondo2.gif);
	background-repeat: no-repeat;
	width: 400px;
	height: 40px;
	float: left;
}

#borde-botton2 {
	/*background-image: url(../images/img_light_box/botton-contenedor-fondo2.gif);*/
	background-repeat: no-repeat;
	width: 379px;
	height: 25px;
	margin: 0;
	float: left;
}

.correo-recuperar-clave {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #2d8cc4;
	float: left;
	height: auto;
	width: auto;
	margin-top: 10px;
	margin-left: 3px;
}

.div-texto-recuperar-clave {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666;
	float: left;
	height: auto;
	width: auto;
	margin-top: 10px;
}

.contenedor-texto-clave {
	float: left;
	height: auto;
	width: 320px;
	margin-top: 10px;
	padding-left: 20px;
}

	.bloue_datos3 {
	width: 245px;
	height: 28px;
	margin-top: 2px;
	margin-bottom: 5px;
	float: left;
}

h1 {
	color: #2b8cc4;
	font-size: 22px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-weight: normal;
	margin-top: 15;
	margin-left: 35px;
}

h1 span {
	color: #666;
}

#formulario-registro_titulo {
	width: 355px;
	margin: 0;
	padding-bottom: 10px;
}

#btn-cerra2 {
	width: 379px;
	height: 40px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: right;
}
#btn-cerra img { float: right; }
.textbox-con-rut { color: #999; width: 78px; margin: 0; padding: 0; border: solid 1px #ccc; }
.textbox-con-rut-n { color: #999; width: 25px; margin: 0; padding: 0; border: solid 1px #ccc; }
.descargar-pdf {
	text-align: left;
	width: 250px;
	height: auto;
	float: right;
	padding-left: 12px;
}

.cont-logo-botones {
	float: left;
	height: auto;
	width: 620px;
	padding-top: 30px;
}

.cont-logo-botones2 {
	float: left;
	height: 120px;
	width: 640px;
	padding-top: 60px;
}

.descargar-acrobat {
	width: 230px;
	height: auto;
	float: right;
	padding-right: 20px;
	padding-top: 2px;
}
.descargar-acrobat a { color: #2d8cc4; }
.descargar-acrobat p {
	text-align: left;
	margin: 0;
	padding: 5px 0 0;
	font-size: 11px;
}

.texto_cotizador_logos {
	width: 275px;
	height: 83px;
	padding-left: 30px;
	float: left;
}

.cont-inicio2 {
	float: right;
	height: auto;
	width: auto;
	padding-top: 50px;
	padding-right: 19px;
}

.texto_cotizador_despl {
	width: 651px;
	height: auto;
	float: left;
	padding-top: 5px;
}

.cotizador-vida-fin_curva_botton { background-image: url(../images/img_light_box/cotizador-vida-fin_curva_botton.png); background-repeat: no-repeat; text-align: right; width: 651px; height: 28px; float: left; }


.texto_cotizador_despl span { color: #2d8cc4; }
.texto_cotizador_despl p {
	line-height: 170%;
	margin: 0;
	padding-top: 15px;
	padding-right: 45px;
	padding-bottom: 0;
	padding-left: 30px;
}

.cotizador-vida-fin_curva_botton { background-image: url(../images/img_light_box/cotizador-vida-fin_curva_botton.png); background-repeat: no-repeat; text-align: right; width: 651px; height: 28px; float: left; }
.cotizador-vida-fin_curva_top { background-image: url(../images/img_light_box/cotizador-vida-fin_curva_top.png); background-repeat: no-repeat; text-align: right; width: 651px; height: 39px; }
.cotizador-vida-fin {
	width: 651px;
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
	height: 425px;
}
#borde-top {
	background-image: url(../images/img_light_box/top-contenedor-fondo.png);
	background-repeat: no-repeat;
	width: 642px;
	height: 40px;
}

#formulario-registro {
	width: 560px;
	margin-right: 0px;
	margin-left: 40px;
}
#formulario-registro2 {
	width: 560px;
	margin-right: 0px;
	margin-left: 15px;
}

#formulario-registro3 {
	width: 355px;
	margin-right: auto;
	margin-left: auto;
}

#formulario-registro_titulo {
	width: 355px;
	margin: 0;
	padding-bottom: 10px;
}

#formulario-registro_titulo2 {
	width: 355px;
	margin: 0;
	padding-bottom: 10px;
}

#formulario-registro_titulo3 {
	width: 500px;
	margin: 0;
	padding-bottom: 10px;
}

.bloue_datos {
	width: 560px;
	height: 25px;
	margin-top: 2px;
	margin-bottom: 5px;
	float: left;
}
.bloue_datos2 {
	width: 295px;
	height: 28px;
	margin-top: 2px;
	margin-bottom: 5px;
	float: left;
}

.bloue_datos3 {
	width: 245px;
	height: 28px;
	margin-top: 2px;
	margin-bottom: 5px;
	float: left;
}
.bloue_datos4 {
	width: 560px;
	height: 35px;
	margin-top: 2px;
	margin-bottom: 5px;
	float: left;
}

.bloue_datos_personal {
	text-align: right;
	width: 120px;
	height: 25px;
	float: left;
}
.bloue_datos_personal3 {
	text-align: right;
	width: 120px;
	height: 25px;
	float: left;
}

.bloue_datos_personal2 {
	text-align: right;
	width: 55px;
	height: 20px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #494949;
	padding-top: 5px;
	padding-right: 3px;
}
.bloue_datos_personal p {
	text-align: right;
	margin-right: 10px;
	margin-bottom: 0;
	margin-left: 0;
	margin-top: 4px;
}
	
	.text-no-valido {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #F90;
	float: right;
	height: 12px;
	width: 100px;
	padding-top: 3px;
	padding-left: 4px;
	padding-right: 85px;
}
.text-no-valido2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #F90;
	float: left;
	height: 15px;
	width: 150px;
	padding-top: 4px;
	padding-left: 3px;
}

.separador_linea {
	width: 520px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-top: 1px solid #ccc;
	margin-left: 8px;
	float: left;
}
	
	#borde-botton {
	/*background-image: url(../images/img_light_box/botton-contenedor-fondo.png);*/
	background-repeat: no-repeat;
	width: 650px;
	height: 25px;
	margin: 0;
	float: left;
}

#btn_volver { width: 91px; height: 28px; float: left; }
#btn_enviar {
	width: 91px;
	height: 28px;
	float: right;
}

#btn_enviar2 {
	width: 91px;
	height: 28px;
	float: left;
}
.textbox2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #999;
	border: 1px solid #cac8c8;
}

.textbox-d-personal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #707070;
	border: solid 1px #cac8c8;
	text-align: left;
	width: 120px;
}

.text-no-valido {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #F90;
	float: right;
	height: 12px;
	width: 100px;
	padding-top: 3px;
	padding-left: 4px;
	padding-right: 85px;
}
.text-no-valido2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #F90;
	float: left;
	height: 15px;
	width: 150px;
	padding-top: 4px;
	padding-left: 3px;
}

.bloue_datos_llenar span {
	color: #999;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.bloue_datos_personal {
	text-align: right;
	width: 120px;
	height: 25px;
	float: left;
}
.bloue_datos_personal3 {
	text-align: right;
	width: 120px;
	height: 25px;
	float: left;
}

.texosavisos {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: oblique;
	color: #999;
}
#btn-volver-ennviar2 {
	width: 294px;
	height: 28px;
	margin-top: 10px;
	float: left;
	padding-left: 25px;
}
#formulario-registro3 {
	width: 355px;
	margin-right: auto;
	margin-left: auto;
}
age: url(../images/img_light_box/top-contenedor-fondo2.gif);
	background-repeat: no-repeat;
	width: 400px;
	height: 40px;
	float: left;
}
#despliegue-formulario {
	background-image: url(../images/img_light_box/fondo-contenido-form.png);
	background-repeat: repeat-y;
	width: 638px;
	float: left;
	height: auto;
}

#btn-cerra {
	width: 640px;
	height: 40px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom: 0px;
}
#btn-cerra2 {
	width: 379px;
	height: 40px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: right;
}
#btn-cerra img { float: right; }
#formulario-registro {
	width: 560px;
	margin-right: 0px;
	margin-left: 40px;
	overflow-y:hidden; 
	overflow-x:hidden; 
}
#formulario-registro2 {
	width: 560px;
	margin-right: 0px;
	margin-left: 15px;
	overflow-y:hidden; 
	overflow-x:hidden; 
}

#formulario-registro3 {
	width: 355px;
}

	.descargar-pdf2 {
	text-align: left;
	width: 140px;
	height: auto;
	float: left;
	padding-left: 15px;
}

.descargar-pdf3 {
	text-align: left;
	width: 160px;
	height: auto;
	float: right;
}
.cont-botones-lightbox {
	float: left;
	height: auto;
	width: 325px;
}
#conte_estamos_procesando { width: 235px; height: 170px; }
#texto_procesando { text-align: center; width: 235px; }
#texto_procesando h3 { color: #82898e; font-weight: normal; }
.cont-datos-obligatorios {
	float: right;
	height: auto;
	width: auto;
	padding-right: 25px;
}
.bloue_datos_personal {
	text-align: right;
	width: 120px;
	height: 25px;
	float: left;
}
.cont-captcha {
	float: left;
	height: auto;
	width: 253px;
	text-align: right;
	margin-top: 3px;
}
#despliegue-formulario {
	background-image: url(../images/img_light_box/fondo-contenido-form.png);
	background-repeat: repeat-y;
	width: 638px;
	float: left;
	height: auto;
}
#tus_datos_titulos {
	width: 643px;
	height: 60px;
	padding-top: 30px;
	float: left;
	padding-left: 50px;
}
.contdatos1 {
	float: right;
	height: auto;
	width: 240px;
	margin-top: 10px;
}
.contextos {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #999;
	float: left;
	height: auto;
	width: auto;
	margin-left: 10px;
}
.contdatostext {
	height: auto;
	width: 680px;
	margin-top: 10px;
	float: left;
}
.cont-alerta-modificar {
	float: left;
	height: 40px;
	width: 650px;
	margin-top: 5px;
}
.titulos {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333;
	float: left;
	height: auto;
	width: auto;
}
.alerta-curva-derecha {
	background-image: url(../images/img_light_box/f-alerta_datos-derecha.gif);
	float: left;
	height: 50px;
	width: 13px;
}
.alerta-curva-derecha {
	background-image: url(../images/img_light_box/f-alerta_datos-derecha.gif);
	float: left;
	height: 50px;
	width: 13px;
}
.alerta-curva-derecha {
	background-image: url(../images/img_light_box/f-alerta_datos-derecha.gif);
	float: left;
	height: 50px;
	width: 13px;
}
.signo-exclamacion {
	background-image: url(../images/img_light_box/exclamacion.png);
	float: left;
	height: 28px;
	width: 28px;
	margin-top: 8px;
	margin-right: 7px;
}
.texto-alerta {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666;
	float: left;
	height: 15px;
	width: inherit;
	margin-top: 14px;
}
.cont-alerta-modificar {
	float: left;
	height: 40px;
	width: 650px;
	margin-top: 5px;
}

/*INICIO BENEFICIARIOS*/
.titulo-beneficiario{
width: 63px; 
height: 28px; 
float: left; 
}
.titulo-beneficiario-linea1{
	width: 63px; 
	height: 28px; 
	float: left; 
}
.titulo-beneficiario-linea1 p{
	padding-top: 7px;
}
/*FIN BENEFICIARIOS*/

.adicional_menu_nombre-mas { width: 104px; height: 28px; float: left; }
.adicional_menu_nombre-mas p { padding-top: 7px; }
.adicional_menu_fecha p { padding-top: 7px; }
.adicional_menu_parentesco p { padding-top: 7px; }
.adicional_menu_sexo p { padding-top: 7px; }
.ingrasa_rut_cl {
	color: #82898e;
	width: 75px;
	height: 15px;
	}
	.adicional_menu_fecha p { padding-top: 7px; }
	.adicional_menu_parentesco p { padding-top: 7px; }
	.adicional_menu_sexo p { padding-top: 7px; }
	
	.adicional_menu_distribucion {
	width: 69px;
	height: 28px;
	float: left;
	margin-left: 8px;
}
