.caja_registro_contenido {
	width: 690px;
	height: 180px;
	display: block;
	float: left;
}

.caja_sin_registro {
	width: 280px;
	height: 180px;
	display: block;
	float: left;
}

.caja_registro_usuario {
	width: 410px;
	height: 180px;
	display: block;
	float: left;
	background-color: #EEECED;
}

.caja_sin_registro_sep {
	width: 280px;
	height: 10px;
	display: block;
	float: left;
	overflow: hidden;
}

.caja_registro_usuario_sep {
	width: 410px;
	height: 10px;
	display: block;
	float: left;
	background-color: #EEECED;
	overflow: hidden;
}

.caja_sin_registro_contenido {
	width: 260px;
	height: 170px;
	display: block;
	float: left;
	margin: 0 10px;
}

.caja_contenido_usuario_a {
	width: 230px;
	height: 135px;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	border-right: 1px solid #CCC;
}

.caja_registro_usuario_contenido {
	width: 390px;
	height: 160px;
	display: block;
	float: left;
	margin: 0 10px;
}

.caja_sin_registro_titulo {
	width: 260px;
	height: 24px;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	font-family: Century Gothic, Helvetica, Arial, sans-serif;
	font-size: 18px;
	color: #ee8600;
	text-align: center;
}

.caja_registro_usuario_titulo {
	width: 390px;
	height: 24px;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	font-family: Century Gothic, Helvetica, Arial, sans-serif;
	font-size: 18px;
	color: #ee8600;
}

.caja_sin_registro_txt {
	width: 260px;
	height: 54px;
	display: block;
	float: left;
	margin-top: 10px;
	margin-bottom: 15px;
	padding: 0;
	font-family: Century Gothic, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #666;
	text-align: center;
}

.btn_sin_registro {
	width: 160px;
	height: 30px;
	display: block;
	float: left;
	margin: 0 50px;
	background: url(../images/sinRegistro/btn_sregistro_off.jpg) no-repeat;
}

.btn_sin_registro a {
	width: 160px;
	height: 30px;
	display: block;
	float: left;
	margin:0;
	background:url(../images/sinRegistro/btn_sregistro_off.jpg) no-repeat;
}

.btn_sin_registro a:hover {
	background:url(../images/sinRegistro/btn_sregistro_on.jpg) no-repeat;
}

.caja_registro_usuario_txt {
	width: 50px;
	height: 18px;
	display: block;
	float: left;
	margin-top: 5px;
	margin-right: 10px;
	padding: 0;
	font-family: Century Gothic, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #666;
	text-align: right;
}

.caja_registro_usuario_input input {
	width: 100px;
	height: 16px;
	display: block;
	float: left;
	margin-top: 5px;
	padding: 0;
}

.caja_registro_usuario_input_sep {
	width: 20px;
	height: 16px;
	display: block;
	float: left;
	margin-top: 5px;
	padding: 0;
	font-family: Century Gothic, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #666;
	text-align: center;
}

.caja_registro_usuario_verificador input {
	width: 25px;
	height: 16px;
	display: block;
	float: left;
	margin-top: 5px;
	padding: 0;
}

#contendio_input_rut {
	width: 230px;
	height: 25px;
	display: block;
	float: left;
	margin-top: 5px;
}

.btn_registro_usuarios {
	width: 160px;
	height: 30px;
	display: block;
	float: left;
	margin: 10px 35px 0 35px;
	background:url(../images/sinRegistro/btn_sregistro_off.jpg) no-repeat;
}

.btn_registro_usuarios a {
	width: 160px;
	height: 30px;
	display: block;
	float: left;
	margin:0;
	background:url(../images/sinRegistro/btn_sregistro_off.jpg) no-repeat;
}

.btn_registro_usuarios a:hover {
	background:url(../images/sinRegistro/btn_sregistro_on.jpg) no-repeat;
}

.btn_txt {
	width: 230px;
	height: 17px;
	display: block;
	float: left;
	margin: 5px 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	color: #666;
	font-size: 11px;
}

.btn_txt a {
	width: 282px;
	height: 17px;
	font-family: Arial, Helvetica, sans-serif;
	color: #A1A0A3;
	font-size: 11px;
}

.btn_txt a:hover {
	color: #ee8600;
}

.btn_ingresar_usuarios {
	width: 100px;
	height: 30px;
	display: block;
	float: left;
	margin: 20px 65px 0 65px;
	background:url(../images/sinRegistro/btn_ingresar_off.jpg) no-repeat;
}

.btn_ingresar_usuarios a {
	width: 100px;
	height: 30px;
	display: block;
	float: left;
	margin:0;
	background:url(../images/sinRegistro/btn_ingresar_off.jpg) no-repeat;
}

.btn_ingresar_usuarios a:hover {
	background:url(../images/sinRegistro/btn_ingresar_on.jpg) no-repeat;
}

.caja_registrate_aqui {
	width: 159px;
	height: 135px;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
}

.sep_caja_registrate_aqui {
	width: 159px;
	height: 5px;
	display: block;
	float: left;
	overflow: hidden;
}

.titulo_caja_registrate_aqui {
	width: 159px;
	height: 23px;
	display: block;
	float: left;
	font-family: Century Gothic, Helvetica, Arial, sans-serif;
	font-size: 15px;
	color: #ee8600;
	text-align: center;
}

.txt_caja_registrate_aqui {
	width: 159px;
	height: 40px;
	display: block;
	float: left;
	font-family: Century Gothic, Helvetica, Arial, sans-serif;
	font-size: 11px;
	color: #666;
	text-align: center;
}

.btn_ingresar_new_usuarios {
	width: 100px;
	height: 30px;
	display: block;
	float: left;
	margin: 12px 30px 0 29px;
	background: url(../images/sinRegistro/btn_nuevo_usuario_off.jpg) no-repeat;
}

.btn_ingresar_new_usuarios a {
	width: 100px;
	height: 30px;
	display: block;
	float: left;
	margin:0;
	background:url(../images/sinRegistro/btn_nuevo_usuario_off.jpg) no-repeat;
}

.btn_ingresar_new_usuarios a:hover {
	background:url(../images/sinRegistro/btn_nuevo_usuario_on.jpg) no-repeat;
}
