BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 9px; BACKGROUND-IMAGE: url(../images/background-body.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; COLOR: #999; PADDING-TOP: 0px; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 100%
}
H1 {
	FONT-WEIGHT: normal; FONT-SIZE: 20px; MARGIN: 0px; COLOR: #4f4c4c; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
H1 SPAN {
	COLOR: #8c8a8a
}
H2 {
	FONT-WEIGHT: normal; FONT-SIZE: 16px; COLOR: #4f4c4c; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
H4 {
	FONT-WEIGHT: normal; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
H3 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #2d8cc4; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
H3 SPAN {
	COLOR: #8c8a8a
}
H5 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; MARGIN: 0px; COLOR: #b0b0bb; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-ALIGN: center; TEXT-DECORATION: none
}
H6 {
	FONT-WEIGHT: normal; FONT-SIZE: 16px; MARGIN: 5px 0px 0px; COLOR: #8c8a8a; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-ALIGN: right; TEXT-DECORATION: none
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #999999; LINE-HEIGHT: 120%; PADDING-TOP: 0px; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-ALIGN: left
}
A {
	COLOR: #666; TEXT-DECORATION: none
}
A:hover {
	MARGIN-TOP: 6px; COLOR: #7ba7cb; TEXT-DECORATION: none
}
#content {
	CLEAR: both; MARGIN: 0px auto; WIDTH: 987px
}
#header {
	CLEAR: both; BACKGROUND-IMAGE: url(../images/background-header.png); WIDTH: 987px
}
#menu-top-nuestros {
	BACKGROUND-IMAGE: url(../images/background-menu-top-sucursales.jpg); WIDTH: 987px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 24px
}
#visita-sitios {
	FLOAT: left; MARGIN-LEFT: 90px; MARGIN-RIGHT: 30px; HEIGHT: 24px
}
#visita-sitios P {
	PADDING-TOP: 6px
}
#visita-sitio-marcas {
	FLOAT: left; HEIGHT: 24px
}
#inicio-usuario-top {
	WIDTH: 987px; HEIGHT: 20px
}
#inicio-usuario-top P {
	PADDING-TOP: 6px
}
#usuaruio {
	PADDING-RIGHT: 15px; FLOAT: right; HEIGHT: 20px
}
#index-house {
	FLOAT: right; WIDTH: 75px; HEIGHT: 20px
}
#logo-logos {
	WIDTH: 987px; HEIGHT: 82px
}
#menu-principal-top {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 987px; PADDING-TOP: 0px; HEIGHT: 30px
}
#menu-principal {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 690px; PADDING-TOP: 0px; HEIGHT: 40px
}
#menu-principal2 {
	FLOAT: left; WIDTH: 683px; HEIGHT: 40px
}
#btn-numero-top {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 295px; PADDING-TOP: 0px; HEIGHT: 40px
}
#btn-numero-top2 {
	PADDING-RIGHT: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN-LEFT: 0px; WIDTH: 304px; MARGIN-RIGHT: 0px; PADDING-TOP: 0px; HEIGHT: 40px
}
#cuerpo-central {
	CLEAR: both; FLOAT: left; BACKGROUND-IMAGE: url(../images/background-cuerpo-central.jpg); WIDTH: 987px; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #efefed
}
#curva-topcont-secciones {
	BACKGROUND-IMAGE: url(../images/background-curva-contenido-secciones.jpg); WIDTH: 978px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 12px
}
#curva-bottoncont-secciones {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; BACKGROUND-IMAGE: url(../images/curva-botton.jpg); PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 987px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 18px
}
#contenido-secciones {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; BACKGROUND-IMAGE: url(../images/background-contenido-secciones.jpg); PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 978px; PADDING-TOP: 40px; BACKGROUND-REPEAT: repeat-y
}
#seccion-columna-iz {
	FLOAT: left; MARGIN-LEFT: 2px; WIDTH: 378px
}
#texto-columna-iz {
	MARGIN-LEFT: auto; WIDTH: 330px; MARGIN-RIGHT: auto
}
#seccion-columna-centro {
	FLOAT: left; BACKGROUND-IMAGE: url(../images/background-seccion-columna-centro.jpg); WIDTH: 388px; BACKGROUND-REPEAT: repeat-y
}
.scroll-contenido-central {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: auto; WIDTH: 388px; PADDING-TOP: 0px; HEIGHT: 440px
}
.text-columna-central {
	BACKGROUND-POSITION: 50% bottom; BACKGROUND-IMAGE: url(../images/botton-text-columna-central.jpg); PADDING-BOTTOM: 30px; MARGIN-LEFT: 10px; WIDTH: 330px; PADDING-TOP: 5px; BACKGROUND-REPEAT: no-repeat
}
.text-columna-central P {
	PADDING-LEFT: 12px; FONT-SIZE: 11px
}
.btn-conocer-mas {
	MARGIN-TOP: 10px; MARGIN-RIGHT: 30px
}
.text-columna-central H3 {
	MARGIN-TOP: 0px; FONT-SIZE: 13px; MARGIN-BOTTOM: 5px
}
.text-columna-central H3 SPAN {
	FONT-WEIGHT: bold; COLOR: #ff9e0d
}
#btn-compartir {
	FLOAT: left; WIDTH: 330px; HEIGHT: 20px
}
#btn-compartir A {
	COLOR: #000
}
#btn-compartir A:hover {
	COLOR: #7ba7cb
}
#seccion-columna-der {
	PADDING-BOTTOM: 25px; MARGIN-LEFT: 3px; WIDTH: 200px; PADDING-TOP: 23px
}
#login {
	MARGIN-TOP: 20px; BACKGROUND-IMAGE: url(../images/background-caluga-login.jpg); MARGIN-LEFT: auto; WIDTH: 172px; MARGIN-RIGHT: auto; PADDING-TOP: 6px; HEIGHT: 127px
}
#login_in_ti {
	MARGIN-TOP: 3px; WIDTH: 172px; HEIGHT: 25px
}
#login_in_ti H1 {
	FONT-SIZE: 14px; TEXT-ALIGN: center
}
#login_dat_in {
	MARGIN-TOP: 4px; WIDTH: 172px; HEIGHT: 24px
}
#login_dat_in_per {
	FLOAT: left; WIDTH: 50px; HEIGHT: 24px
}
#login_dat_in_tex {
	FLOAT: left; HEIGHT: 24px
}
#login_dat_in_ir {
	FLOAT: left; MARGIN-LEFT: 4px; WIDTH: 31px; HEIGHT: 24px
}
#login_dat_in_per P {
	MARGIN-RIGHT: 10px; TEXT-ALIGN: right
}
#login_dat_in_obten {
	MARGIN-TOP: 5px; FLOAT: left; WIDTH: 160px; HEIGHT: auto
}
#login_dat_in_obten P {
	FONT-SIZE: 10px; MARGIN: 0px 0px 0px 40px; LINE-HEIGHT: 150%
}
#banner-columna-der-01 {
	MARGIN-TOP: 18px; MARGIN-LEFT: auto; WIDTH: 172px; MARGIN-RIGHT: auto; HEIGHT: 127px
}
#index-content-central {
	WIDTH: 978px; BACKGROUND-COLOR: #e5e5e3
}
#curva-botton-index {
	FLOAT: left; BACKGROUND-IMAGE: url(../images/curva-botton-index.jpg); WIDTH: 985px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 8px
}
#slider-central-index {
	MARGIN-TOP: 5px; FLOAT: left; MARGIN-LEFT: 2px; WIDTH: 690px; HEIGHT: 394px
}
#columna-der-index {
	FLOAT: right; WIDTH: 281px
}
#caluga-mi-seguro-online {
	BACKGROUND-IMAGE: url(../images/fondo-calugas-index.png); MARGIN-BOTTOM: 3px; WIDTH: 281px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 128px
}
#caluga-banner-index {
	BACKGROUND-IMAGE: url(../images/fondo-caluga-banner-index.png); MARGIN-BOTTOM: 3px; WIDTH: 281px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 144px
}
#caluga-compra {
	BACKGROUND-IMAGE: url(../images/fondo-comprar.png); WIDTH: 281px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 120px
}
#datos_login {
	MARGIN-TOP: 6px; FLOAT: left; WIDTH: 281px; HEIGHT: 24px
}
#personal_login {
	FLOAT: left; WIDTH: 90px; HEIGHT: 24px
}
#personal_login P {
	MARGIN-RIGHT: 10px; TEXT-ALIGN: right
}
#datos_login H1 {
	MARGIN-TOP: 5px; FONT-SIZE: 16px; TEXT-ALIGN: center
}
#datos_login H1 SPAN {
	COLOR: #8c8a8a
}
#personal_login_campo {
	FLOAT: left; MARGIN-RIGHT: 6px; HEIGHT: 24px
}
.personal_login_rut_a {
	FLOAT: left; WIDTH: 60px; HEIGHT: 24px
}
.personal_login_rut_b {
	PADDING-LEFT: 3px; FLOAT: left; HEIGHT: 24px
}
#btn_ir_home {
	FLOAT: left; WIDTH: 31px; HEIGHT: 24px
}
#btn_ir_home IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
#obten_clave {
	FLOAT: right; WIDTH: 270px; HEIGHT: auto
}
#obten_clave P {
	FONT-SIZE: 10px; MARGIN: 1px 0px 0px 45px
}
#tres-paso-titulo {
	MARGIN-LEFT: auto; WIDTH: 274px; MARGIN-RIGHT: auto; HEIGHT: 45px
}
#sel_pasos_compara {
	MARGIN-TOP: 5px; PADDING-LEFT: 45px; FLOAT: left; MARGIN-BOTTOM: 2px; WIDTH: 200px; HEIGHT: 28px
}
#sel_pasos_compara SPAN {
	COLOR: #000
}
#sel_pasos_compara P {
	TEXT-ALIGN: right
}
#slider-footer-index {
	MARGIN-TOP: 15px; FLOAT: left; WIDTH: 985px; HEIGHT: 107px
}
.btn-slider-flecha-iz {
	FLOAT: left; WIDTH: 15px; HEIGHT: 107px
}
.btn-slider-flecha-der {
	FLOAT: right; WIDTH: 15px; HEIGHT: 107px
}
.foto-slider-index {
	FLOAT: left; MARGIN-LEFT: 8px; WIDTH: 307px; HEIGHT: 107px
}
#contenido-empresas {
	FLOAT: left; BACKGROUND-IMAGE: url(../images/background-contenido-secciones.jpg); WIDTH: 978px; BACKGROUND-REPEAT: repeat-y
}
.top-margen-empresa {
	FLOAT: left; BACKGROUND-IMAGE: url(../images/background-contenido-secciones.jpg); WIDTH: 978px; HEIGHT: 20px
}
#menu-iz-teayudamos {
	BORDER-RIGHT: #efeeea 1px solid; FLOAT: left; MARGIN: 0px; BORDER-LEFT: #efeeea 1px solid; WIDTH: 144px
}
#titulo-te-ayudamos {
	MARGIN-TOP: 20px; FLOAT: left; MARGIN-BOTTOM: 10px; WIDTH: 144px; HEIGHT: 37px; TEXT-ALIGN: center
}
#menu-te-ayudamos {
	FLOAT: left; WIDTH: 144px
}
#menu-te-ayudamos UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-IMAGE: none; PADDING-BOTTOM: 0px; MARGIN: 0px 10px 0px 25px; PADDING-TOP: 0px
}
#menu-te-ayudamos UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; LIST-STYLE-IMAGE: url(../images/btn-img/flecha-gris.gif); PADDING-BOTTOM: 0px; MARGIN: 0px 0px 10px; COLOR: #4f4c4c; PADDING-TOP: 0px; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
#menu-te-ayudamos UL LI:hover {
	LIST-STYLE-IMAGE: url(../images/btn-img/flecha-gris_hover.gif)
}
#menu-te-ayudamos UL LI A {
	FONT-SIZE: 11px; COLOR: #84848a; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
#menu-te-ayudamos UL LI A:hover {
	COLOR: #000
}
.menu-te-ayudamos-separador {
	BORDER-TOP: #e5e5e3 1px solid; MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px
}
.btn-index-teayudamos-botoon {
	FLOAT: left; MARGIN-LEFT: 2px; WIDTH: 142px
}
#texto-empresa-central {
	FLOAT: left; BACKGROUND-IMAGE: url(../images/fonfo-empresa-texto.jpg); BORDER-LEFT: #ccc 1px solid; WIDTH: 623px; BACKGROUND-REPEAT: repeat-y
}
#texto-empresa-central P {
	FONT-SIZE: 11px; MARGIN-LEFT: 40px; LINE-HEIGHT: 150%; MARGIN-RIGHT: 30px
}
#texto-empresa-central H1 {
	MARGIN-LEFT: 40px
}
#texto-empresa-central H2 {
	MARGIN-LEFT: 40px
}
#nuestra-empresa {
	FLOAT: left; WIDTH: 314px
}
#historia-empresa {
	FLOAT: left; WIDTH: 300px
}
#historia-empresa H2 {
	MARGIN-TOP: 60px
}
.btn-donde-encontarnos {
	MARGIN-TOP: 40px; MARGIN-LEFT: 90px
}
.top-margen-glosario {
	WIDTH: 144px; BORDER-BOTTOM: #efeeea 1px solid; HEIGHT: 40px
}
#glosario {
	MARGIN-TOP: 20px; FLOAT: left; WIDTH: 580px
}
#glosario_scroll {
	MARGIN-TOP: 20px; OVERFLOW: auto; WIDTH: 510px; HEIGHT: 400px
}
#texto-conte-glosario {
	FLOAT: right; WIDTH: 510px
}
#texto-conte-glosario IMG {
	MARGIN-RIGHT: 5px
}
#texto-conte-glosario P {
	PADDING-RIGHT: 80px; FONT-SIZE: 12px; MARGIN: 6px 0px 0px 15px
}
#texto-conte-glosario H3 {
	MARGIN: 30px 0px 0px
}
#texto-conte-glosario SPAN {
	FONT-SIZE: 9px; COLOR: #8c8a8a
}
#conte-mujer-glosario {
	MARGIN-TOP: 20px; FLOAT: left; WIDTH: 239px
}
.subir-glosario {
	MARGIN-TOP: 50px; MARGIN-LEFT: 360px
}
#poliza {
	MARGIN-TOP: 20px; FLOAT: left; PADDING-BOTTOM: 25px; MARGIN-LEFT: 66px; WIDTH: 656px
}
#poliza-titulo {
	MARGIN-TOP: 20px; MARGIN-LEFT: 20px; WIDTH: 636px
}
#eligue-tu-seguro {
	MARGIN-TOP: 20px; MARGIN-LEFT: 20px; WIDTH: 636px
}
.elige-tu-poliza {
	MARGIN-LEFT: 20px
}
#munu-polizas-documetos {
	CLEAR: both; MARGIN-TOP: 20px; WIDTH: 656px
}
.btn-menu-jq {
	MARGIN-TOP: 0px; FLOAT: left; BACKGROUND-IMAGE: url(../images/btn-img/fondo-btn-menu-jq.jpg); MARGIN-BOTTOM: 0px; WIDTH: 656px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 27px
}
.btn-menu-jq H3 {
	MARGIN-TOP: 7px; MARGIN-BOTTOM: 0px; MARGIN-RIGHT: 0px
}
.flecha-menu-desplegable {
	MARGIN-LEFT: 15px; MARGIN-RIGHT: 10px
}
.info-documentos {
	MARGIN-TOP: 2px; FLOAT: left; MARGIN-BOTTOM: 2px; WIDTH: 656px; BACKGROUND-COLOR: #ecece9
}
.info-documentos A {
	COLOR: #2d8cc4; TEXT-DECORATION: underline
}
.info-documentos P {
	MARGIN: 3px 10px
}
.info-texto {
	FLOAT: left
}
.docomento {
	FLOAT: right
}
#pregunta-frecuetes {
	MARGIN-TOP: 20px; FLOAT: left; BACKGROUND-IMAGE: url(../images/fondo-pregutas-frecuetes-mujer.jpg); MARGIN-LEFT: 66px; WIDTH: 656px; BACKGROUND-REPEAT: no-repeat
}
#caso-siniesro {
	MARGIN-TOP: 20px; FLOAT: left; BACKGROUND-IMAGE: url(../images/fondo-pregutas-que-hacer.jpg); MARGIN-LEFT: 66px; WIDTH: 656px; BACKGROUND-REPEAT: no-repeat
}
#munu-pregutas-frecuetas {
	CLEAR: both; MARGIN: 100px 0px 0px; WIDTH: 656px
}
.info-pregunta-frecuetes {
	FLOAT: left; WIDTH: 656px
}
.info-pregunta-frecuetes P {
	MARGIN: 10px 20px 20px
}
#menu-seguro-vida-iz {
	BORDER-TOP: #efeeea 1px solid; MARGIN-TOP: 25px; MARGIN-LEFT: auto; WIDTH: 138px; MARGIN-RIGHT: auto
}
#menu-seguro-vida-iz A:hover {
	COLOR: #000
}
#menu-seguro-vida-iz P {
	FONT-SIZE: 11px; MARGIN-BOTTOM: 3px; MARGIN-LEFT: 18px; PADDING-TOP: 5px
}
#btn-desplegable-vida-iz {
	MARGIN-BOTTOM: 5px; MARGIN-LEFT: 1px; WIDTH: 138px; HEIGHT: 23px; BACKGROUND-COLOR: #efeeea
}
#btn-desplegado-vida-iz {
	WIDTH: 138px; HEIGHT: auto
}
.btn-desplegado-vida-iz_icono {
	FLOAT: left; WIDTH: 11px; HEIGHT: auto
}
#contenido-chica-vida {
	FLOAT: left; BORDER-LEFT: #efeeea 1px solid; WIDTH: 812px
}
#banner-top-fichas {
	FLOAT: left; WIDTH: 830px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 170px
}
#fichas-vida {
	FLOAT: left; WIDTH: 812px
}
#texto-ficha-vida {
	BACKGROUND-POSITION: right 50%; MARGIN-TOP: 25px; FLOAT: left; BACKGROUND-IMAGE: url(../images/background-seccion-columna-centro.jpg); WIDTH: 608px; PADDING-TOP: 23px; BACKGROUND-REPEAT: repeat-y
}
#bloque-texto-cotizaro {
	MARGIN-LEFT: auto; WIDTH: 540px; MARGIN-RIGHT: auto; HEIGHT: 150px
}
#texto-cotizar {
	FLOAT: left; WIDTH: 400px; HEIGHT: 150px
}
#texto-cotizar H1 {
	MARGIN-LEFT: 30px
}
#texto-cotizar P {
	FONT-SIZE: 14px; MARGIN-LEFT: 30px; LINE-HEIGHT: 150%; MARGIN-RIGHT: 40px
}
.btn-cotixar-fichas {
	FLOAT: right; HEIGHT: 150px
}
#menu-notas-fichas {
	MARGIN-LEFT: auto; WIDTH: 540px; MARGIN-RIGHT: auto; HEIGHT: 25px
}
#elegir-seguro-fichas {
	PADDING-BOTTOM: 50px; MARGIN-LEFT: auto; WIDTH: 540px; MARGIN-RIGHT: auto
}
#elegir-seguro-fichas H3 {
	MARGIN-TOP: 50px; MARGIN-LEFT: 30px
}
#elegir-seguro-fichas UL {
	
}
#elegir-seguro-fichas UL LI {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; LIST-STYLE-IMAGE: url(../images/btn-img/btn-vb.jpg); COLOR: #6d6f75; LINE-HEIGHT: 200%; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
#btn-compartir-fichas {
	BORDER-TOP: #b0b0bb 1px solid; MARGIN-LEFT: auto; WIDTH: 540px; MARGIN-RIGHT: auto; PADDING-TOP: 20px
}
#cliente-vigente {
	FLOAT: left; BACKGROUND-IMAGE: url(../images/background-contenido-secciones.jpg); WIDTH: 978px; BACKGROUND-REPEAT: repeat-y
}
#contenido-cliente-vigente {
	FLOAT: left; BORDER-LEFT: #ccc 1px solid; WIDTH: 812px
}
#banner-cliente-vigente {
	FLOAT: left; WIDTH: 830px; BORDER-BOTTOM: #ecece9 2px solid; HEIGHT: 182px
}
#benner-cliente-vigente-iz {
	FLOAT: left; WIDTH: 276px; HEIGHT: 182px
}
#missegurosonline {
	FLOAT: left; WIDTH: 314px; HEIGHT: auto
}
#missegurosonline H1 {
	MARGIN-TOP: 20px; MARGIN-LEFT: 0px
}
#bloque-general-datos {
	CLEAR: none; MARGIN-TOP: 10px; FONT-WEIGHT: normal; FONT-SIZE: 11px; FLOAT: right; WIDTH: 315px; COLOR: #999; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.bloque-datos {
	FLOAT: left; MARGIN-LEFT: 12px; WIDTH: 300px; HEIGHT: 20px
}
.personales {
	FLOAT: left; WIDTH: 60px; HEIGHT: 20px
}
.dos-puntos {
	FONT-SIZE: 11px; FLOAT: left; WIDTH: 10px; COLOR: #666; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 20px
}
.datos-de-la-persona {
	FLOAT: left; WIDTH: auto; HEIGHT: 20px
}
#actualiza-tus-datos {
	FLOAT: left; WIDTH: 220px; HEIGHT: 182px
}
#tetxo-actualiza-tus-datos {
	MARGIN-TOP: 50px; MARGIN-LEFT: auto; WIDTH: 145px; MARGIN-RIGHT: auto; HEIGHT: 100px
}
.tetxo-actualiza_hola-cliente {
	WIDTH: 145px; HEIGHT: 25px; TEXT-ALIGN: center
}
#tetxo-actualiza-tus-datos H4 {
	MARGIN-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #6d6f75; LINE-HEIGHT: 150%; BORDER-BOTTOM: #b0b0bb 2px solid; TEXT-ALIGN: center
}
#tetxo-actualiza-tus-datos H5 {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; MARGIN: 0px; COLOR: #6d6f75; LINE-HEIGHT: 0
}
.cantado_clave {
	WIDTH: 145px; HEIGHT: 30px
}
.candado_actualiza_tus_dato {
	PADDING-LEFT: 10px; FLOAT: left; WIDTH: 30px; HEIGHT: 30px
}
.cambiar_clave_dato {
	FLOAT: left; WIDTH: 100px; HEIGHT: 30px
}
.cambiar_clave_dato P {
	MARGIN-TOP: 0px; PADDING-TOP: 7px
}
#tetxo-actualiza-tus-datos A {
	COLOR: #2d8cc4
}
#texto-cliente-vigente {
	MARGIN-TOP: 20px; FLOAT: left; BACKGROUND-IMAGE: url(../images/fonfo-cliente-vigente1.jpg); WIDTH: 600px; BACKGROUND-REPEAT: repeat-x
}
#texto-cliente-vigente A {
	FONT-WEIGHT: bold; COLOR: #2d8cc4; TEXT-DECORATION: underline
}
#texto-cliente-vigente H1 {
	FONT-SIZE: 15px; MARGIN-BOTTOM: 10px; TEXT-ALIGN: center
}
#bloque-cliente-vigent-uno {
	MARGIN-LEFT: auto; WIDTH: 550px; MARGIN-RIGHT: auto; HEIGHT: 460px
}
#texto-bajada-cliente-vigent-uno {
	WIDTH: 550px; HEIGHT: 45px
}
#calugas-mis-productos {
	WIDTH: 550px; HEIGHT: 200px
}
#text-mis-productos {
	BORDER-RIGHT: #e5e5e3 1px solid; FLOAT: left; WIDTH: 182px; HEIGHT: 180px
}
#text-mis-productos P {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px
}
#text-mis-productos-text {
	FLOAT: left; WIDTH: 182px; HEIGHT: 180px
}
#text-mis-productos-text P {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px
}
#foto-cliente-vigente-uno {
	FLOAT: left; WIDTH: 550px; PADDING-TOP: 16px; HEIGHT: 199px
}
#texto-cliente-vigente-dos {
	MARGIN-TOP: 20px; FLOAT: left; WIDTH: 608px
}
#bloque-cliente-vigente {
	MARGIN-LEFT: auto; WIDTH: 555px; MARGIN-RIGHT: auto
}
#titulo-mis-productos {
	WIDTH: 555px; HEIGHT: 24px
}
#lista-seguro-cli-prod {
	CLEAR: both; BORDER-RIGHT: #e5e5e3 1px solid; BORDER-LEFT: #e5e5e3 1px solid; WIDTH: 553px; PADDING-TOP: 5px; HEIGHT: 147px
}
#lista-seguro-cli-prod P {
	MARGIN-TOP: 5px; MARGIN-LEFT: 20px
}
#titulo-lista-pruductos {
	FLOAT: left; PADDING-BOTTOM: 5px; WIDTH: 553px; HEIGHT: 22px; BACKGROUND-COLOR: #e5e5e3
}
#lista-contenedor {
	MARGIN-TOP: 5px; FLOAT: left; MARGIN-BOTTOM: 5px; WIDTH: 553px; HEIGHT: 22px
}
#lista-contenedor A {
	FONT-SIZE: 11px; COLOR: #2d8cc4; TEXT-DECORATION: underline
}
#lista-contenedor A:hover {
	COLOR: #216994
}
#nombre-de-la-lista {
	FLOAT: left; WIDTH: 268px; HEIGHT: 22px
}
#ver-cobertura {
	FLOAT: left; WIDTH: 190px; HEIGHT: 22px
}
#ver-poliza {
	FLOAT: left; WIDTH: 90px; HEIGHT: 22px
}
#banner-botton-cliente-producto {
	MARGIN-TOP: 40px; BACKGROUND-IMAGE: url(../images/banner-botton-cliente-producto.jpg); MARGIN-LEFT: auto; WIDTH: 551px; MARGIN-RIGHT: auto; BACKGROUND-REPEAT: no-repeat; HEIGHT: 142px
}
#banner-botton-cliente-producto H3 {
	PADDING-LEFT: 20px; FONT-SIZE: 15px; PADDING-TOP: 15px
}
#banner-botton-cliente-producto UL {
	MARGIN-LEFT: 270px
}
#banner-botton-cliente-producto UL LI {
	MARGIN-TOP: 5px; LIST-STYLE-IMAGE: url(../images/btn-img/btn-flecha-azul.jpg); MARGIN-BOTTOM: 5px
}
#banner-botton-cliente-producto UL LI:hover {
	LIST-STYLE-IMAGE: url(../images/btn-img/btn-flecha-azul-hover.jpg)
}
#banner-botton-cliente-producto UL LI A {
	FONT-SIZE: 11px
}
#banner-botton-cliente-producto UL LI A:hover {
	COLOR: #000
}
#curva-botton-produ {
	BACKGROUND-IMAGE: url(../images/fondo-curva-botton-produ.jpg); WIDTH: 555px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 17px
}
#adobe-acrobat {
	MARGIN-TOP: 10px; FLOAT: left; WIDTH: 555px; HEIGHT: 28px
}
.acrobat {
	MARGIN-LEFT: 5px
}
#adobe-acrobat A {
	COLOR: #2d8cc4; TEXT-DECORATION: underline
}
#adobe-acrobat P {
	TEXT-ALIGN: right
}
#titulo-vigente-tres {
	WIDTH: 553px; HEIGHT: 36px
}
#titulo-vigente-tres H1 {
	FONT-SIZE: 20px; MARGIN-LEFT: 10px; TEXT-ALIGN: left
}
#revisar-tu-poliza {
	FLOAT: right; BACKGROUND-IMAGE: url(../images/btn-img/fondo-revisar-tu-poliza.jpg); MARGIN-BOTTOM: 5px; WIDTH: 550px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 37px
}
#texto-revisar-tu-poliza {
	FLOAT: left; MARGIN-LEFT: 5px; HEIGHT: 37px
}
#texto-revisar-tu-poliza P {
	MARGIN-TOP: 14px
}
#arbol {
	FLOAT: left; WIDTH: 32px; HEIGHT: 37px
}
#btn-ver-poliza-der {
	FLOAT: right; WIDTH: 117px; MARGIN-RIGHT: 15px; HEIGHT: 37px
}
#beneficios-y-coberturas {
	FLOAT: left; WIDTH: 553px
}
#beneficios-y-coberturas H3 {
	MARGIN-TOP: 30px; MARGIN-LEFT: 30px
}
#beneficios-y-coberturas UL {
	
}
#beneficios-y-coberturas UL LI {
	FONT-SIZE: 11px; LIST-STYLE-IMAGE: url(../images/btn-img/btn-vb.jpg); MARGIN-BOTTOM: 10px; COLOR: #8c8a8a; LINE-HEIGHT: 150%
}
#tienes-consultas {
	BORDER-TOP: #8c8a8a 1px solid; MARGIN-TOP: 20px; FLOAT: right; WIDTH: 534px; PADDING-TOP: 10px; HEIGHT: 30px
}
#tienes-consultas A {
	FONT-SIZE: 11px; COLOR: #2d8cc4
}
.bloque_contrato_online {
	BORDER-RIGHT: #efeeea 1px solid; PADDING-LEFT: 1px; FLOAT: left; MARGIN-BOTTOM: 36px; BORDER-LEFT: #efeeea 1px solid; WIDTH: 136px; BORDER-BOTTOM: #efeeea 1px solid; HEIGHT: 64px; BACKGROUND-COLOR: #f5f5f5
}
.bloque_despliegue_online {
	MARGIN-TOP: 2px; PADDING-LEFT: 10px; MARGIN-BOTTOM: 5px; WIDTH: 127px; HEIGHT: 28px
}
#titulo-solicitud-de-renuncia {
	MARGIN-TOP: 20px; WIDTH: 553px
}
#titulo-solicitud-de-renuncia SPAN {
	COLOR: #000
}
#titulo-solicitud-de-renuncia P {
	MARGIN-TOP: 20px; FONT-SIZE: 11px; LINE-HEIGHT: 140%
}
#titulo-solicitud-de-renuncia H4 {
	MARGIN-TOP: 13px; FONT-WEIGHT: normal; FONT-SIZE: 23px; COLOR: #878789
}
#seguir-pagando {
	MARGIN-TOP: 20px; BACKGROUND-IMAGE: url(../images/fondo-seguir-pagando.jpg); WIDTH: 540px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 119px
}
#seguir-pagando A {
	FONT-WEIGHT: bold; COLOR: #2d8cc4
}
#seguir-pagando P {
	MARGIN-TOP: 20px; MARGIN-LEFT: 12px; MARGIN-RIGHT: 40px
}
#continuar-solicitud {
	MARGIN-TOP: 85px; WIDTH: 553px; HEIGHT: 29px
}
#continuar-solicitud-text {
	FLOAT: left; WIDTH: 400px; HEIGHT: 29px
}
#continuar-solicitud-text H3 {
	MARGIN: 6px 0px 0px
}
#continuar-solicitud-btn {
	FLOAT: right; WIDTH: 119px; HEIGHT: 29px
}
.dessolicitud {
	MARGIN-TOP: 20px; MARGIN-LEFT: 12px
}
.fallecimieto-accidental {
	MARGIN: 20px 0px 0px
}
#acepto-condiciones {
	MARGIN-TOP: 50px; WIDTH: 553px
}
#acepto-condiciones-texto {
	FLOAT: left; MARGIN-BOTTOM: 20px; WIDTH: 553px
}
#acepto-condiciones-box {
	FLOAT: left; WIDTH: 20px; HEIGHT: 20px
}
#acepto-condiciones-info {
	FLOAT: left; MARGIN-LEFT: 10px; WIDTH: 500px
}
#acepto-condiciones-info A {
	COLOR: #2d8cc4; TEXT-DECORATION: underline
}
#btn-acepto-condiciones {
	MARGIN-TOP: 40px; FLOAT: left; WIDTH: 533px
}
.btn-der {
	MARGIN-LEFT: 320px
}
#text-elige-tu-s {
	MARGIN-TOP: 20px; FLOAT: left; WIDTH: 553px
}
.tex-elige {
	FLOAT: left; WIDTH: 100px
}
.seleccionador-elige {
	PADDING-RIGHT: 10px; MARGIN-TOP: 2px; FLOAT: left
}
.text-elige-des {
	FLOAT: left; WIDTH: 250px
}
#cuerpo-renuncia {
	MARGIN-TOP: 30px; PADDING-LEFT: 20px; FLOAT: left; WIDTH: 576px
}
.top-separacion {
	WIDTH: 1px; HEIGHT: 20px
}
#nuve-renuncia {
	FLOAT: left; BACKGROUND-IMAGE: url(../images/fonfo-nuve-renuncia.jpg); WIDTH: 384px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 254px
}
#nuve-renuncia P {
	PADDING-RIGHT: 70px; PADDING-LEFT: 20px; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; LINE-HEIGHT: 130%; PADDING-TOP: 5px
}
#foto-renucia {
	FLOAT: left; WIDTH: 188px; HEIGHT: 321px
}
#btn-vol-conti-renuncia {
	MARGIN-TOP: 10px; PADDING-LEFT: 3px; FLOAT: left; WIDTH: 330px; HEIGHT: 26px
}
.btn-conti-der {
	PADDING-LEFT: 120px
}
#estado-de-siniestro {
	MARGIN-LEFT: auto; WIDTH: 770px; MARGIN-RIGHT: auto
}
#datos-siniestro {
	WIDTH: 770px
}
#datos-siniestro-titulos {
	MARGIN: 40px 0px 0px; WIDTH: 770px
}
#datos-siniestro-titulos P {
	MARGIN-RIGHT: 160px
}
#datos-siniestro-titulos P SPAN {
	COLOR: #2d8cc4
}
#premium-siniestro {
	BACKGROUND-IMAGE: url(../images/fondo-premium-siniestro.jpg); WIDTH: 770px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 51px
}
#premium-siniestro SPAN {
	FONT-WEIGHT: bold
}
#premium-siniestro P {
	PADDING-TOP: 10px; TEXT-ALIGN: center
}
.fecha-premiu {
	FLOAT: left; WIDTH: 272px; HEIGHT: 51px
}
.emprendedor-premiu {
	FLOAT: left; WIDTH: 257px; HEIGHT: 51px
}
.rut-emprendedor-premiu {
	FLOAT: left; WIDTH: 236px; HEIGHT: 51px
}
#finiquito-siniestro {
	BACKGROUND-IMAGE: url(../images/fondo-finiquito-siniestro.jpg); WIDTH: 770px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 69px
}
#finiquito-siniestro P {
	PADDING-TOP: 20px; TEXT-ALIGN: center
}
#finiquito-siniestro SPAN {
	FONT-WEIGHT: bold; MARGIN-LEFT: -20px
}
.bloque-tex-siniestro {
	FLOAT: left; WIDTH: 150px; HEIGHT: 69px
}
.bloque-tex-siniestro IMG {
	MARGIN-LEFT: 5px
}
#cartola-de-pago {
	WIDTH: 770px
}
#cartola-de-pago-titulos {
	BACKGROUND-IMAGE: url(../images/fondos-cartola-de-pago-titulos.jpg); WIDTH: 768px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 24px
}
.cartola-titulos {
	FLOAT: left; WIDTH: 192px; HEIGHT: 24px
}
.cartola-titulos P {
	FONT-WEIGHT: bold; COLOR: #fff; TEXT-ALIGN: center
}
#cuota-n {
	MARGIN-TOP: 2px; MARGIN-BOTTOM: 2px; WIDTH: 768px; HEIGHT: 24px
}
.cuota-n-color {
	BACKGROUND-COLOR: #e5e5e3
}
#cuota-n P {
	FONT-WEIGHT: normal; COLOR: #6d6f75; PADDING-TOP: 6px; TEXT-DECORATION: none
}
#documetacion {
	WIDTH: 770px
}
#plazos-documetacion {
	MARGIN-TOP: 30px; BACKGROUND-IMAGE: url(../images/fondo-plazos-documetacion.gif); WIDTH: 768px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 58px
}
#plazos-documetacion P {
	PADDING-TOP: 8px
}
.bloque-plazos-iz {
	FLOAT: left; WIDTH: 203px; HEIGHT: 58px
}
.bloque-plazos-iz P {
	MARGIN-LEFT: 20px; MARGIN-RIGHT: 20px
}
.bloque-cantidad-de-cuotas {
	FLOAT: left; WIDTH: 113px; HEIGHT: 58px
}
.bloque-cantidad-de-cuotas SPAN {
	COLOR: #999
}
.bloque-cantidad-de-cuotas P {
	TEXT-ALIGN: center
}
#informacion-cuotas {
	MARGIN-TOP: 10px; WIDTH: 768px
}
#franja-informacion-cuotas {
	WIDTH: 768px
}
.bloque-informacion-der {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; FLOAT: left; BORDER-LEFT: #fff 1px solid; WIDTH: 203px; BORDER-BOTTOM: #fff 1px solid; HEIGHT: 63px; BACKGROUND-COLOR: #ededee
}
.bloque-informacion-der P {
	MARGIN: 10px 20px 0px; LINE-HEIGHT: 110%
}
.bloque-icono {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; FLOAT: left; BORDER-LEFT: #fff 1px solid; WIDTH: 110px; BORDER-BOTTOM: #fff 1px solid; HEIGHT: 63px; BACKGROUND-COLOR: #ededee
}
#consultas-fono {
	MARGIN-TOP: 5px; FLOAT: left; WIDTH: 768px
}
#consultas-fono A {
	COLOR: #2d8cc4; TEXT-DECORATION: underline
}
#consultas-fono H3 {
	FONT-SIZE: 12px; TEXT-ALIGN: right
}
#importante-saber {
	WIDTH: 768px
}
#importante-saber H3 {
	FONT-SIZE: 11px
}
#importante-saber P {
	MARGIN-TOP: 10px; LINE-HEIGHT: 150%
}
#icono-subir {
	FLOAT: right; WIDTH: 65px; HEIGHT: 24px
}
#menu-cotizador {
	CLEAR: both; MARGIN-TOP: 20px; FLOAT: left; WIDTH: 255px; HEIGHT: auto
}
#banner-cotizador {
	MARGIN-LEFT: 2px; WIDTH: 253px; HEIGHT: 153px
}
#menu-bienvenido-a {
	FLOAT: right; WIDTH: 247px; BACKGROUND-COLOR: #eeeced
}
#bienvenido {
	FLOAT: right; WIDTH: 220px
}
#bienvenido H4 {
	FONT-SIZE: 15px; MARGIN: 0px; COLOR: #666
}
#datos-personales {
	FLOAT: right; WIDTH: 220px
}
#datos-personales H5 {
	MARGIN-TOP: 20px; FONT-SIZE: 11px; COLOR: #2d8cc4; MARGIN-RIGHT: 20px; TEXT-ALIGN: right
}
#datos-personales A {
	COLOR: #2d8cc4
}
#datos-personales SPAN {
	COLOR: #666
}
#nombre-delplan {
	PADDING-RIGHT: 10px; PADDING-LEFT: 25px; FLOAT: right; PADDING-BOTTOM: 10px; MARGIN: 24px 5px 10px auto; WIDTH: 200px; PADDING-TOP: 10px; BACKGROUND-COLOR: #fff
}
#nombre-delplan P {
	FONT-SIZE: 11px
}
#nombre-delplan SPAN {
	COLOR: #000
}
.peso {
	PADDING-RIGHT: 5px; FLOAT: left; WIDTH: 95px; HEIGHT: 40px
}
.peso H4 {
	FONT-WEIGHT: normal; FONT-SIZE: 25px; MARGIN: 6px 0px 0px; TEXT-ALIGN: right
}
.montomensual {
	FLOAT: left; WIDTH: 100px; HEIGHT: 40px
}
#contenido-cotizador {
	MARGIN-TOP: 20px; FLOAT: left; WIDTH: 708px
}
#titulo-cotizador {
	WIDTH: 708px
}
#titulo-cotizador P {
	MARGIN-TOP: 6px; FONT-SIZE: 14px
}
#titulo-cotizador SPAN {
	COLOR: #2d8cc4
}
#menu-tres-pasos {
	MARGIN-TOP: 30px; WIDTH: 708px; HEIGHT: 46px
}
#curva-cotizador {
	WIDTH: 708px; HEIGHT: 19px
}
#contenido-desplegado-cotizador {
	BORDER-RIGHT: #efeeea 2px solid; FLOAT: left; BORDER-LEFT: #efeeea 2px solid; WIDTH: 704px
}
#estas-registrado {
	BACKGROUND-IMAGE: url(../images/fondo-estas-registrado.jpg); MARGIN-BOTTOM: 10px; MARGIN-LEFT: auto; WIDTH: 628px; MARGIN-RIGHT: auto; BACKGROUND-REPEAT: no-repeat; HEIGHT: 61px
}
#estas-registrado H5 {
	PADDING-TOP: 25px
}
#estas-registrado SPAN {
	COLOR: #2d8cc4
}
#estas-registrado P {
	MARGIN-LEFT: 50px
}
#estas-registrado-texto-iz {
	FLOAT: left; WIDTH: 290px; HEIGHT: 61px
}
#estas-registrado-texto-iz P {
	MARGIN-TOP: 10px; FONT-WEIGHT: bolder; MARGIN-LEFT: 20px; COLOR: #999
}
#estas-registrado-texto-iz H3 {
	MARGIN-TOP: 3px; FONT-WEIGHT: bolder; FONT-SIZE: 13px; MARGIN-LEFT: 20px; COLOR: #459ed3
}
#ingresar-datos {
	FLOAT: left; WIDTH: 300px
}
#rut-clave {
	MARGIN-TOP: 12px; WIDTH: 300px
}
.rut-clave_con {
	FLOAT: left; WIDTH: 270px
}
.rut-clave-ir {
	FLOAT: left; WIDTH: 30px; HEIGHT: 28px
}
.rut-clave-ir IMG {
	
}
#rut-clave P {
	MARGIN-LEFT: 15px
}
#olvidaste-tu-clave {
	MARGIN-TOP: 0px; PADDING-LEFT: 10px; FLOAT: left; WIDTH: 280px; HEIGHT: 17px
}
#olvidaste-tu-clave P {
	MARGIN: 0px 0px 0px 20px
}
#datos-del-contratante {
	CLEAR: both; BORDER-TOP: #f0eeee 6px solid; FLOAT: left; WIDTH: 704px
}
#datos-del-contratante-titulo {
	MARGIN-TOP: 20px; PADDING-LEFT: 70px; FLOAT: left; MARGIN-BOTTOM: 0px; WIDTH: 634px
}
#datos-del-contratante-titulo SPAN {
	FONT-SIZE: 9px; COLOR: #2d8cc4; LINE-HEIGHT: 25px
}
#casilla-datos-cotizador {
	MARGIN-TOP: 35px; PADDING-LEFT: 65px; FLOAT: left; MARGIN-BOTTOM: 15px; WIDTH: 630px
}
#bloque-casilla {
	MARGIN-BOTTOM: 2px; HEIGHT: 30px
}
#bloque-casilla SPAN {
	MARGIN-LEFT: 5px; COLOR: #b5b5b5
}
#bloque-dato-usuario {
	FONT-SIZE: 11px; FLOAT: left; WIDTH: 126px; COLOR: #999; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 30px
}
#bloque-dato-usuario P {
	PADDING-RIGHT: 10px; FONT-SIZE: 11px; PADDING-TOP: 2px; TEXT-ALIGN: right
}
#bloque-ingresar-dato {
	WIDTH: 510px; HEIGHT: 30px
}
#bloque-ingresar-dato-dos {
	FLOAT: left; WIDTH: 385px; HEIGHT: 30px
}
#btn-img-cot {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 110px; PADDING-TOP: 0px; HEIGHT: 30px
}
#bloque-ingresar-dato SPAN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 4px; COLOR: #999; PADDING-TOP: 0px; FONT-STYLE: oblique
}
#para-continuar {
	BORDER-TOP: #e5e5e3 6px solid; FLOAT: left; WIDTH: 704px; PADDING-TOP: 40px; HEIGHT: 50px
}
#para-continuar P {
	MARGIN-LEFT: 190px; TEXT-ALIGN: left
}
#contenido-cobertura {
	CLEAR: both; PADDING-LEFT: 1px; FLOAT: left; WIDTH: 700px
}
#contenido-informacion {
	MARGIN-LEFT: auto; WIDTH: 693px; MARGIN-RIGHT: auto
}
#titulos-coberturas {
	BACKGROUND-IMAGE: url(../images/fonfo-titulos-coberturas.gif); WIDTH: 693px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 22px
}
.menu_descripcion-cobertura {
	FLOAT: left; WIDTH: 138px; HEIGHT: 22px
}
.menu_descripcion-cobertura P {
	FONT-WEIGHT: bold; COLOR: #fff; TEXT-ALIGN: center
}
.descripcion-cobertura {
	FLOAT: left; BACKGROUND-IMAGE: url(../images/fondo-descripcion-cobertura.gif); PADDING-BOTTOM: 10px; MARGIN-LEFT: 0px; WIDTH: 690px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 80px
}
.bloque-descripcion-cobertura {
	FLOAT: left; WIDTH: 110px; HEIGHT: 80px
}
.bloque-descripcion-cobertura A {
	COLOR: #2d8cc4
}
.bloque-descripcion-cobertura A {
	COLOR: #2d8cc4; TEXT-DECORATION: underline
}
.bloque-descripcion-cobertura H3 {
	FONT-WEIGHT: bold; MARGIN: 13px 0px 0px
}
.bloque-descripcion-cobertura H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; MARGIN: 4px 0px 0px
}
.bloque-descripcion-cobertura P {
	MARGIN-TOP: 27px; TEXT-ALIGN: center
}
#sitio-confiable {
	FONT-WEIGHT: bold; FLOAT: left; WIDTH: 704px; HEIGHT: 59px
}
.sitio-confiable-foto {
	FLOAT: left; WIDTH: 77px; HEIGHT: 59px
}
.sitio-confiable-tex {
	FLOAT: left; WIDTH: 610px; HEIGHT: 59px
}
.sitio-confiable-tex SPAN {
	PADDING-LEFT: 200px; FONT-SIZE: 15px
}
.sitio-confiable-tex P {
	MARGIN-TOP: 20px
}
#tarjetas-mas {
	MARGIN-TOP: 20px; FLOAT: left; WIDTH: 704px; HEIGHT: 70px
}
.ico-tarjetas-mas {
	FLOAT: left; WIDTH: 106px; HEIGHT: 70px
}
.tarjetas-mas-texto {
	FLOAT: left; WIDTH: 596px; HEIGHT: 70px
}
.tarjetas-mas-texto P {
	MARGIN-TOP: 10px; MARGIN-RIGHT: 130px
}
#importante {
	FLOAT: left; BACKGROUND-IMAGE: url(../images/fonfo-importante.jpg); MARGIN-BOTTOM: 10px; MARGIN-LEFT: 35px; WIDTH: 606px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 45px
}
#importante SPAN {
	COLOR: #2d8cc4
}
#importante P {
	MARGIN-TOP: 16px; TEXT-ALIGN: center
}
#texto-pie {
	BORDER-TOP: #e5e5e3 1px solid; MARGIN-TOP: 7px; FLOAT: left; PADDING-BOTTOM: 20px; MARGIN-LEFT: 20px; WIDTH: 640px; PADDING-TOP: 20px
}
#texto-pie SPAN {
	COLOR: #2d8cc4
}
#datos-beneficiario {
	FLOAT: left; MARGIN: 20px 0px 0px; WIDTH: 704px
}
#datos-usuarui-beneficio {
	BACKGROUND-IMAGE: url(../images/btn-img/fondo-datos-usuarui-beneficio.gif); MARGIN-LEFT: auto; WIDTH: 689px; MARGIN-RIGHT: auto; BACKGROUND-REPEAT: no-repeat; HEIGHT: 28px
}
.datos-menu-usu-beneficio {
	FLOAT: left; WIDTH: 98px; HEIGHT: 28px; TEXT-ALIGN: center
}
.datos-menu-usu-beneficio P {
	MARGIN-TOP: 5px; COLOR: #fff; TEXT-ALIGN: center
}
#despliege-datos {
	MARGIN-TOP: 2px; MARGIN-LEFT: auto; WIDTH: 689px; MARGIN-RIGHT: auto; HEIGHT: 28px; BACKGROUND-COLOR: #edeee9
}
.despliegue-datos-personas {
	FLOAT: left; WIDTH: 98px; HEIGHT: 28px; TEXT-ALIGN: right
}
.despliegue-datos-personas A {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #2d8cc4
}
.despliegue-datos-personas P {
	MARGIN-TOP: 6px; TEXT-ALIGN: center
}
#agregar_asegurado {
	FLOAT: left; WIDTH: 704px; HEIGHT: 50px
}
#agregar_asegurado IMG {
	FLOAT: right
}
#asegurado-contenido {
	FLOAT: left; MARGIN-LEFT: auto; WIDTH: 704px; MARGIN-RIGHT: auto
}
#menu_asegurado-contenido {
	FLOAT: left; BACKGROUND-IMAGE: url(../images/btn-img/fondo-menu_asegurado-contenido.jpg); MARGIN-LEFT: 5px; WIDTH: 693px; HEIGHT: 40px
}
#bloque-datos-ase {
	MARGIN-LEFT: auto; WIDTH: 523px; MARGIN-RIGHT: auto
}
#bloque-datos-ase-menu {
	MARGIN-TOP: 20px; FLOAT: left; BACKGROUND-IMAGE: url(../images/f-bloque-datos-ase-menu.gif); WIDTH: 523px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 28px
}
.bloque-datos-ase-menu-casilla-da {
	FLOAT: left; WIDTH: 104px; HEIGHT: 28px
}
.bloque-datos-ase-menu-casilla-da P {
	COLOR: #fff; LINE-HEIGHT: 110%; TEXT-ALIGN: center
}
#bloque-nombre-ase {
	MARGIN-TOP: 3px; FLOAT: left; WIDTH: 523px; HEIGHT: 28px; BACKGROUND-COLOR: #edeee9
}
.bloque-nombre-ase-casillas {
	FLOAT: left; WIDTH: 104px; HEIGHT: 28px; TEXT-ALIGN: left
}
.bloque-nombre-ase-casillas P {
	TEXT-ALIGN: center
}
#modificar {
	PADDING-LEFT: 90px; FLOAT: left; WIDTH: 523px; HEIGHT: 28px; TEXT-ALIGN: right
}
#modificar A {
	COLOR: #2d8cc4
}
#modificar H3 {
	FONT-SIZE: 12px; MARGIN: 10px 0px 0px
}
#titulo-beneficiarios {
	MARGIN-TOP: 20px; PADDING-LEFT: 90px; FLOAT: left; WIDTH: 523px; HEIGHT: 70px
}
#titulo-beneficiarios H1 {
	FONT-SIZE: 15px; COLOR: #82898e
}
#titulo-beneficiarios H3 {
	MARGIN-TOP: 0px; FONT-SIZE: 10px
}
#adicional-conte {
	MARGIN-TOP: 30px; PADDING-LEFT: 5px; FLOAT: left; MARGIN-BOTTOM: 20px; WIDTH: 704px
}
#adicional_despliegue {
	MARGIN-BOTTOM: 10px; MARGIN-LEFT: auto; WIDTH: 689px; MARGIN-RIGHT: 13px
}
#adicional_despliegue_menu {
	BACKGROUND-IMAGE: url(../images/f-adicional_despliegue_menu.gif); WIDTH: 689px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 28px
}
#adicional_despliegue_menu P {
	MARGIN-TOP: 2px; FONT-SIZE: 11px; COLOR: #fff; TEXT-ALIGN: center
}
.adicional_menu_nombre {
	FLOAT: left; WIDTH: 104px; HEIGHT: 28px
}
.adicional_menu_fecha {
	FLOAT: left; WIDTH: 139px; HEIGHT: 28px
}
.adicional_menu_parentesco {
	FLOAT: left; WIDTH: 70px; HEIGHT: 28px
}
.adicional_menu_sexo {
	FLOAT: left; MARGIN-LEFT: 4px; WIDTH: 39px; HEIGHT: 28px
}
.adicional_menu_distribucion {
	FLOAT: left; MARGIN-LEFT: 8px; WIDTH: 69px; HEIGHT: 28px
}
.adicional_menu_limpiar {
	FLOAT: left; WIDTH: 45px; HEIGHT: 28px
}
.adicional_marcar_datos-activo {
	MARGIN-TOP: 2px; WIDTH: 689px; HEIGHT: 28px; BACKGROUND-COLOR: #d5e7f1
}
.adicional_marcar_datos-activo IMG {
	MARGIN: 0px
}
.adicional_marcar_datos-inactivo {
	MARGIN-TOP: 2px; WIDTH: 689px; HEIGHT: 28px; BACKGROUND-COLOR: #edecec
}
.adicional_marcar_datos-n {
	MARGIN-TOP: 4px; FLOAT: left; MARGIN-LEFT: 2px; WIDTH: 104px; HEIGHT: auto; TEXT-ALIGN: center
}
.adicional_marcar_datos-f {
	MARGIN-TOP: 4px; FLOAT: left; WIDTH: 139px; HEIGHT: auto; TEXT-ALIGN: center
}
.adicional_marcar_datos-p {
	MARGIN-TOP: 4px; FLOAT: left; MARGIN-LEFT: 4px; WIDTH: 70px; HEIGHT: auto; TEXT-ALIGN: center
}
.adicional_marcar_datos-s {
	MARGIN-TOP: 4px; FLOAT: left; MARGIN-LEFT: 6px; WIDTH: 39px; HEIGHT: auto
}
.adicional_marcar_datos-d {
	MARGIN-TOP: 4px; FLOAT: left; WIDTH: 70px; HEIGHT: auto; TEXT-ALIGN: center
}
.adicional_marcar_datos-l {
	FLOAT: left; MARGIN-LEFT: 10px; WIDTH: 20px; HEIGHT: 28px; TEXT-ALIGN: center
}
.blo-azul {
	BORDER-RIGHT: #c6e4f4 1px solid; BORDER-TOP: #c6e4f4 1px solid; MARGIN-TOP: 2px; MARGIN-LEFT: 2px; BORDER-LEFT: #c6e4f4 1px solid; MARGIN-RIGHT: 2px; BORDER-BOTTOM: #c6e4f4 1px solid; HEIGHT: 20px
}
.blo-gris {
	BORDER-RIGHT: #d9d6d6 1px solid; BORDER-TOP: #d9d6d6 1px solid; MARGIN-TOP: 2px; MARGIN-LEFT: 2px; BORDER-LEFT: #d9d6d6 1px solid; MARGIN-RIGHT: 2px; BORDER-BOTTOM: #d9d6d6 1px solid; HEIGHT: 20px; BACKGROUND-COLOR: #f7f7f7
}
#puedes-agregar {
	FLOAT: right; BACKGROUND-IMAGE: url(../images/f-puedes-agregar.gif); WIDTH: 689px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 24px
}
#puedes-agregar P {
	PADDING-RIGHT: 20px; TEXT-ALIGN: right
}
#footer-asegurado-contenido-interno {
	MARGIN-TOP: 10px; FLOAT: left; BACKGROUND-IMAGE: url(../images/footer-asegurado-contenido-interno.jpg); MARGIN-BOTTOM: 10px; MARGIN-LEFT: 3px; WIDTH: 694px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 31px
}
#footer-asegurado-contenido-interno A {
	COLOR: #2d8cc4
}
#footer-asegurado-contenido-interno H3 {
	MARGIN: 0px 10px 0px 0px; TEXT-ALIGN: right
}
#contenedor-ingresa {
	FLOAT: left; WIDTH: 704px; HEIGHT: auto
}
#necesitas_ingrsar {
	MARGIN-TOP: 20px; WIDTH: 704px
}
#necesitas_ingrsar H3 {
	FONT-SIZE: 12px; MARGIN-LEFT: 120px
}
#no-registrado {
	MARGIN-TOP: 3px; FLOAT: left; WIDTH: 317px; HEIGHT: 150px
}
#no-registrado P {
	TEXT-ALIGN: center
}
#si-registrado {
	MARGIN-TOP: 3px; FLOAT: left; WIDTH: 366px; HEIGHT: 150px; BACKGROUND-COLOR: #f4f2f2
}
#bloque-si-registrado {
	FLOAT: left; WIDTH: 194px; HEIGHT: 150px
}
#bloque-si-registrado P {
	TEXT-ALIGN: center
}
#btn-medio-de-pago {
	FLOAT: left; WIDTH: 154px; HEIGHT: 137px
}
#info-inspeccion {
	BACKGROUND-IMAGE: url(../images/info-inspeccion.jpg); MARGIN: 20px auto 15px; WIDTH: 574px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 92px
}
#info-inspeccion A {
	COLOR: #2d8cc4; TEXT-DECORATION: underline
}
#info-inspeccion P {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; LINE-HEIGHT: 160%; PADDING-TOP: 10px
}
#info-inspeccion P SPAN {
	COLOR: #2d8cc4
}
#usuario {
	FLOAT: left; WIDTH: 700px; HEIGHT: 161px
}
#contenedor-registros {
	BORDER-RIGHT: #f0eeee 1px solid; BORDER-TOP: #f0eeee 1px solid; PADDING-BOTTOM: 5px; MARGIN-LEFT: 6px; BORDER-LEFT: #f0eeee 1px solid; WIDTH: 690px; PADDING-TOP: 5px; BORDER-BOTTOM: #f0eeee 1px solid; HEIGHT: 158px
}
#informaciónde {
	MARGIN-TOP: 20px; FLOAT: left; WIDTH: 704px
}
.informacionde_texto {
	CLEAR: both; FLOAT: left; WIDTH: 700px; HEIGHT: 50px
}
#volver-telefono {
	MARGIN-TOP: 50px; FONT-WEIGHT: bold; WIDTH: auto; HEIGHT: 26px
}
#volver-btn {
	FLOAT: left; WIDTH: 133px; HEIGHT: 26px
}
#telefono {
	FLOAT: right; WIDTH: 400px; HEIGHT: 26px; TEXT-ALIGN: left
}
#telefono H4 {
	PADDING-RIGHT: 40px; FONT-SIZE: 14px; MARGIN: 0px; COLOR: #6d6f75; TEXT-ALIGN: right
}
#elige_medio_pago {
	FLOAT: left; WIDTH: 704px; HEIGHT: 115px
}
#elige_medio_pago-titulo {
	FLOAT: left; WIDTH: 250px; HEIGHT: 115px
}
#elige_medio_pago-titulo P {
	MARGIN-TOP: 40px; MARGIN-LEFT: 73px
}
.elige-tarjetas {
	FLOAT: left; MARGIN-LEFT: 5px; HEIGHT: 95px; TEXT-ALIGN: center
}
.elige-tarjetas IMG {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 10px; PADDING-TOP: 30px
}
#propuesta_seguro {
	BORDER-RIGHT: #b0b0bb 1px solid; BORDER-TOP: #b0b0bb 1px solid; MARGIN-TOP: 20px; FLOAT: left; MARGIN-LEFT: 13px; OVERFLOW: auto; BORDER-LEFT: #b0b0bb 1px solid; WIDTH: 666px; BORDER-BOTTOM: #b0b0bb 1px solid; HEIGHT: 171px
}
#con-ingresa-datos-tarjetas {
	MARGIN-TOP: 10px; WIDTH: 704px
}
#ingresa-datos-tarjetas {
	MARGIN-BOTTOM: 15px; WIDTH: 704px; HEIGHT: 70px
}
#tarjeta-mas {
	FLOAT: left; WIDTH: 260px; HEIGHT: 70px
}
#tarjeta-mas P {
	MARGIN-TOP: 20px; MARGIN-LEFT: 80px
}
#datos-tarjetas-inger {
	MARGIN-TOP: 0px; FLOAT: left; WIDTH: 338px; HEIGHT: 70px
}
.datos-tarjetas-casilla {
	MARGIN-TOP: 33px; FLOAT: left; WIDTH: 330px; HEIGHT: 28px
}
.datos-tarjetas-casilla-text {
	FLOAT: left; WIDTH: 100px; HEIGHT: 28px; TEXT-ALIGN: right
}
#llama {
	BACKGROUND-IMAGE: url(../images/f-llamar.jpg); MARGIN-LEFT: auto; WIDTH: 689px; MARGIN-RIGHT: auto; BACKGROUND-REPEAT: no-repeat; HEIGHT: 61px
}
#llama-fono {
	FLOAT: left; WIDTH: 380px; HEIGHT: 61px
}
#llama-fono SPAN {
	COLOR: #2d8cc4
}
#llama-fono H1 {
	MARGIN-TOP: 20px; FONT-SIZE: 16px; MARGIN-LEFT: 20px; TEXT-ALIGN: center
}
#llama-btn {
	FLOAT: right; WIDTH: 133px; HEIGHT: 61px
}
#mis_cotizaciones {
	FLOAT: left; WIDTH: 769px
}
#mis_cotizaciones_bajada {
	MARGIN-TOP: 30px; FLOAT: left; WIDTH: 769px; HEIGHT: 34px
}
#mis_cotizaciones_bajada SPAN {
	COLOR: #2d8cc4
}
#mis_cotizaciones_bajada P {
	MARGIN-TOP: 10px; FONT-SIZE: 13px; MARGIN-LEFT: 5px
}
#contenido_tipo_seguro {
	MARGIN-TOP: 20px; FLOAT: left; BACKGROUND-IMAGE: url(../images/f-contenido_tipo_seguro.gif); WIDTH: 769px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 34px
}
#contenido_tipo_seguro SPAN {
	COLOR: #2d8cc4
}
#contenido_tipo_seguro P {
	MARGIN-TOP: 8px; FONT-SIZE: 12px; TEXT-ALIGN: center
}
.menu_tipo_seguro {
	FLOAT: left; WIDTH: 201px; HEIGHT: 34px
}
.menu_plan {
	FLOAT: left; WIDTH: 197px; HEIGHT: 34px
}
.menu_fecha {
	FLOAT: left; WIDTH: 245px; HEIGHT: 34px
}
.menu_retomar {
	FLOAT: left; WIDTH: 124px; HEIGHT: 34px
}
#desplegue_plan {
	MARGIN-TOP: 2px; FLOAT: left; MARGIN-BOTTOM: 2px; WIDTH: 769px; HEIGHT: 34px; BACKGROUND-COLOR: #f8f8fb
}
#desplegue_plan P {
	MARGIN-TOP: 8px; TEXT-ALIGN: center
}
.despli_tipo_seguro {
	BORDER-RIGHT: #fff 2px solid; FLOAT: left; BORDER-LEFT: #fff 2px solid; WIDTH: 197px; HEIGHT: 34px
}
.despli_plan {
	BORDER-RIGHT: #fff 2px solid; FLOAT: left; BORDER-LEFT: #fff 2px solid; WIDTH: 193px; HEIGHT: 34px
}
.despli_fecha {
	BORDER-RIGHT: #fff 2px solid; FLOAT: left; BORDER-LEFT: #fff 2px solid; WIDTH: 241px; HEIGHT: 34px
}
.despli_retomar {
	FLOAT: left; WIDTH: 124px; HEIGHT: 34px
}
#contacto {
	MARGIN-LEFT: auto; WIDTH: 470px; MARGIN-RIGHT: auto
}
#contacto P {
	MARGIN: 0px
}
#contacto H1 {
	MARGIN: 0px
}
.contacto_titulo {
	WIDTH: 470px
}
.despliegue_contacto {
	MARGIN-TOP: 20px; WIDTH: 470px
}
.bloque_dato {
	WIDTH: 470px; HEIGHT: 28px
}
.bloque_contacto_datos {
	FLOAT: left; WIDTH: 170px; HEIGHT: 28px
}
.bloque_contacto_datos P {
	PADDING-RIGHT: 20px; TEXT-ALIGN: right
}
.bloque_contacto_llenar {
	FLOAT: left; WIDTH: 300px; HEIGHT: 28px
}
.bloque_contacto_llenar SPAN {
	FONT-SIZE: 20px; COLOR: #000
}
.bloque_tex_area {
	WIDTH: 470px
}
.bloque_tex_area_iz {
	FLOAT: left; WIDTH: 170px; HEIGHT: 200px
}
.tex_area_llenar {
	FLOAT: left; WIDTH: 210px; HEIGHT: 200px
}
.btn_contacto_enviar {
	FLOAT: left; WIDTH: 90px; HEIGHT: 200px
}
.btn_contacto_enviar IMG {
	PADDING-TOP: 120px
}
#footer {
	CLEAR: both; FLOAT: left; WIDTH: 987px; BACKGROUND-COLOR: #fff
}
#footer-menu {
	BORDER-TOP: #b9b7b7 1px solid; MARGIN-TOP: 20px; MARGIN-LEFT: auto; WIDTH: 800px; MARGIN-RIGHT: auto; HEIGHT: 30px
}
#footer-menu UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 10px auto 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; TEXT-ALIGN: center
}
#footer-menu UL LI {
	BORDER-RIGHT: #888d8e 1px solid; PADDING-RIGHT: 5px; DISPLAY: inline; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #888d8e; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; LIST-STYLE-TYPE: none
}
#footer-menu UL LI A {
	FONT-SIZE: 11px; COLOR: #888d8e; TEXT-DECORATION: none
}
#footer-menu UL LI A:hover {
	COLOR: #7ba7cb; TEXT-DECORATION: none
}
#footer-copiright {
	MARGIN-TOP: 7px; MARGIN-LEFT: auto; WIDTH: 987px; MARGIN-RIGHT: auto; HEIGHT: 28px
}
.textbox {
	BORDER-RIGHT: #cac8c8 1px solid; BORDER-TOP: #cac8c8 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #cac8c8 1px solid; COLOR: #999; BORDER-BOTTOM: #cac8c8 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.text_box_vida {
	BORDER-RIGHT: #cac8c8 1px solid; BORDER-TOP: #cac8c8 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 11px; BORDER-LEFT: #cac8c8 1px solid; WIDTH: 128px; COLOR: #000; BORDER-BOTTOM: #cac8c8 1px solid; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
.tex_sel_box {
	BORDER-RIGHT: #cac8c8 1px solid; BORDER-TOP: #cac8c8 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 11px; BORDER-LEFT: #cac8c8 1px solid; COLOR: #6d6f75; MARGIN-RIGHT: 5px; BORDER-BOTTOM: #cac8c8 1px solid; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
.bloquedatos {
	FLOAT: left; WIDTH: 280px; HEIGHT: 20px
}
.datos {
	FLOAT: left; WIDTH: auto; HEIGHT: 20px
}
.compdatos {
	FLOAT: right; MARGIN-LEFT: 8px; WIDTH: 220px; HEIGHT: 20px
}
#datos-del-contratante-titulo H1 {
	FONT-WEIGHT: lighter; FONT-SIZE: 16px; COLOR: #82898e; FONT-FAMILY: Arial, Helvetica, sans-serif
}
#titulos-coberturas P {
	MARGIN: 6px
}
#datos-personales P {
	LINE-HEIGHT: 180%
}
.sec_yo_no {
	BORDER-RIGHT: #efeeea 1px solid; BORDER-TOP: #efeeea 1px solid; MARGIN-TOP: 20px; MARGIN-LEFT: 20px; BORDER-LEFT: #efeeea 1px solid; BORDER-BOTTOM: #efeeea 1px solid
}
#texto-columna-iz H1 {
	TEXT-ALIGN: right
}
.banner-top {
	PADDING-LEFT: 30px; FLOAT: left; WIDTH: 700px; PADDING-TOP: 40px; HEIGHT: 100px
}
.banner-top H1 {
	FONT-WEIGHT: normal; COLOR: #2d8cc4
}
.banner-top H1 SPAN {
	FONT-WEIGHT: bold; COLOR: #2d8cc4
}
.curva_menu_cotixador {
	WIDTH: 255px; HEIGHT: 18px
}
.logintopclave {
	FLOAT: left; WIDTH: 100px; HEIGHT: 20px
}
.adicional_menu_nombre-mas {
	FLOAT: left; WIDTH: 104px; HEIGHT: 28px
}
.adicional_menu_nombre-mas P {
	PADDING-TOP: 7px
}
.adicional_menu_fecha P {
	PADDING-TOP: 7px
}
.adicional_menu_parentesco P {
	PADDING-TOP: 7px
}
.adicional_menu_sexo P {
	PADDING-TOP: 7px
}
.ingrasa_rut_cl {
	BORDER-RIGHT: #d1d1d1 1px solid; BORDER-TOP: #d1d1d1 1px solid; BORDER-LEFT: #d1d1d1 1px solid; WIDTH: 75px; COLOR: #82898e; BORDER-BOTTOM: #d1d1d1 1px solid; HEIGHT: 15px
}
.ingrasa_rut_cl2 {
	BORDER-RIGHT: #d1d1d1 1px solid; BORDER-TOP: #d1d1d1 1px solid; BORDER-LEFT: #d1d1d1 1px solid; WIDTH: 15px; COLOR: #82898e; BORDER-BOTTOM: #d1d1d1 1px solid; HEIGHT: 15px
}
#btn-desplegable-vida-iz_fichas {
	MARGIN-BOTTOM: 5px; MARGIN-LEFT: 1px; WIDTH: 138px; HEIGHT: 23px; BACKGROUND-COLOR: #fff
}
#btn-desplegable-vida-iz_fichas-mas {
	BORDER-TOP: #efeeea 1px solid; MARGIN-TOP: 5px; MARGIN-BOTTOM: 5px; WIDTH: 138px; BORDER-BOTTOM: #efeeea 1px solid; HEIGHT: 23px; BACKGROUND-COLOR: #fff
}
.lineaenblanco {
	FONT-WEIGHT: lighter; FONT-SIZE: 11px; MARGIN-LEFT: auto; WIDTH: 689px; COLOR: #039; LINE-HEIGHT: 180%; MARGIN-RIGHT: auto; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 28px; BACKGROUND-COLOR: #fff; TEXT-ALIGN: right
}
#bloque-ingresar-dato-sex {
	HEIGHT: 30px
}
.bloque-ingresar-dato-masc {
	FLOAT: left; HEIGHT: 30px
}
.bloque-ingresar-dato-radiogroup {
	PADDING-RIGHT: 5px; FLOAT: left; PADDING-BOTTOM: 12px; MARGIN: 0px; WIDTH: 385px; PADDING-TOP: 0px
}
.radiog {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#bloque-ingresar-dato-ex {
	FLOAT: left; HEIGHT: 30px
}
#bloque-ingresar-dato-ex-btn {
	FLOAT: left; WIDTH: 102px; HEIGHT: 30px
}
.textbox-d-personal {
	BORDER-RIGHT: #cac8c8 1px solid; BORDER-TOP: #cac8c8 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #cac8c8 1px solid; WIDTH: 120px; COLOR: #707070; BORDER-BOTTOM: #cac8c8 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.textbox-d-personal-error {
	BORDER-RIGHT: #cac8c8 1px solid; BORDER-TOP: #cac8c8 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #cac8c8 1px solid; WIDTH: 120px; COLOR: #707070; BORDER-BOTTOM: #cac8c8 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: red; TEXT-ALIGN: left
}
.textbox-rut {
	BORDER-RIGHT: #cac8c8 1px solid; BORDER-TOP: #cac8c8 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #cac8c8 1px solid; WIDTH: 20px; COLOR: #999; BORDER-BOTTOM: #cac8c8 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.textbox-fono {
	BORDER-RIGHT: #cac8c8 1px solid; BORDER-TOP: #cac8c8 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #cac8c8 1px solid; WIDTH: 75px; COLOR: #999; BORDER-BOTTOM: #cac8c8 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.textbox-fecha-n {
	BORDER-RIGHT: #d1d1d1 1px solid; BORDER-TOP: #d1d1d1 1px solid; BORDER-LEFT: #d1d1d1 1px solid; WIDTH: 34px; COLOR: #999; BORDER-BOTTOM: #d1d1d1 1px solid
}
.textbox-asegurado {
	BORDER-RIGHT: #d1d1d1 1px solid; BORDER-TOP: #d1d1d1 1px solid; MARGIN-LEFT: 5px; BORDER-LEFT: #d1d1d1 1px solid; WIDTH: 94px; COLOR: #999; BORDER-BOTTOM: #d1d1d1 1px solid
}
.textbox-seleciona {
	BORDER-RIGHT: #d1d1d1 1px solid; BORDER-TOP: #d1d1d1 1px solid; FONT-SIZE: 11px; MARGIN: 0px; BORDER-LEFT: #d1d1d1 1px solid; WIDTH: 73px; COLOR: #999; BORDER-BOTTOM: #d1d1d1 1px solid
}
.textbox-seleciona-casa-ce {
	BORDER-RIGHT: #d1d1d1 1px solid; BORDER-TOP: #d1d1d1 1px solid; MARGIN: 0px; BORDER-LEFT: #d1d1d1 1px solid; WIDTH: 58px; COLOR: #999; BORDER-BOTTOM: #d1d1d1 1px solid
}
.textbox-contacto {
	BORDER-RIGHT: #d1d1d1 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #d1d1d1 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #d1d1d1 1px solid; WIDTH: 173px; COLOR: #999; PADDING-TOP: 0px; BORDER-BOTTOM: #d1d1d1 1px solid
}
.textbox-contacto-rut-d {
	BORDER-RIGHT: #d1d1d1 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #d1d1d1 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #d1d1d1 1px solid; WIDTH: 127px; COLOR: #999; PADDING-TOP: 0px; BORDER-BOTTOM: #d1d1d1 1px solid
}
.textbox-contacto-rut {
	BORDER-RIGHT: #d1d1d1 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #d1d1d1 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #d1d1d1 1px solid; WIDTH: 35px; COLOR: #999; PADDING-TOP: 0px; BORDER-BOTTOM: #d1d1d1 1px solid
}
.textbox-contacto-fono {
	BORDER-RIGHT: #d1d1d1 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #d1d1d1 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 5px; BORDER-LEFT: #d1d1d1 1px solid; WIDTH: 68px; COLOR: #999; PADDING-TOP: 0px; BORDER-BOTTOM: #d1d1d1 1px solid
}
.bloque-si-registrado-dato {
	FLOAT: left; MARGIN-LEFT: auto; WIDTH: 194px; MARGIN-RIGHT: auto; HEIGHT: 30px
}
.bloque-si-registrado-tex {
	PADDING-LEFT: 13px; FLOAT: left; WIDTH: 50px; HEIGHT: 30px; TEXT-ALIGN: right
}
.bloque-si-registrado-box {
	FLOAT: left; WIDTH: 130px; HEIGHT: 30px
}
.clavelogintop {
	FLOAT: left; WIDTH: 90px; HEIGHT: 15px
}
.textcontrata {
	FONT-SIZE: 11px; COLOR: #666; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.textbox-mes {
	BORDER-RIGHT: #d1d1d1 1px solid; BORDER-TOP: #d1d1d1 1px solid; FONT-SIZE: 11px; MARGIN: 0px; BORDER-LEFT: #d1d1d1 1px solid; WIDTH: 83px; COLOR: #999; BORDER-BOTTOM: #d1d1d1 1px solid
}
.espacio {
	FLOAT: left; HEIGHT: 15px
}
.curva-topcont-secciones-linea {
	BORDER-RIGHT: #d8d8d8 1px solid; FLOAT: left; WIDTH: 145px; HEIGHT: 12px
}
.seccion-columna-der-banner-cliente {
	FLOAT: right; WIDTH: 200px
}
#calugas-mis-productos P {
	FONT-SIZE: 11px; LINE-HEIGHT: 150%
}
.relleno-foto-cliente {
	PADDING-LEFT: 2px; FLOAT: left; WIDTH: 144px; HEIGHT: 18px
}
.relleno-foto-cliente-cont-img {
	FLOAT: left; WIDTH: 600px; HEIGHT: 11px
}
.relleno-foto-cliente-img {
	MARGIN-LEFT: auto; WIDTH: 550px; MARGIN-RIGHT: auto; HEIGHT: 11px
}
#btn-desplegable-vida-iz-selec {
	MARGIN-LEFT: 1px; WIDTH: 138px; HEIGHT: 23px; BACKGROUND-COLOR: #efeeea
}
.textbox-clie-vida {
	BORDER-RIGHT: #d1d1d1 1px solid; BORDER-TOP: #d1d1d1 1px solid; MARGIN-TOP: 10px; BORDER-LEFT: #d1d1d1 1px solid; WIDTH: 94px; COLOR: #999; BORDER-BOTTOM: #d1d1d1 1px solid
}
.btn-desplegado-vida-iz-seguro {
	WIDTH: 138px; HEIGHT: 30px
}
.btn-desplegado-vida-iz_icono-seguro {
	FLOAT: left; WIDTH: 11px; HEIGHT: 30px
}
.seguro-activo {
	COLOR: #000
}
.olvidaste-tu-clave-flecha {
	FLOAT: left; HEIGHT: 17px; TEXT-ALIGN: right
}
.olvidaste-tu-clave-flecha IMG {
	MARGIN-TOP: 3px; PADDING-LEFT: 20px
}
.olvidaste-tu-clave-texto {
	MARGIN-TOP: 3px; FLOAT: left; HEIGHT: 17px
}
.bloque-si-registrado-tu-clave {
	FLOAT: left; WIDTH: 194px; HEIGHT: 24px
}
.bloque-si-registrado-flecha {
	PADDING-LEFT: 65px; FLOAT: left; WIDTH: 10px; HEIGHT: 24px
}
.bloque-si-registrado-flecha IMG {
	PADDING-TOP: 2px
}
.bloque-si-registrado-olvidate {
	FLOAT: left; HEIGHT: 24px
}
.no-registrado-regstrarse {
	MARGIN-TOP: 3px; FLOAT: left; WIDTH: 317px; HEIGHT: 20px
}
.no-registrado-regstrarse-flecha {
	PADDING-LEFT: 95px; FLOAT: left; HEIGHT: 20px
}
.no-registrado-regstrarse-flecha IMG {
	
}
.no-registrado-regstrarse-por-que {
	FLOAT: left; HEIGHT: 20px
}
.fraude-acepto {
	MARGIN-TOP: 20px; PADDING-LEFT: 70px; FLOAT: left; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 30px; WIDTH: 634px
}
.caluga-compra-valida {
	BACKGROUND-IMAGE: url(../images/fondo-caluga-compra-valida.jpg); MARGIN: 10px auto; WIDTH: 572px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 61px
}
.caluga-compra-valida H5 {
	PADDING-TOP: 20px
}
.caluga-compra-valida SPAN {
	COLOR: #2d8cc4
}
.caluga-compra-valida P {
	PADDING-LEFT: 60px; LINE-HEIGHT: 170%
}
.bloque-casilla-contata {
	MARGIN-BOTTOM: 2px; HEIGHT: 30px
}
.bloque-casilla-contata-texto {
	FLOAT: left; HEIGHT: 30px
}
.bloque-casilla-contata-texto SPAN {
	MARGIN-LEFT: 20px
}
.bloque-casilla-contata-texto P {
	MARGIN-TOP: 4px; FONT-SIZE: 11px
}
.bloque-casilla-contata-selec {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FLOAT: left; HEIGHT: 30px
}
.titulo-te-ayudamos-relleno-top {
	BORDER-RIGHT: #ccc 1px solid; FLOAT: left; WIDTH: 145px; HEIGHT: 37px
}
.img-empresa {
	WIDTH: 300px; HEIGHT: 237px
}
.empresa-relleno-foto {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 460px; PADDING-TOP: 0px; HEIGHT: 10px
}
.empresa-relleno-foto-botton {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 300px; PADDING-TOP: 0px; HEIGHT: 10px
}
.estado-del-siniestro-dato {
	FLOAT: left; MARGIN: 40px 0px 20px; WIDTH: 770px
}
.estado-del-siniestro {
	FLOAT: left; WIDTH: 155px; HEIGHT: 100px
}
.estado-del-siniestro-titulo {
	FLOAT: left; WIDTH: 155px; HEIGHT: 40px
}
.estado-del-siniestro-boton {
	FLOAT: left; BACKGROUND-IMAGE: url(../images/btn-img/btn-aprobado-hover.jpg); WIDTH: 155px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 50px
}
.estado-del-siniestro-boton P {
	MARGIN-TOP: 15px; MARGIN-LEFT: 10px
}
#btn-desplegado-vida-iz SPAN {
	MARGIN-TOP: 10px; COLOR: #000
}
.seccion-columna-iz-con-foto {
	FLOAT: left; MARGIN-LEFT: 2px; WIDTH: 378px; HEIGHT: 10px
}
.texto-columna-iz-foto-botton {
	MARGIN-LEFT: auto; WIDTH: 330px; MARGIN-RIGHT: auto; HEIGHT: 10px
}
#btn-desplegable-vida-iz SPAN {
	COLOR: #000
}
#acepto-condiciones-info P {
	MARGIN-TOP: 5px; FLOAT: left; MARGIN-LEFT: 5px; WIDTH: 500px
}
#rut-clave SPAN {
	MARGIN-LEFT: 6px; COLOR: #6d6f75
}
#bloque-dato-usuario2 {
	FONT-SIZE: 11px; FLOAT: left; WIDTH: 126px; COLOR: #999; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 30px; TEXT-ALIGN: right
}
#bloque-dato-usuario2 P {
	PADDING-RIGHT: 10px; PADDING-TOP: 2px; TEXT-ALIGN: right
}
#bloque-ingresar-dato3 {
	WIDTH: 510px; HEIGHT: 30px
}
#bloque-casilla2 {
	MARGIN-BOTTOM: 2px; HEIGHT: 30px
}
#bloque-dato-usuario3 {
	FONT-SIZE: 11px; FLOAT: left; WIDTH: 126px; COLOR: #999; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 30px
}
#bloque-ingresar-dato4 {
	WIDTH: 510px; HEIGHT: 30px
}
#bloque-casilla3 {
	MARGIN-BOTTOM: 2px; HEIGHT: 30px
}
#bloque-dato-usuario4 {
	FONT-SIZE: 11px; FLOAT: left; WIDTH: 126px; COLOR: #999; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 30px
}
#bloque-casilla4 {
	MARGIN-BOTTOM: 2px; HEIGHT: 30px
}
#casilla-datos-cotizador2 {
	MARGIN-TOP: 35px; PADDING-LEFT: 65px; FONT-SIZE: 11px; FLOAT: left; MARGIN-BOTTOM: 15px; WIDTH: 630px
}
#menu-bienvenido-b {
	FLOAT: right; WIDTH: 247px; HEIGHT: auto; BACKGROUND-COLOR: #eeeced
}
#menu-bienvenido-c {
	FLOAT: right; WIDTH: 247px; HEIGHT: auto; BACKGROUND-COLOR: #eeeced
}
#menu-bienvenido-d {
	FLOAT: right; WIDTH: 247px; HEIGHT: auto; BACKGROUND-COLOR: #eeeced
}
#menu-bienvenido-e {
	FLOAT: right; WIDTH: 247px; HEIGHT: auto; BACKGROUND-COLOR: #eeeced
}
#menu-bienvenido-f {
	FLOAT: right; WIDTH: 247px; HEIGHT: auto; BACKGROUND-COLOR: #eeeced
}
#nuve-renuncia SPAN {
	COLOR: #2d8cc4
}
.nuve-renuncia-contenedor {
	FLOAT: left; WIDTH: 384px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 300px
}
.fraude-acepto-conte {
	WIDTH: 400px; HEIGHT: 28px
}
.fraude-acepto-conte-box {
	MARGIN-TOP: 4px; FLOAT: left; WIDTH: 24px; HEIGHT: auto
}
.fraude-acepto-conte-tex {
	MARGIN-TOP: 2px; FLOAT: left; HEIGHT: 24px
}
.fraude-acepto-conte-tex P {
	MARGIN-TOP: 5px
}
.fraude-acepto-conte-foto {
	FLOAT: left; WIDTH: 24px; HEIGHT: 24px
}
.espaciogris1 {
	MARGIN-TOP: 2px; FLOAT: left; WIDTH: 689px; HEIGHT: 18px; BACKGROUND-COLOR: #edecec
}
.texttobotoncaja {
	MARGIN-TOP: 3px; FONT-SIZE: 9px; FLOAT: left; MARGIN-LEFT: 7px; WIDTH: auto; COLOR: #666; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: auto
}
.puedesagregar {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #2d8cc4; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.signomas {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #f60; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.fondoazulasad {
	BACKGROUND-IMAGE: url(../images/fondoazulcaja.gif); WIDTH: 636px; HEIGHT: 28px
}
.textosbox {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #fff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
.franjaazul {
	MARGIN-TOP: 2px; WIDTH: 636px; HEIGHT: 28px; BACKGROUND-COLOR: #d5e7f1
}
.frajagris {
	MARGIN-TOP: 2px; WIDTH: 636px; HEIGHT: 28px; BACKGROUND-COLOR: #edecec
}
.agregar2 {
	FLOAT: right; BACKGROUND-IMAGE: url(../images/f-puedes-agregar3.gif); WIDTH: 634px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 24px; TEXT-ALIGN: right
}
.contbox {
	FLOAT: right; MARGIN: 17px 25px 0px; WIDTH: 636px; HEIGHT: auto
}
.estilo agregar {
	PADDING-RIGHT: 10px
}
.estiloagregar {
	PADDING-RIGHT: 10px; PADDING-TOP: 5px
}
.contagregar {
	MARGIN-TOP: 4px; FLOAT: right; WIDTH: 200px; MARGIN-RIGHT: 18px; HEIGHT: 12px
}
.contingrut {
	MARGIN-TOP: 15px; FONT-SIZE: 14px; FLOAT: left; MARGIN-BOTTOM: 25px; MARGIN-LEFT: 35px; WIDTH: 350px; COLOR: #2d8cc4; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 20px
}
.linea {
	FLOAT: left; MARGIN-BOTTOM: 35px; WIDTH: 704px; BORDER-BOTTOM: #f4f2f2 4px solid; HEIGHT: 10px
}
.espaciodiv {
	FLOAT: left; WIDTH: 10px; HEIGHT: 28px
}
.espacio2 {
	FLOAT: left; WIDTH: 2px; HEIGHT: 10px
}
.caluga-banner-queseguro-que {
	BACKGROUND-IMAGE: url(../images/fondo-caluga-banner-index-2.png); MARGIN-BOTTOM: 3px; WIDTH: 281px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 148px
}
.bloque-descripcion-cobertura-dos {
	FLOAT: left; WIDTH: 120px; HEIGHT: 60px; TEXT-ALIGN: center
}
.bloque-descripcion-cobertura-dos A {
	COLOR: #2d8cc4; TEXT-DECORATION: underline
}
.bloque-descripcion-cobertura-dos H3 {
	MARGIN: 13px 0px 0px
}
.bloque-descripcion-cobertura-dos H4 {
	FONT-SIZE: 12px; MARGIN: 4px 0px 0px
}
.bloque-descripcion-cobertura-dos P {
	MARGIN-TOP: 24px; FONT-SIZE: 11px; TEXT-ALIGN: center
}
.bloque-descripcion-cobertura-tres {
	FLOAT: left; WIDTH: 170px; HEIGHT: 60px; TEXT-ALIGN: center
}
.bloque-descripcion-cobertura-tres A {
	COLOR: #2d8cc4; TEXT-DECORATION: underline
}
.bloque-descripcion-cobertura-tres H3 {
	MARGIN: 13px 0px 0px
}
.bloque-descripcion-cobertura-tres H4 {
	FONT-SIZE: 12px; MARGIN: 4px 0px 0px
}
.bloque-descripcion-cobertura-tres P {
	MARGIN-TOP: 24px; FONT-SIZE: 11px; TEXT-ALIGN: center
}
.contenido-desplegado-cotizador-curva-booton {
	PADDING-LEFT: 15px; FLOAT: right; BACKGROUND-IMAGE: url(../images/curva-4.gif); WIDTH: 708px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px
}
.datos-del-contratante-titulo-gris {
	MARGIN-TOP: 20px; PADDING-LEFT: 70px; FLOAT: left; MARGIN-BOTTOM: 0px; COLOR: #999
}
#datos-del-contratante-titulo-dos {
	PADDING-LEFT: 70px; FLOAT: left; WIDTH: 634px
}
#datos-del-contratante-titulo-dos H1 {
	FONT-WEIGHT: lighter; FONT-SIZE: 180%; COLOR: #82898e; FONT-FAMILY: Arial, Helvetica, sans-serif
}
#datos-del-contratante-titulo-tres {
	MARGIN-TOP: 20px; PADDING-LEFT: 70px; FLOAT: left; MARGIN-BOTTOM: 0px; WIDTH: 150px
}
#datos-del-contratante-titulo-tres H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: lighter; FONT-SIZE: 180%; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #82898e; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
#datos-del-contratante-titulo-b {
	MARGIN-TOP: 20px; FLOAT: left; WIDTH: 400px
}
#datos-del-contratante-titulo-b SPAN {
	COLOR: #2d8cc4
}
#datos-del-contratante-titulo-b P {
	FONT-SIZE: 11px; MARGIN: 5px 0px 0px
}
.bloque-ingresar-dato-masc P {
	FONT-SIZE: 11px; PADDING-TOP: 2px
}
.divcesantia2 {
	FLOAT: left; WIDTH: 150px; HEIGHT: 733px
}
.divcesantia3 {
	FLOAT: left; WIDTH: 130px; HEIGHT: 250px
}
.telefonoboton {
	PADDING-RIGHT: 20px; FONT-WEIGHT: lighter; FONT-SIZE: 14px; FLOAT: right; WIDTH: 400px; COLOR: #999; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 20px; TEXT-ALIGN: right
}
.flechaazulcita {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #2d8cc4; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.contflecha {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; FLOAT: left; WIDTH: auto; COLOR: #2d8cc4; FONT-FAMILY: "Arial Black", Gadget, sans-serif; HEIGHT: 17px
}
.imgboton {
	FLOAT: left; BACKGROUND-IMAGE: url(../images/f-puedes-agregar5.gif); WIDTH: 255px; HEIGHT: 18px
}
.espacio2 {
	FLOAT: left; WIDTH: 120px; HEIGHT: 155px
}
.espaciocesantia {
	FLOAT: left; WIDTH: 100px; HEIGHT: 750px
}
.divcesantia3 {
	FLOAT: left; WIDTH: 100px; HEIGHT: 150px
}
.diccesantia7 {
	FLOAT: left; WIDTH: 100px; HEIGHT: 92px
}
.divfraude2 {
	FLOAT: left; WIDTH: 100px; HEIGHT: 752px
}
.divcotizadorgogar3 {
	FLOAT: left; WIDTH: 100px; HEIGHT: 1195px
}
.divcotizadorsalud2 {
	FLOAT: left; WIDTH: 100px; HEIGHT: 880px
}
.divcotizadorsalud4 {
	FLOAT: left; WIDTH: 100px; HEIGHT: 844px
}
.divvehiculo1 {
	FLOAT: left; WIDTH: 100px; HEIGHT: 1305px
}
.divcotizadorvehiculo2 {
	FLOAT: left; WIDTH: 100px; HEIGHT: 1466px
}
.divcotizadorvehiculo3 {
	FLOAT: left; WIDTH: 100px; HEIGHT: 1030px
}
.cotizadorvehiculo4 {
	FLOAT: left; WIDTH: 100px; HEIGHT: 840px
}
.divcotizadorvida2 {
	FLOAT: left; WIDTH: 100px; HEIGHT: 750px
}
.bloque-descripcion-cobertura H3 {
	FONT-SIZE: 12px; MARGIN: 3px 0px 0px; COLOR: #8c8a8a
}
.bloque-descripcion-cobertura H4 {
	FONT-SIZE: 16px; MARGIN: 12px 0px 0px; COLOR: #2d8cc4
}
.peso H5 {
	FONT-WEIGHT: normal; FONT-SIZE: 19px; MARGIN: 6px 0px 0px; TEXT-ALIGN: right
}
.mis-productos {
	FLOAT: left; WIDTH: 608px
}
.mis-productos-titulo {
	FLOAT: left; PADDING-BOTTOM: 33px; WIDTH: 608px
}
.mis-productos-titulo P {
	PADDING-LEFT: 50px; PADDING-TOP: 16px
}
.mis-productos-titulo H1 {
	PADDING-LEFT: 50px
}
.mis-productos-titulo H1 SPAN {
	COLOR: #999
}
.mis-productos-titulo SPAN {
	COLOR: #2d8cc4
}
.mis-productos-despliegue {
	FLOAT: left; WIDTH: 608px; PADDING-TOP: 10px
}
.mis-productos-despliegue-titulos {
	BACKGROUND-IMAGE: url(../images/mis-productos-despliegue-titulos.jpg); MARGIN-LEFT: auto; WIDTH: 572px; MARGIN-RIGHT: auto; BACKGROUND-REPEAT: no-repeat; HEIGHT: 36px
}
.mis-productos-despliegue-titulos SPAN {
	COLOR: #999
}
.mis-productos-despliegue-titulos H2 {
	FONT-SIZE: 12px; MARGIN: 10px 0px 0px; COLOR: #2d8cc4; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-ALIGN: center
}
.mis-produ-seguro-de-vida {
	FLOAT: left; WIDTH: 275px; HEIGHT: 36px
}
.mis-produ-seguro-compania {
	FLOAT: left; WIDTH: 154px; HEIGHT: 36px
}
.mis-produ-seguro-documentacion {
	FLOAT: left; WIDTH: 135px; HEIGHT: 36px
}
.mis-productos-despliegue-agencia {
	PADDING-BOTTOM: 10px; MARGIN-LEFT: auto; WIDTH: 572px; MARGIN-RIGHT: auto; HEIGHT: 50px
}
.mis-produ-seguro-texto {
	FLOAT: left; WIDTH: 275px
}
.mis-produ-seguro-texto H3 {
	MARGIN-TOP: 8px; MARGIN-LEFT: 10px
}
.mis-produ-seguro-texto H4 {
	MARGIN-TOP: 8px; FONT-SIZE: 12px; MARGIN-LEFT: 10px; COLOR: #999
}
.mis-produ-seguro-compania-texto {
	FLOAT: left; WIDTH: 154px; TEXT-ALIGN: center
}
.mis-produ-seguro-compania-texto H3 SPAN {
	COLOR: #8c8a8a
}
.mis-produ-seguro-documentacion-texto {
	FLOAT: left; WIDTH: 135px; TEXT-ALIGN: center
}
.mis-produ-seguro-documentacion-texto P {
	PADDING-TOP: 6px; TEXT-ALIGN: center
}
.mis-produ-seguro-documentacion-texto IMG {
	PADDING-TOP: 10px
}
.mis-productos-despliegue-dos {
	BORDER-TOP: #999 1px dotted; MARGIN-LEFT: auto; WIDTH: 572px; MARGIN-RIGHT: auto; HEIGHT: 24px
}
.mis-productos-despliegue-dos P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 7px 0px 0px; PADDING-TOP: 0px
}
.mis-produ-seguro-texto-dos {
	FLOAT: left; WIDTH: 275px
}
.mis-produ-seguro-texto-dos P {
	MARGIN-LEFT: 10px
}
.mis-produ-seguro-compania-texto-dos {
	FLOAT: left; WIDTH: 154px; HEIGHT: 24px; TEXT-ALIGN: center
}
.mis-produ-seguro-documentacion-texto-dos {
	FLOAT: left; WIDTH: 135px; TEXT-ALIGN: center
}
.mis-produ-seguro-documentacion-texto-dos P {
	TEXT-ALIGN: center
}
.mis-produ-seguro-documentacion-texto-dos P {
	TEXT-ALIGN: center
}
.espacio {
	BORDER-TOP: #b3afaf 1px solid; MARGIN-TOP: 10px; FLOAT: left; MARGIN-BOTTOM: 10px; MARGIN-LEFT: 20px; WIDTH: 572px; HEIGHT: 12px
}
.mis-productos-despliegue-agencia-dos {
	BORDER-TOP: #d5d5d5 1px solid; MARGIN-TOP: 10px; PADDING-BOTTOM: 10px; MARGIN-LEFT: auto; WIDTH: 572px; MARGIN-RIGHT: auto; PADDING-TOP: 10px
}
.mis-productos-despliegue-agencia-tres {
	PADDING-BOTTOM: 10px; MARGIN-LEFT: auto; WIDTH: 572px; MARGIN-RIGHT: auto
}
.enlaces {
	MARGIN-TOP: 10px; FLOAT: left; MARGIN-LEFT: auto; WIDTH: 578px; MARGIN-RIGHT: auto; HEIGHT: 50px
}
.ayuda {
	FLOAT: left; WIDTH: 208px; HEIGHT: 50px
}
.ayuda-texto {
	FLOAT: left; WIDTH: 170px; HEIGHT: 50px
}
.arbolito {
	FLOAT: left; WIDTH: 21px; HEIGHT: 50px
}
.enlace-pdf {
	FLOAT: left; WIDTH: 365px; HEIGHT: 50px
}
.enlace-pdf-texto {
	FLOAT: left; HEIGHT: 50px
}
.enlace-pdf-texto A {
	COLOR: #2d8cc4
}
.enlace-pdf-texto P {
	MARGIN-TOP: 6px; FONT-SIZE: 9px
}
.img-pdfp {
	FLOAT: left; WIDTH: 18px; HEIGHT: 50px
}
.tienes-consultas {
	MARGIN-TOP: 20px; FLOAT: left; WIDTH: 570px; HEIGHT: 50px
}
.tienes-consultas A {
	COLOR: #1a648f
}
.tienes-consultas P {
	FONT-SIZE: 13px; TEXT-ALIGN: right
}
.novalido {
	BORDER-RIGHT: #f90 1px solid; BORDER-TOP: #f90 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #f90 1px solid; COLOR: #707070; BORDER-BOTTOM: #f90 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #fc9
}
.novalido2 {
	BORDER-RIGHT: #f90 1px solid; BORDER-TOP: #f90 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #f90 1px solid; WIDTH: 20px; COLOR: #707070; BORDER-BOTTOM: #f90 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #fc9
}
.textonovalido {
	MARGIN-TOP: 2px; FONT-WEIGHT: bold; FONT-SIZE: 11px; FLOAT: left; MARGIN-LEFT: 5px; WIDTH: 320px; COLOR: #f90; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: auto
}
.divtexnovalido {
	MARGIN-TOP: 5px; FONT-WEIGHT: normal; FONT-SIZE: 11px; FLOAT: right; MARGIN-LEFT: 5px; WIDTH: auto; COLOR: #f90; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 12px
}
.menerrorvida {
	MARGIN-TOP: 12px; FONT-SIZE: 11px; FLOAT: left; MARGIN-LEFT: 10px; WIDTH: auto; COLOR: #f90; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: auto
}
.novalidovida {
	BORDER-RIGHT: #f90 1px solid; BORDER-TOP: #f90 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #f90 1px solid; COLOR: #707070; BORDER-BOTTOM: #f90 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #fc9
}
.conterrorbenef {
	FLOAT: left; WIDTH: 350px; HEIGHT: auto
}
.alineacionpie {
	TEXT-ALIGN: right
}
.conterrores {
	MARGIN-TOP: 5px; FLOAT: left; WIDTH: auto; HEIGHT: auto
}
.conterrores {
	FLOAT: left; WIDTH: 220px; HEIGHT: auto
}
.cont_errores {
	MARGIN-TOP: 5px; FLOAT: left; WIDTH: auto; HEIGHT: 18px
}
.imagen {
	FLOAT: left; WIDTH: 18px; HEIGHT: 18px
}
.cont-error-tarjetas {
	MARGIN-TOP: 38px; FLOAT: left; MARGIN-LEFT: 5px; WIDTH: auto; HEIGHT: 18px
}
.text-error-tarjetas {
	MARGIN-TOP: 2px; FONT-WEIGHT: bold; FONT-SIZE: 11px; FLOAT: left; MARGIN-LEFT: 5px; WIDTH: 190px; COLOR: #f90; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 15px
}
.cont-errores-condiciones {
	FLOAT: right; WIDTH: 270px; HEIGHT: auto
}
.cont-error-tarjetamas {
	MARGIN-TOP: 35px; FLOAT: right; WIDTH: 100px; HEIGHT: auto
}
.cont-error-registro {
	MARGIN-TOP: 2px; FLOAT: right; WIDTH: 380px; HEIGHT: auto
}
.checkbox-error {
	BACKGROUND-COLOR: #f90
}
.cont-logo-compania {
	PADDING-LEFT: 5px; FONT-SIZE: 11px; FLOAT: left; WIDTH: 130px; COLOR: #333333; PADDING-TOP: 30px; FONT-FAMILY: Arial,Helvetica,sans-serif; HEIGHT: 40px; TEXT-ALIGN: center
}
.cont-seguro {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; FLOAT: left; WIDTH: 190px; COLOR: #333333; PADDING-TOP: 30px; FONT-FAMILY: Arial,Helvetica,sans-serif; HEIGHT: 40px; TEXT-ALIGN: center
}
.cont-ver-coberturas {
	FONT-SIZE: 11px; FLOAT: left; WIDTH: 120px; COLOR: #666666; PADDING-TOP: 30px; FONT-FAMILY: Arial,Helvetica,sans-serif; HEIGHT: 40px; TEXT-ALIGN: center
}
.cont-precios-coberturas {
	FLOAT: left; MARGIN-LEFT: 12px; WIDTH: 100px; PADDING-TOP: 18px; HEIGHT: 40px
}
.cont-pesos-dos {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; FLOAT: right; WIDTH: 100px; COLOR: #2d8cc4; FONT-FAMILY: Arial,Helvetica,sans-serif; HEIGHT: 20px
}
.cont-uf {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; FLOAT: right; WIDTH: 100px; COLOR: #333333; FONT-FAMILY: Arial,Helvetica,sans-serif; HEIGHT: 20px
}
.icono-guardar {
	MARGIN-TOP: 3px; FLOAT: left; BACKGROUND-IMAGE: url(../images/icono-guardar-cotizacion-trans.png); WIDTH: 29px; HEIGHT: 21px
}
.text-guardar-cotizacion {
	FONT-SIZE: 11px; FLOAT: left; WIDTH: 65px; COLOR: #999999; FONT-FAMILY: Arial,Helvetica,sans-serif; HEIGHT: 25px; TEXT-ALIGN: left
}
#estas-registrado2 {
	BACKGROUND-IMAGE: url(../images/fondo-actualizar-datos.jpg); PADDING-BOTTOM: 20px; MARGIN-LEFT: auto; WIDTH: 489px; MARGIN-RIGHT: auto; BACKGROUND-REPEAT: no-repeat; HEIGHT: 57px
}
.persnalizado-paso1 {
	FONT-SIZE: 12px; FLOAT: left; WIDTH: 320px; FONT-FAMILY: Arial,Helvetica,sans-serif; HEIGHT: 57px
}
.nombre-log-paso1 {
	PADDING-LEFT: 18px; FLOAT: left; WIDTH: 300px; COLOR: #2d8cc4; PADDING-TOP: 20px; FONT-FAMILY: "Arial Black",Gadget,sans-serif; HEIGHT: 15px
}
.actualizar-datos-paso1 {
	FONT-SIZE: 12px; FLOAT: right; WIDTH: 160px; PADDING-TOP: 20px; FONT-FAMILY: Arial,Helvetica,sans-serif; HEIGHT: auto
}
.texto-elige-medio {
	PADDING-LEFT: 35px; FONT-SIZE: 12px; FLOAT: left; WIDTH: auto; COLOR: #666666; PADDING-TOP: 7px; FONT-FAMILY: Arial,Helvetica,sans-serif; HEIGHT: auto
}
.btn-elige-medio-pago {
	FLOAT: right; WIDTH: auto; HEIGHT: auto
}
.divtexnovalido_left {
	MARGIN-TOP: 5px; FONT-WEIGHT: normal; FONT-SIZE: 11px; FLOAT: left; MARGIN-LEFT: 5px; WIDTH: auto; COLOR: #f90; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 12px
}
