.contenido_medio_pago {
	width: 700px;
	height: auto;
	display: block;
	float: left;
}

.contendio_tar_cencosud {
	width: 330px;
	height: 95px;
	display: block;
	float: left;
	margin: 0 185px;
}

.elige-tarjetas {
	text-align: center;
	height: 95px;
	float: left;
	margin-left: 5px;
	width:50px;
}

.elige-tarjetas img {
	margin-bottom:10px;
}

.elige-redcompra {
	text-align: center;
	height: 95px;
	float: left;
	margin-left: 5px;
	width: 100px;
}

.elige-redcompra img {
	margin-bottom:10px;
}
