* {
	margin:0;
	padding:0;
}

.sep_etc {
	width: 988px;
	height: 20px;
	display: block;
	margin: 0 auto;
	padding: 0;
	float: left;
}

.header_etc {
	width:700px;
	height:150px;
	display:block;
	margin:0 auto;
	padding:0;
	background-color: #E6E6E6;
}

.logo_etc {
	width: 230px;
	height: 71px;
	display: block;
	margin-left:40px;
	padding: 0;
}

.sep_logo {
	width: 700px;
	height: 35px;
	display: block;
	margin: 0;
	padding: 0;
}

.info_etc {
	width: 988px;
	height: auto;
	display: block;
	margin: 0 auto;
	padding: 0;
}

.sep_check {
	width: 444px;
	height: 100px;
	display: block;
	margin: 0;
	padding: 0;
	float: left;
}

.top_check {
	width: 988px;
	height: 40px;
	display: block;
	margin: 0;
	padding: 0;
	float: left;
}

.bottom_check {
	width: 988px;
	height: 10px;
	display: block;
	margin: 0;
	padding: 0;
	float: left;
}

.check_etc {
	width:100px;
	height:100px;
	display:block;
	margin:0;
	padding:0;
	float:left;
	background:url(../images/img/check.jpg) no-repeat;
}

.info_check {
	width: 988px;
	height: 20px;
	display: block;
	margin: 0;
	padding: 10px 0;
	float: left;
	font-family: Century Gothic, Helvetica, Arial, sans-serif;
	font-size: 16px;
	text-align: center;
	color: #666;
}

.fecha_etc_01 {
	width: 25px;
	height: 55px;
	display: block;
	margin: 0;
	padding: 0;
	float: left;
}

.fecha_etc_02 {
	width: 260px;
	height: 25px;
	display: block;
	margin: 0;
	padding: 30px 0 0 0;
	float: left;
	font-family: Century Gothic, Helvetica, Arial, sans-serif;
	font-size: 14px;
	text-align: left;
	color: #666;
}

.fecha_etc_03 {
	width: 378px;
	height: 55px;
	display: block;
	margin: 0;
	padding: 0;
	float: left;
}

.fecha_etc_04 {
	width: 300px;
	height: 55px;
	display: block;
	margin: 0;
	padding: 0;
	float: left;
	background: url(../images/img/webpay.jpg) no-repeat;
}

.fecha_etc_05 {
	width: 25px;
	height: 55px;
	display: block;
	margin: 0;
	padding: 0;
	float: left;
}

.sep_trans {
	width: 24px;
	height: 45px;
	display: block;
	margin: 0;
	padding: 0;
	float: left;
}

.sep_trans_2 {
	width: 24px;
	height: 200px;
	display: block;
	margin: 0;
	padding: 0;
	float: left;
}

.sep_trans_3 {
	width: 50px;
	height: 100px;
	display: block;
	margin: 0;
	padding: 0;
	float: left;
}

.trans_menu {
	width: 938px;
	height: 45px;
	margin: 0;
	padding: 0;
	float: left;
	background-color: #666;
	font-family: "Century Gothic", Helvetica, Arial, sans-serif;
	font-size: 12px;
	text-align: center;
	color: #fff;
	border-left:#666 1px solid;
	border-right:#666 1px solid;
}

.trans_menu ul li {
	width:134px;
	height:28px;
	list-style:none;
	float:left;
	padding:8px 0;
}

.trans_resultado {
	width: 938px;
	height: 35px;
	margin: 0;
	padding: 0;
	float: left;
	background-color: #fff;
	font-family: "Century Gothic", Helvetica, Arial, sans-serif;
	font-size: 12px;
	text-align: center;
	color: #666;
	border-bottom: #666 1px solid;
	border-left: #666 1px solid;
	border-right: #666 1px solid;
}

.trans_resultado ul li {
	width: 134px;
	height: 20px;
	list-style: none;
	float: left;
	padding: 8px 0;
}

#txt_info {
	width: 988px;
	height: 270px;
	display: block;
	font-family: "Century Gothic", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #666;
	float: left;
	text-align: center;
}

#txt_info a {
	border:none;
	text-decoration:none;
}

.footer_exito {
	width: 988px;
	height: 150px;
	display: block;
	margin: 0;
	padding: 0;
	float: left;
}

.fecha_etc_01_tc {
	width: 334px;
	height: 55px;
	display: block;
	margin: 0;
	padding: 0;
	float: left;
}

.fecha_etc_02_tc {
	width: 300px;
	height: 55px;
	display: block;
	margin: 0;
	padding: 0;
	float: left;
	background: url(../images/img/tarjetas_cencosud_001.jpg) no-repeat;
}
