body {
	margin:0;
	padding:0;
}

.pf_contenido {
	width:100%;
	height:auto;
	display:block;
	padding:0;
	margin:0;
}

.pf_box {
	width:600px;
	height:330px;
	display:block;
	padding:0;
	margin:0 auto;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-style:normal;
}

.pf_box p {
	font-size:24px;
	color:#666;
}

.pf_box span {
	font-size:18px;
	color:#666;
}

.pf_alerta {
	width:80px;
	height:80px;
	padding:0;
	margin:20px auto;
}

.btn_pf a {
	width:200px;
	height:56px;
	display:block;
	margin:20px auto;
	padding:0;
	background:url(/cotizador/images/img/btn_alerta_off.png) no-repeat;
}

.btn_pf a:hover {
	background:url(/cotizador/images/img/btn_alerta_on.png) no-repeat;
}

