#despliegue_ver {
	background-repeat: repeat-y;
	width: 416px;
	float: left;
	margin: 0px;
	height: 320px;
	overflow-x: hidden;
	overflow-y: auto;
	border: 1px solid #2d8cc4;
	padding-left:10px;
	padding-right:10px;
}

#despliegue_ver2 {
	background-repeat: repeat-y;
	width: 440px;
	float: left;
	margin: 0px;
	height: 540px;
	overflow-x: hidden;
	overflow-y: auto;
	border: 1px solid #2d8cc4;
}
#centenedor_ver {
	width: 440px;
	float: left;
}

.contver {
	float: left;
	height: auto;
	width: 440px;
}

.ver-titulos-cob {
	background-repeat: no-repeat;
	width: 418px;
	height: 20px;
	float: left;
	padding-top: 10px;
}

.ver-texto-monto {
	background-repeat: no-repeat;
	width: 70px;
	float: right;
}

.ver-texto-covertura {
	background-repeat: no-repeat;
	float: left;
	padding-left: 15px;
}

.ver-textos-cob {
	background-repeat: no-repeat;
	background-position: 50% bottom;
	width: 418px;
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #F0F0F0;
	padding-top: 5px;
	float: left;
}

.ver-textos-cob img { float: left; margin-right: 5px; margin-bottom: 10px; }
.ver-textos-cob p {
	color: #898686;
	font-size: 11px;
	margin: 10px 0 0;
	font-family: Arial, Helvetica, sans-serif;
}

.ver-ir-aficha {
	width: 410px;
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
}
.ver-ir-aficha a {
	color: #2d8cc4;
	text-decoration: underline;
	font-family: Arial, Helvetica, sans-serif;
}
.ver-ir-aficha p {
	color: #898686;
	font-size: 10px;
	text-align: right;
	margin: 0;
	padding: 0 30px 0 0;
	font-family: Arial, Helvetica, sans-serif;
}
.ver-monto {
	background-repeat: no-repeat;
	width: 50px;
	height: 20px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
}

.ver-cobertura {
	background-repeat: no-repeat;
	width: 332px;
	height: 20px;
	float: left;
	padding-left: 15px;
	font-family: Arial, Helvetica, sans-serif;
}
.ver-titulos-cob span { margin-left: 20px; }
.ver-titulos-cob h1 {
font-family:Arial,Verdana,Helvetica,sans-serif;
color:#2D8CC4;
font-size:13px;
margin:0;
padding:0;
font-weight: bold;
}
