
ul#menu {
color: #fff;
margin: 0;
padding: 0em 0em;
text-align:left;
font-size:11px;
font-family:Tahoma, Geneva, sans-serif;

}


ul#menu li {
	
display: inline;
margin: 0em 0em;
position: relative;
top: 0px;

}

ul#menu h2, ul#menu h3 {
font-size: 100%;
font-weight: normal;
display: inline;
top: 20px;
}


ul#menu li a {
color: #ff0000;
text-decoration:none;

}

ul#menu li a:hover {
text-decoration:none;
color:#FF9334;
}



ul#menu li.mega a {
background: transparent url(arrow.gif) center right no-repeat;
padding: 0em 0em;
text-decoration:none;
}

ul#menu li.mega a:hover {
text-decoration: underline;
}

ul#menu div {
display: none;
}



/*FONDO DEL MENU*/

ul#menu li.mega div {
border-top:0px solid #d1d1d1;
border-right:2px solid #d1d1d1;
border-bottom:2px solid #d1d1d1;
border-left:2px solid #d1d1d1;

width: 18em;
position: absolute;
top: 1.6em;
_top: 3.5em;
left: 0em;
padding: 1.3em;
/*background-color:#fbfbfb;*/
background-color:#FFFFFF;
color: #6d6d6d;
}

ul#menu li.hovering div {
display: block;
}

ul#menu li.mega div a {
color: #767c7c;
padding: 0;
background-image: none;
text-decoration: none;
}

ul#menu li.mega div a:hover {
color: #2d8cd9;
padding: 0;
background-image: none;
text-decoration: none;
}

ul#menu li div a.more {
color: #390;
font-weight: bold;
}


ul#menu div h3 {
color: #f70;
font-weight: bold;
font-size: 1.1em;
}
ul#menu div p {
margin: 0 0 0.8em 0;
padding: 0;
}
