@charset "utf-8";
/* CSS Document */
.texto_tarjetas_webpay {
	float: left;
	height: 40px;
	width: 495px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #999;
	padding-left: 72px;
	margin-top: 70px;
	/*padding-bottom: 25px;*/
}
#box-linea-contenedor {
	width: 704px;
	float: left;
	clear: both;
	border-top: 6px solid #f0eeee;
}
.titulo_pat_pago {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: lihter;
	color: #82898e;
	float: left;
	width: 420px;
	padding-left: 70px;
	padding-bottom: 15px;
	padding-top: 30px;
}
.texto_pat {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #999;
	float: left;
	height: auto;
	width: 440px;
	padding-left: 70px;
	padding-top: 10px;
}
.fraude-acepto-conte-box {
	width: 24px;
	height: auto;
	float: left;
	margin-top: 4px;
}
.fraude-acepto-webpay {
	height: 24px;
	float: left;
	margin-top: 2px;
	padding-top: 5px;
	
}
.fraude-acepto-conte {
	width: 400px;
	height: 28px;
}
.fraude-acepto-conte-foto { width: 24px; height: 24px; float: left; }
.primer_pago_seguro {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #999;
	float: left;
	height: auto;
	width: 460px;
	padding-left: 70px;
	padding-top: 10px;
	padding-bottom: 25px;
}

.logo_pat {
	float: right;
	height: 53px;
	width: 105px;
	padding-left: 0px;
	padding-top: 0px;
	
	margin-right: 16px;
	margin-left: 43px;
}

.logo_unico {
	float: right;
	height: 53px;
	width: 105px;
	margin-top: 21px;
	margin-right: 26px;
}

#box-linea-webpay {
	width: 704px;
	float: left;
	clear: both;
	border-top: 6px solid #f0eeee;
}
