.accordion {
	width: 583px;
	float: left;
}
.accordion h3 {
	padding: 7px 15px 7px 10px;
	margin: 0;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 100%;
	font-weight: bold;
	background-image: url(../img/arrow-square.gif);
	background-repeat: no-repeat;
	background-position: right -51px;
	background-color: #fff;
	border-bottom: 1px dotted #494949;
}
.accordion h3:hover {
	background-color: #f9f9f9;
}
.accordion h3.active {
	background-position: right 5px;
}
.accordion p {
	background: #fff;
	margin: 0;
	padding: 10px 0 20px;
}
#libreta {
}
